Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

eng/pipelines/validate-instructions-azsdk-references.yml:
  pool:
    name: $(LINUXPOOL)
    demands: ImageOverride -equals $(LINUXVMIMAGE)
  jobs:
  - job: VerifyMcpToolReferences
    displayName: Verify MCP Tool References
    steps:
    - checkout: self
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        version: 8.0.x
    - task: UseDotNet@2
  ...

clean and test fix
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/PythonLanguageServiceVersioningTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.Versioning.cs
Due: none

fix tests
  src/dotnet/APIView/ClientSPA/ui-tests/page-objects/review.page.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/conversation-page/conversations.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

more feedback
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add setting the registry in the npmrc (#14353)
  eng/common/pipelines/templates/jobs/npm-publish.yml
  eng/common/pipelines/templates/steps/reset-npmrc.yml
Due: eng/pipelines/eng-common-sync.yml

Remove unused code icons
  src/dotnet/APIView/ClientSPA/src/assets/images/assembly.png
  src/dotnet/APIView/ClientSPA/src/assets/images/class.png
  src/dotnet/APIView/ClientSPA/src/assets/images/delegate.png
  src/dotnet/APIView/ClientSPA/src/assets/images/dependencies.png
  src/dotnet/APIView/ClientSPA/src/assets/images/enum.png
  src/dotnet/APIView/ClientSPA/src/assets/images/interface.png
  src/dotnet/APIView/ClientSPA/src/assets/images/method.png
  src/dotnet/APIView/ClientSPA/src/assets/images/namespace.png
  src/dotnet/APIView/ClientSPA/src/assets/images/package.png
  src/dotnet/APIView/ClientSPA/src/assets/images/struct.png
  src/dotnet/APIView/ClientSPA/src/assets/images/type.png
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update groundtruth
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/results/typespec-test.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/tests/typespec_model.jsonl
Due: none

should first determine whether to skip generating the changelog
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
Due: none

Fix size of scroll bar
  src/dotnet/APIView/ClientSPA/src/styles.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Move skills to .github/skills/ and rename prefix to azsdk-common-
  .github/skills/azsdk-common-apiview-feedback-resolution/SKILL.md
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/fixtures/apiview-comment.json
  .github/skills/azsdk-common-apiview-feedback-resolution/references/feedback-resolution-steps.md
  .github/skills/azsdk-common-apiview-feedback-resolution/tasks/basic-usage.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/tasks/edge-case.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/tasks/no-feedback.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/tasks/should-not-trigger.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/SKILL.md
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/references/failure-patterns.md
  .github/skills/azsdk-common-pipeline-troubleshooting/tasks/basic-usage.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/tasks/edge-case.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/tasks/local-reproduction.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/tasks/should-not-trigger.yaml
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/fixtures/tspconfig.yaml
  .github/skills/azsdk-common-prepare-release-plan/references/release-plan-details.md
  .github/skills/azsdk-common-prepare-release-plan/tasks/basic-usage.yaml
  .github/skills/azsdk-common-prepare-release-plan/tasks/edge-case.yaml
  .github/skills/azsdk-common-prepare-release-plan/tasks/link-sdk-prs.yaml
  .github/skills/azsdk-common-prepare-release-plan/tasks/should-not-trigger.yaml
  .github/skills/azsdk-common-sdk-release/SKILL.md
  .github/skills/azsdk-common-sdk-release/eval.yaml
  .github/skills/azsdk-common-sdk-release/tasks/release-basic-001.yaml
  .github/skills/azsdk-common-sdk-release/tasks/release-negative-001.yaml
  .github/skills/azsdk-common-sdk-release/tasks/release-readiness-001.yaml
  .github/skills/azsdk-common-sdk-release/tasks/release-trigger-001.yaml
Due: none

Refactor getApiVersionType and added test cases (#14265)
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/mlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
  tools/js-sdk-release-tools/src/test/apiVersion/testCases/new/src/rest/newClient.ts
  tools/js-sdk-release-tools/src/test/apiVersion/testCases/old1/src/rest/oldClient.ts
  tools/js-sdk-release-tools/src/test/apiVersion/testCases/old2/src/rest/oldClient.ts
Due: none

Add meta-skills and waza eval infrastructure
  .github/skills/azsdk-common-markdown-token-optimizer/SKILL.md
  .github/skills/azsdk-common-markdown-token-optimizer/eval.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/references/ANTI-PATTERNS.md
  .github/skills/azsdk-common-markdown-token-optimizer/references/OPTIMIZATION-PATTERNS.md
  .github/skills/azsdk-common-markdown-token-optimizer/tasks/optimize-basic-001.yaml
  .github/skills/azsdk-common-sensei/README.md
  .github/skills/azsdk-common-sensei/SKILL.md
  .github/skills/azsdk-common-sensei/eval.yaml
  .github/skills/azsdk-common-sensei/references/EXAMPLES.md
  .github/skills/azsdk-common-sensei/references/LOOP.md
  .github/skills/azsdk-common-sensei/references/SCORING.md
  .github/skills/azsdk-common-sensei/references/TOKEN-INTEGRATION.md
  .github/skills/azsdk-common-sensei/tasks/sensei-basic-001.yaml
  .github/skills/azsdk-common-skill-authoring/SKILL.md
  .github/skills/azsdk-common-skill-authoring/eval.yaml
  .github/skills/azsdk-common-skill-authoring/references/CHECKLIST.md
  .github/skills/azsdk-common-skill-authoring/references/REFERENCE-LOADING.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/README.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/frontmatter.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/structure.md
  .github/skills/azsdk-common-skill-authoring/references/guidelines/writing-tips.md
  .github/skills/azsdk-common-skill-authoring/references/token-budgets.md
  .github/skills/azsdk-common-skill-authoring/references/validation/README.md
  .github/skills/azsdk-common-skill-authoring/references/validation/broken-links.md
  .github/skills/azsdk-common-skill-authoring/references/validation/duplicates.md
  .github/skills/azsdk-common-skill-authoring/references/validation/orphaned-refs.md
  .github/skills/azsdk-common-skill-authoring/references/validation/out-of-place.md
  .github/skills/azsdk-common-skill-authoring/references/validation/token-splitting.md
  .github/skills/azsdk-common-skill-authoring/tasks/authoring-basic-001.yaml
  .github/workflows/skill-eval.yml
Due: none

Fix meta-skill names, grader types, add waza evals and CI workflow
  .github/skills/azsdk-common-apiview-feedback-resolution/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/eval.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-apiview-feedback-resolution/evals/trigger_tests.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/SKILL.md
  .github/skills/azsdk-common-markdown-token-optimizer/eval.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/eval.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-markdown-token-optimizer/evals/trigger_tests.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/eval.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-pipeline-troubleshooting/evals/trigger_tests.yaml
  .github/skills/azsdk-common-prepare-release-plan/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/eval.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-prepare-release-plan/evals/trigger_tests.yaml
  .github/skills/azsdk-common-sdk-release/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/eval.yaml
  .github/skills/azsdk-common-sdk-release/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-sdk-release/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-sdk-release/evals/trigger_tests.yaml
  .github/skills/azsdk-common-sensei/SKILL.md
  .github/skills/azsdk-common-sensei/eval.yaml
  .github/skills/azsdk-common-sensei/evals/eval.yaml
  .github/skills/azsdk-common-sensei/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-sensei/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-sensei/evals/trigger_tests.yaml
  .github/skills/azsdk-common-skill-authoring/SKILL.md
  .github/skills/azsdk-common-skill-authoring/eval.yaml
  .github/skills/azsdk-common-skill-authoring/evals/eval.yaml
  .github/skills/azsdk-common-skill-authoring/evals/tasks/anti-trigger.yaml
  .github/skills/azsdk-common-skill-authoring/evals/tasks/basic-trigger.yaml
  .github/skills/azsdk-common-skill-authoring/evals/trigger_tests.yaml
  .github/workflows/skill-eval.yml
Due: none

resolve security alert
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
  tools/sdk-ai-bots/azure-sdk-qa-bot/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
Due: none

Remove azsdk-common-report-test-bug skill
  .github/skills/INSTRUCTION-TO-SKILL-MAPPING.md
  .github/skills/README.md
  .github/skills/azsdk-common-report-test-bug/SKILL.md
Due: none

Update tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
Due: none

update package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/package-lock.json
Due: none

[Teams Bot] resolve security alert (#14355)
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
  tools/sdk-ai-bots/azure-sdk-qa-bot/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
Due: none

[Teams Chatbot] Support access Github checks for PR (#14150)
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/CHANGELOG.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.mod
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.sum
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/github.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/common/tenant_routing.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/github_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/utils/github.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/version.go
Due: none

Update the readme for deployment steps
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/image.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/cd.yml
Due: none

[tsp-client] npm i --before 2026-03-01
  eng/common/tsp-client/package-lock.json
Due: eng/pipelines/eng-common-sync.yml

[tsp-client] bump tar to 7.5.10
  eng/common/tsp-client/package-lock.json
Due: eng/pipelines/eng-common-sync.yml

[spelling] npm i --before 2026-03-01
  eng/common/spelling/package-lock.json
Due: eng/pipelines/eng-common-sync.yml

[CODEOWNERS] Add eng/common/spelling, update eng/common/tsp-client
  .github/CODEOWNERS
Due: none

[sdk-testgen] bump @azure-tools/codegen to 2.10.1 (#14334)
  tools/sdk-testgen/package-lock.json
  tools/sdk-testgen/package.json
Due: none

Fix code scanning alert in the repo
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/utils/pipeline.go
Due: none

Add compare-api-review CLI tool
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/compareApiReviewCli.ts
Due: none

suppress reference_match and record failed cases
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evals_run.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/suppression.json
Due: none

Increase default retry parameters in executeCommand and enhance user agent update logic for ModularClient
  tools/js-sdk-release-tools/src/common/npmUtils.ts
  tools/js-sdk-release-tools/src/xlc/codeUpdate/updateUserAgent.ts
Due: none

Add api key auth for code review backend
  tools/sdk-ai-bots/azure-sdk-qa-bot-mcp/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-mcp/server_http.py
Due: none

Update the document
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-mcp/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-mcp/image.png
Due: none

Revert apiview.org back to apiview.dev (#14341)
  eng/pipelines/apiview-review-gen-javascript.yml
  eng/pipelines/apiview-review-gen-python.yml
  eng/pipelines/apiview-review-gen-typespec.yml
  eng/scripts/Apiview-Update-Generated-Review.ps1
  packages/python-packages/apiview-copilot/src/_apiview.py
  src/dotnet/APIView/APIViewUnitTests/UnauthorizedPageModelTests.cs
  src/dotnet/APIView/APIViewWeb/Client/tests/unit/shared/helpers.spec.ts
  src/dotnet/APIView/APIViewWeb/Helpers/URlHelpers.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/web.config
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
  src/dotnet/APIView/ClientSPA/src/index.html
  src/dotnet/APIView/apiview.yml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/APIViewConfiguration.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

normalize typespec path
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Update change log
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

Fix
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Update reset_npmrc
  eng/common/pipelines/templates/steps/reset-npmrc.yml
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml
