Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  eng/pipelines/eng-common-sync.yml: any of: eng/common

newer SHA on clone
  eng/common/pipelines/templates/steps/get-pr-owners.yml
Due: eng/pipelines/eng-common-sync.yml

WriteLine instead of write
  tools/notification-configuration/identity-resolver/Program.cs
Due: none

Code cleanup: use same code pathway for building navigation and the api listing itself, so ordering is guaranteed to be the same.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
Due: .azure-pipelines/apiview.yml

code cleanup
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

add missing file
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/TokenModifier.java
Due: .azure-pipelines/apiview.yml

Fix merge conflict
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

Apiview java cleanup (#942)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/TokenModifier.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/ChildItem.java
Due: .azure-pipelines/apiview.yml

final tested updates.
  eng/common/pipelines/templates/steps/get-pr-owners.yml
Due: eng/pipelines/eng-common-sync.yml

Script to to sync Azure cosmosDB from source to destination DB instance
  scripts/python/apiview-syncdb/requirements.txt
  scripts/python/apiview-syncdb/sync_cosmosdb.py
Due: none

mirror updates to the identity-resolver. ready for merge
  tools/notification-configuration/identity-resolver/Program.cs
Due: none

Update / Move eng/common workflow to internal Wiki
  eng/common/README.md
Due: eng/pipelines/eng-common-sync.yml

Update eng/common/README.md
  eng/common/README.md
Due: eng/pipelines/eng-common-sync.yml

Don't include nulls in the generated output - saves about 50% of the json output file size!
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
Due: .azure-pipelines/apiview.yml

Restructure Changelog Logic
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/eng-common-sync.yml

Update SemVer script (#935)
  eng/common/scripts/SemVer.ps1
Due: eng/pipelines/eng-common-sync.yml

Simplify Identity Variable Extrapolation (#916)
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
  tools/notification-configuration/identity-resolver/Program.cs
Due: eng/pipelines/eng-common-sync.yml

Update and Move eng/common (#930)
  eng/common/README.md
Due: eng/pipelines/eng-common-sync.yml

Make changes additive
  eng/common/pipelines/templates/steps/verify-changelog.yml
Due: eng/pipelines/eng-common-sync.yml

Retrive release tag and replace master link with releaseTag link
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/eng-common-sync.yml

fixed bugs
  eng/common/scripts/artifact-metadata-parsing.ps1
Due: eng/pipelines/eng-common-sync.yml

Get sorted the release tag gen
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: eng/pipelines/eng-common-sync.yml

New pipeline to copy apiview blobs (#932)
  .azure-pipelines/apiview-sync-staging.yml
Due: none

Script to to sync Azure cosmosDB from source to destination DB instance (#943)
  scripts/python/apiview-syncdb/requirements.txt
  scripts/python/apiview-syncdb/sync_cosmosdb.py
Due: none

Remove extra function
  eng/common/scripts/artifact-metadata-parsing.ps1
Due: eng/pipelines/eng-common-sync.yml

change publish blobs
  eng/common/pipelines/templates/steps/publish-blobs.yml
Due: eng/pipelines/eng-common-sync.yml

Remove extra logging
  eng/common/scripts/artifact-metadata-parsing.ps1
Due: eng/pipelines/eng-common-sync.yml

make changes to simple regex
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/copy-docs-to-blobstorage.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Make sure to save the eng/common files without a UTF-8 BOM.
  eng/common/Update-Change-Log.ps1
Due: eng/pipelines/eng-common-sync.yml

Added warning messages
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: eng/pipelines/eng-common-sync.yml

fix type
  eng/common/pipelines/templates/steps/publish-blobs.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
Due: eng/pipelines/eng-common-sync.yml

Make sure to save the eng/common files without a UTF-8 BOM. (#946)
  eng/common/Update-Change-Log.ps1
Due: eng/pipelines/eng-common-sync.yml

revert chagnes
  eng/common/scripts/artifact-metadata-parsing.ps1
Due: eng/pipelines/eng-common-sync.yml

Rework completed.
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/GlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IGlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/GitHubWebhookOverEventHubsFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubClientProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
Due: none

Check Enforcer improvements for DI and AppConfig (#940)
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Azure.Sdk.Tools.CheckEnforcer.csproj
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/GlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Configuration/IGlobalConfigurationProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Functions/GitHubWebhookOverEventHubsFunction.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/GitHubWebhookProcessor.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Integrations/GitHub/GitHubClientProvider.cs
  tools/check-enforcer/Azure.Sdk.Tools.CheckEnforcer/Startup.cs
Due: none

Change the release tag format
  eng/common/scripts/artifact-metadata-parsing.ps1
Due: eng/pipelines/eng-common-sync.yml

Update README.md
  tools/check-enforcer/README.md
Due: none
