Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Changes to remove hasSuffixSpace from review line
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewToken.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Apply suggestions from code review
  tools/apiview/parsers/CONTRIBUTING.md
Due: none

Apply suggestions from code review
  tools/apiview/parsers/apiview-treestyle-parser-schema/model.tsp
Due: none

Added documentation for fatal level diag
  tools/apiview/parsers/apiview-treestyle-parser-schema/model.tsp
Due: none

Update tools/apiview/parsers/CONTRIBUTING.md
  tools/apiview/parsers/CONTRIBUTING.md
Due: none

APIView code file token tsp and json schema (#8816)
  tools/apiview/parsers/CONTRIBUTING.md
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNode.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNodeId.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNodeProperties.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/APITreeNodeTags.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/CodeDiagnostic.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/CodeDiagnosticLevel.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/CodeFile.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredToken.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenId.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenKind.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenProperties.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenRenderClasses.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/json-schema/StructuredTokenTags.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/model.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/model.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/models.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample/Azure.Template_review_content.txt
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample/Azure.Template_token.json
  tools/apiview/parsers/images/APITree.svg
  tools/apiview/parsers/images/apitree-node-and-tokens.png
  tools/apiview/parsers/images/deprecated-node.png
  tools/apiview/parsers/images/deprecated-token.png
  tools/apiview/parsers/images/documentation.png
  tools/apiview/parsers/images/hidden-api.png
  tools/apiview/parsers/images/navigation.png
  tools/apiview/parsers/images/parameter-separator-with-line-break.png
  tools/apiview/parsers/images/parameter-separator-with-single-space.png
  tools/apiview/parsers/images/url-token.png
Due: none

﻿Update deps.
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
Due: none

Update tools/tsp-client/package.json
  tools/tsp-client/package.json
Due: none

create a temp folder for unit test
  tools/azure-rest-api-specs-examples-automation/directory/test_examples_dir.py
  tools/azure-rest-api-specs-examples-automation/java/test_process.py
Due: none

examples automation examples-dir for tsp (#8854)
  tools/azure-rest-api-specs-examples-automation/automation/csv_database.py
  tools/azure-rest-api-specs-examples-automation/automation/github.py
  tools/azure-rest-api-specs-examples-automation/automation/main.py
  tools/azure-rest-api-specs-examples-automation/automation/models.py
  tools/azure-rest-api-specs-examples-automation/automation/requirements.txt
  tools/azure-rest-api-specs-examples-automation/automation/test_csv_database.py
  tools/azure-rest-api-specs-examples-automation/directory/examples_dir.py
  tools/azure-rest-api-specs-examples-automation/directory/test_examples_dir.py
  tools/azure-rest-api-specs-examples-automation/dotnet/build.py
  tools/azure-rest-api-specs-examples-automation/dotnet/main.py
  tools/azure-rest-api-specs-examples-automation/dotnet/test_build.py
  tools/azure-rest-api-specs-examples-automation/dotnet/test_main.py
  tools/azure-rest-api-specs-examples-automation/go/main.py
  tools/azure-rest-api-specs-examples-automation/go/test_main.py
  tools/azure-rest-api-specs-examples-automation/go/test_validate.py
  tools/azure-rest-api-specs-examples-automation/go/validate.py
  tools/azure-rest-api-specs-examples-automation/java/format.py
  tools/azure-rest-api-specs-examples-automation/java/main.py
  tools/azure-rest-api-specs-examples-automation/java/package.py
  tools/azure-rest-api-specs-examples-automation/java/requirements.txt
  tools/azure-rest-api-specs-examples-automation/java/test_format.py
  tools/azure-rest-api-specs-examples-automation/java/test_package.py
  tools/azure-rest-api-specs-examples-automation/java/test_process.py
  tools/azure-rest-api-specs-examples-automation/js/lint.py
  tools/azure-rest-api-specs-examples-automation/js/lint_test.py
  tools/azure-rest-api-specs-examples-automation/js/main.py
  tools/azure-rest-api-specs-examples-automation/js/test_main.py
  tools/azure-rest-api-specs-examples-automation/python/main.py
Due: none

Make logging levels case insensitive
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Add missing package
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
Due: none

chore: Remove shx dependency and update npm packages
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
Due: none

[tsp-client] Update rest-api-diff dependency (#8840)
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
Due: none

first cut, time to test
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/JsonComparer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
Due: none

directly removed from tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

now compiling. two failing matcher tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
Due: none

tests repaired
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/JsonComparer.cs
Due: none

add new placeholder comments
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

clean up usings
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
Due: none

exploring AST unfinished - minor emergency had to leave
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Update CI creator
  tools/js-sdk-release-tools/src/common/ciYamlUtils.ts
Due: none

Add log
  tools/js-sdk-release-tools/src/common/ciYamlUtils.ts
Due: none

Update
  tools/js-sdk-release-tools/src/common/rushUtils.ts
  tools/js-sdk-release-tools/src/common/utils.ts
  tools/js-sdk-release-tools/src/mlc/clientGenerator/utils/typeSpecUtils.ts
Due: none

Update MC check
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
Due: none

Update log level
  tools/js-sdk-release-tools/src/common/utils.ts
Due: none

bump proxy version
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

Support emitter 0.32 in api version extraction
  tools/js-sdk-release-tools/bun.lockb
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
  tools/js-sdk-release-tools/src/test/apiVersion/testCases/new-context/src/api/newContext.ts
  tools/js-sdk-release-tools/src/test/apiVersion/testCases/new-context/src/api/openAIContext.ts
  tools/js-sdk-release-tools/src/test/apiVersion/testCases/rlc-context/src/newContext.ts
  tools/js-sdk-release-tools/src/test/apiVersion/testCases/rlc-context/src/openAIContext.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Due: none

change the ordering so we aren't ALWAYS expanding the full json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
Due: none

ensure we normalize so that the json comparison is the fallback
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
Due: none

fixes issue description over 100 characters
  tools/github/data/common-labels.csv
Due: none

Change temp folder location
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
  tools/js-sdk-release-tools/src/common/rushUtils.ts
  tools/js-sdk-release-tools/src/common/types.ts
  tools/js-sdk-release-tools/src/mlc/clientGenerator/modularClientPackageGenerator.ts
Due: none

prettier (#8836)
  tools/tsp-client/src/git.ts
  tools/tsp-client/src/npm.ts
  tools/tsp-client/test/tspLocation.spec.ts
Due: none

make this easier for the rust config
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/eng-common-sync.yml

Added property to mark a line as end of context
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

.NET API review parser changes to use new token schema (#8850)
  src/dotnet/APIView/APIView.sln
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewToken.cs
  src/dotnet/APIView/APIView/Model/V2/TokenKind.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/Program.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/ProgramTests.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/TestData.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

APIView server and client side changes for new token schema
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/StructuredTokenModel.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageProcessor.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CodePanelModels.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IBlobCodeFileRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix duplicate api
  src/dotnet/APIView/APIView/Model/CodeFile.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Additional tests and fixes
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/test-data/content-with-active-revision-only.json
  src/dotnet/APIView/ClientSPA/src/app/_workers/test-data/content-with-diff-full-style.json
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml
