Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Pseudo Lazy Loading
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Configure MIME type
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/index.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Upgrade APP to PWA
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/ngsw-config.json
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app-routing.module.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-128x128.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-144x144.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-152x152.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-192x192.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-384x384.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-512x512.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-72x72.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-96x96.png
  src/dotnet/APIView/ClientSPA/src/index.html
  src/dotnet/APIView/ClientSPA/src/manifest.webmanifest
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Pseudo Lazy Loading
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Show Review Page Navigation
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
  src/dotnet/APIView/ClientSPA/src/styles.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add ShowDocumentation Button
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Lazy Loading CodeLines Partially working
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Show / Hide Documentation
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix API for Swagger
  src/dotnet/APIView/APIViewWeb/LeanControllers/AICommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/AuthController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Diagnostics Comment
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Redirection to SPA UI
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/ClientSPA/angular.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add APIRevision Dropdowns
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Review Page Options
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Templating for comments
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.ts
  src/dotnet/APIView/ClientSPA/src/index.html
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
  src/dotnet/APIView/ClientSPA/src/styles.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Capture user comments
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

terminate worker after 5 seconds of inactivity
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Markdown support to Comments
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/markdown-to-html.pipe.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/markdown-to-html.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Complete Templating for Comments
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Template conditions use AzurePowerShell only when a service connection is needed
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

update dep and export
  tools/sdk-testgen/common/config/rush/pnpm-lock.yaml
  tools/sdk-testgen/packages/autorest.testmodeler/index.ts
  tools/sdk-testgen/packages/autorest.testmodeler/package.json
Due: none

changelog
  tools/sdk-testgen/common/changes/@autorest/testmodeler/testmodeler_update_2024-05-14-03-35.json
Due: none

update node version
  eng/pipelines/templates/steps/sdk-testgen-set-env.yml
Due: none

lint
  tools/sdk-testgen/packages/autorest.testmodeler/src/core/model.ts
  tools/sdk-testgen/packages/autorest.testmodeler/src/util/helper.ts
Due: none

Revert local template path change.
  tools/sdk-ai-bots/AzureSdkQaBot/teamsapp.yml
Due: none

update
  tools/js-sdk-release-tools/src/hlc/utils/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/utils/version.ts
Due: none

bump version
  tools/sdk-testgen/common/changes/@autorest/testmodeler/testmodeler_update_2024-05-14-03-35.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.testmodeler/package.json
Due: none

bump version (#8263)
  tools/sdk-testgen/common/changes/@autorest/testmodeler/testmodeler_update_2024-05-14-03-35.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.testmodeler/package.json
Due: none

Add base branch baseline file for additional PR filtering
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Program.cs
Due: none

Apply suggestions from code review
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/CommandOptions/OptionsGenerator.cs
Due: none

Add base branch baseline file for additional PR filtering (#8264)
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Program.cs
Due: none

Regular Diffind with lazy loaded lines
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Review feedback and pair with Ben
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Update docs
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
Due: eng/pipelines/eng-common-sync.yml

Add Comparere for APITreeNode
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Methods written, needs testing
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IUserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/UserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Login.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Email address updates automatically if UserProfile.Email is null
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IUserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/UserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Final pass, typo and comment deletion
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Managers/UserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

CODEOWNERS linter yml updates
  eng/common/pipelines/codeowners-linter.yml
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
