Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePattern: ${{ parameters.FilePattern }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

add schedule timer to confirm file log correct write
  tools/spec-gen-sdk/src/automation/logging.ts
Due: none

aesthetics - token kind and renderclasses
  tools/apiview/parsers/rust-api-parser/src/main.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processAssocConst.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processAssocType.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processConstant.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processEnum.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processExternType.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processFunction.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processImpl.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processModule.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStatic.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStruct.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStructField.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTrait.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTraitAlias.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTypeAlias.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processUnion.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processUse.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/utils/externalReexports.ts
Due: none

impl aesthetics
  tools/apiview/parsers/rust-api-parser/src/process-items/processImpl.ts
Due: none

WIP
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
Due: none

simplify
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/mlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Due: none

typo
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Due: none

resolved lint error
  tools/spec-gen-sdk/src/automation/reportStatus.ts
Due: none

Removed commented code
  tools/spec-gen-sdk/src/automation/entrypoint.ts
Due: none

test
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

test2
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[API View] Extending rust-api-parser support (#10047)
  tools/apiview/parsers/rust-api-parser/src/main.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processAssocConst.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processAssocType.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processConstant.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processEnum.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processExternType.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processFunction.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processImpl.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processModule.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStatic.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStruct.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStructField.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTrait.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTraitAlias.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTypeAlias.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processUnion.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processUse.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/utils/externalReexports.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/utils/processGenerics.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/utils/typeToReviewTokens.ts
Due: none

test3
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

remove telem
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Created separate log file for pipeline scenario
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/types/ExecutionReport.ts
  tools/spec-gen-sdk/src/utils/utils.ts
Due: none

Don't install rust parser
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Don't install rust parser (#10069)
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

bin folder for installation
  tools/apiview/parsers/rust-api-parser/bin/rust-genapi.cjs
Due: none

Add ACR image pruning to scheduled docker publish pipeline (#10053)
  eng/containers/ci.yml
  eng/pipelines/prune-acr-images.yml
  eng/pipelines/publish-docker-image-isolated.yml
  eng/pipelines/publish-docker-image.yml
  eng/scripts/prune-acr-images.ps1
Due: none

[rust-api-parser] bin folder for installation (#10071)
  tools/apiview/parsers/rust-api-parser/bin/rust-genapi.cjs
Due: none

1.0.0
  tools/apiview/parsers/rust-api-parser/package.json
Due: none

changelog
  tools/apiview/parsers/rust-api-parser/CHANGELOG.md
Due: none

[rust-api-parser] 1.0.0 version update (#10073)
  tools/apiview/parsers/rust-api-parser/CHANGELOG.md
  tools/apiview/parsers/rust-api-parser/package.json
Due: none

refactored logging and removed label artifact (#10052)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/logging.ts
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/cli/cli.ts
  tools/spec-gen-sdk/src/types/ExecutionReport.ts
  tools/spec-gen-sdk/src/utils/runScript.ts
  tools/spec-gen-sdk/src/utils/utils.ts
Due: none

update debug deps
  tools/tsp-client/src/commands.ts
Due: none

Revert "Don't install rust parser (#10069)"
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update rust parser version
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add install deps command
  tools/tsp-client/src/commands.ts
  tools/tsp-client/src/index.ts
Due: none

support skip-install flag
  tools/tsp-client/src/commands.ts
  tools/tsp-client/src/index.ts
Due: none

support positional path param
  tools/tsp-client/src/commands.ts
  tools/tsp-client/src/index.ts
Due: none

Simplify find para path (#10064)
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/mlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Due: none

Revert "Don't install rust parser" (#10074)
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

artifact path
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Enable sync to UI instance (#10021)
  src/dotnet/APIView/apiview-sync-to-dev.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

todo: make the continue in param handler optional
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

bump
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

this
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

[APIView] Mark apiview pipeline as release pipeline (#10000)
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Support $IMPORT only. Fix parameter type mismatch with null matrix on IMPORT
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

update tool version
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
