Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

implement parse a api definition
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/TypeSpecProcessor.ts
Due: none

parse out comments
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/TypeSpecProcessor.ts
Due: none

add frequently Issues
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/TROUBLE_SHOOTING.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/add_new_connection_of_logic_app.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/app_designer_of_logic_app.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/channels_of_logic_app.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/disable_logic_app.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/reassign_of_logic_app.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/run_history_of_logic_app.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/search_logs_by_conversation_id.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/search_post_logs_from_frontend.png
Due: none

update to copilot sdk
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CopilotAgents/Tools/FileTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/AzureOpenAIClientHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/ClientCustomization/APIViewFeedbackItem.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/ManualUpdateGuidanceTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIView/APIViewService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIViewFeedbackService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/FeedbackClassifierService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/APIView/APIViewReviewTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: none

update document
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/TROUBLE_SHOOTING.md
Due: none

update manual guidance template
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/ClientCustomization/IFeedbackItem.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/ManualUpdateGuidanceTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/FeedbackClassifierService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: none

sync typespec-azure-resource-manage library
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/config/knowledge-config.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/TypeSpecProcessor.ts
Due: none

update prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/templates/intention/need_rag_processing.md
Due: none

add TypeSpecAzureResourceManagerLib source
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/TypeSpecProcessor.ts
Due: none

migrate azopenai sdk to official openai go library
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/azure.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.mod
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.sum
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/openai_test.go
Due: none

Fix azsdk cli pipeline issue
  tools/azsdk-cli/ci.yml
Due: none

Fix azsdk cli pipeline issue (#13933)
  tools/azsdk-cli/ci.yml
Due: none

Pass RequireStrongNames param to nuget signing template
  eng/pipelines/templates/jobs/nuget-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
Due: none

Pass RequireStrongNames param to nuget signing template (#13935)
  eng/pipelines/templates/jobs/nuget-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
Due: none

Apply suggestions from code review
  tools/azsdk-cli/docs/telemetry-collection.md
Due: none

Lazy initialize AzureSdkKnowledgeBaseService (#13899)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/AzureSdkKnowledgeBaseService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/appsettings.json
Due: none

Update yaml
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix enum serialization for sdk language and type (#13928)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/SdkLanguage.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/SdkType.cs
Due: none

clarify exception
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Requirement.cs
Due: none

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

fix ts and tspclient checks
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/CoreRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Verify/VerifySetupTool.cs
Due: none

Update package-lock.json
  src/dotnet/APIView/ClientSPA/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback and test fixes.
  src/dotnet/APIView/APIViewUnitTests/NamespaceReviewRequestTests.cs
  src/dotnet/APIView/APIViewUnitTests/ReviewsControllerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/AuthorizationFailedException.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Add Permissions and Projects containers to Cosmos DB sync
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/src/_apiview.py
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fixes #13939.
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CommentFeedbackRequest.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add get-comment-feedback command. Fix kb search by ids functionality.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview.py
  packages/python-packages/apiview-copilot/src/_search_manager.py
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview.py
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix the path in bin/ts-genapi.cjs
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/bin/ts-genapi.cjs
  tools/apiview/parsers/js-api-parser/eslint.config.mjs
  tools/apiview/parsers/js-api-parser/package-lock.json
  tools/apiview/parsers/js-api-parser/package.json
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/function.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/property.ts
  tools/apiview/parsers/js-api-parser/tsconfig.json
Due: .azure-pipelines/apiview.yml

format test/ too
  tools/apiview/parsers/js-api-parser/eslint.config.mjs
  tools/apiview/parsers/js-api-parser/package.json
  tools/apiview/parsers/js-api-parser/test/generate.spec.ts
Due: .azure-pipelines/apiview.yml

update custom agents guidelines
  tools/azsdk-cli/docs/custom-agent-guidelines.md
Due: none

undo adding of lock file
  tools/apiview/parsers/js-api-parser/package-lock.json
Due: .azure-pipelines/apiview.yml

upgrade @typs/node and vitest versions
  tools/apiview/parsers/js-api-parser/package.json
Due: .azure-pipelines/apiview.yml

Improve delete functionality. Relocation copilot clear button and improve performance.
  src/dotnet/APIView/APIViewUnitTests/ReviewManagerDeleteTests.cs
  src/dotnet/APIView/APIViewWeb/DTOs/CommentUpdatesDto.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_dtos/commentThreadUpdateDto.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback..
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add mypy
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.cs
Due: none

[APIView] Add Permissions and Projects containers to Cosmos DB sync (#13943)
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
