Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

add reasoning effort
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/intention_service.py
Due: none

docs: initialize project
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/.planning/PROJECT.md
Due: none

Make search navigable with the Enter key.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix the actual bug of taking stale data
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Simplify onSearchKeydown now that template uses (keydown.enter)
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix build: accept Event type for (keydown.enter) binding
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Restric AI comment downvote/feedback to architects only
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/related-comments-dialog/related-comments-dialog.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/related-comments-dialog/related-comments-dialog.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Include default values for MCP scenarios
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Config/CodeownersTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Generate: Add support for specific file paths
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersGenerateHelper.cs
Due: none

Feedback: Add list of reasons and copilot feedback
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update CHANGELOG
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

removed the test file
  .github/workflows/GithubEventProcessorTest.yml
Due: none

Update tools/apiview/parsers/js-api-parser/src/tokenGenerators/constructor.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/constructor.ts
Due: .azure-pipelines/apiview.yml

Fix double rendering of destructured parameters in API view
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/callableSignature.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/function.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/method.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/function.spec.ts
Due: .azure-pipelines/apiview.yml

update
  tools/apiview/parsers/js-api-parser/package-lock.json
Due: .azure-pipelines/apiview.yml

fix package version parsing
  tools/apiview/parsers/js-api-parser/src/export.ts
Due: .azure-pipelines/apiview.yml

Guard against empty sections when creating/updating
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Config/CodeownersTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Add tests for generate normalization
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeownersGenerateHelperTests.cs
Due: none

Additional testing for Section
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeownersManagementHelperTests.cs
Due: none

Remove empty section
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Feedback: Better messaging for must fix comments
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix tests
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Diagnostic comments incorrectly show related comments across multiple API revisions
  src/dotnet/APIView/APIViewUnitTests/DiagnosticCommentServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/DiagnosticCommentService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

test fixes
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add 3.14
  packages/python-packages/apiview-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_data_class_node.py
  packages/python-packages/apiview-stub-generator/setup.py
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-ai-documentintelligence_python.json
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-core_python.json
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-healthinsights-radiologyinsights_python.json
Due: none

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Update MCP tools documentation
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

CODEOWNERS Generator for .NET - Make PRs mergable
  eng/pipelines/pipeline-owners-extraction.yml
Due: none

Remove test params from create-pull-request.yml
  eng/pipelines/pipeline-owners-extraction.yml
Due: none

Add workflow to run actionlint
  .github/matchers/actionlint.json
  .github/workflows/github-test.yml
Due: none

Update .github/workflows/github-test.yml
  .github/workflows/github-test.yml
Due: none

Apply suggestion from @Copilot
  .github/workflows/github-test.yml
Due: none

bump actionlint to 1.7.12
  .github/workflows/github-test.yml
Due: none

add quotes to script to prevent word splitting
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

add quotes to script as precaution
  .github/workflows/event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml

quote github_output
  .github/workflows/skill-eval.yml
Due: none

add config for self-hosted runners
  .github/actionlint.yaml
Due: none

rename
  .github/actionlint.yml
Due: none
