Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

update added scenario. all core packages (including Azure.Core) should be included
  eng/common-tests/matrix-generator/pr-matrix-samples/net_scenarios.json
Due: none

includedForValidation: false -> includedForValidation -> true
  eng/common-tests/matrix-generator/pr-matrix-samples/net_scenarios.json
Due: none

sync up knowledge
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/scripts/setup_knowledge.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/storage/storage_endpoint.go
Due: none

this fixed an integration test for js that I missed as well. updating the expected to align with the properly functioning triggeringPaths
  eng/common-tests/matrix-generator/pr-matrix-samples/js_scenarios.json
Due: none

improve bot
  tools/sdk-ai-bots/azure-sdk-qa-bot/.gitignore
  tools/sdk-ai-bots/azure-sdk-qa-bot/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/appPackage/manifest.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.bicep
  tools/sdk-ai-bots/azure-sdk-qa-bot/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/app.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/customSayCommand.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/myDataSource.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/card-kit.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/feedback.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/human-help.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/reply.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/support-channel.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/data/Contoso Electronics_PerkPlus_Program.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/data/Contoso_Electronics_Company_Overview.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/data/Contoso_Electronics_Plan_Benefits.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/prompts/chat/config.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/prompts/chat/skprompt.txt
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/prompts/chatx/config.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/prompts/chatx/skprompt.txt
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/rag/network.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot/tsconfig.json
Due: none

remove sdk-suppression render content
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/src/templates/commentDetailNew.handlebars
Due: none

revert render suppressions file content
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/src/templates/commentDetailNew.handlebars
Due: none

improve UI
  tools/sdk-ai-bots/azure-sdk-qa-bot/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/card-kit.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/feedback.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/human-help.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reference-list.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reference.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reply.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/support-channel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/feedback.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/human-help.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/reply.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/support-channel.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/rag/network.ts
Due: none

remove camel case style option (#10336)
  tools/js-sdk-release-tools/src/test/pipeline/sdkGeneration.test.ts
  tools/js-sdk-release-tools/src/utils/generateInputUtils.ts
Due: none

eng, azure-rest-api-specs-examples-automation, use pool from image.yml
  tools/azure-rest-api-specs-examples-automation/ci.yml
  tools/azure-rest-api-specs-examples-automation/samples-automation.yml
Due: none

update changelog
  tools/js-sdk-release-tools/src/common/changlog/modifyChangelogFileAndBumpVersion.ts
Due: none

add feedback
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/app.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/backend/feedback.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/backend/rag.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reply.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.local.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.testtool.yml
Due: none

Spec-Gen-SDK for Suppressions File Link (#10394)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/templates/commentDetailNew.handlebars
Due: none

Include scores in prompt + reduce logging noise from search
  tools/issue-labeler/src/IssueLabelerService/Labelers/OpenAiLabeler.cs
  tools/issue-labeler/src/IssueLabelerService/TraigeRag.cs
Due: none

version
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
Due: none

Fix Early-Exit on additional `triggeringPaths` in `Get-PrPkgProperties` (#10400)
  eng/common-tests/matrix-generator/pr-matrix-samples/js_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/net_scenarios.json
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

version (#10407)
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
Due: none

Added Tool for Devops work item and test project
  tools/mcp/dotnet/AzureSDKDevToolsMCP/AzureSDKDSpecTools.csproj
  tools/mcp/dotnet/AzureSDKDevToolsMCP/AzureSDKDSpecTools.sln
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Models/ReleasePlan.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Program.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/README.md
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Services/DevOpsService.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Services/GitHubService.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/ReleasePlanTool.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SpecPullRequestTool.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SpecValidationTool.cs
  tools/mcp/dotnet/AzureSDKSpecToolTests/AzureSDKSpecToolTests.csproj
  tools/mcp/dotnet/AzureSDKSpecToolTests/ReleasePlanTest.cs
Due: none

Add APIView Check comment using github workflow (#10294)
  .github/workflows/post-apiview.yml
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IPullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[js-api-parser] support `@deprecated` tag (#10346)
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/package.json
  tools/apiview/parsers/js-api-parser/src/export.ts
  tools/apiview/parsers/js-api-parser/src/generate.ts
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

Better formatting for sources
  tools/issue-labeler/src/IssueLabelerService/Answers/OpenAiAnswerService.cs
Due: none

fix
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

this
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

bump
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
Due: none

can log name
  tools/pylint-extensions/azure-pylint-guidelines-checker/code_examples.md
Due: none

build: enable pushing emitter nuget packages (#10377)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

Added TypeSpec helper
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Helpers/TypeSpecHelper.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Program.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Services/DevOpsService.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/ReleasePlanTool.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SpecValidationTool.cs
Due: none

fix
  tools/pylint-extensions/azure-pylint-guidelines-checker/code_examples.md
Due: none

add analyzer to catch mrw aot compatibility usage
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0150Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelReaderWriterAotAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

add analyzer to catch mrw aot compatibility usage (#10409)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0150Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelReaderWriterAotAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

setup and run tests
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/ILanguage.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/LanguageBase.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Language.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Rust.cs
Due: none

Rename post-apiview step
  .github/workflows/event-post-apiview.yml
Due: eng/pipelines/eng-workflows-sync.yml

fix the recording to actually reflect reality
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/multipart_request.json
Due: none

add old and new recording styles to the recordings so that we can verify that we can actually decode them from disk without changes
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/old_multipart_request.json
Due: none

patch to handle both old and new storage methods.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntry.cs
Due: none

return services as part of execution report
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/types/ExecutionReport.ts
Due: none

treat packages added by triggerPath as direct
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

run and ops per second
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Rust.cs
Due: none

Update changelog and package version
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
Due: none

Return services as part of execution report (#10397)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/types/ExecutionReport.ts
Due: none
