Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

update undefined checks
  tools/tsp-client/src/index.ts
  tools/tsp-client/src/options.ts
  tools/tsp-client/src/typespec.ts
Due: none

fix chaining
  tools/tsp-client/src/index.ts
Due: none

Add container name to stress workbook pod dropdown label
  tools/stress-cluster/cluster/azure/monitoring/stress-test-workbook.bicep
Due: none

remove fileTree.ts
  tools/tsp-client/src/fileTree.ts
Due: none

add TspLocation interface
  tools/tsp-client/src/fs.ts
  tools/tsp-client/src/index.ts
  tools/tsp-client/src/typespec.ts
Due: none

clean up network.ts
  tools/tsp-client/src/network.ts
Due: none

Update Chrome driver to latest for APIView UI test
  src/dotnet/APIView/APIViewUITests/APIViewUITests.csproj
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update Chrome driver to latest for APIView UI test (#7214)
  src/dotnet/APIView/APIViewUITests/APIViewUITests.csproj
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

repair js livetests
  tools/test-proxy/tests.yml
Due: none

remove original changes. swap to universal output on windows, and redirect stdout to file, and stderr to stdout.
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: eng/pipelines/eng-common-sync.yml

fix spacing
  eng/common/testproxy/publish-proxy-logs.yml
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: eng/pipelines/eng-common-sync.yml

collect stderr in stdout. locally checked >/path/to/log/ 2>&1, that didn't work, but &> did. going with that given I know we're explicitly running bash in for this step on unix agents
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: eng/pipelines/eng-common-sync.yml

spacing was updated badly for some weird reason
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

correct the arguments to the windows startup
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: eng/pipelines/eng-common-sync.yml

Update search query to use exists to verify revisions data
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix analyzer issues
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0002Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0006Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientConstructorAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Update search query to use exists to verify revisions data (#7221)
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add optional test stage to autorest preview pipeline (#7213)
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
Due: none

Add container name to stress workbook pod dropdown label (#7217)
  tools/stress-cluster/cluster/azure/monitoring/stress-test-workbook.bicep
Due: none

repair js livetests (#7220)
  tools/test-proxy/tests.yml
Due: none

Address issue with stderr not appearing in the published proxy logs (#7193)
  eng/common/testproxy/target_version.txt
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: eng/pipelines/eng-common-sync.yml

add a test that actually exercises the scenario that this branch is supposed to be handling
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
Due: none

update a comment
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
Due: none

change the invalid token to something that doesn't split the command. change the expectations because we're modifying it
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
Due: none

Fix build issue for modular SDK
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/utils/changeConfigOfTestAndSample.ts
Due: none

Fix build issues for modular sdk (#7227)
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/utils/changeConfigOfTestAndSample.ts
Due: none

Use sparse checkout for pipeline generator (#5947)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Adding automatic reset on failed push (#7196)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
Due: none

[wip] add multiple api.json files support
  tools/apiview/parsers/js-api-parser/export.ts
  tools/apiview/parsers/js-api-parser/tokensBuilder.ts
Due: .azure-pipelines/apiview.yml

Updates to github-event-processor
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Azure.Sdk.Tools.GitHubEventProcessor.Tests.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/MockGitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.FakeCodeowners/InitialIssueTriage_CODEOWNERS
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.JsonEventPayloads/ServiceAttention_issue_labeled_already_has_ServiceAttention.json
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Azure.Sdk.Tools.GitHubEventProcessor.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/CodeOwnerUtils.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/LabelUtils.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/RulesConfiguration.cs
  tools/github-event-processor/GitHubEventProcessor.sln
  tools/github-event-processor/RULES.md
Due: none

Remove unnecessary ItemGroup VS added to test project and fix a small typo in RemoveLabel
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Azure.Sdk.Tools.GitHubEventProcessor.Tests.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
Due: none

fix(.net analyzer): ignore property bag with `Options` suffix
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/AZC0030OptionsTest.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/GeneralSuffixAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Disable Pipeline Tests
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add CODEOWNERS linter yml file to eng/common/pipelines
  .github/CODEOWNERS_baseline_errors.txt
  eng/common/pipelines/codeowners-linter.yml
Due: eng/pipelines/eng-common-sync.yml

Add filter baseline option to run command line
  eng/common/pipelines/codeowners-linter.yml
Due: eng/pipelines/eng-common-sync.yml

Fix Linter tool publish
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Azure.Sdk.Tools.CodeownersLinter.csproj
Due: none

Fix Linter tool publish (#7252)
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter/Azure.Sdk.Tools.CodeownersLinter.csproj
Due: none

Update version of linter to 1.0.0-dev.20231107.2 which will install correctly
  eng/common/pipelines/codeowners-linter.yml
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
