Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

fix all the tests
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/property.spec.ts
Due: .azure-pipelines/apiview.yml

Get github issue content
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/GithubClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/LinkContentExtractor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/channelConfigManager.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/github.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/tenantConfigManager.test.ts
Due: none

Update code
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/GithubClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/github.test.ts
Due: none

update guideline
  tools/sdk-ai-bots/docs/KNOWLEDGE_REFINEMENT_GUIDE.md
Due: none

update guideline
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/docs/KNOWLEDGE_REFINEMENT_GUIDE.md
Due: none

Resolve comments
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/GithubClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/LinkContentExtractor.ts
Due: none

initial azsdk benchmark package
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Azure.Sdk.Tools.Cli.Benchmarks.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/BenchmarkRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/ExecutionTypes.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/RepoConfig.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/SessionExecutor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/Workspace.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/WorkspaceManager.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/BenchmarkScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/RenameClientPropertyScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/docs/creating-scenarios.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.sln
Due: none

update datasource
  tools/sdk-ai-bots/docs/KNOWLEDGE_REFINEMENT_GUIDE.md
Due: none

add scenario discovery and cli commands
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Azure.Sdk.Tools.Cli.Benchmarks.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/BenchmarkRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/ExecutionTypes.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/ScenarioDiscovery.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/SessionExecutor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/RenameClientPropertyScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/docs/creating-scenarios.md
Due: none

[Teams Chatbot] Upgrade LLM and reduce randomness of LLM (#13736)
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/api_spec_review/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_sdk_onboarding/agentic_search.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_sdk_onboarding/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_sdk_onboarding/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/common/non_technical_question.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/general/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_python/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_python/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/templates/intention/need_rag_processing.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/typespec/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/typespec/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/ai_search_endpoint_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/routing_tenant_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/results/python-test.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/results/typespec-test.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/tests/python_core.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/tests/typespec_typespec-client.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/config/knowledge-config.json
Due: none

add first round of validators
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/BenchmarkRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/Workspace.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/BenchmarkScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/RenameClientPropertyScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/IValidator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/LlmJudge.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/ValidatorRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/CommandValidator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/ContainsValidator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/ExpectedDiffValidator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/FileExistsValidator.cs
Due: none

debug system prompt context
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/RenameClientPropertyScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/LlmJudge.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/ValidatorRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/ContextReportValidator.cs
Due: none

Fix build issues
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: none

[js-api-parser] Property and property signature generator (#13711)
  tools/apiview/parsers/js-api-parser/src/generate.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/class.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/enum.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/function.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/helpers.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/index.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/interfaces.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/method.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/property.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/class.spec.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/enum.spec.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/function.spec.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/interface.spec.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/method.spec.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/property.spec.ts
Due: .azure-pipelines/apiview.yml

Make "clear copilot comments" available only to Admins.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix base64 encoding for JWT token
  eng/common/scripts/login-to-github.ps1
Due: eng/pipelines/eng-common-sync.yml

add comment explaining why CopilotClient is a singleton
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
Due: none

fix typespec customization prompt template spacing
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/TypeSpecCustomizationTemplate.cs
Due: none

Fix comment button. Ensure doc expand/collapse is visible even when "Documentation" toggle isn't on.
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

clean up
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/DelegateApiViewFeedbackToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedCommandGroups.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/APIViewFeedbackHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/APIViewFeedbackItem.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/DelegateApiViewFeedbackTool.cs
Due: none

Telemetry collection process overview
  tools/azsdk-cli/docs/telemetry-collection.md
Due: none

Fixed typo
  tools/azsdk-cli/docs/telemetry-collection.md
Due: none

update names
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/DelegateAPIViewFeedbackToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/APIViewFeedbackIssueTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/DelegateAPIViewFeedbackTool.cs
Due: none

Improve code panel buttons.
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Feedback.
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
  src/dotnet/APIView/ClientSPA/ui-tests/helpers/comment-helpers.ts
  src/dotnet/APIView/ClientSPA/ui-tests/page-objects/review.page.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/code-panel-interaction.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/comments-interaction.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

more clean up
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/APIViewFeedbackIssueTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/DelegateAPIViewFeedbackTool.cs
Due: none

Exclude fromJson and toJson methods from API view
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
Due: .azure-pipelines/apiview.yml

exclude xml methods too
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
Due: .azure-pipelines/apiview.yml

refactor
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
Due: .azure-pipelines/apiview.yml

use async method to read client customization reference doc
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/TypeSpecCustomizationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/TypeSpec/TypeSpecCustomizationService.cs
Due: none

move getMetadata + models to Models
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/APIViewFeedbackHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/APIViewFeedbackItem.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/APIViewFeedbackIssueTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIView/APIViewService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/APIView/APIViewReviewTool.cs
Due: none

error handling for openAIClient/comment consolidation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/APIViewFeedbackHelper.cs
Due: none

load mcp servers by translating vscode mcp.json config
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/McpConfigLoader.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/SessionExecutor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/ContextReportValidator.cs
Due: none

comment out debug context report validator
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/RenameClientPropertyScenario.cs
Due: none

Add theme-test admin component.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/theme-test/theme-test.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/theme-test/theme-test.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/theme-test/theme-test.component.ts
  src/dotnet/APIView/ClientSPA/src/app/app-routing.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix + revert csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/IFeedbackItem.cs
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
