Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

small adjustment. linux doesn't work if we set this value
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

[APIView] Fix navigation panel not showing removed namespaces in diff view
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

test the hypothesis
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

Remove error handling for gh CLI authentication
  eng/common/scripts/login-to-github.ps1
Due: eng/pipelines/eng-common-sync.yml

Updates to build.
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/tsconfig.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Temp CI updates.
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/karma.conf.js
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/test.ts
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove dependency on ngx-monaco-editor-v2.
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/code-editor/code-editor.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/main.ts
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updated the comment to be clearer
  eng/common/mcp/azure-sdk-mcp.ps1
Due: eng/pipelines/eng-common-sync.yml

Make change more deocrator specific
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add telemetry for CLI mode, refactor telemetry classes, skip log upload
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/CommandRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Extensions/LoggingExtensions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Extensions/OpenTelemetryExtensions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/ITelemetryService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/TelemetryLogRecordEraser.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/TelemetryRegistration.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/TelemetryService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/MCPToolBase.cs
Due: none

Pass all version update parameters to configured script call
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/VersionUpdateTool.cs
Due: none

`test-proxy` is invoked with `DOTNET_ROOT` set (#13555)
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

adjustments for further digging
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/stages/test-1es-image-theories.yml
  eng/pipelines/templates/steps/investigate-step-template.yml
Due: eng/pipelines/eng-common-sync.yml

[APIView] Fix decorator positioning in diff view when comparing revisions (#13564)
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

template: -> - template:
  eng/pipelines/templates/stages/test-1es-image-theories.yml
Due: none

jobs differently named
  eng/pipelines/templates/stages/test-1es-image-theories.yml
Due: none

Update tools/azsdk-cli/README.md
  tools/azsdk-cli/README.md
Due: none

this is disturbing
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/stages/test-1es-image-theories.yml
  eng/pipelines/templates/steps/investigate-step-template-no-tool.yml
  eng/pipelines/templates/steps/investigate-step-template-tool.yml
Due: eng/pipelines/eng-common-sync.yml

update
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/templates/intention/need_rag_processing.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/typespec/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
Due: none

so DOTNET_ROOT is never set. got it
  eng/pipelines/templates/stages/test-1es-image-theories.yml
Due: none

consistent the custome agent name
  tools/azsdk-cli/docs/specs/typespec-authoring.spec.md
Due: none

make local backend service configurable
  tools/sdk-ai-bots/azure-sdk-qa-bot/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/doc/images/debug-local.png
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.testtool
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
Due: none

control model temperature
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
Due: none

remove full file strategy
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
Due: none

Bot local test env testtool (#13521)
  tools/sdk-ai-bots/azure-sdk-qa-bot/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/doc/images/debug-local.png
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.testtool
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.wanl
  tools/sdk-ai-bots/azure-sdk-qa-bot/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/adapter.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.local.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.testtool.yml
Due: none

update prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/typespec/qa.md
Due: none

[APIView] Fix navigation panel not showing removed namespaces in diff view (#13565)
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update VerifySetup Requirements for Go (#13534)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/RequirementsV1.json
Due: none

Pass all version update parameters to configured script call (#13567)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/VersionUpdateTool.cs
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/src/agent/tools/_api_review_tools.py
Due: none

Clarify decision point on packing tool integration in Scenario 2 spec
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

[AVC] Refactor from SemanticKernel plugins to Azure AI Foundry Tools (#13022)
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/scripts/infra/variables.yaml
  packages/python-packages/apiview-copilot/src/agent/__init__.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_api_review_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_utility_plugin.py
  packages/python-packages/apiview-copilot/src/agent/tools/__init__.py
  packages/python-packages/apiview-copilot/src/agent/tools/_api_review_tools.py
  packages/python-packages/apiview-copilot/src/agent/tools/_base.py
  packages/python-packages/apiview-copilot/src/agent/tools/_database_tools.py
  packages/python-packages/apiview-copilot/src/agent/tools/_search_tools.py
  packages/python-packages/apiview-copilot/src/agent/tools/_utility_tools.py
Due: none

AzSDK Tools Inner Loop Scenario 2 (#13011)
  .github/agents/spec-writer.agent.md
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

Spec: customizing client-tsp spec and code customizations (#12577)
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

fixes
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

update implementations
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: none

Add hasCustomization helper
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/CustomizedCodeUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
  tools/azsdk-cli/feature-instructions.txt
Due: none

move to lang service impl
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/CustomizedCodeUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotnetLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
  tools/azsdk-cli/feature-instructions.txt
Due: none

Update tools/issue-labeler/src/IssueLabeler.Shared/IModelHolderFactory.cs
  tools/issue-labeler/src/IssueLabeler.Shared/IModelHolderFactory.cs
Due: none
