Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

eng/pipelines/validate-instructions-azsdk-references.yml:
  pool:
    name: $(LINUXPOOL)
    demands: ImageOverride -equals $(LINUXVMIMAGE)
  jobs:
  - job: VerifyMcpToolReferences
    displayName: Verify MCP Tool References
    steps:
    - checkout: self
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        version: 8.0.x
    - task: UseDotNet@2
  ...

Fix gh workflow formatting
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml

Add upload (--dryrun) to pipeline
  eng/pipelines/pipeline-owners-extraction.yml
Due: none

Spelling
  eng/pipelines/pipeline-owners-extraction.yml
Due: none

Add analyzer error routing to classifier and MCP guidance in NextSteps
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/DotnetErrorDrivenPatchTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Add SSS3PT_ to stress resource group name calculation
  eng/common/TestResources/New-TestResources.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_util.tpl
Due: eng/pipelines/eng-common-sync.yml

Shorten delete after hours. Add rg length checking
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/CHANGELOG.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/images/test-resource-deployer/deploy-stress-test-resources.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_util.tpl
Due: none

Route SA* style analyzer errors as manual intervention
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/DotnetErrorDrivenPatchTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
Due: none

Skip analyzer errors in custom code — treat as intentional decisions
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/DotnetErrorDrivenPatchTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
Due: none

Scope analyzers to .NET, classify custom code errors as manual intervention
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/DotnetErrorDrivenPatchTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
Due: none

SA errors in generated code flagged as generator bug
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
Due: none

move regex selection to setupconventions helpers
  eng/common/scripts/SemVer.ps1
  src/dotnet/APIView/APIViewWeb/Helpers/AzureEngSemanticVersion.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/azureEngSemanticVersion.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, eng/pipelines/eng-common-sync.yml

[CODEOWNERS] Audit reads from cache
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/Codeowners/Rules/AuditRuleTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Config/CodeownersToolsTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/AuditRuleCacheSettings.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/InvalidOwnerRule.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/TeamNotWriteRule.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Config/CodeownersTool.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Utils/CacheValidatorTests.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Caches/RepoLabelCache.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Caches/TeamUserCache.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Caches/UserOrgVisibilityCache.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Utils/CacheValidator.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Look back 6 hours
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/AuditRuleCacheSettings.cs
Due: none

Review feedback: document cache update process
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Utils/CacheValidator.cs
Due: none

Fix tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/Codeowners/Rules/AuditRuleTests.cs
Due: none

Remove unncessary try/catch/throw
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/InvalidOwnerRule.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/TeamNotWriteRule.cs
Due: none

Update CHANGELOG
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Enforce description and comment-context length caps in report-issue core
  packages/python-packages/apiview-copilot/src/_report_issue.py
  packages/python-packages/apiview-copilot/tests/report_issue_test.py
Due: none

Remove GitHub dependency, all validation happens in the cache. Update documentation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/Codeowners/Rules/AuditRuleTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Config/CodeownersToolsTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/InvalidOwnerRule.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/LabelNotInRepoLabelsRule.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Codeowners/Rules/TeamNotWriteRule.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Config/CodeownersTool.cs
  tools/azsdk-cli/docs/specs/8-operations-codeowners-ownership-audit.spec.md
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Caches/RepoLabelCache.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Closes #15343.
  packages/python-packages/apiview-copilot/AGENTS.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
  packages/python-packages/apiview-copilot/src/_apiview_metrics.py
  packages/python-packages/apiview-copilot/src/_utils.py
Due: none

Closes #15344.
  packages/python-packages/apiview-copilot/AGENTS.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
  packages/python-packages/apiview-copilot/src/_apiview.py
  packages/python-packages/apiview-copilot/src/_apiview_metrics.py
  packages/python-packages/apiview-copilot/tests/cross_language_compliance_test.py
Due: none

Refactor.
  packages/python-packages/apiview-copilot/AGENTS.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
Due: none

Move shared GitHub-issue logic into GithubManager
  packages/python-packages/apiview-copilot/src/_github_manager.py
  packages/python-packages/apiview-copilot/src/mention/_github_issue_helpers.py
  packages/python-packages/apiview-copilot/src/mention/_open_guidelines_issue_workflow.py
  packages/python-packages/apiview-copilot/src/mention/_open_parser_issue_workflow.py
Due: none

Have LLM determine /report-issue category; drop copilot category
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/prompts/report_issue/generate_issue.prompty
  packages/python-packages/apiview-copilot/prompts/report_issue/generate_issue_schema.json
  packages/python-packages/apiview-copilot/src/_report_issue.py
  packages/python-packages/apiview-copilot/tests/report_issue_test.py
Due: none

Rename CLI to 'avc agent report-issue'; add --comment-id; drop short codes
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

Promote canonical language labels to a LanguageLabel enum
  packages/python-packages/apiview-copilot/src/_github_manager.py
  packages/python-packages/apiview-copilot/src/_report_issue.py
  packages/python-packages/apiview-copilot/tests/report_issue_test.py
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/.github/skills/report-apiview-metrics/SKILL.md
  packages/python-packages/apiview-copilot/AGENTS.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
  packages/python-packages/apiview-copilot/docs/metrics.md
  packages/python-packages/apiview-copilot/src/_apiview.py
  packages/python-packages/apiview-copilot/src/_apiview_metrics.py
  packages/python-packages/apiview-copilot/src/_utils.py
  packages/python-packages/apiview-copilot/tests/cross_language_compliance_test.py
Due: none

Drop comment_context; only commentId attaches comment context
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
  packages/python-packages/apiview-copilot/scratch/report_issue_preview.md
  packages/python-packages/apiview-copilot/scratch/resolve_pr_threads.ps1
  packages/python-packages/apiview-copilot/scratch/run_preview.py
  packages/python-packages/apiview-copilot/src/_report_issue.py
  packages/python-packages/apiview-copilot/tests/report_issue_test.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

Remove scratch files accidentally committed
  packages/python-packages/apiview-copilot/scratch/report_issue_preview.md
  packages/python-packages/apiview-copilot/scratch/resolve_pr_threads.ps1
  packages/python-packages/apiview-copilot/scratch/run_preview.py
Due: none

Drop stale duplicate v3.0.0 prompt block from generate_issue.prompty
  packages/python-packages/apiview-copilot/prompts/report_issue/generate_issue.prompty
Due: none

Set release date for azsdk-cli in CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

[azsdk-cli] Finish Updating CHANGELOG for version 0.6.11
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Add marketplace.json
  .github/plugin/marketplace.json
Due: none

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Update MCP tools documentation
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

fix create-pull-request for source/target token utilization
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: eng/pipelines/eng-common-sync.yml

understanding a bit better what is actually going on now.
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/eng-common-sync.yml

first set of changes updated for the auto-login behavior
  eng/pipelines/agent-pool-migration.yml
  eng/pipelines/branch-cleanup.yml
  eng/pipelines/merge-docs-main-to-live.yml
  eng/pipelines/pipeline-owners-extraction.yml
  eng/pipelines/setup-tutorial-branch.yml
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
Due: none

allow auto login
  eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
  eng/pipelines/templates/steps/ref-updater.yml
  eng/pipelines/templates/steps/sync-directory.yml
  eng/pipelines/templates/steps/sync-repo-merge-branch.yml
  eng/pipelines/tools-repo-versioning.yml
  eng/pipelines/update-release-branch-in-specs.yml
  tools/assets-automation/tests.yml
  tools/azsdk-cli/auto-documentation.yml
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml
