Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, eng/pipelines/eng-common-sync.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - task: UsePythonVersion@0
        displayName: Use Python 3.6
        inputs:
          versionSpec: 3.6
      - task: DotNetCoreInstaller@2
        displayName: Use .NET Core sdk $(DotNetCoreVersion)
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  jobs:
  - job: SyncEngCommon
    displayName: Sync eng/common Directory
    steps:
    - template: ./templates/steps/sync-directory.yml
      parameters:
        CommitMessage: Sync eng/common directory with azure-sdk-tools repository
        DirectoryToSync: eng/common
        Repos:
  ...

added another test, reverted version changes
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0004Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
Due: none

Update eng-common-sync.yml
  eng/pipelines/eng-common-sync.yml
Due: none

fix symbol compare
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0004Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
Due: none

remove commented line
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
Due: none

Fix type compare issue with generic method args (#612)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0004Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
Due: none

remove implicit assumption that a documentation folder MUST be present
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: eng/pipelines/eng-common-sync.yml

additional bugfixes discovered for python
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
Due: eng/pipelines/eng-common-sync.yml

more discovered bugfixes
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Display revisions in descending order
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
Due: .azure-pipelines/apiview.yml

Display revisions in descending order (#615)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
Due: .azure-pipelines/apiview.yml

Emit value of WEBSITE_RESOURCE_GROUP in logs.
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/host.json
Due: none

Emit value of WEBSITE_RESOURCE_GROUP in logs. (#617)
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/Routing/Router.cs
  tools/webhook-router/Azure.Sdk.Tools.WebhookRouter/host.json
Due: none

Revert "remove implicit assumption that a documentation folder MUST be present"
  eng/common/scripts/copy-docs-to-blobstorage.ps1
Due: eng/pipelines/eng-common-sync.yml

remove some extra spacing that was unnecessary
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
Due: eng/pipelines/eng-common-sync.yml

use the -Force parameter instead of arbitrarily forcing a cmdlet in the script
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

Add SubscriptionConfiguration support to TestResources (#577)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Update the label we use for issues that need the team's attention.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Constants.cs
Due: none

Update the label we use for issues that need the team's attention. (#621)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Constants.cs
Due: none

ContinueOnError Revisions for Docs Metadata (#618)
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
  eng/common/scripts/update-docs-metadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Upgrade APIView processor for Java to better support exception types that are thrown by public API that are defined in the same library, so that they may be properly linked.
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

[Apiview] Handle custom exception types better in Java (#624)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

Basic upload of pipeline documents.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Azure.Sdk.Tools.PipelineWitness.csproj
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/AzurePipelinesRun.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Functions/RunStateChangedFunction.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Records/IRecordHandler.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Records/IRecordStore.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Records/Record.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Records/RecordHandler.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Records/RecordStore.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Records/RunStateChangedEventRecord.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Records/RunStateChangedEventRecordHandler.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
  tools/pipeline-witness/README.md
Due: none

Add allowed list to content download logic.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Functions/RunStateChangedFunction.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
  tools/pipeline-witness/PipelineWitness.sln
Due: none

Fix HTTP handler exhaustion causing socket errors.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
Due: none

Add ping function.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Functions/PingFunction.cs
Due: none

Add module for retrieving package properties
  eng/common/scripts/modules/Package-Properties/Package-Properties.psm1
Due: eng/pipelines/eng-common-sync.yml

Switch return from HashTables to object
  eng/common/scripts/modules/Package-Properties.psm1
  eng/common/scripts/modules/Package-Properties/Package-Properties.psm1
Due: eng/pipelines/eng-common-sync.yml

Add list package function that lists all pacjkkage properties
  eng/common/scripts/modules/Package-Properties.psm1
Due: eng/pipelines/eng-common-sync.yml

More work on property listing
  eng/common/scripts/modules/Package-Properties.psm1
Due: eng/pipelines/eng-common-sync.yml

Add timeout policy on HTTP client.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Due: none

Fixed a typo in help information
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Due: none

Updated variable name
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
Due: none

Fix a minor typo
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
Due: none

Fix a minor typo (#632)
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
Due: none

Updated variable name (#631)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
Due: none

Fixed a typo in help information (#630)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Due: none

trivial change to live-test-cleanup.yml
  eng/pipelines/live-test-cleanup.yml
Due: none

remove yaml schedule in favor of manual scheduling in DevOps
  eng/pipelines/live-test-cleanup.yml
Due: none

trivial change to live-test-cleanup.yml (#634)
  eng/pipelines/live-test-cleanup.yml
Due: none

Tweaks for stability.
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/ContentDownloadException.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/ContentNotFoundException.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Functions/RunStateChangedFunction.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  eng/pipelines/eng-common-sync.yml: any of: eng/common
