Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common

PR fb
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

When handling TestRecordingMismatchException, add the error text to a header. Add stack trace information to generic exception handling.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/HttpExceptionMiddleware.cs
Due: none

don't need stacktrace on handled exceptions
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/HttpExceptionMiddleware.cs
Due: none

Adding latest traits
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/BuilderTraitsDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

[Test-Proxy] Add mismatch error to a header, additional information in generic exception handling (#2646)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/HttpExceptionMiddleware.cs
Due: none

Don't show dependencies header when there are none (#2645)
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add ignoredQueryParameters to CustomDefaultMatcher
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordSessionTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Matchers/CustomDefaultMatcher.cs
Due: none

Add background task to sync service and package display name
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Merging Ben's improvements and incorporating code review feedback
  scripts/powershell/sub-cleanup/sub-cleanup.ps1
Due: none

Subscription cleanup script (#1449)
  scripts/powershell/sub-cleanup/sub-cleanup.ps1
Due: none

Removed run time service and package name update temp code
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update stress examples/generator to set imagePullPolicy: Always
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Resources/Job.cs
Due: none

Update stress examples/generator to set imagePullPolicy: Always (#2652)
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/kubernetes/generator/Stress.Generator/Resources/Job.cs
Due: none

Fix #2648
  .gitignore
  packages/python-packages/api-stub-generator/tests/__init__.py
Due: .azure-pipelines/apiview.yml

Fix #2648 (#2653)
  .gitignore
  packages/python-packages/api-stub-generator/tests/__init__.py
Due: .azure-pipelines/apiview.yml

Standardize parsing between Python 3.9 and 3.10
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
Due: .azure-pipelines/apiview.yml

Fix #2568.
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/__init__.py
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_property_node.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
Due: .azure-pipelines/apiview.yml

Update enum syntax to Python 3.
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
Due: .azure-pipelines/apiview.yml

Finalize TypedDict parsing. Add tests.
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
Due: .azure-pipelines/apiview.yml

Force add _key_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_key_node.py
Due: .azure-pipelines/apiview.yml

Remove unused method.
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
Due: .azure-pipelines/apiview.yml

[Python APIView] Support TypedDict (#2571)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/__init__.py
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_key_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_property_node.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
Due: .azure-pipelines/apiview.yml

Updating to use the latest cobra (should address a security issue and there's no reason to hold onto such an old version)
  src/go/go.mod
  src/go/go.sum
Due: none

Improvements to review page
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add all reviews for same package display name as entity under review page (#2632)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Make reviews drop down functional
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

PR fb
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Matchers/CustomDefaultMatcher.cs
Due: none

Get ms alias from github identity.
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
  tools/identity-resolution/identity-resolution/Models/TeamMetadata.cs
  tools/identity-resolution/identity-resolution/Services/AzureDevOpsService.cs
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
Due: eng/pipelines/eng-common-sync.yml

Update Update-DocsMsMetadata.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Fill ms.author metadata for docs. (#2608)
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Ignore any non-function that starts with _
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
Due: .azure-pipelines/apiview.yml

Fix issue and add tests.
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
Due: .azure-pipelines/apiview.yml

readme docs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Due: none

Updating to use the latest cobra for the go apiview tool #2654
  src/go/go.mod
  src/go/go.sum
Due: none

update test-proxy to target new version
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

[Python APIView] Fix issue with OpenCensus (#2657)
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
Due: .azure-pipelines/apiview.yml

Updating dashboard bicep files
  tools/stress-cluster/cluster/azure/.gitignore
  tools/stress-cluster/cluster/azure/main.bicep
  tools/stress-cluster/cluster/azure/monitoring/stress-status-workbook.bicep
  tools/stress-cluster/cluster/azure/monitoring/stress-test-workbook.bicep
Due: none

Time range update and failtrend bug fix
  tools/stress-cluster/cluster/azure/monitoring/stress-status-workbook.bicep
Due: none
