Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

set path constrain to trigger evaluation
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/checkpipeline
  tools/sdk-ai-bots/tests.yml
Due: none

remove test file
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/checkpipeline
Due: none

Remove asyncio. (#11882)
  packages/python-packages/apiview-copilot/dev_requirements.txt
  packages/python-packages/apiview-copilot/requirements.txt
Due: none

Add garbage_collector.
  packages/python-packages/apiview-copilot/src/_garbage_collector.py
Due: none

Make CLI command avc. Add linux variant. Update readme.
  packages/python-packages/apiview-copilot/README.md
  packages/python-packages/apiview-copilot/avc
  packages/python-packages/apiview-copilot/avc.bat
Due: none

Remove unused validation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

wip
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Process/Options/ProcessOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Process/ProcessHelperBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/RecordTestsResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/Test/ITestRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/Test/JavaScriptTestRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/Test/TestRunnerResolver.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/RecordTestsTool.cs
Due: none

Added suggestions.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/EngSys/CodeownersTools/CodeownersTools.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Editor/CodeownersEditorTests.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Entry/CodeownersEntryTests.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersEntry.cs
Due: none

Add support for AI resource soft delete detection and purging (#11851)
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

Update guidelines around when tools should be MCP tools vs. CLI tools
  tools/azsdk-cli/README.md
Due: none

Correct subscription name for development resources
  doc/engsys_resource_management.md
Due: none

Update doc/engsys_resource_management.md
  doc/engsys_resource_management.md
Due: none

check commit sha
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkCodeTool.cs
Due: none

fixed typo
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkCodeTool.cs
Due: none

Adding Contoso WidgetManager
  tools/github/data/common-labels.csv
Due: none

format
  tools/azsdk-cli/README.md
Due: none

Add copy_db.py script.
  packages/python-packages/apiview-copilot/scripts/infra/copy_db.py
Due: none

update recipients and refactor
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add commands. Fix delete logic.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/scripts/infra/create_resources.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/_garbage_collector.py
Due: none

Fetch work item before updating it with SDK details (#11873)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/SpecWorkFlowTool.cs
Due: none

Split signing steps into individual jobs
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/steps/platform-specific-signing.yml
Due: none

skip
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/steps/platform-specific-signing.yml
Due: none

Source user ID from graph api in TME
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

remove stages and sessions,simplified
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CustomizedCodeUpdateTool/TspClientUpdateToolAutoTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/TspClientUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TspStageSelection.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CustomizedCodeUpdateTool/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CustomizedCodeUpdateTool/StagePolicy.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CustomizedCodeUpdateTool/TspClientUpdateTool.cs
Due: none

run main
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  tools/azsdk-cli/ci.yml
Due: none

condition
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
Due: none

lengthcheck
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
Due: none

matrix
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/steps/platform-specific-signing.yml
Due: none

[mirror-repos.yml] Add RPSaaSCanary (#11872)
  eng/pipelines/mirror-repos.yml
Due: none

Fix Kusto command and Add stricter work item query
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/scripts/Attest-CPEX-KPIs.ps1
Due: eng/pipelines/eng-common-sync.yml

feedback
  src/dotnet/APIView/APIViewUnitTests/AutoReviewControllerTests.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/PullRequestsControllerTests.cs
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Exceptions/DuplicateLineIdException.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

removed unnecessary code
  src/dotnet/ErrorAnalyzers/src/Azure.Tools.ErrorAnalyzers/AnalyzerPrompts.Client.cs
  src/dotnet/ErrorAnalyzers/src/Azure.Tools.ErrorAnalyzers/AnalyzerPrompts.General.cs
  src/dotnet/ErrorAnalyzers/src/Azure.Tools.ErrorAnalyzers/AnalyzerPrompts.Management.cs
  src/dotnet/ErrorAnalyzers/src/Azure.Tools.ErrorAnalyzers/AnalyzerPrompts.cs
  src/dotnet/ErrorAnalyzers/tests/Azure.Tools.ErrorAnalyzers.Tests/AnalyzerPromptProviderTests.cs
Due: .azure-pipelines/dotnet.yml

fix template path
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Services/EmailTemplateService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update guidelines around when tools should be MCP tools vs. CLI tools (#11886)
  tools/azsdk-cli/README.md
Due: none
