Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

eng/pipelines/validate-instructions-azsdk-references.yml:
  pool:
    name: $(LINUXPOOL)
    demands: ImageOverride -equals $(LINUXVMIMAGE)
  jobs:
  - job: VerifyMcpToolReferences
    displayName: Verify MCP Tool References
    steps:
    - checkout: self
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        version: 8.0.x
    - task: UseDotNet@2
  ...

update prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/eval_baseline/baseline.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/conversation_evaluation.md
Due: none

docs(graphrag): update final graph result to 65.8% (fuzzy length wording)
  tools/sdk-ai-bots/docs/graphrag_retrieval_design.md
Due: none

change the variable name in the log
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/SpecGenSdkConfigHelper.cs
Due: none

check if tspProjectPath is null or empty
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/SdkBreakingChangeClassificationTemplate.cs
Due: none

Convert eval CI glue scripts from .js to .ts (Node type stripping)
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/jobs/eval-summarize.yml
  eng/common/pipelines/templates/jobs/generate-eval-matrix.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/scripts/eval/.gitignore
  eng/common/scripts/eval/build-eval-summary.ts
  eng/common/scripts/eval/collect-stimuli.ts
  eng/common/scripts/eval/init-eval-git-fixtures.ts
  eng/common/scripts/eval/invoke-eval-shard.ts
  eng/common/scripts/eval/lib/glob.ts
  eng/common/scripts/eval/lib/verdict.ts
  eng/common/scripts/eval/package.json
  eng/common/scripts/eval/sync-eval-git-repo.ts
  eng/common/scripts/eval/test/build-eval-summary.test.ts
  eng/common/scripts/eval/test/collect-stimuli.test.ts
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
  eng/common/scripts/eval/test/verdict.test.ts
Due: eng/pipelines/eng-common-sync.yml

Reuse azure-rest-api-specs exec primitives in eval git sync
  eng/common/scripts/eval/README.md
  eng/common/scripts/eval/init-eval-git-fixtures.ts
  eng/common/scripts/eval/lib/exec.ts
  eng/common/scripts/eval/sync-eval-git-repo.ts
Due: eng/pipelines/eng-common-sync.yml

Removed archived repo and fix description (#16326)
  tools/github/data/common-labels.csv
  tools/github/data/repositories.txt
Due: none

Fix #16226: route all-language SDK generation to the pipeline tool (#16295)
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-generate-sdk-pipeline/SKILL.md
  eng/skill-eval/package-lock.json
  eng/skill-eval/package.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkReleaseTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/SpecWorkFlowTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/tools/add-arm-resource.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/live/release-planner.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/analyze-failed-pipeline.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/check-public-repo-then-validate.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/multi-turn-release-workflows.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/release-planner-workflows.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/rename-client-property.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/typespec-generation-step02.eval.yaml
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Feature branch for pipeline analysis evaluation telemetry.
  eng/pipelines/pipeline-fix-eval.yml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/TestPrompts.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/Pipeline/PipelineFixEvaluatorTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockGitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Models/EvaluationSummaryTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Pipeline/PipelineFixEvaluator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Process/ProcessHelperBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Pipeline/EvaluationEnums.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Pipeline/EvaluationResult.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Pipeline/EvaluationSummary.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Pipeline/PipelineFixEvaluationJudgeVerdict.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/PipelineFixEvaluatorResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineFixEvaluatorTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

ccr-improvement-loop: add max_prs backfill input for rate-limit-safe capped runs
  .github/workflows/ccr-improvement-loop.lock.yml
  .github/workflows/ccr-improvement-loop.md
Due: none

Polish: keep vendored exec.ts faithful to upstream; note shard spawnSync rationale
  eng/common/scripts/eval/invoke-eval-shard.ts
  eng/common/scripts/eval/lib/exec.ts
Due: eng/pipelines/eng-common-sync.yml

Drop --disable-warning=ExperimentalWarning; keep only --experimental-strip-types
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/jobs/eval-summarize.yml
  eng/common/pipelines/templates/jobs/generate-eval-matrix.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/scripts/eval/README.md
  eng/common/scripts/eval/package.json
Due: eng/pipelines/eng-common-sync.yml

Address review feedback: normalize eval weights and fix doc references
  .github/skills/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PipelineIdentifierHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Mock/Handlers/Pipeline/AnalyzeAndArtifactsHandlers.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/analyze-failed-pipeline.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/fix-pipeline.eval.yaml
Due: none

Enhance invalid-use-of-overload checker for module-level and decorator verification (#15401)
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/invalid_use_of_overload_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/invalid_use_of_overload_module_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Add code_examples.md update step for ambiguous rules
  .github/skills/add-pylint-guidelines/SKILL.md
Due: none

Fix C4753: use backtick format for **kwargs in docstrings
  tools/pylint-extensions/azure-pylint-guidelines-checker/code_examples.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_kwargs_test.py
Due: none

Add README.md update step for new rules
  .github/skills/add-pylint-guidelines/SKILL.md
Due: none

Address PR review comments on add-pylint-guidelines skill
  .github/skills/add-pylint-guidelines/SKILL.md
Due: none

Address PR review: README fix, CHANGELOG, ClassDef tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_kwargs_test.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Authenticate eval copilot-sdk via login-to-github GH_TOKEN instead of PAT
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/pipelines/workflow-eval.yml
Due: eng/pipelines/eng-common-sync.yml

Fix verify-links: use absolute URL for new C4753 example link
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
Due: none

Fix pipeline-fix eval review findings: build pagination, YAML injection, commit-date consistency
  eng/pipelines/pipeline-fix-eval.yml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Pipeline/PipelineFixEvaluator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

CLI command changes to update release pipeline link in release plan
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleaseStatusUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Update log line
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Fix README: correct C4749/C4750 rule numbering
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
Due: none

Use absolute URL for C4749 example link in README
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
Due: none

many new charts, alter missrate to catch rate
  .github/aw/ccr-improvement-loop/README.md
  .github/aw/ccr-improvement-loop/dashboard/README.md
  .github/aw/ccr-improvement-loop/dashboard/data/manifest.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-01-31_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-02-28_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-03-31_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-04-30_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-05-31_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-06-30_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-07-09_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-07-09_Azure_azure-sdk-tools.json
  .github/aw/ccr-improvement-loop/dashboard/index.html
  .github/aw/ccr-improvement-loop/dashboard/js/aggregate.mjs
  .github/aw/ccr-improvement-loop/dashboard/js/aggregate.test.mjs
  .github/aw/ccr-improvement-loop/dashboard/js/app.mjs
  .github/aw/ccr-improvement-loop/dashboard/js/charts.mjs
  .github/aw/ccr-improvement-loop/dashboard/js/fixtures/run-2026-05-21_Azure_azure-sdk-for-go.json
  .github/aw/ccr-improvement-loop/dashboard/js/fixtures/run-2026-05-21_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/js/fixtures/run-2026-06-04_Azure_azure-sdk-for-go.json
  .github/aw/ccr-improvement-loop/dashboard/js/fixtures/run-2026-06-04_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/js/fixtures/run-2026-06-18_Azure_azure-sdk-for-go.json
  .github/aw/ccr-improvement-loop/dashboard/js/fixtures/run-2026-06-18_Azure_azure-sdk-for-python.json
  .github/aw/ccr-improvement-loop/dashboard/styles.css
  .github/aw/ccr-improvement-loop/decisions.md
  .github/aw/ccr-improvement-loop/scripts/aggregate-runs.ts
  .github/aw/ccr-improvement-loop/scripts/compute-metrics.ts
  .github/aw/ccr-improvement-loop/tests/aggregate-runs.test.ts
  .github/aw/ccr-improvement-loop/tests/compute-metrics.test.ts
  .github/aw/ccr-improvement-loop/tests/end-to-end.test.ts
  .github/workflows/ccr-improvement-loop.lock.yml
  .github/workflows/ccr-improvement-loop.md
Due: none

ccr-improvement-loop: add session handoff doc
  .github/aw/ccr-improvement-loop/handoff.md
Due: none

Fix verify-links: convert all relative code_examples links to absolute URLs
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
Due: none

Potential fix for pull request finding
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Potential fix for pull request finding
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Apply suggestion from @praveenkuttappan
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Simplified pipeline variables for auto-release
  eng/common-tests/scripts/Resolve-AutoReleasePackages.Tests.ps1
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: eng/pipelines/eng-common-sync.yml

Fixed review feedback
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: eng/pipelines/eng-common-sync.yml

ccr-improvement-loop: backfill 6 monthly dotnet/runtime runs (Jan-Jun 2026)
  .github/aw/ccr-improvement-loop/dashboard/data/manifest.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-01-31_dotnet_runtime.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-02-28_dotnet_runtime.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-03-31_dotnet_runtime.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-04-30_dotnet_runtime.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-05-31_dotnet_runtime.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-06-30_dotnet_runtime.json
Due: none

Update tools/azsdk-cli/docs/specs/typespec-to-sdk-release-workflow.spec.md
  tools/azsdk-cli/docs/specs/typespec-to-sdk-release-workflow.spec.md
Due: none

ccr-improvement-loop: warn when CCR judging pass is skipped
  .github/aw/ccr-improvement-loop/scripts/compute-metrics.ts
  .github/aw/ccr-improvement-loop/tests/compute-metrics.test.ts
Due: none

Updated to align with review comments.
  .github/skills/.vally.yaml
  .github/skills/README.md
  .github/skills/azsdk-common-pipeline-analysis/SKILL.md
  .github/skills/azsdk-common-pipeline-analysis/evals/trigger.eval.yaml
  .github/skills/azsdk-common-pipeline-analysis/references/failure-patterns.md
  .github/skills/azsdk-common-pipeline-analysis/references/output-format.md
  .github/skills/azsdk-common-pipeline-fixer/SKILL.md
  .github/skills/azsdk-common-pipeline-fixer/evals/trigger.eval.yaml
  .github/skills/azsdk-common-pipeline-fixer/references/language-notes.md
  .github/skills/azsdk-common-pipeline-troubleshooting/references/failure-patterns.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PipelineIdentifierHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineAnalysisTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/analyze-failed-pipeline.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/evals/workflow-scenarios/mock/fix-pipeline.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/fixtures/.gitkeep
  tools/azsdk-cli/Azure.Sdk.Tools.Vally/fixtures/README.md
Due: eng/pipelines/eng-common-sync.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml
