Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

remove unused syncToKeyValut.ts to resolve codeql issue
  tools/sdk-ai-bots/azure-sdk-qa-bot/scripts/syncCredentials/syncToKeyVault.ts
Due: none

remove unused syncToKeyValut.ts to resolve codeql issue (#13347)
  tools/sdk-ai-bots/azure-sdk-qa-bot/scripts/syncCredentials/syncToKeyVault.ts
Due: none

fix incorrect go module path
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.mod
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/handler/answer_record_handler.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/handler/completion_handler.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/handler/feedback_handler.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/main.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/feedback/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/preprocess/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/record/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/storage/storage_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/ai_search_endpoint_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/completion_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/keyvalut_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/openai_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/storage_endpoint_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/utils_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/utils/links.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/version.go
Due: none

only support user assigned managed identity
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
Due: none

add commend
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
Due: none

split test cases from data source
  tools/content-validation/ContentValidation.Test/TestPageAnnotation.cs
  tools/content-validation/ContentValidation.Test/TestPageContent.cs
  tools/content-validation/ContentValidation.Test/TestPageLabel.cs
  tools/content-validation/ContentValidation.Test/appsettings.json
  tools/content-validation/DataSource/Program.cs
  tools/content-validation/DataSource/appsettings.json
  tools/content-validation/eng/pipelines/common/content-validation-for-python.yml
  tools/content-validation/eng/pipelines/python/python-sdk-docs-content-validation.yml
Due: none

fix ci failure
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
Due: none

refine testtool env
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.testtool
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.wanl
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/adapter.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.testtool.yml
Due: none

split test cases from data source
  tools/content-validation/eng/pipelines/common/content-validation-for-dotnet.yml
  tools/content-validation/eng/pipelines/common/content-validation-for-java.yml
  tools/content-validation/eng/pipelines/common/content-validation-for-javascript.yml
  tools/content-validation/eng/pipelines/dotnet/dotnet-sdk-docs-content-validation.yml
  tools/content-validation/eng/pipelines/java/java-sdk-docs-content-validation.yml
  tools/content-validation/eng/pipelines/javascript/javascript-sdk-docs-content-validation.yml
Due: none

resolve icm
  tools/sdk-ai-bots/azure-sdk-qa-bot/scripts/setup-docker-image.ps1
Due: none

examples_automation, adopt change of java release tag (#13346)
  tools/azure-rest-api-specs-examples-automation/automation/configuration.json
  tools/azure-rest-api-specs-examples-automation/java/main.py
  tools/azure-rest-api-specs-examples-automation/java/test_main.py
Due: none

extend go test timeout
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/ci.yml
Due: none

Add tests for parsing release plans
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

return empty array for references to avoid frontend panic
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/utils/links.go
Due: none

Update tools/sdk-ai-bots/azure-sdk-qa-bot/scripts/setup-docker-image.ps1
  tools/sdk-ai-bots/azure-sdk-qa-bot/scripts/setup-docker-image.ps1
Due: none

add parameter check
  tools/sdk-ai-bots/azure-sdk-qa-bot/scripts/setup-docker-image.ps1
Due: none

resolve icm codeql (#13349)
  tools/sdk-ai-bots/azure-sdk-qa-bot/scripts/setup-docker-image.ps1
Due: none

Fix ICM issue and chain credential (#13348)
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.mod
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/handler/answer_record_handler.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/handler/completion_handler.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/handler/feedback_handler.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/main.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/ci.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/feedback/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/preprocess/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/record/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/storage/storage_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/ai_search_endpoint_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/completion_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/keyvalut_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/openai_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/storage_endpoint_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/utils_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/utils/links.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/version.go
Due: none

Add parsing tests for triages
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

Respond to copilot comments
  eng/scripts/Report-Unreleased-Sdks.ps1
  eng/scripts/Send-Email-Notification.ps1
Due: none

Respond to copilot comments
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

Respond to copilot comments 2
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

Respond to copilot comments 3
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

respond to copilot comments
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/CustomizedCodeUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/TspConvertToolTest.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/TspInitToolTest.cs
Due: none

Update paths to include all files in .github directory for evals
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: eng/pipelines/eng-common-sync.yml

Fix mcp tool naming convention analyzer to handle variable references (#13324)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/EnforceMcpServerToolNamingConvention.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/README.md
Due: none

Add tests for parsing work items during CPEX Attestation Automation (#13350)
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

Update paths to include all files in .github directory for evals (#13351)
  eng/common/pipelines/templates/jobs/ai-eval-job.yml
Due: eng/pipelines/eng-common-sync.yml

[APIView] AuthorizationFailedException when automatic API review copies approval from previous revision
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/AutoReviewService.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix test
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[tsp-client] Misc fixes (#13078)
  tools/tsp-client/src/index.ts
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/metadata.spec.ts
  tools/tsp-client/test/utils.spec.ts
Due: none

update output-dir processing
  tools/tsp-client/src/index.ts
Due: none

[APIView] Update APIView documentation link
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Feedback
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

nit feedback
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add approver
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] AuthorizationFailedException when automatic API review copies approval from previous revision (#13354)
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/AutoReviewService.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Minor fixes
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/ProcessUtil.cs
Due: none

remove redundant instruction
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/RequirementsV1.json
Due: none
