Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Fix missing elementId and add test. (#13443)
  packages/python-packages/apiview-copilot/src/_models.py
  packages/python-packages/apiview-copilot/tests/metrics_test.py
Due: none

test class
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/class.spec.ts
Due: .azure-pipelines/apiview.yml

Add running localhost
  src/dotnet/APIView/ClientSPA/ui-tests/playwright.config.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Handle failure and add sample update note
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

Exclude logs from otel and refactor into their own extensions
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Extensions/LoggingExtensions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Extensions/McpLoggingExtensions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Extensions/OpenTelemetryExtensions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
Due: none

req update
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/RequirementsV1.json
Due: none

Use `azsdk` for mcp client logger
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/McpLogging.cs
Due: none

test class
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/class.spec.ts
Due: .azure-pipelines/apiview.yml

Allow TypeSpec project path to be a github link
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/TypeSpecHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TypeSpecHelper.cs
Due: none

[APIView] Add Playwright UI Test Suite for APIView ClientSPA (#13408)
  .gitignore
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/ui-tests/README.md
  src/dotnet/APIView/ClientSPA/ui-tests/fixtures/index.ts
  src/dotnet/APIView/ClientSPA/ui-tests/helpers/comment-helpers.ts
  src/dotnet/APIView/ClientSPA/ui-tests/mocks/api-handlers.ts
  src/dotnet/APIView/ClientSPA/ui-tests/mocks/index.ts
  src/dotnet/APIView/ClientSPA/ui-tests/page-objects/base.page.ts
  src/dotnet/APIView/ClientSPA/ui-tests/page-objects/index.ts
  src/dotnet/APIView/ClientSPA/ui-tests/page-objects/review.page.ts
  src/dotnet/APIView/ClientSPA/ui-tests/playwright.config.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/conversation-page/conversations.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/basic.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/code-panel-interaction.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/code-panel.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/comments-interaction.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/navigation-interaction.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/related-comments.spec.ts
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Ensure CLI uses App Roles.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/agent/tools/_api_review_tools.py
Due: none

Revise Scenario 7 for feature request and customization guidance
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

Add tool to parse APIView URL
  packages/python-packages/apiview-copilot/src/agent/tools/_utility_tools.py
Due: none

Add url check for IsRepoPathForSpecRepo method
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/TypeSpecHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TypeSpecHelper.cs
Due: none

Update Changelog
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

[APIView] E2E Test -> Failing pipeline
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

minor
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/RequirementsV1.json
Due: none

Respond to copilot
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TypeSpecHelper.cs
Due: none

Updates for SDK customization process
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

adjust instructions
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/RequirementsV1.json
Due: none

Update VerifySetup Instructions for Python and Pip (#13515)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/RequirementsV1.json
Due: none

[APIView] E2E Test -> Failing pipeline (#13518)
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Support optional url on tool calls.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/tools/_api_review_tools.py
  packages/python-packages/apiview-copilot/src/agent/tools/_utility_tools.py
Due: none

fix code for class generator
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/class.ts
Due: .azure-pipelines/apiview.yml

add support for declare
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/class.ts
Due: .azure-pipelines/apiview.yml

add intention
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureSDKKnowledgeAICompletion/ContextSearchResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/TypeSpec/TypsSpecContextSearchResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TypeSpecAuthoringTool.cs
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/contextSearch.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
Due: none

set local backend service
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.local.yml
Due: none

rename the script to launch teams channel
  tools/sdk-ai-bots/azure-sdk-qa-bot/package.json
Due: none

change the docker tag for dev.env
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
Due: none

add local test document
  tools/sdk-ai-bots/azure-sdk-qa-bot/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/image.png
Due: none

change config.isLocal boolean
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.testtool
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/adapter.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/teamsapp.testtool.yml
Due: none

Modified InitialTriage Rule for MCP and added a temp schedule job for non labelled issues
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/McpIssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.FakeCodeowners/McpCodeowners
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.JsonEventPayloads/McpIssueTriage_issue_opened_no_labels.json
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.JsonEventPayloads/McpIssueTriage_issue_opened_with_needs_triage.json
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Tests.JsonEventPayloads/McpIssueTriage_issue_opened_with_user_label.json
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Azure.Sdk.Tools.GitHubEventProcessor.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/ConfigConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/RulesConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/McpIssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Program.cs
Due: none

[azsdkcli] case insensitivity in Scanpath (#13505)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
Due: none

Add --readonly flag to create readonly agent despite write permissions.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
Due: none

remove support fpr declare
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/class.ts
Due: .azure-pipelines/apiview.yml

Addressing conversations
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

[APIView] Convert Diagnostics to Comments
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewUnitTests/CommentsTokenAuthControllerTests.cs
  src/dotnet/APIView/APIViewUnitTests/ReviewManagerGenerateAIReviewTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewListModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICommentsManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fixed tests
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/class.spec.ts
Due: .azure-pipelines/apiview.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
