Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Verify pull request authorization to generate APIreview using OSS man… (#4835)
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIView/APIView.csproj
  src/dotnet/APIView/APIViewIntegrationTests/APIViewIntegrationTests.csproj
  src/dotnet/APIView/APIViewUITests/APIViewUITests.csproj
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Account/PullRequestPermissionRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/PullRequestPermissionRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/IOpenSourceRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/OpenSourceRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Models/OpenSourceUserInfo.cs
  src/dotnet/APIView/APIViewWeb/Models/PullRequestModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Program.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Handle existing git info file and sparese checkout path
  eng/scripts/Create-Apiview-Token-Cadl.ps1
Due: none

Update update-pool-agent.yml for Azure Pipelines
  eng/pipelines/update-pool-agent.yml
Due: none

bump pylint version
  tools/pylint-extensions/pylint-guidelines-checker/dev_requirements.txt
Due: none

pylint guidelines checker update for distributed tracing:
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

adding test in for overloaded functions
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

CADL manual API review additional changes
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Don't change URLto lowercase
  src/dotnet/APIView/APIViewWeb/Languages/CadlLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix CADL installation
  eng/pipelines/apiview-review-gen-cadl.yml
Due: none

Pin cadl compiler version to knwon working version
  eng/pipelines/apiview-review-gen-cadl.yml
Due: none

Bump versions.
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/version.ts
Due: none

pylint guidelines
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Updates.
  tools/apiview/emitters/cadl-apiview/src/emitter.ts
  tools/apiview/emitters/cadl-apiview/src/lib.ts
  tools/apiview/emitters/cadl-apiview/test/apiview.test.ts
  tools/apiview/emitters/cadl-apiview/test/test-host.ts
Due: none

Update tools/apiview/emitters/cadl-apiview/test/test-host.ts
  tools/apiview/emitters/cadl-apiview/test/test-host.ts
Due: none

WIP: Support language+service input file
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/LanguageServiceInput.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/LanguageServiceTestInfo.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Due: none

Fix ApiView-Helpers grammar issue (#4813)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

update
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerTokenSerializer.cs
Due: none

Fix: Don't expand array reference in definition and AlwaysMultiline support for JsonSerializer (#4794)
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewOperation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewParameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewPaths.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewResponse.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewSpec.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SwaggerTypes.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerTokenSerializer.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/TokenSerializer.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/SwaggerAPIViewTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/fixtures/azureopenai.json
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/fixtures/personalizer.json
Due: none

CADL manual API review additional changes (#4921)
  eng/pipelines/apiview-review-gen-cadl.yml
  eng/scripts/Create-Apiview-Token-Cadl.ps1
  src/dotnet/APIView/APIViewWeb/Languages/CadlLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

ignore internal files for distributed tracing
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

fixing path parsing
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

updating list split
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Handle git remote format
  tools/test-proxy/scripts/transition-scripts/generate-assets-json.ps1
Due: none

temporarily disable most of the test-proxy standalone executable phase. this is to skip the expansive signing while I test the release post itself
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
  tools/test-proxy/ci.yml
Due: none

Update tools/test-proxy/scripts/transition-scripts/generate-assets-json.ps1
  tools/test-proxy/scripts/transition-scripts/generate-assets-json.ps1
Due: none

[Asset sync] Handle additional git remote format (#4929)
  tools/test-proxy/scripts/transition-scripts/generate-assets-json.ps1
Due: none

add pool definition, and add job clause
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

clarify a ternary
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
  tools/test-proxy/ci.yml
Due: none

Add scalar support.
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/namespace-model.ts
  tools/apiview/emitters/cadl-apiview/src/navigation.ts
  tools/apiview/emitters/cadl-apiview/test/apiview.test.ts
Due: none
