Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi, packages/python-packages/api-stub-generator, packages/python-packages/protocol-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

allow dynamic tag setting
  eng/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  tools/asset-sync/ci.yml
Due: none

fix
  tools/sdk-generation-pipeline/Dockerfile
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/integration/integrationTest.ts
Due: none

Update ci.yml for Azure Pipelines
  tools/sdk-generation-pipeline/ci.yml
Due: none

fix
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/test/integration/integrationTest.ts
Due: none

fix
  tools/sdk-generation-pipeline/ci.yml
Due: none

fix: type render in query/path/header
  tools/mock-service-host/src/mid/responser.ts
  tools/mock-service-host/test/testData/payloads/valid_input_create.json
  tools/mock-service-host/test/testData/swaggers/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimusers.json
  tools/mock-service-host/test/testData/swaggers/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/examples/ApiManagementCreateUserBasic.json
Due: none

upgrade package version
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
Due: none

revert back ajv version
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
Due: none

upgrade package version (#3284)
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
Due: none

fix: mock problem for x-ms-secret
  tools/mock-service-host/src/mid/oav/swaggerMocker.ts
  tools/mock-service-host/src/mid/responser.ts
  tools/mock-service-host/test/testData/payloads/valid_input_create.json
  tools/mock-service-host/test/testData/swaggers/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimanagement.json
  tools/mock-service-host/test/unittest/testMock.ts
Due: none

check whether resultfile exist
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/generateResult.ts
Due: none

bugfix: fix wrong parameter name: taskname -> taskName
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
Due: none

[feature] add result publish utils and cli
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/lib/processGenerateAndBuildOutput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/publishLogCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/publishResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/utils/AzureBlobClient.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/generateResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/index.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/publishResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/codeGeneration.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/commonType.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/index.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/publishResultConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskInputAndOuputSchemaTypes/GenerateAndBuildInputSchema.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/blob/AzureBlobClient.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/blob/index.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/db/codeGenerationDao.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/db/codeGenerationDaoImpl.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/db/index.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/db/taskResultDao.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/db/taskResultDaoImpl.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/eventhub/EventHubProducer.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/eventhub/index.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/index.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/metric/MonitorClient.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/metric/index.ts
Due: none

change source code/log/result/artifacts blob path splite sendDB and upload Sourcecode And Artifact funs
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/lib/processGenerateAndBuildOutput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/publishLogCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/publishResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/publishResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/index.ts
Due: none

remove unused parameter that doesn't make sense.
  eng/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  tools/asset-sync/ci.yml
Due: none

[Python APIView] Support @dataclass (#3144)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/__init__.py
  packages/python-packages/api-stub-generator/apistub/nodes/_annotation_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_astroid_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_data_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_pylint_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_variable_node.py
  packages/python-packages/api-stub-generator/apistubgen.py
  packages/python-packages/api-stub-generator/ci.yml
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/api-stub-generator/tests/dataclass_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_dataclasses.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

refactoring publish functions add jest for test framework and db testcase
  tools/sdk-generation-pipeline/.gitignore
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/jest.config.js
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/artifactUploaderCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/artifactUploaderConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/generateResultCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/getStepsToRunCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/publishLogCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/resultPublisherConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/runGenerateAndBuildTaskCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/runInitTaskCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/runLiveTestTaskCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/runMockTestTaskCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/getRepoNameCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/getTasksToRunCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/lib/processGenerateAndBuildOutput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/lib/processLiveTestOutput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/lib/processMockTestOutput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/publishLogCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/publishResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/resultPublisherCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/runGenerateAndBuildTaskCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/runInitTaskCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/runLiveTestTaskCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/runMockTestTaskCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/tsconfig.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/jest.config.js
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/generateResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/publishResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/commonType.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskBasicConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskInputAndOuputSchemaTypes/GenerateResultInput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskInputAndOuputSchemaTypes/GenerateResultInputSchema.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/utils/db/codeGenerationDaoImpl.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/test/unit/codeGenerationDao.test.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/tsconfig.json
Due: none

[pylint] Update readme, and pylint version to reflect new checkers (#3207)
  tools/pylint-extensions/pylint-guidelines-checker/README.md
  tools/pylint-extensions/pylint-guidelines-checker/dev_requirements.txt
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

partially refactor assets.Tests.ps1 to remove extraneous useless code lines. adding initial test cases for resetting from different states.
  tools/asset-sync/assets.Tests.Helpers.ps1
  tools/asset-sync/assets.Tests.ps1
  tools/asset-sync/assets.ps1
Due: none

Add docs for custom docker build commands
  tools/stress-cluster/chaos/README.md
Due: none

read mock test result from file
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/generateResultCliConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
Due: none

Fix mock-service-host (#3277)
  tools/mock-service-host/src/mid/oav/swaggerMocker.ts
  tools/mock-service-host/src/mid/responser.ts
  tools/mock-service-host/test/testData/payloads/valid_input_create.json
  tools/mock-service-host/test/testData/swaggers/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimanagement.json
  tools/mock-service-host/test/testData/swaggers/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/apimusers.json
  tools/mock-service-host/test/testData/swaggers/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-01-01/examples/ApiManagementCreateUserBasic.json
  tools/mock-service-host/test/unittest/testMock.ts
Due: none

fix: infinite loop for pager operation without response check in scenario test
  tools/sdk-testgen/packages/autorest.gotest/src/template/sampleContent.go.njk
  tools/sdk-testgen/packages/autorest.gotest/src/template/scenarioContent.go.njk
Due: none

use azsdk-pool-mms-ubuntu-2004-general
  tools/sdk-generation-pipeline/ci.yml
Due: none

sdk automation branch cleanup
  .github/CODEOWNERS
  tools/sdk-automation-branch-cleanup/package.json
  tools/sdk-automation-branch-cleanup/sdk-automation-branch-cleanup.yml
  tools/sdk-automation-branch-cleanup/src/cleanupBranch.ts
  tools/sdk-automation-branch-cleanup/tsconfig.json
Due: none

Remove service name sync at startup
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add eventhub cli
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cliSchema/resultPublisherConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/resultPublisherCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/publishResult.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/commonType.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/events.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/index.ts
Due: none

Handle startup exceptions and add it to telemetry (#3264)
  src/dotnet/APIView/APIViewWeb/HostedServices/PullRequestBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

bugfix: artifacts is optional in GenerateAndBuildOutput, skip upload when it's undefined
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/publishResult.ts
Due: none

Support default values in willSet/didSet block expressions.
  src/swift/SwiftAPIViewCore/Sources/Models/Declarations/VariableModel.swift
  src/swift/SwiftAPIViewTests/Sources/PropertiesTestFile.swift
  src/swift/SwiftAPIViewTests/SwiftAPIViewTests.xcodeproj/project.pbxproj
Due: .azure-pipelines/apiview.yml

Ignore compiler control statements.
  src/swift/SwiftAPIViewCore/Sources/Models/PackageModel.swift
Due: .azure-pipelines/apiview.yml

[Swift APIView] Support default values in willSet/didSet block expressions (#3302)
  src/swift/SwiftAPIViewCore/Sources/Models/Declarations/VariableModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/PackageModel.swift
  src/swift/SwiftAPIViewTests/Sources/PropertiesTestFile.swift
  src/swift/SwiftAPIViewTests/SwiftAPIViewTests.xcodeproj/project.pbxproj
Due: .azure-pipelines/apiview.yml

Disable api bot comment when change is present
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Skip API check for PRs in DRAFT status
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix issues raised by component governance
  tools/mock-service-host/package.json
Due: none

Skip API change detect for PR in DRAFT state
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix issues raised by component governance (#3270)
  tools/mock-service-host/package.json
Due: none

fix: wrong path/head/query type parser
  tools/mock-service-host/src/mid/responser.ts
Due: none

[bugfix] docker task result may not contain mocktest result now
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/generateResultCli.ts
Due: none

feat: use example value instead of placeholder of string value
  tools/sdk-testgen/packages/autorest.gotest/src/generator/exampleGenerator.ts
Due: none
