Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2019-general
        vmImage: MMS2019
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Fix issue with async IDs.
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/api-stub-generator/tests/function_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Due: eng/pipelines/templates/stages/apiview-python-ci.yml

Include NullableResponse<T> as an accepted response type
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0015Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AzureAnalyzerTest.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AzureAnalyzerVerifier.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Add parameter "OperatingSystems" to perf pipeline
  tools/perf-automation/tests.yml
Due: none

perf test
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Remove translation from resource cleanup (#4502)
  eng/pipelines/live-test-cleanup.yml
Due: none

[Perf] Add parameter "OperatingSystems" to pipeline (#4515)
  tools/perf-automation/tests.yml
Due: none

add sync
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Move arguments under common test names
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

[Perf] Add more arguments for Python EventHubs (#4513)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Fix CI and use mkdirp from program.host
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/emitter.ts
  tools/apiview/emitters/cadl-apiview/src/lib.ts
Due: none

Update docs with emitter options.
  tools/apiview/emitters/cadl-apiview/README.md
Due: none

Bump version to 0.2.0
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/version.ts
Due: none

Cadl APIView tweaks for Stewardship board (#4479)
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/emitter.ts
  tools/apiview/emitters/cadl-apiview/src/lib.ts
  tools/apiview/emitters/cadl-apiview/src/namespace-model.ts
  tools/apiview/emitters/cadl-apiview/src/navigation.ts
  tools/apiview/emitters/cadl-apiview/src/version.ts
  tools/apiview/emitters/cadl-apiview/test/apiview.test.ts
Due: none

[Python APIView] Bug fixes (#4509)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/tests/apiview_test.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/api-stub-generator/tests/function_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Due: eng/pipelines/templates/stages/apiview-python-ci.yml

Update CHANGELOG.md
  packages/python-packages/api-stub-generator/CHANGELOG.md
Due: eng/pipelines/templates/stages/apiview-python-ci.yml

Revert "Remove translation from resource cleanup (#4502)"
  eng/pipelines/live-test-cleanup.yml
Due: none

[stress testing] Fix fileshare aka link (#4476)
  tools/stress-cluster/chaos/README.md
Due: none

Update CHANGELOG.md (#4520)
  packages/python-packages/api-stub-generator/CHANGELOG.md
Due: eng/pipelines/templates/stages/apiview-python-ci.yml

Update PythonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use ubuntu 20 pool for live test cleanup pipeline
  eng/pipelines/live-test-cleanup.yml
Due: none

[stress testing] Improve scenario matrix edge case handling (#4504)
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/eng-common-sync.yml

Updating Asset-Sync Readme for "Day-To-Day" dev (#4458)
  eng/pipelines/githubio-linkcheck-ignore-links.txt
  tools/test-proxy/documentation/_images/example_assets_store.png
  tools/test-proxy/documentation/_images/organization_of_assets.png
  tools/test-proxy/documentation/asset-sync/README.md
  tools/test-proxy/scripts/transition-scripts/generate-assets-json.ps1
Due: none

generate a branch name each time. this will allow successful pushing without clashing on branch (#4490)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Asset-Sync only ever retrieves a single tag at a time (#4491)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Use ubuntu 20 pool for live test cleanup pipeline (#4522)
  eng/pipelines/live-test-cleanup.yml
Due: none

[stress testing] Use job watch for resource group deletion triggers
  tools/stress-cluster/services/Stress.Watcher/src/JobEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/PodEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/Program.cs
  tools/stress-cluster/services/Stress.Watcher/tests/JobEventHandlerTest.cs
  tools/stress-cluster/services/Stress.Watcher/tests/PodEventHandlerTest.cs
Due: none

bump version to newest
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

Add more older versions of Python EventHub
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

add issue type labeled/unlabeled
  .github/workflows/needs-triage.yml
Due: none

Skip Test Compile in Java Performance Tests
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
Due: none

Remove spaces
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
Due: none

Revert "Remove translation from resource cleanup (#4502)" (#4521)
  eng/pipelines/live-test-cleanup.yml
Due: none

Suppress unwanted base class methods.
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
Due: eng/pipelines/templates/stages/apiview-python-ci.yml

Suppress unwanted base class methods. (#4540)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
Due: eng/pipelines/templates/stages/apiview-python-ci.yml

Bump Test-Proxy Version (#4527)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

Allow rendering un-projected Cadl.
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/emitter.ts
  tools/apiview/emitters/cadl-apiview/src/version.ts
Due: none

Expand resource deletion log statements
  tools/stress-cluster/services/Stress.Watcher/src/JobEventHandler.cs
Due: none

stress test addons version check
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  tools/stress-cluster/chaos/README.md
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
