Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

cleanup
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Due: eng/pipelines/eng-common-sync.yml

stress test addons version check (#4543)
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  tools/stress-cluster/chaos/README.md
Due: eng/pipelines/eng-common-sync.yml

git command fix always create sdk PR
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/utils/GitOperationWrapper.ts
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
Due: none

Allow rendering un-projected Cadl. (#4542)
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/emitter.ts
  tools/apiview/emitters/cadl-apiview/src/version.ts
Due: none

Increase process sync warmup to 30s
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

[Perf] Add more older versions of Python EventHub (#4549)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Test more parallelism in list-blobs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Add snippet updater
  scripts/python/update_snippet/README.md
  scripts/python/update_snippet/README_missing_snippet.md
  scripts/python/update_snippet/README_out_of_sync.md
  scripts/python/update_snippet/python_snippet_updater.py
  scripts/python/update_snippet/test_example_async.py
  scripts/python/update_snippet/test_python_snippet_updater.py
Due: none

updates
  scripts/python/update_snippet/example_async.py
  scripts/python/update_snippet/test_python_snippet_updater.py
Due: none

update
  scripts/python/update_snippet/README.md
  scripts/python/update_snippet/README_missing_snippet.md
  scripts/python/update_snippet/README_out_of_sync.md
Due: none

More arguments
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Stress deployment namespace bug fix
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/eng-common-sync.yml

add changelog
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
Due: none

Update Java.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
Due: none

Increase Java Perf Pipeline Build Parallelization (#4531)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Java.cs
Due: none

Dump out correlation id without verbose logging for resource deployment (#4532)
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

Add Get-TestSecrets.ps1 for getting cloud config
  eng/common/TestResources/Get-TestSecrets.ps1
  eng/common/TestResources/Get-TestSecrets.ps1.md
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/README.md
Due: eng/pipelines/eng-common-sync.yml

allow multiple leading / on path
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Add Azure.Core.Expressions to allowed public types list
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

[stress testing] Use job watch for resource group deletion triggers (#4524)
  tools/stress-cluster/services/Stress.Watcher/src/JobEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/PodEventHandler.cs
  tools/stress-cluster/services/Stress.Watcher/src/Program.cs
  tools/stress-cluster/services/Stress.Watcher/tests/JobEventHandlerTest.cs
  tools/stress-cluster/services/Stress.Watcher/tests/PodEventHandlerTest.cs
Due: none

add a long comment explaining the throught process of the simple string concatenation
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Add Azure.Core.Expressions to allowed public types list (#4572)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

properly create the upstream uri
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
Due: none

Allow multiple leading / on path (#4570)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

target new version
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

Fix contains method in stress generate function
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
Due: eng/pipelines/eng-common-sync.yml

Update stress examples to addons 0.2.0. Script QOL fixes.
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/scenarios-matrix.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/poll.sh
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/scenarios-matrix.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/values.yaml
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-debug-share-example/scenarios-matrix.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/scenarios-matrix.yaml
Due: eng/pipelines/eng-common-sync.yml

Skip CI print for stress matrix. Minor improvements.
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix non-matching Chart.yaml files being evaluated too soon
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix script for starting local app in background
  .azure-pipelines/apiview.yml
  eng/scripts/Start-DotNetApp.ps1
  eng/scripts/Start-LocalHostApp.ps1
Due: .azure-pipelines/apiview.yml

Fix script for starting local app in background (#4577)
  .azure-pipelines/apiview.yml
  eng/scripts/Start-DotNetApp.ps1
  eng/scripts/Start-LocalHostApp.ps1
Due: .azure-pipelines/apiview.yml

upgrade to node 16 update to latest rush
  tools/sdk-generation-pipeline/.gitattributes
  tools/sdk-generation-pipeline/.github/workflows/ci.yml
  tools/sdk-generation-pipeline/.gitignore
  tools/sdk-generation-pipeline/Dockerfile
  tools/sdk-generation-pipeline/ci.yml
  tools/sdk-generation-pipeline/common/config/rush/artifactory.json
  tools/sdk-generation-pipeline/common/config/rush/build-cache.json
  tools/sdk-generation-pipeline/common/config/rush/command-line.json
  tools/sdk-generation-pipeline/common/config/rush/experiments.json
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/common/config/rush/rush-plugins.json
  tools/sdk-generation-pipeline/common/scripts/install-run-rush.js
  tools/sdk-generation-pipeline/common/scripts/install-run-rushx.js
  tools/sdk-generation-pipeline/common/scripts/install-run.js
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/DockerTaskEngineContext.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/tasks/GenerateAndBuildTask.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
  tools/sdk-generation-pipeline/rush.json
Due: none

enforce linux style typing
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/BreadcrumbTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationPushTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/NormalizedString.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/AssetsConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitAssetsConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStoreBreadcrumb.cs
Due: none

add operators
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/NormalizedString.cs
Due: none

finish adjusting tests for the enforced linux pathing
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/BreadcrumbTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitAssetsConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Fix APIvIew pipeline test failure
  .azure-pipelines/apiview.yml
Due: .azure-pipelines/apiview.yml
