Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

[Don't review] - Test
  tools/assets-automation/ci.yml
Due: none

CI Test
  tools/assets-automation/ci.yml
Due: none

CI Test - Please ignore
  src/dotnet/Azure.ClientSdk.Analyzers/ci.yml
Due: .azure-pipelines/dotnet.yml

CI Test - Please ignore
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

CI Test - Please ignore
  tools/sdk-testgen/ci.yml
Due: none

add ShouldPublishSymbols param to pipeline (#6384)
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  tools/net-changelog-gen-mgmt/ci.yml
Due: none

Update to add command line parsing for storage and other feedback
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/Constants/DefaultStorageConstants.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/Constants/StorageConstants.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubEventClient.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubTeamUserStore.csproj
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/Program.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/TeamUserGenerator.cs
  tools/github-team-user-store/README.md
Due: none

Update API view parser version for Java
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

remove unnecessary functions
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update kusto schema to match production (#6383)
  tools/pipeline-witness/infrastructure/kusto/Merge-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionBuildX.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildLogLine.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildTimelineRecord.kql
Due: none

Remove unnecessary folder that was added and not used
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubTeamUserStore.csproj
Due: none

auto refresh comment add
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add branch merging support to our mirror pipeline
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/pipelines/agent-pool-migration.yml
  eng/pipelines/mirror-repos.yml
  eng/pipelines/templates/steps/sync-repo-merge-branch.yml
  eng/scripts/Merge-Branch.ps1
Due: eng/pipelines/eng-common-sync.yml

Update API view parser version for Java (#6391)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add branch merging support to our mirror pipeline (#6392)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/pipelines/agent-pool-migration.yml
  eng/pipelines/mirror-repos.yml
  eng/pipelines/templates/steps/sync-repo-merge-branch.yml
  eng/scripts/Merge-Branch.ps1
Due: eng/pipelines/eng-common-sync.yml

Use gh cli to create pull request for branch mirroring
  eng/pipelines/templates/steps/sync-repo-merge-branch.yml
Due: none

Use gh cli to create pull request for branch mirroring (#6398)
  eng/pipelines/templates/steps/sync-repo-merge-branch.yml
Due: none

add comment autorefresh feature
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

remove unnecessary code
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add comment auto refresh feature to APIView
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/DTO/CommentDto.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

vararg bug fix
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Pass in storage URI on command line, use BlobUriBuilder to parse the pieces
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/Constants/DefaultStorageConstants.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubEventClient.cs
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/Program.cs
Due: none

Create the BlobUriBuilder as part of the GitHubEventClient and store that instead of the URI string
  tools/github-team-user-store/GitHubTeamUserStore/GitHubTeamUserStore/GitHubEventClient.cs
Due: none

remove comment DTO
  src/dotnet/APIView/APIViewWeb/DTO/CommentDto.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

if it is a @property dont require :returns:
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

add another test
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

docstring to tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

add comment autorefresh feature to APIView
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Hubs/NotificationHub.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentPartialViewResultModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add comment autorefresh feature to APIView
  eng/pipelines/templates/steps/sync-repo-merge-branch.yml
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Hubs/NotificationHub.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentPartialViewResultModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update comments
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

update version
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
Due: none

minor fixes
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Various refactors to swagger parser
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Info.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Swagger.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/XML.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewGeneral.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewGlobalParamerters.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewOperation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewParameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewResponse.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewRoot.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewSpec.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerDeserializer.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/SchemaCacheTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/SwaggerAPIViewGeneratorTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/SwaggerAPIViewOperationTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/SwaggerAPIViewTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/TokenSerializerTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/UtilsTest.cs
Due: none

Initial Updates to Swagger Parser Specs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/ApiPath.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Contact.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Definition.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Extension.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/ExternalDocs.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/IBaseReference.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Info.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/License.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Operation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Parameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Reference.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Response.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Schema.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/SchemaCache.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Security.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Swagger.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/SwaggerTypes.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/XML.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/XMsParameterizedHost.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser - Backup.csproj
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/SwaggerApiParserTest.csproj
Due: none

Add SerializePatterenedObjectsCreatesTokensFromDiffPropertyType Test
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Schema.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/UtilsTest.cs
Due: none

Fix swagger tests
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Converters/JsonConverters.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Extension.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Header.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Items.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Schema.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/SchemaCache.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Security.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/XMsParameterizedHost.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser - Backup.csproj
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewResponse.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/swagger.json
Due: none

Updates to parser
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Converters/JsonConverters.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/ReadmeParser.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Items.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Schema.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/SchemaCache.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Security.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewDefinitions.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewGeneral.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewOperation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewParameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/ApiPath.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Definition.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Extension.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/ExternalDocs.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Info.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Operation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Parameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Response.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SchemaCache.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Security.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SwaggerSpec.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SwaggerTypes.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/XMsParameterizedHost.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/TokenSerializer.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/swagger.json
Due: none

All tests passing
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Contact.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/ExternalDocs.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Info.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Items.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/License.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Schema.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Swagger.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewDefinitions.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewGeneral.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/TokenSerializer.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/UtilsTest.cs
Due: none

Add Extension Objects
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/ApiPath.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Operation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/Response.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Specs/XML.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
Due: none
