Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

feat: add PromptWorkflowEvaluator and some related subclasses
  packages/python-packages/apiview-copilot/evals/_custom.py
  packages/python-packages/apiview-copilot/evals/tests/python/reviews.jsonl
Due: none

feat: all evaluators take a workflow config for usage simplicity. This may be null
  packages/python-packages/apiview-copilot/evals/_runner.py
Due: none

fix: changed test names from reviews.jsonl to apiview.jsonl
  packages/python-packages/apiview-copilot/evals/tests/python/apiview.jsonl
Due: none

Added thread resolution action workflow and modified apiview yaml to point to new testcase path
  packages/python-packages/apiview-copilot/evals/workflows/apiview.yaml
  packages/python-packages/apiview-copilot/evals/workflows/thread-resolution-action.yaml
Due: none

Added thread resolution action tests
  packages/python-packages/apiview-copilot/evals/tests/python/mention-action.jsonl
  packages/python-packages/apiview-copilot/evals/tests/python/reviews.jsonl
  packages/python-packages/apiview-copilot/evals/tests/python/thread-resolution-action.jsonl
Due: none

Changed default argument documentation for number of runs to 1
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

Edited config loader top level documentaiton
  packages/python-packages/apiview-copilot/evals/_config_loader.py
Due: none

feat: workflow name now tied to a test type and their test cases. Kind is either prompt or apiview
  packages/python-packages/apiview-copilot/evals/_config_loader.py
Due: none

refactored custom_eval to evaluator
  packages/python-packages/apiview-copilot/evals/_runner.py
Due: none

Specified type for evaluators registry
  packages/python-packages/apiview-copilot/evals/_custom.py
Due: none

Include comparison fields as part of evaluation configuration in workflow YAML files
  packages/python-packages/apiview-copilot/evals/workflows/mention-action.yaml
  packages/python-packages/apiview-copilot/evals/workflows/thread-resolution-action.yaml
Due: none

feat: reusable target functions for prompt workflows
  packages/python-packages/apiview-copilot/evals/_custom.py
Due: none

Consolidate logic onto promptworkflowevaluator class
  packages/python-packages/apiview-copilot/evals/_config_loader.py
  packages/python-packages/apiview-copilot/evals/_custom.py
  packages/python-packages/apiview-copilot/evals/_runner.py
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

add contributing doc for azsdk-cli
  tools/azsdk-cli/CONTRIBUTING.md
Due: none

contributing
  tools/azsdk-cli/CONTRIBUTING.md
Due: none

[ApiView] Fix copilot required for approval - regression (#12245)
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Apply suggestions from code review
  tools/azsdk-cli/CONTRIBUTING.md
Due: none

update packageType in creation
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewListModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove API Lifecycle prompt from release plan creation instructions (#12238)
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Due: eng/pipelines/eng-common-sync.yml

[azsdkcli] Add update snippets check for JS (#12241)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/JavaScriptLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageSpecificChecks.cs
Due: none

Moved evaluation configuration to concrete classes; EVALUATORS registry to config loader; usage in _custom.py
  packages/python-packages/apiview-copilot/evals/_config_loader.py
  packages/python-packages/apiview-copilot/evals/_custom.py
  packages/python-packages/apiview-copilot/evals/_runner.py
Due: none

Set different condition for csharp-api-parser-release (#12244)
  tools/apiview/parsers/csharp-api-parser/ci.yml
Due: none

[azsdk-cli] Log output from mcp installer script as json-rpc
  eng/common/mcp/azure-sdk-mcp.ps1
Due: eng/pipelines/eng-common-sync.yml

add new endpoint to update packageType
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

cleanup
  src/java/apiview-java-processor/readme.md
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/maven/Pom.java
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/ClientUpdate/JavaUpdateLanguageServiceDiffIntegrationTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/ClientUpdate/JavaUpdateLanguageServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestAssets/JavaApiDiff/new/Foo.java
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestAssets/JavaApiDiff/old/Foo.java
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestAssets/JavaMethodIndexDiff/new/sample.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestAssets/JavaMethodIndexDiff/old/sample.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaApiDiffJarBuilder.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaApiViewMethodIndexLoader.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaUpdateLanguageService.cs
Due: .azure-pipelines/apiview.yml

add front-end call in load review
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Set pr creator to empty when it's bot (#12222)
  eng/common/scripts/Submit-PullRequest.ps1
Due: eng/pipelines/eng-common-sync.yml

Update .NET API parser version to fix duplicate line ids problem
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[AVC] Add correlation IDs (#12216)
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/prompts/api_review/correlation_ids_schema.json
  packages/python-packages/apiview-copilot/prompts/api_review/generate_correlation_ids.prompty
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_comment_grouper.py
  packages/python-packages/apiview-copilot/src/_models.py
  packages/python-packages/apiview-copilot/src/_prompt_runner.py
Due: none

nit fixes
  tools/ai-evals/azsdk-mcp/Evaluators/ExpectedToolInputEvaluator.cs
Due: none

Improve context markdown.
  packages/python-packages/apiview-copilot/prompts/api_review/context_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/context_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_generic_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/guidelines_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/guidelines_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/merge_comments.prompty
  packages/python-packages/apiview-copilot/src/_search_manager.py
Due: none

Add confidence_score prompt.
  packages/python-packages/apiview-copilot/prompts/api_review/comment_result_schema.json
  packages/python-packages/apiview-copilot/prompts/api_review/generic_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_confidence.prompty
  packages/python-packages/apiview-copilot/src/_models.py
Due: none

Wire up logic for confidence scores. Update TypeSpec.
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_confidence.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_schema.json
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_search_manager.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

Update .NET API parser version to fix duplicate line ids problem (#12255)
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Refine spector tests processor (#12248)
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/SpectorCaseProcessor.ts
Due: none

prompt
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/ValidationPrompts.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
Due: none

Add logic for severity.
  packages/python-packages/apiview-copilot/prompts/api_review/comment_result_schema.json
  packages/python-packages/apiview-copilot/prompts/api_review/filter_generic_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_confidence.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_schema.json
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_models.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

Add judge debug logging.
  packages/python-packages/apiview-copilot/scratch/apiviews/python/keyvault_secrets_4.11.0b1.txt
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
Due: none

Update eval reviews to use guideline_ids over rule_ids
  packages/python-packages/apiview-copilot/evals/tests/python/reviews.jsonl
Due: none

Add DevOps logging support for invoke helper (#12235)
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
