Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

eng/pipelines/validate-instructions-azsdk-references.yml:
  pool:
    name: $(LINUXPOOL)
    demands: ImageOverride -equals $(LINUXVMIMAGE)
  jobs:
  - job: VerifyMcpToolReferences
    displayName: Verify MCP Tool References
    steps:
    - checkout: self
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        version: 8.0.x
    - task: UseDotNet@2
  ...

Make link instead of button.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
  src/dotnet/APIView/ClientSPA/src/assets/config.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revert link.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
  src/dotnet/APIView/ClientSPA/src/assets/config.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revert link.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/config/config.service.ts
  src/dotnet/APIView/ClientSPA/src/assets/config.json
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback
  src/dotnet/APIView/apiview-ux.yml
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/test-results.browser.xml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback
  src/dotnet/APIView/apiview-ux.yml
  tools/tsp-client/.gitignore
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Gitignore tsp-client test file.
  .gitignore
Due: none

address comments
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageService.cs
Due: none

Update CSharpAPIParserVersion to 1.0.0-dev.20260223.3
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update C# version string to 29.91
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update apiview.yml
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/CustomizedCodeUpdateToolTests.cs
Due: none

Update CurrentVersion to 29.91
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: none

Override PATHEXT in azsdk cli run time when running commands
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Process/Options/ProcessOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Process/ProcessHelperBase.cs
Due: none

Move to new 1ES pool
  .github/workflows/post-apiview.yml
Due: eng/pipelines/eng-workflows-sync.yml

create new no direct logging guideline
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_use_logging_directly.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Add debugging.
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Support target branch fast deletion
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
Due: eng/pipelines/eng-common-sync.yml

Redesign email template
  src/dotnet/APIView/APIViewUnitTests/EmailTemplatePreviewGeneratorTests.cs
  src/dotnet/APIView/APIViewWeb/EmailTemplates/CommentTagEmail.cshtml
  src/dotnet/APIView/APIViewWeb/EmailTemplates/NamespaceReviewApprovedEmail.cshtml
  src/dotnet/APIView/APIViewWeb/EmailTemplates/NamespaceReviewRequestEmail.cshtml
  src/dotnet/APIView/APIViewWeb/EmailTemplates/NewRevisionEmail.cshtml
  src/dotnet/APIView/APIViewWeb/EmailTemplates/ReviewerAssignedEmail.cshtml
  src/dotnet/APIView/APIViewWeb/EmailTemplates/SubscriberCommentEmail.cshtml
  src/dotnet/APIView/APIViewWeb/EmailTemplates/_EmailLayout.cshtml
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Models/EmailTemplateModels.cs
  src/dotnet/APIView/APIViewWeb/Services/EmailTemplateService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revert logging.
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Initial implementation for quality score metric.
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewQualityScoreModel.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add review quality display.
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/reviewQualityScore.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Allow admins to delete or change severity on any comment.
  src/dotnet/APIView/APIViewWeb/Account/CommentOwnerRequirementHandler.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Allow creation of APIView issue via comment dropdown.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/assets/images/apiview-original.svg
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Ensure Approve cannot be selected if unresolved MUST FIX comments exist.
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  src/dotnet/APIView/APIViewWeb/Account/CommentOwnerRequirementHandler.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Sync conversations and code panel. Allow severity edit on conversations panel. Disallow replies from changing "resolve" behavior.
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/test-results.browser.xml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Code review feedback.
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_dtos/commentThreadUpdateDto.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix conversation badge counts.
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Only display quality score if user is admin.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Suggestions should have no penalty.
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewQualityScoreModel.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update comment filtering.
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CommentVisibilityHelper.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewQualityScoreModel.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/comment-visibility.helper.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/comment-visibility.helper.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/reviewQualityScore.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revert redundant badge fix (10b962ca1)
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tests.
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tests.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Added 'HTTP' to match string
  eng/common/scripts/Delete-RemoteBranches.ps1
Due: eng/pipelines/eng-common-sync.yml

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Fix path comparison issues with windows tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestHelpers/TempDirectory.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/NormalizedPath.cs
Due: none

Address review comments. Fix golang azidentity/cache discovery issue
  eng/scripts/package-info-parity-test.ps1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/Go/GoLanguageServicesTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/Go/GoLanguageServicesToolingTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/NormalizedPath.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageService.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml
