Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

update
  packages/python-packages/apiview-gpt/app.py
Due: none

Update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0002Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Due: .azure-pipelines/dotnet.yml

Update
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0002Tests.cs
Due: .azure-pipelines/dotnet.yml

Create Epic work item type as Service or product when running prepare release script
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

flask support for python reviewer (#6772)
  packages/python-packages/apiview-gpt/app.py
  packages/python-packages/apiview-gpt/dev_requirements.txt
  packages/python-packages/apiview-gpt/src/__init__.py
  packages/python-packages/apiview-gpt/src/_python_api.py
Due: none

Updated epic type field name
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Minor tweaks
  src/dotnet/APIView/APIViewWeb/Controllers/CopilotCommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CopilotCommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ICopilotCommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Models/CopilotCommentModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CopilotCommentsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ICopilotCommentsRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove unused code
  src/dotnet/APIView/APIViewWeb/Controllers/CopilotCommentsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add default search limit
  src/dotnet/APIView/APIViewWeb/Controllers/CopilotCommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CopilotCommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add soft delete filter to search and make names more descriptive
  src/dotnet/APIView/APIViewWeb/Controllers/CopilotCommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CopilotCommentModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CopilotCommentsRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Robot.txt file
  src/dotnet/APIView/APIViewWeb/wwwroot/robots.txt
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Surface error in UI when revisonId is invalid
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Additional change to create release plan work item
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Add query_service.py script to easily query the proxy service instead of calling OpenAI directly.
  packages/python-packages/apiview-gpt/query_service.py
Due: none

Exclude work items created from release planner test
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix issue in params
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Add trailing newline
  src/dotnet/APIView/APIViewWeb/wwwroot/robots.txt
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Resolve Errors in APIView (#6794)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/robots.txt
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updated as per review comments
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Add query_service.py script to easily query the proxy service instead of calling OpenAI directly. (#6798)
  packages/python-packages/apiview-gpt/query_service.py
Due: none

remove loadenv
  packages/python-packages/apiview-gpt/requirements.txt
  packages/python-packages/apiview-gpt/src/_gpt_reviewer.py
Due: none

Fix admin logging
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Due: none

commit assert fix for multiplat
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
Due: none

all \r\n -> Environment.NewLine in AssertLogs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
Due: none

Fix admin logging (#6812)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Due: none

Add Cognitive Search
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Managers/CopilotCommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Models/CopilotCommentModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CopilotCommentsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ICopilotCommentsRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Everything is fixed :D
  src/dotnet/APIView/APIViewWeb/Managers/CopilotCommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix everything
  src/dotnet/APIView/APIViewWeb/Controllers/CopilotCommentsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Everything is NOW fixed
  src/dotnet/APIView/APIViewWeb/Controllers/CopilotCommentsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Copilot comments search (#6786)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Controllers/CopilotCommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CopilotCommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ICopilotCommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Models/CopilotCommentModel.cs
  src/dotnet/APIView/APIViewWeb/Models/CopilotSearchModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CopilotCommentsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ICopilotCommentsRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use emitter-package-lock.json
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/eng-common-sync.yml

Revert "Update Exception Logging (#6671)"
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Due: none

Remove unnecessary output text
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Due: eng/pipelines/eng-common-sync.yml

Upgrade the autorest core version
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/hlc/generateMgmt.ts
  tools/js-sdk-release-tools/src/llc/generateRLCInPipeline/generateRLCInPipeline.ts
Due: none

update proxy version to one with fixed logging (#6817)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

Enable ManualIssueTriage for azure-sdk-tools
  .github/event-processor.config
Due: none

Enable ManualIssueTriage for azure-sdk-tools (#6835)
  .github/event-processor.config
Due: none

add java link
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Due: none

[TestProxy] Update Java documentation link (#6836)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Due: none
