Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

[DO NOT MERGE] testing service tag gh actions
  .github/workflows/ping.yml
Due: none

Try tsp client test change
  .github/workflows/tsp-client-tests.yml
Due: none

Add commit for testing
  .github/workflows/tsp-client-tests.yml
Due: none

Add .NET static analysis rule AZC0034 to detect duplicate type names (#10842)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0034Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/DuplicateTypeNameAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/reserved-type-names.txt
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/reserved-type-qualified-names.txt
Due: .azure-pipelines/dotnet.yml

add reasoning for splitting up test runs
  packages/python-packages/apiview-stub-generator/tox.ini
Due: none

update README w new instructions
  packages/python-packages/apiview-stub-generator/README.md
Due: none

target gh runner pool
  .github/workflows/tsp-client-tests.yml
Due: none

Use tools pool
  .github/workflows/tsp-client-tests.yml
Due: none

Ensure all updates to user preference happens from the cache (#10852)
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IUserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/UserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Models/UserPreferenceModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUserProfileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserProfileCache.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update APIView so it return spa url where required (#10769)
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Helpers/ManagerHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/PullRequestsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

properly redirect diff urls
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use Manager Helper for resolving URI
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewUnitTests/ManagerHelperTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/ManagerHelpers.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use AuthToken for cal to Search API
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Due: eng/pipelines/eng-common-sync.yml

properly redirect diff urls (#10794)
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewUnitTests/ManagerHelperTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/ManagerHelpers.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use AuthToken for cal to Search API (#10857)
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
  eng/common/scripts/Invoke-GitHubAPI.ps1
Due: eng/pipelines/eng-common-sync.yml

Rename methods to include 'Async' suffix for consistency and clarity in asynchronous operations
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

devops
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

remove Async from McpServerTool methods
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

Fix typos
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TypeSpecProject.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecCommonTools/SpecCommonTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

search priority & add paremeters & refine logger
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/main.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/constants.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/preprocess/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/typespec.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
Due: none

change to weighted priority for multi souces & refine prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/language_channel.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/typespec.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/ai_search_endpoint_test.go
Due: none

fix issue
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
Due: none

fix issue (#10874)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
Due: none

replace the usage of the glob library with Node.js built-in methods
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/package-lock.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/package.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/detect-breaking-changes.ts
  tools/js-sdk-release-tools/src/common/fsUtils.ts
  tools/js-sdk-release-tools/src/common/rushUtils.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Due: none

refine log and prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/typespec.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
Due: none

add workflow.test.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/automation/workflowPackageSteps.ts
  tools/spec-gen-sdk/test/automation/workflow.test.ts
  tools/spec-gen-sdk/test/automation/workflowPackage.test.ts
  tools/spec-gen-sdk/test/automation/workflowPackageSteps.test.ts
  tools/spec-gen-sdk/test/workflow.test.ts
Due: none

Rename methods to include 'Async' suffix (#10843)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

[Python APIView] Run all tests + fix failing CI (#10860)
  packages/python-packages/apiview-stub-generator/README.md
  packages/python-packages/apiview-stub-generator/apistub/.pylintrc
  packages/python-packages/apiview-stub-generator/apiview_reqs.txt
  packages/python-packages/apiview-stub-generator/tests/azure_tests/azure_test.py
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-core_python.json
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-eventhub-checkpointstoreblob-aio_python.json
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-eventhub-checkpointstoreblob_python.json
  packages/python-packages/apiview-stub-generator/tox.ini
Due: none

add changelog entry
  tools/tsp-client/CHANGELOG.md
Due: none

[spelling tool] upgrade indirect dependency `brace-expansion` version to 2.0.2
  eng/common/spelling/package-lock.json
Due: eng/pipelines/eng-common-sync.yml

Update CODEOWNERS (#10879)
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#10872)
  .github/CODEOWNERS
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
Due: none

updated reserved type names files
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/reserved-type-names.txt
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/reserved-type-qualified-names.txt
Due: .azure-pipelines/dotnet.yml

Fix typos on agent (#10871)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TypeSpecProject.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecCommonTools/SpecCommonTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

update workflow.ts
  tools/spec-gen-sdk/test/automation/workflow.test.ts
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
