Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2019-general
        vmImage: MMS2019
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

[Perf] Add pipeline to validate changes to perf-automation (#3874)
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Net.cs
  tools/perf-automation/tests.yml
Due: eng/pipelines/eng-common-sync.yml

adjust how we target the solution file in an effort to make it work on windows CI
  tools/test-proxy/tests.yml
Due: none

remove implicit depedency
  tools/test-proxy/tests.yml
Due: none

stress status dashboard update (#3998)
  tools/stress-cluster/cluster/azure/monitoring/stress-status-workbook.bicep
Due: none

Minor adjustments to style based on fast pass feedback
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add an explicit docker login to the individual image build portion
  eng/pipelines/publish-docker-image.yml
Due: none

expand main codelines as navigation expands
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add integration reset tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/ConsoleWrapper/ConsoleWrapperImpl.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/ConsoleWrapper/ConsoleWrapperTester.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/ConsoleWrapper/IConsoleWrapper.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/IAssetsStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/NullStore.cs
Due: none

Updates based upon feedback
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/ConsoleWrapper.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/ConsoleWrapperTester.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/IConsoleWrapper.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/IAssetsStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/NullStore.cs
Due: none

Add integration reset tests (#4013)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/ConsoleWrapper.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/ConsoleWrapperTester.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Console/IConsoleWrapper.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/IAssetsStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/NullStore.cs
Due: none

update prior to upstream merge
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/tests.yml
Due: none

conditional skipping is active!
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/EnvironmentConditionalSkipTheory.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/tests.yml
Due: none

disable repo tests portion to properly validate the integration test experience
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/EnvironmentConditionalSkipTheory.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/tests.yml
Due: none

rename the trait to align with the expectations from our livetest run
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
Due: none

add taggedusers set to comment model
  src/dotnet/APIView/APIViewWeb/Models/CommentModel.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

return rendered arrays cache to renderedcodefile
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

code style fixes
  src/dotnet/APIView/APIViewWeb/Models/RenderedCodeFile.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix missing definitionId for Definitions and Parameters
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParserTest/TokenSerializerTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewDefinitions.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewGeneral.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewGlobalParamerters.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewOperation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewParameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewResponse.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Info.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Parameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SwaggerTypes.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/XMsParameterizedHost.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/TokenSerializer.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
Due: none

Add RequestContext to the AZC0002 descriptor
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Due: .azure-pipelines/dotnet.yml

Update src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Due: .azure-pipelines/dotnet.yml

Reduce throttling by adding distributed locks (#3973)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Azure.Sdk.Tools.PipelineWitness.csproj
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/ISecretClientProvider.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/PipelineWitnessSettings.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/PostConfigureKeyVaultSettings.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/SecretClientProvider.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/CosmosDatabaseInitializer.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/AzurePipelinesBuildDefinitionWorker.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/BuildCompleteQueueWorker.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/EnhancedBuildHttpClient.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/QueueWorkerBackgroundService.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/WorkTokens/CosmosAsyncLock.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/WorkTokens/CosmosAsyncLockProvider.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/WorkTokens/CosmosLockDocument.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/WorkTokens/IAsyncLock.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/WorkTokens/IAsyncLockProvider.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.development.json
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.json
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.staging.json
Due: none

updating with first attempt at the js livetest
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
  tools/test-proxy/tests.yml
Due: none

renaming stage to meet requirements
  tools/test-proxy/tests.yml
Due: none

return eng/common/testproxy/test-proxy-tool to original state
  eng/common/testproxy/test-proxy-tool.yml
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: eng/pipelines/eng-common-sync.yml

remove warning on installation
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: none

erroneously installing globally rather than a specific toolpath
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
Due: none

pin specific rush version. using node version.
  eng/pipelines/templates/steps/test-proxy-local-tool.yml
  tools/test-proxy/tests.yml
Due: none

correct displayname to not have a broken reference
  tools/test-proxy/tests.yml
Due: none

try chaing directory into the appopriate location
  tools/test-proxy/tests.yml
Due: none

correct package location!
  tools/test-proxy/tests.yml
Due: none

add python!
  tools/test-proxy/tests.yml
Due: none

test-proxy-tool corrected to match what's already in main
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

correct call to versionspec parameter
  tools/test-proxy/tests.yml
Due: none

ensure we allow the python build to start the proxy for itself
  tools/test-proxy/tests.yml
Due: none

remove the UseDotNet version pins.
  tools/test-proxy/tests.yml
Due: none

ensure we can actually talk to the proxy
  tools/test-proxy/tests.yml
Due: none

without installing .net 6 the build itself fails!
  tools/test-proxy/tests.yml
Due: none

resolve the issue with python spinning forever
  tools/test-proxy/tests.yml
Due: none

ensure that the proxy starts in the 'context' of the cloned directory
  tools/test-proxy/tests.yml
Due: none

clone before starting the proxy so that the directory is available
  tools/test-proxy/tests.yml
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
