Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Update reference used to retrieve parameter from cache
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
Due: none

adding new skip attribute so that CI will pass. adding a tests.yml to be used for integration tests
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool.Tests/GitTokenSkipAttribute.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool.Tests/ScanTests.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Scan/AssetsScanner.cs
  tools/assets-automation/assets-maintenance-tool/README.md
  tools/assets-automation/tests.yml
Due: none

cleanup
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Model/AssetsResult.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Model/AssetsResultSet.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Model/RepoConfiguration.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Model/RunConfiguration.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Scan/AssetsScanner.cs
Due: none

adding sample configs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool.Tests/CLITests.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool.Tests/ScanTests.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool.Tests/TestResources/configurations/sample-repo-configuration.json
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Azure.Sdk.Tools.Assets.MaintenanceTool.csproj
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Model/RunConfiguration.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Options/BaseOptions.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Program.cs
  tools/assets-automation/assets-maintenance-tool/README.md
  tools/assets-automation/assets-maintenance-tool/integration-test-repo-configuration.yml
  tools/assets-automation/tests.yml
Due: none

add documentation covering usage of the test-proxy config feature
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/CommandOptions/OptionsGenerator.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/documentation/asset-sync/README.md
Due: none

Adding initial commit of TypeSpecE2E common script (#6202)
  doc/common/TypeSpec-Project-Scripts.md
  eng/common/scripts/TypeSpec-Project-Process.ps1
Due: eng/pipelines/eng-common-sync.yml

I think the newline in the constant is really breaking this thing. try simplification before i throw it out
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/CommandOptions/OptionsGenerator.cs
Due: none

correct multiline string
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/CommandOptions/OptionsGenerator.cs
Due: none

address feedback
  doc/common/TypeSpec-Project-Scripts.md
Due: none

Move the cleanup config to -SaveInputs parameter on the cli (#6197)
  doc/common/TypeSpec-Project-Scripts.md
  eng/common/scripts/TypeSpec-Project-Generate.ps1
Due: eng/pipelines/eng-common-sync.yml

Update version and changelog
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
Due: none

Update reference used to retrieve parameter from cache (#6210)
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
Due: none

[http-fault-injector] Set UseAppHost=false - Enables HTTPS on Mac with no keychain popup - Workaround for https://github.com/dotnet/sdk/issues/22544
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Due: none

Update version
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Due: none

Add comment
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Due: none

add additional documentation for where proxy commands should be invoked from
  tools/test-proxy/documentation/asset-sync/README.md
Due: none

[http-fault-injector] Target net7.0 - Enables HTTPS on Mac with no keychain popup - Fixed in https://github.com/dotnet/aspnetcore/issues/41879
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Due: none

Improve comment
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Due: none

Upgrade minor version
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/Azure.Sdk.Tools.HttpFaultInjector.csproj
Due: none

add differentiation between a null body and an empty body when attempting to start recording or playback
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Due: none

small correction to rid ourselves of trailing []
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Due: none

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
Due: none

Add documentation covering usage of the test-proxy config feature (#6213)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/CommandOptions/OptionsGenerator.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/documentation/asset-sync/README.md
Due: none

Updated typespec common script
  eng/common/scripts/TypeSpec-Project-Process.ps1
Due: eng/pipelines/eng-common-sync.yml

Resolve comments
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0002Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0004Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0018Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
Due: .azure-pipelines/dotnet.yml

Fixes for uploading proxy logs
  eng/common/testproxy/publish-proxy-logs.yml
Due: eng/pipelines/eng-common-sync.yml

Switch section state management from cookies to sessionStorage
  eng/pipelines/templates/steps/apiview-ui-tests.yml
  src/dotnet/APIView/APIViewWeb/Client/playwright.config.ts
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.ts
  src/dotnet/APIView/APIViewWeb/Client/tests/end-to-end/pages/review.spec.ts
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update stress workbook parameters to filter by time->namespace->pod (#6211)
  tools/stress-cluster/cluster/azure/monitoring/stress-test-workbook.bicep
Due: none

Handle docker hangs and subscription mismatch on acr login
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/eng-common-sync.yml

[Pylint] Update linter iterable rule (#6100)
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Fixes for uploading proxy logs (#6230)
  eng/common/testproxy/publish-proxy-logs.yml
Due: eng/pipelines/eng-common-sync.yml

Handle docker hangs and subscription mismatch on acr login (#6235)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/eng-common-sync.yml

Feature/retain review page state (#6206)
  eng/pipelines/templates/steps/apiview-ui-tests.yml
  src/dotnet/APIView/APIViewWeb/.gitignore
  src/dotnet/APIView/APIViewWeb/Client/css/shared/bootstraps-overrides.scss
  src/dotnet/APIView/APIViewWeb/Client/package.json
  src/dotnet/APIView/APIViewWeb/Client/playwright.config.ts
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/comments.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/helpers.ts
  src/dotnet/APIView/APIViewWeb/Client/src/shared/signalr.ts
  src/dotnet/APIView/APIViewWeb/Client/tests/end-to-end/pages/review.spec.ts
  src/dotnet/APIView/APIViewWeb/Client/tests/unit/pages/review.spec.ts
  src/dotnet/APIView/APIViewWeb/Client/tests/unit/shared/helpers.spec.ts
  src/dotnet/APIView/APIViewWeb/Client/tsconfig.json
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

handle lah already exists and is not an empty directory
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Show comment icon on section heading
  src/dotnet/APIView/APIViewWeb/Client/css/shared/codeline.scss
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/_CodeLine.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update end-to-end test
  src/dotnet/APIView/APIViewWeb/Client/tests/end-to-end/pages/review.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Sync-AzsdlLabels.ps1 script
  tools/github/scripts/Sync-AzsdkLabels.ps1
Due: none

Add Sync-AzsdlLabels.ps1 script (#6245)
  tools/github/scripts/Sync-AzsdkLabels.ps1
Due: none

Show comment icon on subHeading parent codeLines
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml
