Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, eng/pipelines/eng-common-sync.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - task: UsePythonVersion@0
        displayName: Use Python 3.6
        inputs:
          versionSpec: 3.6
      - task: DotNetCoreInstaller@2
        displayName: Use .NET Core sdk $(DotNetCoreVersion)
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

Update java parser version to rebuild existing reviews
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Due: .azure-pipelines/apiview.yml

Fix logic in SetTestPipelineVersionInEngCommon
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: eng/pipelines/eng-common-sync.yml

Update parser version in deployment artifcat
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml

Fix bug where imported matrix parameter duplicates are not overrided (#1461)
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
  eng/common/scripts/job-matrix/tests/job-matrix-functions.modification.tests.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix logic in SetTestPipelineVersionInEngCommon (#1470)
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: eng/pipelines/eng-common-sync.yml

Update java parser version to rebuild existing reviews (#1469)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Due: .azure-pipelines/apiview.yml

move SetTestPipeline into its own template
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Due: eng/pipelines/eng-common-sync.yml

Move SetTestPipeline into its own template (#1472)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
Due: eng/pipelines/eng-common-sync.yml

Move CI trigger over to public pipeline.
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/UnifiedPipelineConvention.cs
Due: none

Add CI trigger back to pipeline generator (#1410)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PullRequestValidationPipelineConvention.cs
Due: none

Use latest pipeline generator.
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: eng/pipelines/eng-common-sync.yml

Use sparse checkout for generate matrix job (#1452)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
  eng/common/scripts/job-matrix/samples/matrix-test.yml
Due: eng/pipelines/eng-common-sync.yml

Include all module members in root package namespace
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
Due: .azure-pipelines/apiview.yml

Address PR feedback
  eng/common/pipelines/templates/steps/set-default-branch.yml
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Use latest pipeline generator (#1475)
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: eng/pipelines/eng-common-sync.yml

actually pass the _content_ of the reviewers or teamreviewers variable
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: eng/pipelines/eng-common-sync.yml

Sort changelogs by date then version
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Due: eng/pipelines/eng-common-sync.yml

Update python pacakge parser version to 0.2.3
  packages/python-packages/api-stub-generator/apistub/_version.py
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml

Sort changelogs by date then version (#1479)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/SemVer.ps1
Due: eng/pipelines/eng-common-sync.yml

APIStubGen skips public classes defined in internal modules (#1480)
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml

Create API review only when running CI on master branch
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/eng-common-sync.yml

Support typeof in attributes and explicit interface implementations
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIViewTest/ExactFormatting/Attributes.cs
  src/dotnet/APIView/APIViewTest/ExactFormatting/Inheritance.cs
Due: .azure-pipelines/apiview.yml

pipeline
  .azure-pipelines/apiview.yml
Due: none

Fix bug in Changelog URL path using packageDirectoryName
  eng/common/scripts/Collect-ChangeLogs.ps1
Due: eng/pipelines/eng-common-sync.yml

project is building w/ Azure.Core.TestFramework dependencies moved into the 'common' folder.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.sln
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/AsyncGate.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/AsyncValidatingStream.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ContentTypeUtilities.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/EntryRecordModel.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/MockCredential.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/MockRequest.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/MockResponse.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/MockTransport.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/NonSeekableMemoryStream.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/PlaybackTransport.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RandomExtensions.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntry.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntryMessage.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordTransport.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordedTestMode.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordedTestSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RemoteRecordTransport.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/TaskExtensions.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/TestRandom.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/TestRecording.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/TestRecordingMismatchException.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Properties/launchSettings.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/appsettings.Development.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/appsettings.json
  tools/test-proxy/README.md
  tools/test-proxy/ci.yml
Due: none

Create directories above save file
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
Due: none

Cleanup using statements
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/MockTransport.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntryMessage.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordTransport.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordedTestSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RemoteRecordTransport.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/TestRecording.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
Due: none

Add sample using .NET HttpClient
  tools/test-proxy/sample-clients/net/http-client/Azure.Sdk.Tools.TestProxy.HttpClientSample.csproj
  tools/test-proxy/sample-clients/net/http-client/Azure.Sdk.Tools.TestProxy.HttpClientSample.sln
  tools/test-proxy/sample-clients/net/http-client/Program.cs
Due: none

Fix bug in Changelog URL path using packageDirectoryName (#1485)
  eng/common/scripts/Collect-ChangeLogs.ps1
Due: eng/pipelines/eng-common-sync.yml

Add sample using .NET HttpPipeline
  tools/test-proxy/sample-clients/net/http-pipeline/Azure.Sdk.Tools.TestProxy.HttpPipelineSample.csproj
  tools/test-proxy/sample-clients/net/http-pipeline/Azure.Sdk.Tools.TestProxy.HttpPipelineSample.sln
  tools/test-proxy/sample-clients/net/http-pipeline/Program.cs
Due: none

tfms
  src/dotnet/APIView/APIViewTest/APIViewTest.csproj
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml

Add draft to Submit-PullRequest.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: eng/pipelines/eng-common-sync.yml

install runtime
  .azure-pipelines/apiview.yml
Due: none

try again
  .azure-pipelines/apiview.yml
Due: none

Add -Draft to create-pull-request.yml
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: eng/pipelines/eng-common-sync.yml

Add documentation
  eng/common/scripts/Submit-PullRequest.ps1
Due: eng/pipelines/eng-common-sync.yml

publish an artifict in a way to prevent duplication
  eng/common/pipelines/templates/steps/publish-artifact.yml
Due: eng/pipelines/eng-common-sync.yml

Show all annotations with a few exceptions
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  eng/pipelines/eng-common-sync.yml: any of: eng/common
