Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi, packages/python-packages/api-stub-generator, packages/python-packages/protocol-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

new pipeline for codegen
  tools/sdk-generation-pipeline/pipelines/steps/after-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/environment-setup.yml
  tools/sdk-generation-pipeline/pipelines/steps/generate-and-build-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/generate-sdk.yml
  tools/sdk-generation-pipeline/pipelines/steps/init-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/live-test-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/mock-test-task.yml
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
  tools/sdk-generation-pipeline/pipelines/steps/pipeline-setup.yml
  tools/sdk-generation-pipeline/pipelines/steps/precheck.yml
  tools/sdk-generation-pipeline/pipelines/steps/sdk-generation-tasks.yml
  tools/sdk-generation-pipeline/sdk-generation-pipeline.yml
Due: none

normalize
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/tasks/GenerateAndBuildTask.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/tasks/InitTask.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/tasks/MockTestTask.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/executeTask.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/runScript.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/index.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/scriptRunningState.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskInputAndOuputSchemaTypes/CodegenToSdkConfig.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskInputAndOuputSchemaTypes/CodegenToSdkConfigSchema.json
Due: none

fix
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/lib/executeTask.ts
Due: none

Update long running background tasks to BackgroundHostedService (#3370)
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add azure-sdk-actions to github-labels repositories list (#3376)
  tools/github-labels/repositories.txt
Due: none

suceededOrFailed -> succeededOrFailed
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: eng/pipelines/eng-common-sync.yml

Spell-check skippable by variable (#3362)
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: eng/pipelines/eng-common-sync.yml

save -> push
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/IAssetsStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/NullStore.cs
Due: none

remove concept of assemblyDirectory everywhere. ready to go into main with successful tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/StoreResolver.cs
Due: none

[Test-Proxy] Support Extensible Storage (#3363)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/MatcherTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/PlaybackTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TransformTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Startup.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/AssetsConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitAssetsConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/IAssetsStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/NullStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/StoreResolver.cs
Due: none

Create json package property parent directory
  eng/common/scripts/Save-Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix issues flagged by component governance
  tools/mock-service-host/npm-shrinkwrap.json
  tools/mock-service-host/package.json
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
Due: none

Fix issues flagged by component governance (#3364)
  tools/mock-service-host/npm-shrinkwrap.json
  tools/mock-service-host/package.json
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
Due: none

Fix the issue in script
  eng/common/scripts/Save-Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

revert shrinkwrap
  tools/mock-service-host/npm-shrinkwrap.json
Due: none

Disable detached head warnings on sparse checkout to commit
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: eng/pipelines/eng-common-sync.yml

Use yml extension in github workflow for consistency (#3377)
  .github/workflows/event.yml
Due: none

revert unnecessary changes
  tools/mock-service-host/src/mid/oav/swaggerMocker.ts
  tools/mock-service-host/src/mid/responser.ts
  tools/mock-service-host/test/unittest/__snapshots__/testMock.ts.snap
  tools/mock-service-host/test/unittest/__snapshots__/testcoordinator.ts.snap
  tools/mock-service-host/test/unittest/testMock.ts
Due: none

add doc
  tools/sdk-generation-pipeline/documents/task-engine/schema/CodegenToSdkConfigSchema.json
  tools/sdk-generation-pipeline/documents/task-engine/schema/GenerateAndBuildInputSchema.json
  tools/sdk-generation-pipeline/documents/task-engine/schema/GenerateAndBuildOutputSchema.json
  tools/sdk-generation-pipeline/documents/task-engine/schema/TestOutputSchema.json
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/README.md
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/README.md
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/src/types/taskInputAndOuputSchemaTypes/CodegenToSdkConfigSchema.json
Due: none

add doc
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/README.md
Due: none

merge main
  tools/sdk-generation-pipeline/common/config/rush/pnpm-lock.yaml
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/package.json
  tools/sdk-generation-pipeline/packages/sdk-generation-lib/package.json
Due: none

update doc
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/README.md
Due: none

update doc (#3380)
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/README.md
Due: none

fix
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/tasks/GenerateAndBuildTask.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/tasks/MockTestTask.ts
Due: none

Revert "revert unnecessary changes"
  tools/mock-service-host/src/mid/oav/swaggerMocker.ts
  tools/mock-service-host/src/mid/responser.ts
  tools/mock-service-host/test/unittest/__snapshots__/testMock.ts.snap
  tools/mock-service-host/test/unittest/__snapshots__/testcoordinator.ts.snap
  tools/mock-service-host/test/unittest/testMock.ts
Due: none

test
  tools/mock-service-host/test/unittest/__snapshots__/testMock.ts.snap
  tools/mock-service-host/test/unittest/testMock.ts
Due: none

Simple readme update test
  tools/stress-cluster/cluster/README.md
Due: none

Simple readme update test (#3382)
  tools/stress-cluster/cluster/README.md
Due: none

REmove unused import
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Create json package property parent directory (#3378)
  eng/common/scripts/Save-Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Testing Partial PageViews for APIView Index
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add endpoint for retrieving reviews properties
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add filters markup
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Complete work on reviews page, filtering and paging
  src/dotnet/APIView/APIViewWeb/Client/src/api.ts
  src/dotnet/APIView/APIViewWeb/Client/src/main.ts
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Client/src/reviews.ts
  src/dotnet/APIView/APIViewWeb/Client/webpack.config.js
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/ReviewLayout.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/api.js
  src/dotnet/APIView/APIViewWeb/wwwroot/api.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/comments.js
  src/dotnet/APIView/APIViewWeb/wwwroot/comments.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/fileInput.js
  src/dotnet/APIView/APIViewWeb/wwwroot/fileInput.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/main.js
  src/dotnet/APIView/APIViewWeb/wwwroot/navbar.js
  src/dotnet/APIView/APIViewWeb/wwwroot/navbar.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/review.js
  src/dotnet/APIView/APIViewWeb/wwwroot/review.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/revisions.js
  src/dotnet/APIView/APIViewWeb/wwwroot/revisions.js.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Implement partial refresh of review filters
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewFiltersPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix broken js
  src/dotnet/APIView/APIViewWeb/Client/src/reviews.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add backend search
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/reviews.ts
  src/dotnet/APIView/APIViewWeb/Models/UserPreferenceModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_SelectPickerPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserPreferenceCache.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Load Review Properties as part of the initial load
  src/dotnet/APIView/APIViewWeb/Client/src/review.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewFiltersPartial.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix reset button
  src/dotnet/APIView/APIViewWeb/Client/src/reviews.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add search button
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/reviews.ts
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml
