Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/LabelHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/LabelHelperTests.cs
Due: none

removed date and time from branch name creation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
Due: none

added delete logic for updateCodeowners + fixed some errors in branch and file management
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeOwnerHelper.cs
Due: none

add new fileds to associated languages and improve review panel performance
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewListModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/ICosmosReviewRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

use ResponseError - mark some options as required
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TspToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/TspToolResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TspTool/TspTool.cs
Due: none

Source user object id directly instead of with graph (#11531)
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

use new npxhelper command
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/Process/NpxHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TspTool/TspTool.cs
Due: none

add FileHelper with directory validation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/FileHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TspTool/TspTool.cs
Due: none

modified getFileContentsAsync method
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/MockServices/MockGitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

Apply suggestion from @benbp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/EnforceToolsReturnTypes.cs
Due: none

modified tests names
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/LabelHelperTests.cs
Due: none

created helper method for branch, file, and pr management
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
Due: none

deleted response error
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

more optimazition
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

reduced the amount of parameters taken in for createCodeownerPR
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
Due: none

Added in tests for sorting and some other simple updates. One test currently fails, waiting for discussion on changes to that.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeOwnerHelperDataIntegrityTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeOwnerHelperMergingLogicTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeOwnerHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeownersEntryPathComparerTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeOwnerHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersEntryPathComparer.cs
Due: none

fixed service label access in updateCodeowners
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
Due: none

fixed service label access in updatecodeowners
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
Due: none

Add end points for copilot
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updated Create and Check service label. Using .Split and getting rid of whitespace.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/LabelHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LabelHelper.cs
Due: none

try updating response from operationresult to something that inherits from Response model
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CheckAllToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/OperationResult.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/CLICheckResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotNetLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ChangelogValidationFixTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ChangelogValidationTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/CheckAllTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/DependencyCheckFixTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/DependencyCheckTool.cs
Due: none

we want to just use the language settings script
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageRepoServiceFactory.cs
Due: none

bump the requirement
  eng/scripts/download_targeted_packages_requirements.txt
Due: none

Fix CopilotPollingBackgroundHostedService tests flakiness
  src/dotnet/APIView/APIViewUnitTests/CopilotPollingBackgroundHostedServiceTests.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotJobProcessor.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/ICopilotJobProcessor.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix logging
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageRepoServiceFactory.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageRepoService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/CheckAllTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/DependencyCheckTool.cs
Due: none

Fix spacing in the script
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Add tests
  src/dotnet/APIView/APIViewUnitTests/AuthTestControllerTests.cs
  src/dotnet/APIView/APIViewWeb/Controllers/AuthTestController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LabelHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LabelHelper.cs
Due: none

.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LabelHelper.cs
Due: none

change parameter for pipeline
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

Removed dictionary in preparation for changed CODEOWNERS headers. Reduced CodeownerTools complexity. More changes needed to confirm workflows. One test still failing due to pending discussion.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CodeOwnerToolsTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeOwnerHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
Due: none

Send diagnostics to copilot agent
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

create path object for output
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluate.py
Due: none

Fix compile error
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageRepoService.cs
Due: none

Incomplete rename from copilot, fixed here.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/DependencyCheckTool.cs
Due: none

- Check OS to figure to use the right filenames - Fix bug where I wasn't setting the redirect stdout/stderr flags!
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageRepoService.cs
Due: none

Adding some tests.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/GoLanguageRepoServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageRepoService.cs
Due: none

add branch config
  tools/sdk-ai-bots/azure-sdk-qa-bot-function/src/functions/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-function/src/services/StorageService.ts
Due: none
