Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - task: DotNetCoreInstaller@2
        displayName: Use .NET Core sdk $(DotNetCoreVersion)
        inputs:
          version: $(DotNetCoreVersion)
      - task: DotNetCoreInstaller@2
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

Update baseline with latest in main branch when new commit it processed (#2102)
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update comment
  tools/test-proxy/docker/host-patcher.cmd
Due: none

There is a bug in the way the existing rules are created. Need to swa… (#2044)
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/PayloadTests.cs
Due: none

[Test-Proxy] Patch dockerfile-win to allow access of localhost through `host.docker.internal` hostname (#2109)
  eng/common/testproxy/docker-start-proxy.ps1
  tools/test-proxy/docker/dockerfile-win
  tools/test-proxy/docker/host-patcher.cmd
Due: eng/pipelines/eng-common-sync.yml

[GitHub Labels]
  tools/github-labels/repositories.txt
  tools/github-labels/repository-snapshots/autorest.cpp.csv
Due: none

Fixes for stress file share. Dependency and doc updates
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-debug-share-example/templates/debug-share-job.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/stress-test-resources.json
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_container_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_init_deploy.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_stress_test.tpl
  tools/stress-cluster/cluster/provision.ps1
Due: none

Fix the payload for the PR auto-label capability
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
Due: none

Upgrade the project to 3.1
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
Due: none

allow resetting a specific recording
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Update tests to match the correct payload data
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/PayloadTests.cs
Due: none

Add group id into metadata for java use (#2100)
  eng/common/scripts/Update-DocsMsPackages.ps1
Due: eng/pipelines/eng-common-sync.yml

Combine CodeOwners parser tools into a single library
  tools/CreateRuleFabricBot/CreateRuleFabricBot.sln
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Markdown/MarkdownTable.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
  tools/code-owners-parser/CodeOwnersParser.sln
  tools/code-owners-parser/CodeOwnersParser/CodeOwnerEntry.cs
  tools/code-owners-parser/CodeOwnersParser/CodeOwnersFile.cs
  tools/code-owners-parser/CodeOwnersParser/CodeOwnersParser.csproj
  tools/code-owners-parser/CodeOwnersParser/FileHelpers.cs
  tools/notification-configuration/ci.yml
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/github-codeowner-subscriber/Azure.Sdk.Tools.GithubCodeownerSubscriber.csproj
  tools/notification-configuration/github-codeowner-subscriber/CodeOwnersParser.cs
  tools/notification-configuration/github-codeowner-subscriber/Program.cs
  tools/notification-configuration/identity-resolver/Azure.Sdk.Tools.IdentityResolver.csproj
  tools/notification-configuration/notification-configuration.sln
  tools/notification-configuration/notification-creator/Azure.Sdk.Tools.NotificationConfiguration.csproj
Due: none

Fix up identity resolver to make it more reliable, publish notification configuration as a tool
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  tools/notification-configuration/common/Enums/TeamPurpose.cs
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/common/Helpers/YamlHelper.cs
  tools/notification-configuration/common/Models/IdentityDetail.cs
  tools/notification-configuration/common/Models/TeamMetadata.cs
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/github-codeowner-subscriber/Azure.Sdk.Tools.GithubCodeownerSubscriber.csproj
  tools/notification-configuration/github-codeowner-subscriber/CodeOwnersParser.cs
  tools/notification-configuration/github-codeowner-subscriber/GitHubService.cs
  tools/notification-configuration/github-codeowner-subscriber/Program.cs
  tools/notification-configuration/identity-resolver/Azure.Sdk.Tools.IdentityResolver.csproj
  tools/notification-configuration/identity-resolver/Program.cs
  tools/notification-configuration/notification-configuration.sln
  tools/notification-configuration/notification-creator/Azure.Sdk.Tools.NotificationConfiguration.csproj
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
  tools/notification-configuration/notification-creator/PipelineSelectionStrategy.cs
  tools/notification-configuration/notification-creator/Program.cs
  tools/notification-configuration/notification-creator/YamlHelper.cs
Due: eng/pipelines/eng-common-sync.yml

Add dotnet tool for retrieving codeowners info
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Azure.Sdk.Tools.RetrieveCodeOwners.csproj
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Program.cs
  tools/code-owners-parser/CodeOwnersParser.sln
Due: none

Add tool for retrieving codeowners
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Azure.Sdk.Tools.RetrieveCodeOwners.csproj
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Program.cs
  tools/code-owners-parser/CodeOwnersParser/Azure.Sdk.Tools.CodeOwnersParser.csproj
  tools/code-owners-parser/ci.yml
Due: none

Switch codeownersparser to netstandard2.0
  tools/CreateRuleFabricBot/CreateRuleFabricBot.sln
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Markdown/MarkdownTable.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
  tools/code-owners-parser/CodeOwnersParser.sln
  tools/code-owners-parser/CodeOwnersParser/Azure.Sdk.Tools.CodeOwnersParser.csproj
  tools/code-owners-parser/CodeOwnersParser/CodeOwnerEntry.cs
  tools/code-owners-parser/CodeOwnersParser/CodeOwnersFile.cs
  tools/code-owners-parser/CodeOwnersParser/CodeOwnersParser.csproj
  tools/code-owners-parser/CodeOwnersParser/FileHelpers.cs
  tools/notification-configuration/github-codeowner-subscriber/Azure.Sdk.Tools.GithubCodeownerSubscriber.csproj
  tools/notification-configuration/github-codeowner-subscriber/Program.cs
  tools/notification-configuration/identity-resolver/Program.cs
  tools/notification-configuration/notification-configuration.sln
Due: none

Specify dotnet sdk version
  tools/code-owners-parser/ci.yml
  tools/notification-configuration/ci.yml
Due: none

Use both username and email to resolve queuing user
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/identity-resolver/Azure.Sdk.Tools.IdentityResolver.csproj
  tools/notification-configuration/identity-resolver/Program.cs
Due: eng/pipelines/eng-common-sync.yml

Updates to Identity Resolver (#2085)
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  tools/CreateRuleFabricBot/CreateRuleFabricBot.sln
  tools/CreateRuleFabricBot/CreateRuleFabricBot/CreateRuleFabricBot.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Markdown/MarkdownTable.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/IssueRouting/IssueRoutingCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PullRequestLabelFolderCapability.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CodeOwnerTests.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Azure.Sdk.Tools.RetrieveCodeOwners.csproj
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Program.cs
  tools/code-owners-parser/CodeOwnersParser.sln
  tools/code-owners-parser/CodeOwnersParser/Azure.Sdk.Tools.CodeOwnersParser.csproj
  tools/code-owners-parser/CodeOwnersParser/CodeOwnerEntry.cs
  tools/code-owners-parser/CodeOwnersParser/CodeOwnersFile.cs
  tools/code-owners-parser/CodeOwnersParser/FileHelpers.cs
  tools/code-owners-parser/ci.yml
  tools/notification-configuration/common/Enums/TeamPurpose.cs
  tools/notification-configuration/common/Helpers/GitHubNameResolver.cs
  tools/notification-configuration/common/Helpers/YamlHelper.cs
  tools/notification-configuration/common/Models/IdentityDetail.cs
  tools/notification-configuration/common/Models/TeamMetadata.cs
  tools/notification-configuration/common/Services/AzureDevOpsService.cs
  tools/notification-configuration/common/common.csproj
  tools/notification-configuration/github-codeowner-subscriber/Azure.Sdk.Tools.GithubCodeownerSubscriber.csproj
  tools/notification-configuration/github-codeowner-subscriber/CodeOwnersParser.cs
  tools/notification-configuration/github-codeowner-subscriber/GitHubService.cs
  tools/notification-configuration/github-codeowner-subscriber/Program.cs
  tools/notification-configuration/identity-resolver/Azure.Sdk.Tools.IdentityResolver.csproj
  tools/notification-configuration/identity-resolver/Program.cs
  tools/notification-configuration/notification-configuration.sln
  tools/notification-configuration/notification-creator/Azure.Sdk.Tools.NotificationConfiguration.csproj
  tools/notification-configuration/notification-creator/NotificationConfigurator.cs
  tools/notification-configuration/notification-creator/PipelineSelectionStrategy.cs
  tools/notification-configuration/notification-creator/Program.cs
  tools/notification-configuration/notification-creator/YamlHelper.cs
Due: eng/pipelines/eng-common-sync.yml

version0.1.2
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

[GitHub Labels] (#2116)
  tools/github-labels/repositories.txt
  tools/github-labels/repository-snapshots/autorest.cpp.csv
Due: none

Explicitly set vm image to avoid using ubuntu16
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Fix the payload for the PR auto-label capability (#2115)
  tools/CreateRuleFabricBot/CreateRuleFabricBot/Rules/PullRequestLabel/PathConfig.cs
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/CreateRuleFabricBotTests.csproj
  tools/CreateRuleFabricBot/CreateRuleFabricBotTests/PayloadTests.cs
Due: none

update to latest test-proxy tag
  eng/common/testproxy/docker-start-proxy.ps1
Due: eng/pipelines/eng-common-sync.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
Due: .azure-pipelines/dotnet.yml

Update list of cosmos containers to backup
  scripts/python/apiview-syncdb/sync_cosmosdb.py
Due: none

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#2126)
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  src/dotnet/Mgmt.CI.BuildTools/ci.yml
Due: .azure-pipelines/dotnet.yml

Added job pipeline
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

[Test-Proxy] Update Proxy Version (#2124)
  eng/common/testproxy/docker-start-proxy.ps1
Due: eng/pipelines/eng-common-sync.yml

Consume Codeowners parser library, ceperate users from teams in codeownerse
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

Update get-pr-owners and related logic
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Program.cs
Due: eng/pipelines/eng-common-sync.yml

v0.1.3
  tools/mock-service-host/doc/pic/cli-sample.png
  tools/mock-service-host/doc/pic/overall.png
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
  tools/mock-service-host/script/renew-ssh.ps1
  tools/mock-service-host/src/common/environmentConfigDevelopment.ts
Due: none

Update Get-CodeOwners Logic. (#2093)
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/get-codeowners.ps1
  tools/code-owners-parser/Azure.Sdk.Tools.RetrieveCodeOwners/Program.cs
Due: eng/pipelines/eng-common-sync.yml

Skip caching reviews access by backend services
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

starting on integration guidelines
  tools/test-proxy/documentation/integration-guidelines.md
Due: none

correct wonky md syntax
  tools/test-proxy/documentation/integration-guidelines.md
Due: none

Export build logs to blob storage
  tools/pipeline-witness/.editorconfig
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Azure.Sdk.Tools.PipelineWitness.csproj
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/BuildLogProvider.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/AzureArtifactsServiceUnavailableClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/DnsResolutionFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/MavenBrokenPipeFailureClassifier.cs
  tools/pipeline-witness/PipelineWitness.sln
Due: none

settle on always accessing the value for session.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
Due: none

Continuation sanitizer bugfix
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/ContinuationSanitizer.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
