Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

New updates
  Solution.md
Due: none

Copilot issues
  Solution.md
Due: none

Add Test-DocsPipelineSla.ps1 to tools/docs
  tools/docs/Test-DocsPipelineSla.ps1
Due: none

Update script.
  packages/python-packages/apiview-copilot/scripts/comment_bucket_trends.py
  packages/python-packages/apiview-copilot/scripts/human_ai_ratio_trend.py
  packages/python-packages/apiview-copilot/scripts/quality_bucket_trends.py
Due: none

Remove unsued scripts.
  packages/python-packages/apiview-copilot/scripts/human_ai_ratio_trend.py
  packages/python-packages/apiview-copilot/scripts/quality_bucket_trends.py
Due: none

Fix cspell failures in generate-sdk-locally skill tasks
  .github/skills/generate-sdk-locally/tasks/analyzer-errors.yaml
  .github/skills/generate-sdk-locally/tasks/breaking-changes.yaml
  .github/skills/generate-sdk-locally/tasks/customization-workflow.yaml
  .github/skills/generate-sdk-locally/tasks/edge-case.yaml
Due: none

Add quality-trends command.
  packages/python-packages/apiview-copilot/.github/skills/run-metrics/SKILL.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
  packages/python-packages/apiview-copilot/src/_comment_bucket_trends.py
  packages/python-packages/apiview-copilot/tests/comment_bucket_trends_cli_test.py
Due: none

Updates.
  packages/python-packages/apiview-copilot/.github/skills/run-metrics/SKILL.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/docs/cli.md
  packages/python-packages/apiview-copilot/src/_comment_bucket_trends.py
  packages/python-packages/apiview-copilot/tests/comment_bucket_trends_cli_test.py
Due: none

Feedback
  src/dotnet/APIView/APIViewUnitTests/ProjectsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/TypeSpecMetadataIntegrationTests.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ProjectsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/ProjectsManager.cs
  src/dotnet/APIView/APIViewWeb/Models/ProjectModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosProjectRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Plan: shared triage & workflow system for squad-style agents
  tools/github/shared-triage-system-plan.md
Due: none

rename of method
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Simplify shared triage system plan to v0 sketch
  tools/github/shared-triage-system-plan.md
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/.github/skills/run-metrics/SKILL.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_comment_bucket_trends.py
  packages/python-packages/apiview-copilot/tests/comment_bucket_trends_cli_test.py
Due: none

Consolidate instruction files into skills — single source of truth
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/references/release-plan-details.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
  eng/common/instructions/azsdk-tools/check-package-readiness.instructions.md
  eng/common/instructions/azsdk-tools/check-package-validation.instructions.md
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
  eng/common/instructions/azsdk-tools/verify-namespace-approval.instructions.md
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
  eng/common/instructions/copilot/sdk-release.instructions.md
Due: eng/pipelines/eng-common-sync.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Restore original SKILL.md content — only change is name: prefix
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-prepare-release-plan/references/release-plan-details.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
Due: none

Update package lookup
  src/dotnet/APIView/ClientSPA/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Implement Rust packaging support in azsdk pkg pack
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/RustLanguageServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/PackToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/RustLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Remove AZC0101 analyzer (migrated to azure-sdk-for-net)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0101Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/AsyncAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/MethodBodyAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

update remaining usages missing the login
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/sync_knowledge.yml
Due: none

patch the test-proxy integration tests to go to the proper org
  tools/test-proxy/tests.yml
Due: none

Simplify the script
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: eng/pipelines/eng-common-sync.yml

Printed the error
  eng/common/pipelines/templates/steps/publish-1es-artifact.yml
Due: eng/pipelines/eng-common-sync.yml

update tests
  tools/tsp-client/test/commands.spec.ts
Due: none

Move azure-typespec-author skill from azure-rest-api-specs to azure-sdk-tools
  .github/skills/azure-typespec-author/SKILL.md
Due: none

Move azure-typespec-author skill from azure-rest-api-specs to azure-sdk-tools
  .github/skills/azure-typespec-author/references/agentic-search.md
Due: none

Move azure-typespec-author skill from azure-rest-api-specs to azure-sdk-tools
  .github/skills/azure-typespec-author/references/analyze-project-and-classify-task.md
Due: none

Move azure-typespec-author skill from azure-rest-api-specs to azure-sdk-tools
  .github/skills/azure-typespec-author/references/api-version-evolution.md
Due: none

Move azure-typespec-author skill from azure-rest-api-specs to azure-sdk-tools
  .github/skills/azure-typespec-author/references/general-authoring-intake.md
Due: none

Move azure-typespec-author skill from azure-rest-api-specs to azure-sdk-tools
  .github/skills/azure-typespec-author/references/validation.md
Due: none
