Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Improve type and null handling
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

[.NET Analyzers] Fix Template special case (#7683)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Exclude any API reviews no longer affected by PR (#7641)
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IPullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Move emitter-package.json scripts to eng/common (#7655)
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
  eng/scripts/autorest/New-EmitterPackageJson.ps1
  eng/scripts/autorest/New-EmitterPackageLock.ps1
Due: eng/pipelines/eng-common-sync.yml

test
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

more debug
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

debug print
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

debug final?
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

count
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

count more
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

or
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

display
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

no add
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix matrix CI tests
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

Improve type and null handling
  eng/common-tests/matrix-generator/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

A wrapper image for the otel collector so it'll pick up our environment variables for monitoring.
  tools/stress-cluster/services/otelcollector/Dockerfile
  tools/stress-cluster/services/otelcollector/otel-collector-config.yml
  tools/stress-cluster/services/otelcollector/startup.sh
Due: none

Remove cat, not needed for production.
  tools/stress-cluster/services/otelcollector/startup.sh
Due: none

refactor + add force support
  tools/tsp-client/src/index.ts
  tools/tsp-client/src/npm.ts
Due: none

Comments addressed for the script
  eng/scripts/OpenAPI Hub/sync-repo-structure-cache.py
Due: none

Addressing comments in pipeline yaml file
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
  eng/scripts/OpenAPI Hub/requirements.txt
Due: none

Fix bug in args name
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

Increase delay between processing cleanup of revisions created from PR
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add new Scheduled rule: EnforceMax2YearLifeOfIssues
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/ScheduledEventProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/RulesConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
  tools/github-event-processor/RULES.md
  tools/github-event-processor/YmlAndConfigFiles/event-processor.config
  tools/github-event-processor/YmlAndConfigFiles/event-processor.yml
  tools/github-event-processor/YmlAndConfigFiles/scheduled-event-processor.yml
Due: none

Fix reference bug
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix a minor error in the metadata file. AzureSdkOwners must be part of a block that contains a ServiceLabel entry which was missing from the example.
  tools/codeowners-utils/METADATA.md
Due: none

Trim out unneeded config: - We're only using HTTP - We don't use Prometheus
  tools/stress-cluster/services/otelcollector/otel-collector-config.yml
Due: none

Update stress codeowners
  .github/CODEOWNERS
Due: none

Change behavior on missing env vars to throw
  eng/common-tests/matrix-generator/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

Update stress codeowners (#7694)
  .github/CODEOWNERS
Due: none

Add sample server
  tools/http-fault-injector/sample-servers/net/.gitignore
  tools/http-fault-injector/sample-servers/net/http-server/Azure.Sdk.Tools.HttpFaultInjector.HttpServerSample.csproj
  tools/http-fault-injector/sample-servers/net/http-server/Azure.Sdk.Tools.HttpFaultInjector.HttpServerSample.sln
  tools/http-fault-injector/sample-servers/net/http-server/Program.cs
  tools/http-fault-injector/sample-servers/net/http-server/testCert.pfx
Due: none

Update pipeline mode with the ability to follow yaml references and update all the dependent files
  tools/pipeline-template-converter/Azure.Sdk.PipelineTemplateConverter/PipelineResolver.cs
  tools/pipeline-template-converter/Azure.Sdk.PipelineTemplateConverter/Program.cs
Due: none

Add upload and download
  tools/http-fault-injector/sample-servers/net/http-server/Program.cs
Due: none

Add more logging
  tools/http-fault-injector/sample-servers/net/http-server/Program.cs
Due: none

Create LintDiff_report.kql
  tools/pipeline-witness/infrastructure/kusto/functions/users/kojamroz/LintDiff_report.kql
Due: none

Update LintDiff_report.kql: fix typo
  tools/pipeline-witness/infrastructure/kusto/functions/users/kojamroz/LintDiff_report.kql
Due: none

Update LintDiff_report.kql: make formatting more consistent
  tools/pipeline-witness/infrastructure/kusto/functions/users/kojamroz/LintDiff_report.kql
Due: none

Always set upstreamRequest.Content - Should handle chunked upstream requests without content-length - And shouldn't break requests with no body
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/FaultInjectingMiddleware.cs
Due: none

Add LoggingStream
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
Due: none

Increase default payload to 20MB - Default buffer size is about 3MB, which is too large for 10MB payload
  tools/http-fault-injector/sample-clients/net/http-client/Program.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
