Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

[apiview-copilot] Update java filter list (#11117)
  packages/python-packages/apiview-copilot/metadata/java/filter.yaml
Due: none

[apiview-copilot] update typescript exception list (#11081)
  packages/python-packages/apiview-copilot/metadata/typescript/filter.yaml
Due: none

Update dotnet APIView copilot filter.yaml (#11083)
  packages/python-packages/apiview-copilot/metadata/dotnet/filter.yaml
Due: none

[Analyzers] No model factory for System types
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0035Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelFactoryAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

[ApiView] Skip posting comments that have a null elementId (#11189)
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add metrics command skeleton.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_models.py
Due: none

Update packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/cli.py
Due: none

Add implementations.
  packages/python-packages/apiview-copilot/cli.py
Due: none

Normalize line endings
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
Due: none

Fixed mssing curly brace in the test snippet
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0035Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelFactoryAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

[Analyzers] No model factory for System types (#11197)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0035Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelFactoryAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

[APIView Copilot] Add basic metrics (#11194)
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_models.py
Due: none

Fix relative publish path in contributing file
  tools/azsdk-cli/CONTRIBUTING.md
Due: none

Remove contrived failing tests from demo
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
Due: none

Remove contrived failing tests from demo (#11200)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
  tools/azsdk-cli/CONTRIBUTING.md
Due: none

Mocking for GitHub Service and Download MCP Tool Tests (#11161)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/MockServices/MockGitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/DownloadPromptsToolTests.cs
Due: none

validate files tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/FileValidationToolTests.cs
Due: none

Add test for spec-gen-sdk U1 (#11040)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/logging.ts
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowHelpers.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/types/PackageData.ts
  tools/spec-gen-sdk/src/types/Workflow.ts
  tools/spec-gen-sdk/src/types/validator.ts
  tools/spec-gen-sdk/src/utils/fsUtils.ts
  tools/spec-gen-sdk/src/utils/handleSuppressionLines.ts
  tools/spec-gen-sdk/src/utils/runScript.ts
  tools/spec-gen-sdk/src/utils/workflowUtils.ts
  tools/spec-gen-sdk/test/automation/entrypoint.test.ts
  tools/spec-gen-sdk/test/automation/workflow.test.ts
  tools/spec-gen-sdk/test/automation/workflowHelpers.test.ts
  tools/spec-gen-sdk/test/fixtures/specificationRepositoryConfiguration.json
  tools/spec-gen-sdk/test/fixtures/swagger_to_sdk_config.json
Due: none

refine feedback file
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/feedback/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/storage/storage_endpoint.go
Due: none

fix token limit bug & add azure sdk onboarding tenant
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/azure_sdk_onboarding.md
Due: none

+
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/app.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/backend/rag.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/contact.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reference-list.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reference.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reply.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/index.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/ConversationHandler.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/GithubClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/LinkContentExtractor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/PromptGeneratorV2.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/turn/ThinkingHandler.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/conversation.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/e2e/conversation.e2e.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/e2e/github.e2e.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/github.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/promptGenerator.test.ts
Due: none

.
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/turn/ThinkingHandler.ts
Due: none

.
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.bicep
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.parameters.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
Due: none

remove
  tools/js-sdk-release-tools/src/test/changelog/automaticGenerateChangeLogAndBumpVersion.test.ts
Due: none

validate files tests (#11204)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/FileValidationToolTests.cs
Due: none

Normalize line-endings in TestHelloWorldCLIOptions
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
Due: none

Normalize line-endings for expected and output
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
Due: none

Remove extra newlines for readability
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

Remove redundant status updates
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

Fix summary not having element id and adding tests around this code
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewUnitTests/CopilotPollingBackgroundHostedServiceTests.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

copilot feedback
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewUnitTests/CopilotPollingBackgroundHostedServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Changes to reduce possible flakiness while waiting for response
  src/dotnet/APIView/APIViewUnitTests/CopilotPollingBackgroundHostedServiceTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Database refactoring and updates.
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/prompts/conversation_parsing_result_schema.json
  packages/python-packages/apiview-copilot/prompts/parse_conversation_action.prompty
  packages/python-packages/apiview-copilot/prompts/parse_conversation_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/summarize_parse_conversation_to_memory.prompty
  packages/python-packages/apiview-copilot/scratch/mention/no_update.txt
  packages/python-packages/apiview-copilot/scratch/mention/update_with_guideline.txt
  packages/python-packages/apiview-copilot/scratch/mention/update_with_no_guideline.txt
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/_mention.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/__init__.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_planner_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_search_plugin.py
Due: none

PR feedback, other tweaks
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/ProcessResult.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Microsoft.Crank.Agent/ProcessUtil.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/IterationResult.cs
Due: none

Travis feedback
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix #11188.
  packages/python-packages/apiview-copilot/src/_models.py
Due: none

Attempt test fix
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ProcessUtilTests.cs
Due: none

Bump azure-pylint-guidelines-checker version to 0.5.7 and update changelog (#11213)
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
Due: none

Fix ModelFactoryAnalyzer to only analyze source-defined types, not dependencies (#11220)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0035Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelFactoryAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/TestReferenceWithInternalsVisibleTo/Classes.cs
Due: .azure-pipelines/dotnet.yml

Another attempt
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ProcessUtilTests.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
