Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Improve logging
  tools/js-sdk-release-tools/src/common/utils.ts
Due: none

Add error keyword
  tools/js-sdk-release-tools/src/common/utils.ts
Due: none

WIP on wanl/generate-mlc-in-pipeline
  tools/js-sdk-release-tools/src/common/rushUtils.ts
  tools/js-sdk-release-tools/src/mlc/clientGenerator/modularClientPackageGenerator.ts
  tools/js-sdk-release-tools/src/mlc/clientGenerator/utils/typeSpecUtils.ts
  tools/js-sdk-release-tools/src/test/npm/npm.test.ts
  tools/js-sdk-release-tools/src/test/npm/testCases/package.json
Due: none

.
  tools/js-sdk-release-tools/src/common/rushUtils.ts
  tools/js-sdk-release-tools/src/mlc/clientGenerator/modularClientPackageGenerator.ts
Due: none

Fixed issue when processing code file for metapackage
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update C# parser version in deployment pipeline
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update API revision only if file name is present in DB
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update eng/common/scripts/Test-SampleMetadata.ps1
  eng/common/scripts/Test-SampleMetadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Fixed issue when processing code file for metapackage (#8892)
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/apiview.yml
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix issue in attribute line with attribute class name
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: none

Fix attribute with bar seperator
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: none

Small edits
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Fix dispaly of template class name
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Due: none

identifying some mismatched functions
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

refactor checker and tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Update parser version to 29.1
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix issue in attribute line with attribute class name (#8897)
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParser/TreeToken/CodeFileBuilder.cs
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CSharpAPIParserTests.csproj
  tools/apiview/parsers/csharp-api-parser/CSharpAPIParserTests/CodeFileTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add RealTime Comment Updates (#8868)
  src/dotnet/APIView/APIViewWeb/DTOs/CommentUpdatesDto.cs
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ChangeHistory.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CommentItemModel.cs
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_dtos/commentThreadUpdateDto.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/commentItemModel.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/config/config.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/signal-r/signal-r.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/signal-r/signal-r.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.ts
  src/dotnet/APIView/ClientSPA/src/assets/config.json
  src/dotnet/APIView/ClientSPA/src/development.proxy.conf.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

chore(): add playwright-testing to product slugs (#8875)
  eng/common/scripts/Test-SampleMetadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Add save-package-properties yaml
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
Due: eng/pipelines/eng-common-sync.yml

Encapsulate Save-Package-Properties.ps1 invocation into yaml
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Generate-PR-Diff.ps1
Due: eng/pipelines/eng-common-sync.yml

Add hubs URL to Build Pipeline
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

account for feedback -- rename CanaryPackages to AdditionalValidationPackages
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/eng-common-sync.yml

Add descriptive error when variable groups are not added to pipeline
  eng/common/TestResources/build-test-resource-config.yml
Due: eng/pipelines/eng-common-sync.yml

fix error with non-builtins decorators
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

dependentPackagesforInclusion -> additionalValidationPackages
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

WIP
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
  tools/js-sdk-release-tools/src/test/pipeline/sdkGeneration.test.ts
Due: none

Allow uploads of dll files
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fine tuning and testing required
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Pull Request automation feedback (#8878)
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/eng-common-sync.yml

upgrade tsp converter version to 0.9.1
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
Due: none

add pylint report
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylintreport.txt
Due: none

add ranked listing of reports
  tools/pylint-extensions/azure-pylint-guidelines-checker/reportcounts.txt
Due: none

Test sdk generation path
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
  tools/js-sdk-release-tools/src/test/changelog/changelogGenerator.test.ts
  tools/js-sdk-release-tools/src/test/pipeline/sdkGeneration.test.ts
  tools/js-sdk-release-tools/src/test/utils/utils.ts
  tools/js-sdk-release-tools/src/utils/generateInputUtils.ts
Due: none

Fix original package version restore
  tools/js-sdk-release-tools/src/mlc/clientGenerator/modularClientPackageGenerator.ts
  tools/js-sdk-release-tools/src/mlc/clientGenerator/utils/typeSpecUtils.ts
Due: none

.
  .gitignore
Due: none

cleanup
  tools/js-sdk-release-tools/.npmrc
  tools/js-sdk-release-tools/.prettierignore
  tools/js-sdk-release-tools/.prettierrc
  tools/js-sdk-release-tools/bun.lockb
Due: none

Update version
  tools/js-sdk-release-tools/package.json
Due: none
