Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Update default API parser version for .NET
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Added checking for raises in 'for' branches
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

update report
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylintreport.txt
Due: none

update reportcounts.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/reportcounts.md
Due: none

fix formatting for reportcounts.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/reportcounts.md
Due: none

Refactor class TestCheckNonCoreNetworkImport
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/non_core_network_import.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestCheckNonAbstractTransportImport
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/non_abstract_transport_import.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestRaiseWithTraceback
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/no_azure_core_traceback_use_raise_from.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestTypePropertyNameLength
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/name_exceeds_standard_character_length.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestDeleteOperationReturnType
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/delete_operation_return_type.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/raise_with_traceback.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/type_property_name_length.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestDocstringParameters
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_parameters.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestDoNotImportLegacySix
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_import_legacy_six.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestCheckNoLegacyAzureCoreHttpResponseImport
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/no_legacy_azure_core_http_response_import.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactor class TestCheckNoTypingUnderTypeChecking
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/no_typing_under_type_checking.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

minimal tests added
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/invalid_use_of_overload_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/invalid_use_of_overload_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Altered 'check_for_raise' helper function
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Work on Subscribe Button
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/INotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove unused variable group (old cpp cache key)
  eng/pipelines/pipeline-generation.yml
Due: none

Remove unused variable group (old cpp cache key) (#8920)
  eng/pipelines/pipeline-generation.yml
Due: none

Subscribe Switch
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update default API parser version for .NET (#8913)
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Rename autorest.csharp branch feature/v3 to main
  eng/pipelines/tools-repo-versioning.yml
Due: none

Updated contributing guide
  tools/apiview/parsers/CONTRIBUTING.md
Due: none

Updated template token file
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample/Azure.Template_token.json
Due: none

Added tsp project file to compile tsp and generate json
  tools/apiview/parsers/apiview-treestyle-parser-schema/.gitignore
  tools/apiview/parsers/apiview-treestyle-parser-schema/CodeFile.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/package-lock.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/package.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample tokens/Azure.Template_review_content.txt
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample tokens/Azure.Template_token.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Due: none

changing label to Operator Nexus - Network Cloud
  tools/github/data/common-labels.csv
Due: none

Move yaml json checking into powershell script
  eng/common/TestResources/SubConfig-Helpers.ps1
  eng/common/TestResources/build-test-resource-config.yml
Due: eng/pipelines/eng-common-sync.yml

Avoid adding the same package twice, use TrimStart instead of substring (#8912)
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Add support for aka.ms, github wiki and crates.io checking (#8887)
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Updated reference to sample file and json token snippet
  tools/apiview/parsers/CONTRIBUTING.md
Due: none

073124.02/subscribe (#8886)
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/INotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Ensure all parts of comment updates in real time
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add real time updates for review and revisions
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/signal-r/signal-r.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updated API review tokens to include two additional properties (#8885)
  tools/apiview/parsers/CONTRIBUTING.md
  tools/apiview/parsers/apiview-treestyle-parser-schema/.gitignore
  tools/apiview/parsers/apiview-treestyle-parser-schema/CodeFile.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/package-lock.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/package.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample tokens/Azure.Template_review_content.txt
  tools/apiview/parsers/apiview-treestyle-parser-schema/sample tokens/Azure.Template_token.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Due: none

add parser to public
  tools/apiview/parsers/cpp-api-parser/ci.yml
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
