Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Use transient devops connections
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/AzurePipelinesBuildDefinitionWorker.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/BuildCompleteQueueWorker.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/QueueWorkerBackgroundService.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Due: none

Always publish the updated cache file
  eng/pipelines/githubio-linkcheck.yml
Due: none

fix the ci stuck issue
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
  tools/js-sdk-release-tools/src/utils/backupNodeModules.ts
Due: none

fix the ci stuck issue
  tools/js-sdk-release-tools/src/utils/backupNodeModules.ts
Due: none

fix the ci stuck issue
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
Due: none

fix the ci stuck issue (#8170)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
  tools/js-sdk-release-tools/src/utils/backupNodeModules.ts
Due: none

update autogen pipeline in js tool
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
Due: none

update autogen pipeline in js tool (#8171)
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
Due: none

applicable sanitizers now apply to the entire playback session at rest on first real request (eg not proxy setup related) for the recording
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/xml_body_with_sas_present.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ModifiableRecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

repair test
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
Due: none

repair test again
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
Due: none

Apply suggestions from code review
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
Due: none

Update tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
Due: none

Resolve bug in APIView
  src/dotnet/APIView/APIView/Analysis/Analyzer.cs
  src/dotnet/APIView/APIViewIntegrationTests/RepositoryTests/CosmosPullRequestRepositoryTests.cs
  src/dotnet/APIView/APIViewIntegrationTests/RepositoryTests/CosmosReviewRepositoryTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Resolve bug in APIView (#8177)
  src/dotnet/APIView/APIView/Analysis/Analyzer.cs
  src/dotnet/APIView/APIViewIntegrationTests/RepositoryTests/CosmosPullRequestRepositoryTests.cs
  src/dotnet/APIView/APIViewIntegrationTests/RepositoryTests/CosmosReviewRepositoryTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

git status
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
Due: none

adjust default sanitizers
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
Due: none

Update apiview.yml
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update README.md
  tools/github-event-processor/README.md
Due: none

Add support for sdktype "utility" from the JS repo
  eng/common/scripts/Validate-Package.ps1
Due: eng/pipelines/eng-common-sync.yml

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

Update src/dotnet/APIView/apiview.yml
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix EOF
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

new sanitizer added pre feedback from joshlove
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
Due: none

REDACTED in hostname sanitizer now defaults to 'Sanitized' like every other replacement
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
Due: none

Show the latest service version
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
Due: .azure-pipelines/apiview.yml

Update the EnforceMaxLifeOfIssues comment that is added to the issue.
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
Due: none

Add jsquire and ronniegeraghty as owners of github-event-processor
  .github/CODEOWNERS
Due: none

Add jsquire and ronniegeraghty as owners of github-event-processor (#8188)
  .github/CODEOWNERS
Due: none

repair the tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
Due: none

Update README.md
  tools/codeowners-utils/README.md
Due: none

Update the EnforceMaxLifeOfIssues comment that is added to the issue. (#8185)
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
Due: none

ReEnable Revieion DropDown
  src/dotnet/APIView/APIViewWeb/Client/css/pages/review.scss
  src/dotnet/APIView/APIViewWeb/Client/css/shared/language-customizations.scss
  src/dotnet/APIView/APIViewWeb/Client/css/shared/mixins.scss
  src/dotnet/APIView/APIViewWeb/Client/css/shared/off-canvas.scss
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.module.ts
  src/dotnet/APIView/APIViewWeb/Client/src/pages/review.ts
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewBadge.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_RevisionSelectPickerPartial.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove BuildLogProvider
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/BlobUploadProcessorIntegrationTests.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Entities/BuildLogInfo.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/AzurePipelinesBuildDefinitionWorker.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/BuildLogProvider.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Due: none

Update version of github-event-processor to 1.0.0-dev.20240502.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml

Update README.md (#8191)
  tools/codeowners-utils/README.md
Due: none

stress deploy image moving to mariners (#8176)
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/images/test-resource-deployer/Dockerfile
Due: none

Update version of github-event-processor to 1.0.0-dev.20240502.2 (#8193)
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml
