Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - task: DotNetCoreInstaller@2
        displayName: Use .NET Core sdk $(DotNetCoreVersion)
        inputs:
          version: $(DotNetCoreVersion)
      - task: DotNetCoreInstaller@2
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

Update eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/ChangeLog-Operations.ps1
Due: eng/pipelines/eng-common-sync.yml

Add comment for the BuildNotFoundException handler
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/RunProcessor.cs
Due: none

Code review feedback.
  packages/python-packages/api-stub-generator/apistub/__init__.py
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/_metadata_map.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/apistubgentest/apiview_mapping.json
Due: .azure-pipelines/apiview.yml

Support --mapping-path arg for parsing WHL files.
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_metadata_map.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
Due: .azure-pipelines/apiview.yml

Implement CrossLanguageDefinitionId for classes and functions.
  packages/python-packages/api-stub-generator/apistub/__init__.py
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/tests/apiview_test.py
  packages/python-packages/apistubgentest/apiview_mapping.json
Due: .azure-pipelines/apiview.yml

Refactor APIView primitives to use snake_case instead of PascalCase. Add apiview_mapping file.
  packages/python-packages/api-stub-generator/apistub/__init__.py
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/_diagnostic.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/_token.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
  packages/python-packages/api-stub-generator/apistubgen.py
  packages/python-packages/api-stub-generator/tests/apiview_test.py
  packages/python-packages/apistubgentest/apiview_mapping.json
Due: .azure-pipelines/apiview.yml

Update existing comment from APIView bot
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Pin python version for APIVIew to 3.10.1
  .azure-pipelines/apiview.yml
Due: none

Updated version
  .azure-pipelines/apiview.yml
Due: none

Prevent "SomeType[Blah][Blah]" on Python 3.9
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
Due: .azure-pipelines/apiview.yml

Install python 3.10.1
  .azure-pipelines/apiview.yml
  eng/pipelines/templates/steps/use-python-version.yml
  scripts/python/util/install_python_version.py
Due: none

[Python APIView] CrossLangugageDefintionId implementation (#2781)
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/__init__.py
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/_diagnostic.py
  packages/python-packages/api-stub-generator/apistub/_metadata_map.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/_token.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
  packages/python-packages/api-stub-generator/apistubgen.py
  packages/python-packages/api-stub-generator/tests/apiview_test.py
  packages/python-packages/apistubgentest/apiview_mapping.json
Due: .azure-pipelines/apiview.yml

Remove condition in use version
  eng/pipelines/templates/steps/use-python-version.yml
Due: none

Update python version for test also to 3.10.1
  .azure-pipelines/apiview.yml
Due: none

Prevent "SomeType[Blah][Blah]" on Python 3.9 (#2848)
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
Due: .azure-pipelines/apiview.yml

Update to the latest version and use env variable
  eng/pipelines/notifications.yml
  eng/pipelines/templates/variables/globals.yml
Due: none

Pin python version for APIVIew to 3.10.1 (#2845)
  .azure-pipelines/apiview.yml
  eng/pipelines/templates/steps/use-python-version.yml
  scripts/python/util/install_python_version.py
Due: none

Update notifications.yml
  eng/pipelines/notifications.yml
Due: none

Improve Cosmos Emulator logic (#2830)
  eng/common/pipelines/templates/steps/cosmos-emulator.yml
  eng/common/scripts/Cosmos-Emulator.ps1
Due: eng/pipelines/eng-common-sync.yml

chore: use autorest session to print log
  tools/sdk-testgen/packages/autorest.gotest/test/unittest/generator/testGoTester.ts
  tools/sdk-testgen/packages/autorest.testmodeler/src/core/model.ts
  tools/sdk-testgen/packages/autorest.testmodeler/src/core/testModeler.ts
  tools/sdk-testgen/packages/autorest.testmodeler/test/unittest/core/testModel.ts
Due: none

build: release @autorest/testmodeler_v2.2.1 and @autorest/gotest_v2.1.2
  tools/sdk-testgen/packages/autorest.gotest/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.gotest/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.gotest/README.md
  tools/sdk-testgen/packages/autorest.gotest/package.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.testmodeler/package.json
Due: none

chore: use autorest session to print log (#2838)
  tools/sdk-testgen/packages/autorest.gotest/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.gotest/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.gotest/README.md
  tools/sdk-testgen/packages/autorest.gotest/package.json
  tools/sdk-testgen/packages/autorest.gotest/test/unittest/generator/testGoTester.ts
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.testmodeler/package.json
  tools/sdk-testgen/packages/autorest.testmodeler/src/core/model.ts
  tools/sdk-testgen/packages/autorest.testmodeler/src/core/testModeler.ts
  tools/sdk-testgen/packages/autorest.testmodeler/test/unittest/core/testModel.ts
Due: none

add deprecated message in readme.md
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/hlc/generateMgmt.ts
  tools/js-sdk-release-tools/src/hlc/utils/changeReadmeMd.ts
Due: none

build: release @autorest/gotest_v2.1.3
  tools/sdk-testgen/packages/autorest.gotest/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.gotest/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.gotest/package.json
Due: none

v0.1.12
  tools/mock-service-host/CHANGELOG.md
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

add release tool to metadata
  tools/js-sdk-release-tools/src/hlc/generateMgmt.ts
  tools/js-sdk-release-tools/src/hlc/utils/getReleaseTool.ts
Due: none

v0.1.12 (#2852)
  tools/mock-service-host/CHANGELOG.md
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

Auto archive API reviews (#2799)
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
