Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

docs: simplify downstream assessment heading
  .github/skills/azure-typespec-assessment/scripts/render-assessment.mjs
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42435/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42853/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43308/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43745/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44200/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44454/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44742/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44882/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44988/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45348/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45536/assessment.md
Due: none

eval-only: isolate latest main baseline
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/init.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/azure_ai_search.py
Due: none

eval-only: disable GPT-5.6 wiki source backfill
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/knowledge_tools.py
Due: none

Remove superseded conversation evaluation pipeline
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/models/conversation.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/pipelines/conversation-eval.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/pipelines/server-ci.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/conversation_evaluation.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/scripts/evaluate_channel_conversations.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/conversation_service.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/conversation_evaluation_test.py
Due: none

skip empty wiki source documents
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/reader.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/tests/wiki_test.py
Due: none

enhance instruction and remove the skill
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/azure_mcp_server_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/tenants/azure_mcp_server.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/tenant_config_test.py
Due: none

refine instruction
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/azure_mcp_server_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/mslearn_mcp_tools_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/tenant_config_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/mslearn_mcp_tools.py
Due: none

check package path
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Fix assessment report links and evidence
  .github/skills/azure-typespec-assessment/references/assessment-markdown-template.md
  .github/skills/azure-typespec-assessment/references/compliance.md
  .github/skills/azure-typespec-assessment/references/output-contract.md
  .github/skills/azure-typespec-assessment/scripts/finalize-rerun-assessments.mjs
  .github/skills/azure-typespec-assessment/scripts/prepare-assessment.mjs
  .github/skills/azure-typespec-assessment/scripts/prepare-assessment.test.mjs
  .github/skills/azure-typespec-assessment/scripts/render-assessment.mjs
  .github/skills/azure-typespec-assessment/scripts/validate-assessment.mjs
  .github/skills/azure-typespec-assessment/scripts/validate-assessment.test.mjs
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42435/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42435/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42853/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42853/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43308/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43308/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43745/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43745/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44200/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44200/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44454/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44454/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44742/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44742/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44882/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44882/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44988/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44988/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45348/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45348/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45536/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45536/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/execution-time-analysis.md
  .github/skills/azure-typespec-author/references/agentic-search.md
  .github/skills/azure-typespec-author/references/reference-document-links.md
Due: none

bound wiki tool response payloads
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/wiki_retrieval_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/knowledge_tools.py
Due: none

Refresh TypeSpec compliance assessments
  .github/skills/azure-typespec-assessment/scripts/finalize-rerun-assessments.mjs
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42435/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42435/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42853/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/42853/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43308/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43308/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43745/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/43745/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44200/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44200/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44454/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44454/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44742/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44742/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44882/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44882/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44988/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/44988/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45348/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45348/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45536/assessment.json
  .github/skills/azure-typespec-assessment/test-evidence/assessments/45536/assessment.md
  .github/skills/azure-typespec-assessment/test-evidence/assessments/execution-time-analysis.md
Due: none

avoid streaming large hosted agent responses
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/chat_service.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/azure_ai_foundry_agent_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/azure_ai_foundry_agent.py
Due: none

update
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/azure_ai_foundry_agent_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/azure_ai_foundry_agent.py
Due: none

update instruction
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/azure_mcp_server_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/tenant_config_test.py
Due: none

document GPT-5.6 wiki evaluation
  tools/sdk-ai-bots/docs/wiki_retrieval_design.md
Due: none

Widen release-plan duplicate check to catch blank-ReleasePlanType stale records
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

Fix bugged de-duplication logic. (#16783)
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/AutoReviewService.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAutoReviewService.cs
  src/dotnet/APIView/docs/ci-integration.md
  src/dotnet/APIView/docs/release-approval.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Filter tweaks.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Skip ARH when apiHash is not provided.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/PackageMarkReleasedToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/PackageMarkReleasedResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageMarkReleasedTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Code review feedback.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

CI fixes.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestData/TestPrompts.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ProductOnboarding/ProductOnboardingTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

[APIView] Use shared revision filter cache (#16791)
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

document GPT-5.6 grader results
  tools/sdk-ai-bots/docs/wiki_retrieval_design.md
Due: none

Add azsdk-cli code review skill
  .github/skills/.vally.yaml
  .github/skills/code-review/SKILL.md
  .github/skills/code-review/evals/eval.yaml
  .github/skills/code-review/references/finding-contract.md
  .github/skills/code-review/references/review-rules.md
Due: none

[AzSdkCli] Skip ARH when apiHash is not provided (#16773)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestData/TestPrompts.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/PackageMarkReleasedToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/PackageMarkReleasedResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageMarkReleasedTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ProductOnboarding/ProductOnboardingTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Trigger loading image.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Trigger loading image. (#16793)
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Initial commit.
  api-review-release-gate-implementation-plan.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIView/APIViewService.cs
Due: none

Add Get-PackageApprovalStatus script.
  api-review-release-gate-implementation-plan.md
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
Due: eng/pipelines/eng-common-sync.yml

Proposal feedback.
  api-review-release-gate-implementation-plan.md
Due: none

Add Mark-PackageReleased.ps1 script.
  api-review-release-gate-implementation-plan.md
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIView/APIViewService.cs
Due: eng/pipelines/eng-common-sync.yml

Update proposal.
  api-review-release-gate-implementation-plan.md
Due: none

Add Create-APIViewRevision.ps1 script
  api-review-release-gate-implementation-plan.md
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIViewRevision.ps1
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/tests/Create-APIViewRevision.Tests.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
Due: eng/pipelines/eng-common-sync.yml

Update proposoal and scripts. Add step templates.
  api-review-release-gate-implementation-plan.md
  eng/common/pipelines/templates/steps/create-apiview-revision.yml
  eng/common/pipelines/templates/steps/get-package-approval-status.yml
  eng/common/pipelines/templates/steps/mark-package-released.yml
  eng/common/scripts/Create-APIViewRevision.ps1
  eng/common/scripts/Get-PackageApprovalStatus.ps1
  eng/common/scripts/Mark-PackageReleased.ps1
  eng/common/scripts/tests/Create-APIViewRevision.Tests.ps1
  eng/common/scripts/tests/Get-PackageApprovalStatus.Tests.ps1
  eng/common/scripts/tests/Mark-PackageReleased.Tests.ps1
Due: eng/pipelines/eng-common-sync.yml

Feedback.
  api-review-release-gate-implementation-plan.md
  eng/common/pipelines/templates/steps/get-package-approval-status-for-release.yml
  eng/common/pipelines/templates/steps/get-package-approval-status.yml
Due: eng/pipelines/eng-common-sync.yml

Updates.
  api-review-release-gate-implementation-plan.md
  eng/common/pipelines/templates/steps/get-package-approval-status-for-build.yml
  eng/common/pipelines/templates/steps/get-package-approval-status-for-release.yml
Due: eng/pipelines/eng-common-sync.yml

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none
