Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

eng/pipelines/validate-instructions-azsdk-references.yml:
  pool:
    name: $(LINUXPOOL)
    demands: ImageOverride -equals $(LINUXVMIMAGE)
  jobs:
  - job: VerifyMcpToolReferences
    displayName: Verify MCP Tool References
    steps:
    - checkout: self
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        version: 8.0.x
    - task: UseDotNet@2
  ...

Add average confidence score to metrics.
  packages/python-packages/apiview-copilot/src/_metrics.py
  packages/python-packages/apiview-copilot/tests/__init__.py
  packages/python-packages/apiview-copilot/tests/metrics_test.py
Due: none

Remove Tier 1 analyzers migrated to Azure.SdkAnalyzers
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0013Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0101Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0108Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0109Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0111Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/AsyncAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/MethodBodyAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/TaskCompletionSourceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Plan and spec
  tools/azsdk-cli/docs/specs/7-operations-codeowners-management.spec.md
  tools/azsdk-cli/plan.md
Due: none

[eng/common/tsp-client] override lodash to latest
  eng/common/tsp-client/package.json
Due: eng/pipelines/eng-common-sync.yml

npm i
  eng/common/tsp-client/package-lock.json
Due: eng/pipelines/eng-common-sync.yml

[apiview/clientspa] npm audit fix
  src/dotnet/APIView/ClientSPA/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[eng/common-tests/tsp-client] npm audit fix
  eng/common-tests/tsp-client/package-lock.json
Due: none

fix comment: add two categories instead of just-post
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_java/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_java/qa.md
Due: none

Codeowners release check first pass
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/TestPrompts.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeownersManagementHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Core/ToolPromptCoverageTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersManagementHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/ICodeownersManagementHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Codeowners/CheckPackageOwnersResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Config/CodeownersTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Include codeowner check in evaluations
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Core/ToolPromptCoverageTests.cs
Due: none

refine intention
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/intention_classify.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/chat_service.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/intention_service.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/azure_monitor.py
Due: none

[apiview/clientspa] bump vite to 6.4.2
  src/dotnet/APIView/ClientSPA/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[typespec-apiview] bump vite to 7.3.2
  tools/apiview/emitters/typespec-apiview/package-lock.json
Due: none

Enhance changelog content for first release and migration guidance for modular clients
  tools/js-sdk-release-tools/src/common/changelog/modifyChangelogFileAndBumpVersion.ts
Due: none

Enhance model-only checker to support beta releases and improve Git tag verification logic
  tools/js-sdk-release-tools/src/common/interfaces.ts
  tools/js-sdk-release-tools/src/common/npmUtils.ts
  tools/js-sdk-release-tools/src/mlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/xlc/codeUpdate/updateUserAgent.ts
Due: none

add web fetch tool
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/init.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/models/web.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/web_tools_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/ado_mcp_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/web_tools.py
Due: none

Add tests for isModelOnly function to handle Track 1 to Track 2 migration git tag fallback
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
Due: none

Update TestCases.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/TestCases.json
Due: none

update test cases
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/BastionHost.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/BgpConnection.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/ExpressRouteGateway.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/ExpressRoutePort.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/ExpressRouteProviderPort.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/NetworkInterface.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/P2SVpnGateway.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/Route.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/VpnServerConfigurationPolicyGroup.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004003-delete-and-restore-operationId-decorator/VpnSiteLinkConnection.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/TestCases.json
Due: none

add qas
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002008-ARM-add-parameters/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/TestCases.json
Due: none

rename test cases
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/TestCases.json
Due: none

update test cases and project files
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/001002-version-default-value/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/001002-version-default-value/readme.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/001003-version-required-to-optional/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/001003-version-required-to-optional/readme.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/001004-version-property-decorator/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/001004-version-property-decorator/readme.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002001-ARM-change-resource-type/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002002-ARM-define-extension-resource/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002003-ARM-define-full-update-operation/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002004-ARM-define-extension-resource/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002005-ARM-define-the-resource/employee.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002005-ARM-define-the-resource/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002006-ARM-define-child-resource/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/002007-ARM-define-custom-action/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/003002-arm-action-lro/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/003003-arm-modify-response/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004001-decorate-mgmt-resource-name-parameter/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/004002-decorate-length-constrains-on-array-item/main.tsp
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/TestData/TypeSpec/TestCases.json
Due: none

fix text lower issue & refine prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/init.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/test_text_util.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/web_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/text_util.py
Due: none

reduce kb tool context
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/init.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/models/knowledge.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/knowledge_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/web_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/azure_ai_search.py
Due: none

remove limit for webfetch tool
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/web_tools.py
Due: none

improve performance
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/init.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/turn/ThinkingHandler.ts
Due: none

keep only one category request-review
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_java/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_java/qa.md
Due: none

fix the deps installation
  eng/common/scripts/Verify-Readme.ps1
Due: eng/pipelines/eng-common-sync.yml

Add azure-rest-api-specs to pipeline dependencies
  eng/pipelines/sync-.github.yml
Due: none

Update eng/common/scripts/Verify-Readme.ps1
  eng/common/scripts/Verify-Readme.ps1
Due: eng/pipelines/eng-common-sync.yml

refine webfetch tool
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/init.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/scripts/deploy_hosted_agent.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/web_tools.py
Due: none

Fix performance issue
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use AllDirectories in DetectTestFramework to find nested csproj files
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotnetLanguageService.cs
Due: none

Use Name.LocalName for XML queries in DetectTestFramework
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotnetLanguageService.cs
Due: none

Prevent liveTestEnvironment from overriding test mode variables
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotnetLanguageService.cs
Due: none

Rename test to clarify it covers the Unknown-framework case
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/DotNetLanguageSpecificChecksTests.cs
Due: none

Add SDK Validation check name filter to post-apiview workflow
  .github/workflows/post-apiview.yml
Due: eng/pipelines/eng-workflows-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml
