Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2019-general
        vmImage: MMS2019
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Speed up sync eng/common pipeline
  eng/pipelines/eng-common-sync.yml
Due: none

[stress testing] Warn user when helm fails due to large files not being ignored (#4631)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/eng-common-sync.yml

Speed up sync eng/common pipeline (#4679)
  eng/pipelines/eng-common-sync.yml
Due: none

update to handle multiple compression types (#4650)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/PlaybackTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/CompressionUtilities.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/GZipUtilities.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Add sync event to PRs
  .github/workflows/needs-triage.yml
Due: none

Service readme index table stays the same even the table content needs to update
  eng/common-tests/doc-automation/service-readme-generation/Service.Readme.Generation.Helpers.ps1
  eng/common-tests/doc-automation/service-readme-generation/Service.Readme.Generation.Tests.ps1
  eng/common-tests/doc-automation/service-readme-generation/ci.yml
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/latest/service-name-4-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/latest/service-name-4.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/latest/service-name-7.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-5-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-5.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-6-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-6.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-2-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-2.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-4-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-4.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-7.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-1-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-1.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-3-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-3.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-5-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-5.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-6-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-6.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/package1.json
  eng/common-tests/doc-automation/service-readme-generation/inputs/package2.json
  eng/common-tests/doc-automation/service-readme-generation/inputs/package3.json
  eng/common-tests/doc-automation/service-readme-generation/inputs/package4.json
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation-Functions.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
  eng/pipelines/templates/steps/run-pester-tests.yml
Due: eng/pipelines/eng-common-sync.yml

adjust the edge cases tests
  eng/common-tests/doc-automation/service-readme-generation/Service.Readme.Generation.Tests.ps1
  eng/common/scripts/Service-Level-Readme-Automation-Functions.ps1
Due: eng/pipelines/eng-common-sync.yml

change the way of testing
  eng/common-tests/doc-automation/service-readme-generation/Service.Readme.Generation.Tests.ps1
  eng/pipelines/templates/steps/run-pester-tests.yml
Due: none

disable target framework check. need to chat with .NET folks about ridding ourselves of .net 5
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
Due: none

disable target framework check. need to chat with .NET folks about ridding ourselves of .net 5 (#4686)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
Due: none

updating target version to one with brotli encoding supported
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

[JS] Add EventHubs test commands
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

SubscribeTest
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

[JS] Add Service Bus tests
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Updating target version to one with brotli encoding supported (#4687)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

Add monitor-ingestion
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Find max parallel
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Bump version.
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/version.ts
Due: none

Fixes #4609
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/namespace-model.ts
  tools/apiview/emitters/cadl-apiview/src/navigation.ts
  tools/apiview/emitters/cadl-apiview/test/apiview.test.ts
Due: none

Initial work.
  tools/apiview/emitters/cadl-apiview/src/namespace-model.ts
  tools/apiview/emitters/cadl-apiview/src/navigation.ts
Due: none

Update package name approval button label
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewBadge.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

change the helper function to helper folder
  eng/common-tests/doc-automation/service-readme-generation/Service.Readme.Generation.Tests.ps1
  eng/common/scripts/Service-Level-Readme-Automation-Functions.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Due: eng/pipelines/eng-common-sync.yml

add missing files
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

testing the link
  eng/pipelines/templates/steps/sync-directory.yml
Due: none

testing on evn
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Due: none

Revert "Speed up sync eng/common pipeline (#4679)"
  eng/pipelines/eng-common-sync.yml
Due: none

Updated field name
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewBadge.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Make the env variable upper case
  eng/common/scripts/Queue-Pipeline.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Due: eng/pipelines/eng-common-sync.yml

Adding debug messages.
  eng/common/scripts/Queue-Pipeline.ps1
Due: eng/pipelines/eng-common-sync.yml

Fixed the service name
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Due: eng/pipelines/eng-common-sync.yml

Log out the link
  eng/common/scripts/Queue-Pipeline.ps1
Due: eng/pipelines/eng-common-sync.yml

Enable sandboxing for Python manual and upgrade reviews (#4657)
  eng/pipelines/apiview-review-gen-javascript.yml
  eng/pipelines/apiview-review-gen-python.yml
  eng/pipelines/templates/steps/apiview-review-gen.yml
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update package name approval button label (#4697)
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewBadge.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update index table when generate service level readme (#4632)
  eng/common-tests/doc-automation/service-readme-generation/Service.Readme.Generation.Helpers.ps1
  eng/common-tests/doc-automation/service-readme-generation/Service.Readme.Generation.Tests.ps1
  eng/common-tests/doc-automation/service-readme-generation/ci.yml
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/latest/service-name-4-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/latest/service-name-4.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/latest/service-name-7.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-5-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-5.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-6-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/actual/preview/service-name-6.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-2-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-2.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-4-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-4.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/latest/service-name-7.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-1-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-1.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-3-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-3.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-5-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-5.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-6-index.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/expected/preview/service-name-6.md
  eng/common-tests/doc-automation/service-readme-generation/inputs/package1.json
  eng/common-tests/doc-automation/service-readme-generation/inputs/package2.json
  eng/common-tests/doc-automation/service-readme-generation/inputs/package3.json
  eng/common-tests/doc-automation/service-readme-generation/inputs/package4.json
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Service-Level-Readme-Automation-Helpers.ps1
  eng/common/scripts/Service-Level-Readme-Automation.ps1
Due: eng/pipelines/eng-common-sync.yml

Remove wildcards
  src/java/apiview-java-processor/result/final-1.0.2-sources.json
  src/java/apiview-java-processor/result/packagetestlib.json
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/KotlinASTAnalyser.kt
Due: .azure-pipelines/apiview.yml

Update README.md
  tools/apiview/emitters/cadl-apiview/README.md
Due: none

Update sync-directory.yml
  eng/pipelines/templates/steps/sync-directory.yml
Due: none

Bump versions and update README.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/package.json
Due: none

[Cadl APIView] Support aliases and augment decorators (#4668)
  tools/apiview/emitters/cadl-apiview/CHANGELOG.md
  tools/apiview/emitters/cadl-apiview/README.md
  tools/apiview/emitters/cadl-apiview/package.json
  tools/apiview/emitters/cadl-apiview/src/apiview.ts
  tools/apiview/emitters/cadl-apiview/src/namespace-model.ts
  tools/apiview/emitters/cadl-apiview/src/navigation.ts
  tools/apiview/emitters/cadl-apiview/src/version.ts
  tools/apiview/emitters/cadl-apiview/test/apiview.test.ts
Due: none

Change the way of using env var (#4701)
  eng/common/scripts/Queue-Pipeline.ps1
  eng/pipelines/templates/steps/sync-directory.yml
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
