Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePattern: ${{ parameters.FilePattern }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

PR Revisions
  eng/pipelines/templates/stages/archetype-sdk-tool-azure-function.yml
  tools/issue-labeler/Directory.Build.props
  tools/issue-labeler/IssueLabeler.sln
  tools/issue-labeler/LICENSE.TXT
  tools/issue-labeler/ci.yml
  tools/issue-labeler/src/CreateMikLabelModel/CreateMikLabelModel.csproj
  tools/issue-labeler/src/Hubbup.MikLabelModel/Hubbup.MikLabelModel.csproj
  tools/issue-labeler/src/IssueLabeler.Shared/IssueLabeler.Shared.csproj
  tools/issue-labeler/src/IssueLabelerService/IssueLabelerService.csproj
Due: none

Adjust variable in yml
  eng/pipelines/templates/stages/archetype-sdk-tool-azure-function.yml
Due: none

iterate across the package props, but still only invoke them if they're present in the artifact list
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/eng-common-sync.yml

handle issue with artifactname
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/eng-common-sync.yml

consistency
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/eng-common-sync.yml

need to ensure that the test-proxy can't destructively update a containing repo directory
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

remove redundant blank lines
  src/go/cmd/content.go
  src/go/cmd/review.go
Due: none

explicit declaration types
  src/go/cmd/content.go
  src/go/cmd/token_makers.go
Due: none

remove space in empty param list
  src/go/cmd/testdata/test_module/output.json
  src/go/cmd/token_makers.go
Due: none

comprehensive output test
  src/go/cmd/api_view_test.go
  src/go/cmd/output/test_const.json
  src/go/cmd/output/test_func_decl.json
  src/go/cmd/output/test_interface.json
  src/go/cmd/output/test_struct.json
  src/go/cmd/testdata/test_const/go.mod
  src/go/cmd/testdata/test_const/test.go
  src/go/cmd/testdata/test_func_decl/go.mod
  src/go/cmd/testdata/test_func_decl/test.go
  src/go/cmd/testdata/test_interface/go.mod
  src/go/cmd/testdata/test_interface/test.go
  src/go/cmd/testdata/test_module/go.mod
  src/go/cmd/testdata/test_module/internal/stuff.go
  src/go/cmd/testdata/test_module/output.json
  src/go/cmd/testdata/test_module/subpackage/subpackage.go
  src/go/cmd/testdata/test_module/test_module.go
  src/go/cmd/testdata/test_struct/go.mod
  src/go/cmd/testdata/test_struct/test.go
Due: none

remove duplicate types for resolved aliases
  src/go/cmd/pkg.go
Due: none

better test name
  src/go/cmd/api_view_test.go
  src/go/cmd/testdata/test_module/go.mod
  src/go/cmd/testdata/test_output/go.mod
  src/go/cmd/testdata/test_output/internal/stuff.go
  src/go/cmd/testdata/test_output/output.json
  src/go/cmd/testdata/test_output/subpackage/subpackage.go
  src/go/cmd/testdata/test_output/test.go
Due: none

tidying
  src/go/cmd/content.go
Due: none

yml template path fix
  tools/issue-labeler/ci.yml
Due: none

Adding Durable Task Scheduler Label (#9410)
  tools/github/data/common-labels.csv
Due: none

Downgrade Java parser JDK baseline to Java 17, and fix some tests.
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/azure/MavenPackageAndDescriptionDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

Downgrading again to Java 8 baseline.
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
Due: .azure-pipelines/apiview.yml

Unregister repository after module install
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

PR Revisions
  tools/issue-labeler/Directory.Build.props
  tools/issue-labeler/src/Azure.Sdk.Labels/Azure.Sdk.LabelTrainer.csproj
  tools/issue-labeler/src/CreateMikLabelModel/CreateMikLabelModel.csproj
  tools/issue-labeler/src/Hubbup.MikLabelModel/Hubbup.MikLabelModel.csproj
  tools/issue-labeler/src/IssueLabeler.Shared/IssueLabeler.Shared.csproj
  tools/issue-labeler/src/IssueLabelerService/IssueLabelerService.csproj
  tools/issue-labeler/src/IssueLabelerService/Properties/ServiceDependencies/gh-issue-labeler - Zip Deploy/appInsights1.arm.json
  tools/issue-labeler/src/IssueLabelerService/Properties/ServiceDependencies/gh-issue-labeler - Zip Deploy/profile.arm.json
  tools/issue-labeler/tests/Hubbup.MikLabelModel.Tests/Hubbup.MikLabelModel.Tests.csproj
Due: none

Support override of powershell module feeds (#9392)
  eng/common/scripts/Helpers/PSModule-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

need to ensure that the test-proxy can't destructively update a containing repo directory (#9413)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

properly handle it when git is in an unrecoverable state. hopefully not breaking any tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
Due: none

remove invalid nav links
  src/go/cmd/api_view_test.go
  src/go/cmd/review.go
Due: none

move a test from the solution integration to the CLI integration tests
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/scripts/test-scripts/CLIIntegration.Tests.ps1
Due: none

Check for OpenSSL
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

Fix build issues
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

Recurse into OpenSSL
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

Assemble inventories even if one job fails
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

Fix typo
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

Show OpenSSL directories with relative paths
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

Remove OpenSSL-specific steps
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

remove to test txt
  packages/python-packages/apiview-stub-generator/tests/to_test.txt
Due: none

update APIViewWeb Go parser version
  src/dotnet/APIView/APIViewWeb/Languages/GoLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fixes to build on JDK 8
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/azure/MavenPackageAndDescriptionDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/general/ModuleInfoDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

Remove release flag in pom
  src/java/apiview-java-processor/pom.xml
Due: .azure-pipelines/apiview.yml

Log Program Files directories, fix aggregation bugs (#9424)
  eng/pipelines/agent-software-inventory.yml
Due: eng/pipelines/agent-software-inventory.yml

Revert "Use Tag for Token File OutPut (#9274)"
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/ReadmeParser.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/ReadmeParserTest.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
