Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Code review feedback.
  packages/python-packages/apiview-copilot/README.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview.py
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/metadata/java/filter.yaml
  packages/python-packages/apiview-copilot/src/_apiview.py
  packages/python-packages/apiview-copilot/tests/extract_code_test.py
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/src/_apiview.py
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/metadata/java/filter.yaml
Due: none

Add resolve language tests.
  packages/python-packages/apiview-copilot/tests/resolve_language_test.py
Due: none

﻿Initial changes.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/dev_requirements.txt
  packages/python-packages/apiview-copilot/evals/_custom.py
  packages/python-packages/apiview-copilot/evals/requirements.txt
  packages/python-packages/apiview-copilot/requirements.txt
  packages/python-packages/apiview-copilot/src/_prompty_parser.py
  packages/python-packages/apiview-copilot/src/_utils.py
Due: none

Remove OpenAI configurations from prompty.
  packages/python-packages/apiview-copilot/prompts/api_review/context_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/context_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_comment_with_metadata.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_existing_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_generic_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/generate_correlation_ids.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/generic_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/generic_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/guidelines_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/guidelines_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_confidence.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/merge_comments.prompty
  packages/python-packages/apiview-copilot/prompts/evals/eval_judge_prompt.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_guidelines_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_parser_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_action.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_github_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_actions.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_github_actions.prompty
  packages/python-packages/apiview-copilot/prompts/other/analyze_comment_themes.prompty
  packages/python-packages/apiview-copilot/prompts/other/resolve_package.prompty
  packages/python-packages/apiview-copilot/prompts/other/summarize_metrics.prompty
  packages/python-packages/apiview-copilot/prompts/summarize/summarize_api.prompty
  packages/python-packages/apiview-copilot/prompts/summarize/summarize_diff.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_action.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/summarize_actions.prompty
  packages/python-packages/apiview-copilot/src/_prompty_parser.py
Due: none

Update prompty files.
  packages/python-packages/apiview-copilot/evals/_custom.py
  packages/python-packages/apiview-copilot/prompts/api_review/filter_comment_with_metadata.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_existing_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_generic_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_confidence.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/merge_comments.prompty
  packages/python-packages/apiview-copilot/prompts/evals/eval_judge_prompt.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_guidelines_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_parser_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_action.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_github_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_actions.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_github_actions.prompty
  packages/python-packages/apiview-copilot/prompts/other/resolve_package.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_action.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/summarize_actions.prompty
Due: none

Update prompty files to gpt-5-mini or gpt-5.2
  packages/python-packages/apiview-copilot/dev_requirements.txt
  packages/python-packages/apiview-copilot/prompts/api_review/context_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/context_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_comment_with_metadata.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_existing_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_generic_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/generate_correlation_ids.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/generic_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/generic_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/guidelines_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/guidelines_review.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_confidence.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/merge_comments.prompty
  packages/python-packages/apiview-copilot/prompts/evals/eval_judge_prompt.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_guidelines_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_parser_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_action.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_github_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_actions.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_github_actions.prompty
  packages/python-packages/apiview-copilot/prompts/other/resolve_package.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_action.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/summarize_actions.prompty
  packages/python-packages/apiview-copilot/requirements.txt
Due: none

Add spec for live and recorded tests
  tools/azsdk-cli/docs/specs/4-live-and-recorded-tests.md
Due: none

Copilot feedback: Remove org and project names. Those are treated as constants elsewhere
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersRenderHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/ICodeownersRenderHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Config/CodeownersTool.cs
Due: none

Normalize line endings in results and assertions
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersLinter.Tests/Entry/CodeownersEntryTests.cs
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Scripts/Get-AllPkgProperties.ps1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Scripts/Get-AllPkgProperties.ps1
Due: none

Progress and refactoring.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/evals/_custom.py
  packages/python-packages/apiview-copilot/prompts/api_review/filter_comment_with_metadata.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_existing_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/filter_generic_comment.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/judge_comment_confidence.prompty
  packages/python-packages/apiview-copilot/prompts/api_review/merge_comments.prompty
  packages/python-packages/apiview-copilot/prompts/evals/eval_judge_prompt.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_guidelines_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/deduplicate_parser_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_action.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_github_issue.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_actions.prompty
  packages/python-packages/apiview-copilot/prompts/mention/summarize_github_actions.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_action.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/parse_thread_resolution_to_memory.prompty
  packages/python-packages/apiview-copilot/prompts/thread_resolution/summarize_actions.prompty
  packages/python-packages/apiview-copilot/src/_apiview.py
  packages/python-packages/apiview-copilot/src/_mention.py
  packages/python-packages/apiview-copilot/src/_metrics.py
  packages/python-packages/apiview-copilot/src/_prompt_runner.py
  packages/python-packages/apiview-copilot/src/_prompty_parser.py
  packages/python-packages/apiview-copilot/src/_thread_resolution.py
  packages/python-packages/apiview-copilot/src/_utils.py
  packages/python-packages/apiview-copilot/src/agent/tools/_utility_tools.py
  packages/python-packages/apiview-copilot/src/mention/_base.py
  packages/python-packages/apiview-copilot/src/mention/_github_issue_helpers.py
  packages/python-packages/apiview-copilot/tests/apiview_test.py
Due: none

[AVC] Java improvements (#13961)
  packages/python-packages/apiview-copilot/README.md
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/metadata/java/filter.yaml
  packages/python-packages/apiview-copilot/src/_apiview.py
  packages/python-packages/apiview-copilot/src/mention/_open_guidelines_issue_workflow.py
  packages/python-packages/apiview-copilot/tests/extract_code_test.py
  packages/python-packages/apiview-copilot/tests/resolve_language_test.py
Due: none

fix build + address copilot comments
  global.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/ClientCustomization/PlainTextFeedbackItem.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/FeedbackData.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/FeedbackClassifierService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: none

batch manual guidance
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/FeedbackClassifierService.cs
Due: none

Commit plan and PRD
  plan.md
  prd.md
Due: none

[APIView] Optimize code-pane interactions for revies with large comments counts
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/structuredToken.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix incorrect windows test assertion
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/UpgradeServiceTests.cs
Due: none

integrate TypeSpec customizations into CodeCustomiztionUpdateTool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/SdkGenerationToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/CustomizedCodeUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/ITspClientHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TspClientHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/CustomizedCodeUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: none

[azsdk-cli] Add azsdk upgrade command and notify users when version is stale (#13947)
  .github/workflows/instructions.yml
  eng/pipelines/validate-instructions-azsdk-references.yml
  eng/scripts/Verify-McpToolReferences.ps1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockUpgradeService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/TypeSpec/TypeSpecCustomizationServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/UpgradeServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Core/UpgradeToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Example/ExampleToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Example/HelloWorldToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Generators/ReadMeGeneratorToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Generators/SampleGeneratorToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/CommandRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/McpCommand.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedCommandGroups.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedCommandNames.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/McpLogging.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/OutputHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/VersionHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/CliUpgradeCache.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/UpgradeResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Upgrade/IUpgradeService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Upgrade/UpgradeNotificationHostedService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Upgrade/UpgradeService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Upgrade/UpgradeShutdownService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/InstrumentedTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/MCPToolBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/UpgradeTool.cs
Due: none

Fix approach to solve the issue & update test
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/AutoReviewService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

feedbacl
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

improve prompt + grep tools
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CopilotAgents/Tools/FileTools.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/FeedbackClassificationTemplate.cs
Due: none

Fix deleted revision returned as match in AutoReviewService (#13981)
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/AutoReviewService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update punctuation to text for TS syntax
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/typeAlias.ts
Due: .azure-pipelines/apiview.yml

update typeAlias generator
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/index.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/variable.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/variable.spec.ts
Due: .azure-pipelines/apiview.yml

[APIView] Fix duplicate reviewer request emails for already-assigned reviewers
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Delete tools/apiview/parsers/js-api-parser/output-health-insights.json
  tools/apiview/parsers/js-api-parser/output-health-insights.json
Due: .azure-pipelines/apiview.yml

Update package.json
  tools/apiview/parsers/js-api-parser/package.json
Due: .azure-pipelines/apiview.yml

Fix reviewer clickable hover state
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

tune azsdk_typespec_generate_authoring_plan tool description
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/TestPrompts.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TypeSpecAuthoringTool.cs
Due: none

update punctuation to text for TS syntax
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/helpers.ts
Due: .azure-pipelines/apiview.yml

Remove Git tag existence check from npm view creation functions
  tools/js-sdk-release-tools/src/common/npmUtils.ts
Due: none

Try to fix copy
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
  src/dotnet/APIView/apiview-sync-to-dev.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update knowledge for SDK review and TypeSpec validation processes
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/sdk-onboarding/sdk-review.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/management-plane/arm-templates.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/validation.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/versioning.md
Due: none

Update typespec-authoring spec to reflect latest implementation (#13970)
  tools/azsdk-cli/docs/specs/typespec-authoring.spec.md
Due: none

Apply suggestion from @haolingdong-msft
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
