Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

filter error log level
  tools/spec-gen-sdk/src/automation/logging.ts
Due: none

log failure for final result
  tools/spec-gen-sdk/src/automation/reportStatus.ts
Due: none

Logging improvements for the azure pipeline result (#9813)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/logging.ts
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/cli/cli.ts
  tools/spec-gen-sdk/src/utils/arrays.ts
  tools/spec-gen-sdk/src/utils/runScript.ts
  tools/spec-gen-sdk/src/utils/utils.ts
  tools/spec-gen-sdk/test/utils.test.ts
Due: none

Parameterize test-pipeline version separator (#9810)
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: eng/pipelines/eng-common-sync.yml

Excluded general message from displaying in devops result
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/utils/runScript.ts
Due: none

Excluded general message from displaying in devops result (#9818)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/utils/runScript.ts
Due: none

update
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/src/index.ts
Due: none

increase test outtime
  tools/tsp-client/test/commands.spec.ts
Due: none

Prevent Repeated API calls, resolve performance bottle neck
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/index-page/index-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/index-page/index-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

disable on demand upgrade
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add IConfiguration import
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

encode rollforward into test-proxy artifact (#9815)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
Due: none

[APIView] update treestyle parser tsp for python codegen (#9247)
  tools/apiview/parsers/apiview-treestyle-parser-schema/CodeFile.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/package-lock.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/package.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Due: none

support gh url
  tools/tsp-client/src/commands.ts
Due: none

Replace `CIMatrixConfigs` with generalized `CIParameters` within `Package-Properties` (#9807)
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/eng-common-sync.yml

fix tests
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/examples/package-sdk-pinning.json
Due: none

Fix the expression used for AddDevVersion param in save package properties (#9821)
  eng/common/pipelines/templates/steps/save-package-properties.yml
Due: eng/pipelines/eng-common-sync.yml

typo fix
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update release date
  tools/tsp-client/CHANGELOG.md
Due: none

Expose `debug` flag for the `convert` command (#9795)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/src/commands.ts
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/examples/package-sdk-pinning.json
Due: none

Update src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update parser version in Cosmos when converting code file to tree model (#9766)
  src/dotnet/APIView/APIViewWeb/Languages/CLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/CppLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/JsonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageProcessor.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/SwiftLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Models/APICodeFileModel.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

changeservices
  eng/common/scripts/Generate-PR-Diff.ps1
Due: eng/pipelines/eng-common-sync.yml

Reduce chunk size + Make Console App Interactable
  tools/issue-labeler/src/SearchIndexCreator/DocumentIndex.cs
  tools/issue-labeler/src/SearchIndexCreator/IssueIndex.cs
  tools/issue-labeler/src/SearchIndexCreator/Program.cs
Due: none

Sprucing up readability
  tools/issue-labeler/src/IssueLabelerService/AzureSdkIssueLabelerService.cs
  tools/issue-labeler/src/SearchIndexCreator/DocumentIndex.cs
Due: none

Handle defaults in `changedFiles` and `deletedFiles` (#9823)
  eng/common/scripts/Generate-PR-Diff.ps1
Due: eng/pipelines/eng-common-sync.yml

change if statement
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix the issue in adding dev version in package info
  eng/common/pipelines/templates/steps/save-package-properties.yml
  eng/common/scripts/Save-Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

chmod +x TestResources scripts
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/Update-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

Remove debug lines
  eng/common/scripts/Save-Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

adjustments to iterating across matrix configs for packages that belong to multiple matrices
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/eng-common-sync.yml

add ship stopper error to prevent silently dropping matrix configs on the floor
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/eng-common-sync.yml
