Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi, packages/python-packages/api-stub-generator, packages/python-packages/protocol-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

remove space
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

[Perf] Move perf.yml to eng/common (#3657)
  eng/common/pipelines/templates/jobs/perf.yml
Due: eng/pipelines/eng-common-sync.yml

two leading $ signs on the definition of the certificate path was causing some issues!
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

[Test-Proxy] Allow eng/common/testproxy to be used via external reference (#3656)
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

support groupby endpoint url
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParserTest/SwaggerAPIViewTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParserTest/fixtures/mediacomposition.json
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewOperation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewParameter.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewPaths.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SchemaCache.cs
Due: none

save
  tools/sdk-generation-pipeline/Dockerfile
  tools/sdk-generation-pipeline/documents/docker/README.md
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/DockerContext.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/jobs/GrowUpJob.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/runMockHostCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/schema/dockerCliInput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/utils/GitOperationWrapper.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/utils/autorestConfigExtractorUtils.ts
  tools/sdk-generation-pipeline/scripts/install-gh.sh
Due: none

clone sdk repo in grow up scenario
  tools/sdk-generation-pipeline/Dockerfile
  tools/sdk-generation-pipeline/documents/docker/README.md
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/DockerContext.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/jobs/GrowUpJob.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/runMockHostCli.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/schema/dockerCliInput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/utils/GitOperationWrapper.ts
  tools/sdk-generation-pipeline/scripts/install-gh.sh
Due: none

lint fix
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/core/jobs/GrowUpJob.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/cli/dockerCli/schema/dockerCliInput.ts
  tools/sdk-generation-pipeline/packages/sdk-generation-cli/src/utils/autorestConfigExtractorUtils.ts
Due: none

support circular reference
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParserTest/SwaggerAPIViewTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SchemaCache.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/SwaggerTypes.cs
Due: none

Add Parser version in Python APIView code file (#3653)
  packages/python-packages/api-stub-generator/apistub/_apiview.py
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

skipping a failing test. need to figure out integration testing process
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Add runtime assignment of SkipCheckingForChanges
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/eng-common-sync.yml

remove dependency on libgit2sharp
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Azure.Sdk.Tools.TestProxy.csproj
Due: none

WIP: Add human-readable table of results
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Due: none

Improvements to APIView Search
  src/dotnet/APIView/APIViewWeb/Client/src/reviews.ts
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

doc fix
  tools/sdk-generation-pipeline/documents/docker/README.md
Due: none

Add markdown output
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ResultsSummaryTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/OutputFormat.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/TableGenerator.cs
Due: none

support serialize operation summary
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerAPIViewGenerator.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParserTest/SwaggerAPIViewTest.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewOperation.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiView/SwaggerApiViewPaths.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/Operation.cs
Due: none

publish
  tools/sdk-testgen/common/changes/@autorest/testmodeler/20220705-securitydefinition_2022-07-05-05-14.json
  tools/sdk-testgen/common/changes/@autorest/testmodeler/20220711-testmodeler-oav3.0_2022-07-12-08-05.json
  tools/sdk-testgen/common/changes/@autorest/testmodeler/20220711-testmodeler-oav3.0_2022-07-14-03-04.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.json
  tools/sdk-testgen/packages/autorest.testmodeler/CHANGELOG.md
  tools/sdk-testgen/packages/autorest.testmodeler/npm-shrinkwrap.json
  tools/sdk-testgen/packages/autorest.testmodeler/package.json
Due: none

Implement CSV output
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ResultsSummaryTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/TableGenerator.cs
Due: none

Use same header (markdown) for all formats
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Due: none

Fill test matrix
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ResultsSummaryTests.cs
Due: none

Fill empty test matrix
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ResultsSummaryTests.cs
Due: none

Return server error response to REST API caller
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Process dependencies only when it's not empty
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Write txt and md output files
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Due: none

Print additional result summary formats to pipelines UI
  eng/common/pipelines/templates/jobs/perf.yml
Due: eng/pipelines/eng-common-sync.yml

Update casing for 'verison' (#3628)
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix bug generating tables with partial rows
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/Azure.Sdk.Tools.PerfAutomation.Tests.csproj
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ResultsSummaryTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/TableGeneratorTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/partial-rows.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/TableGenerator.cs
Due: none

REST APi accepts new project param that can be used to pass devops project name
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Process dependencies only when it's not empty (#3692)
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code cleanup
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ResultsSummaryTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/TableGenerator.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Util.cs
Due: none

Remove trailing whitespace from table rows
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/TableGeneratorTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/TableGenerator.cs
Due: none

[Perf] Add runtime package versions and additional formats to summary output (#3612)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/Azure.Sdk.Tools.PerfAutomation.Tests.csproj
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/DictionaryEqualityComparerTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/ResultsSummaryTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/TableGeneratorTests.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/java.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/js.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/net.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/no-iterations.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/partial-rows.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/python.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.Tests/results/three-versions.json
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation.sln
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Azure.Sdk.Tools.PerfAutomation.csproj
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/DictionaryEqualityComparer.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/CsvResult.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/OutputFormat.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/ResultSummary.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/TableGenerator.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Util.cs
Due: none

Fix deserialization of Transport config
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Fixes as per review suggestions
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add create-clients test
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Fix leading whitespace in table columns
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/TableGenerator.cs
Due: none
