Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

get rid of a relative path from repo root when we cnan simply go relative to the PSScriptRoot directly
  eng/common/scripts/Helpers/Package-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

bump version to 2.0.1
  tools/apiview/parsers/js-api-parser/package.json
Due: .azure-pipelines/apiview.yml

[js-apiview-parser] increment version to 2.0.1
  tools/apiview/parsers/js-api-parser/package.json
Due: .azure-pipelines/apiview.yml

Swagger APIView Bugfix
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
Due: none

Bump version
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/package.json
  tools/apiview/parsers/js-api-parser/src/generate.ts
Due: .azure-pipelines/apiview.yml

[js-apiview-parser] increment version to 2.0.1 (#9132)
  tools/apiview/parsers/js-api-parser/package.json
Due: .azure-pipelines/apiview.yml

Use $GITHUB_EVENT_PATH variable instead of inline file writing
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml

Pylint Exception logging (#9077)
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_log_exceptions.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Intial changes.
  tools/apiview/emitters/typespec-apiview/src/apiview.ts
  tools/apiview/emitters/typespec-apiview/src/diagnostic.ts
  tools/apiview/emitters/typespec-apiview/src/navigation.ts
  tools/apiview/emitters/typespec-apiview/src/schemas.ts
  tools/apiview/emitters/typespec-apiview/test/apiview.test.ts
  tools/apiview/emitters/typespec-apiview/test/test-host.ts
Due: none

Resolve build errors. Package compiles.
  tools/apiview/emitters/typespec-apiview/package-lock.json
  tools/apiview/emitters/typespec-apiview/src/apiview.ts
  tools/apiview/emitters/typespec-apiview/test/apiview.test.ts
  tools/apiview/emitters/typespec-apiview/test/test-host.ts
Due: none

Archive github event data
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml

test
  README.md
Due: none

Add redirect URL to login requests
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/URlHelpers.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/ClientSPA/src/app/_guards/auth.guard.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Swagger APIView Bugfix (#9133)
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Utils.cs
Due: none

positional arg check removed
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_hardcode_connection_verify_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_hardcode_connection_verify_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

update apiview tree parser tspconfig
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Due: none

add complex ivar type to tests
  packages/python-packages/apiview-stub-generator/tests/_test_util.py
  packages/python-packages/apiview-stub-generator/tests/class_parsing_test.py
  packages/python-packages/apiview-stub-generator/tests/dataclass_parsing_test.py
  packages/python-packages/apiview-stub-generator/tests/docstring_parser_test.py
Due: none

move token rendered_kinds out of method
  packages/python-packages/apiview-stub-generator/apistub/_token.py
Due: none

fix Union of None type in ivar
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
  packages/python-packages/apiview-stub-generator/apistub/_apiview.py
  packages/python-packages/apiview-stub-generator/tests/docstring_parser_test.py
Due: none

Hide the navigation nodes for unmodified nodes in diff (#9015)
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/navigationTreeModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Publish JS parser using system identity
  tools/apiview/parsers/js-api-parser/ci.yml
Due: .azure-pipelines/apiview.yml

Add .npmrc to authenticate
  tools/apiview/parsers/js-api-parser/.npmrc
  tools/apiview/parsers/js-api-parser/ci.yml
Due: .azure-pipelines/apiview.yml

Additional npmrc changes
  src/dotnet/APIView/APIViewWeb/.npmrc
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  tools/apiview/parsers/js-api-parser/ci.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Additional npmrc changes
  tools/apiview/parsers/js-api-parser/ci.yml
Due: .azure-pipelines/apiview.yml

[Pylint] Check client methods have approved name prefix (#9081)
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/client_has_approved_method_name_prefix.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

npmrc changes
  src/dotnet/APIView/APIViewWeb/.npmrc
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  tools/apiview/parsers/js-api-parser/.npmrc
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

npmrc changes
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Include npm rc in APView deployment
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaScriptLanguageService.cs
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update JS parser version
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add .npmrc
  tools/apiview/parsers/js-api-parser/.npmrc
Due: .azure-pipelines/apiview.yml

update package.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/package-lock.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/package.json
Due: none

Parse CI Artifacts (#9102)
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Progress on implementation.
  tools/apiview/emitters/typespec-apiview/CHANGELOG.md
  tools/apiview/emitters/typespec-apiview/package.json
  tools/apiview/emitters/typespec-apiview/src/apiview.ts
  tools/apiview/emitters/typespec-apiview/src/emitter.ts
  tools/apiview/emitters/typespec-apiview/src/namespace-model.ts
  tools/apiview/emitters/typespec-apiview/src/schemas.ts
  tools/apiview/emitters/typespec-apiview/src/util.ts
  tools/apiview/emitters/typespec-apiview/src/version.ts
  tools/apiview/emitters/typespec-apiview/test.tsp
  tools/apiview/emitters/typespec-apiview/test/test-host.ts
Due: none

Do not hardcode boolean connection verify v2 (#9118)
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_hardcode_connection_verify_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_hardcode_connection_verify_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Install dependencies first as work around
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/apiview.yml
  tools/apiview/parsers/js-api-parser/.npmrc
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revert dependency install
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Changes required for sdk-repo based emitter pipelines
  eng/common/pipelines/templates/stages/archetype-typespec-emitter.yml
  eng/common/pipelines/templates/steps/create-authenticated-npmrc.yml
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/New-RegenerateMatrix.ps1
  eng/common/scripts/common.ps1
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
Due: eng/pipelines/eng-common-sync.yml

Update src/dotnet/APIView/apiview.yml
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update JS parser verison (#9145)
  src/dotnet/APIView/APIViewWeb/Languages/JavaScriptLanguageService.cs
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Invalid use of @overload v2 (#9127)
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/invalid_use_of_overload_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/invalid_use_of_overload_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
