Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Fix APIvIew pipeline test failure (#4579)
  .azure-pipelines/apiview.yml
Due: .azure-pipelines/apiview.yml

update needs triage to output more event payloads
  .github/workflows/needs-triage.yml
Due: none

Add Azure.Monitor to the allowlist of .NET namespaces
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Just a test
  .github/workflows/needs-triage.yml
Due: none

Update stress examples to 0.2.0 and add script fixes (#4544)
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/generate-scenario-matrix.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/scenarios-matrix.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/poll.sh
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/scenarios-matrix.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/values.yaml
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-debug-share-example/scenarios-matrix.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/scenarios-matrix.yaml
Due: eng/pipelines/eng-common-sync.yml

Combine approval indicator and request approval button
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Regenerate diff metadata when codefile is updated by sandboxing
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add opened to pull_request_target
  .github/workflows/needs-triage.yml
Due: none

Add Azure.Monitor to the allowlist of .NET namespaces (#4581)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

adding new events
  .github/workflows/needs-triage.yml
Due: none

Consistent path handling (#4578)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/GitStoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationPushTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationResetTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationRestoreTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/NormalizedString.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/AssetsConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitAssetsConfiguration.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStoreBreadcrumb.cs
Due: none

Add package source override to toc script.
  eng/common/scripts/Update-DocsMsToc.ps1
Due: eng/pipelines/eng-common-sync.yml

10/31 Test Proxy Update (#4574)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

remote configuration doesn't stick around long term
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Update swagger code file deserialize to create sections
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Handle helm version modifiers in stress test min version check (#4591)
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
Due: eng/pipelines/eng-common-sync.yml

Update leaf section only if not present
  src/dotnet/APIView/APIView/Model/CodeFile.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

adjust sdk pr's title and body
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
  tools/sdk-generation-pipeline/sdk-generation-pipeline.yml
Due: none

js cadl dpg automation script (#4459)
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/autoGenerateInPipeline.ts
  tools/js-sdk-release-tools/src/hlc/generateMgmt.ts
  tools/js-sdk-release-tools/src/llc/generateRLCInPipeline/generateRLCInPipeline.ts
  tools/js-sdk-release-tools/src/llc/utils/updateCadlProjectYamlFile.ts
  tools/js-sdk-release-tools/src/utils/getOutputPackageInfo.ts
  tools/js-sdk-release-tools/src/utils/git.ts
Due: none

add default value for tag
  tools/sdk-generation-pipeline/sdk-generation-pipeline.yml
Due: none

we can't remove origin, it corrupts the git tree. instead lets default it to the version without a secret
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

debug for body msg don't replace
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
Due: none

fix create pr bug
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
Due: none

tiny cleanup and usage of abstraction
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

bugfix sdk pr body
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
Due: none

change sdk pr title and body (#4596)
  tools/sdk-generation-pipeline/pipelines/steps/parse-and-publish-result.yml
  tools/sdk-generation-pipeline/sdk-generation-pipeline.yml
Due: none

Fix issue when calculating diff section for codefile generated by sandboxing
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove language param from REST API to update file
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove language param from REST API to update file
  src/dotnet/APIView/APIView/Model/CodeFile.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove language param from REST API to update file
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add package source override to toc script. (#4586)
  eng/common/scripts/Update-DocsMsToc.ps1
Due: eng/pipelines/eng-common-sync.yml

Tidy up userPreference Logic
  src/dotnet/APIView/APIViewWeb/Client/src/helpers.ts
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Models/UserPreferenceModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserPreferenceCache.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Regenerate diff metadata when codefile is updated by sandboxing (#4583)
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageService.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Tidy up userPreference Logic (#4587)
  src/dotnet/APIView/APIViewWeb/Client/src/helpers.ts
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Models/UserPreferenceModel.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserPreferenceCache.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

cspell issues in cpp branch , needs updated node, and cspell and npx need to be installed for cspell to run
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/spelling/Invoke-Cspell.ps1
Due: eng/pipelines/eng-common-sync.yml

cspell issues in cpp branch , needs updated node, and cspell and npx … (#4603)
  eng/common/pipelines/templates/steps/check-spelling.yml
  eng/common/spelling/Invoke-Cspell.ps1
Due: eng/pipelines/eng-common-sync.yml

GitAssetConfiguration -> GitAssetsConfiguration
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Asset's clones don't store (#4588)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

target newest version of proxy tool
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml
