Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

initial list
  packages/python-packages/apiview-copilot/metadata/java/filter.yaml
Due: none

.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
Due: none

nit
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
Due: none

[APIView Copilot] Add @mention chat endpoint (#11053)
  packages/python-packages/apiview-copilot/agent.bat
  packages/python-packages/apiview-copilot/agent.py
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/local_agent.bat
  packages/python-packages/apiview-copilot/local_agent.py
  packages/python-packages/apiview-copilot/prompts/existing_comment_filter.prompty
  packages/python-packages/apiview-copilot/scratch/diffs/python/keyvault_secrets_4.10.0b1_4.2.0.txt
  packages/python-packages/apiview-copilot/scratch/diffs/python/keyvault_secrets_4.10.0b1_4.2.0_git.txt
  packages/python-packages/apiview-copilot/scratch/expected/python/clinical_matching.json
  packages/python-packages/apiview-copilot/scratch/expected/python/image_analysis.json
  packages/python-packages/apiview-copilot/scratch/expected/python/image_analysis_multiple_same_violations.json
  packages/python-packages/apiview-copilot/scratch/mention/test.txt
  packages/python-packages/apiview-copilot/src/_models.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

Deployment to production documentation
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

resolve merge conflicts
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
Due: none

[Devex Agent] Create spec pull request as draft (#11086)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
Due: none

Fix issue with package_name casing.
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
Due: none

add negation
  packages/python-packages/apiview-copilot/metadata/java/filter.yaml
Due: none

Fix issues with handle_mention
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

[APIView Copilot] Fix mention endpoint (#11122)
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

﻿Refactor DatabaseManager
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
Due: none

Fix issues.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
Due: none

Refactor review endpoints to use DatabaseManager.
  packages/python-packages/apiview-copilot/app.py
Due: none

Tweak implementation.
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
Due: none

Fix tests and integrate endpoint
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Models/AgentChatResponse.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

small typo
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Take agent response
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updates.
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/__init__.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_planner_plugin.py
Due: none

add changelog, bump version to 0.24.1
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
Due: none

Support new beta tag in npm package (#11109)
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/interfaces.ts
  tools/js-sdk-release-tools/src/common/npmUtils.ts
  tools/js-sdk-release-tools/src/hlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/llc/utils/generateChangelog.ts
  tools/js-sdk-release-tools/src/llc/utils/utils.ts
  tools/js-sdk-release-tools/src/mlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
  tools/js-sdk-release-tools/src/test/utils/utils.ts
  tools/js-sdk-release-tools/src/test/version/version.test.ts
  tools/js-sdk-release-tools/src/utils/version.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Due: none

refine agentic search & refine evaluation script
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/azure.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/ai_search_endpoint_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/similarity.prompty
Due: none

refine agentic search
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
Due: none

excelptional handling for valid confidence score
  tools/issue-labeler/src/IssueLabelerService/Labelers/OpenAiLabeler.cs
Due: none

exception handling for valid confidence score
  tools/issue-labeler/src/IssueLabelerService/Labelers/OpenAiLabeler.cs
Due: none

Update packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
Due: none

revert
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/package.json
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/clientDefinitions.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/index.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/isUnexpected.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/logger.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/models.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/outputModels.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/paginateHelper.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/parameters.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/pollingHelper.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/responses.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/widgetManagerClient.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/package.json
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/clientDefinitions.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/index.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/isUnexpected.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/logger.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/models.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/outputModels.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/paginateHelper.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/parameters.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/pollingHelper.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/responses.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/widgetManagerClient.ts
Due: none

revert
  tools/tsp-client/test/examples/sdk/alternate-emitter-package-json-path/placeholder.md
  tools/tsp-client/test/utils/alternate-emitter-package-lock.json
Due: none

feedback
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

revert
  tools/tsp-client/test/utils/alternate-emitter-package.json
Due: none

Deployment to production documentation (#11120)
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView Copilot] Refactor DatabasePlugin to use DatabaseManager (#11121)
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/__init__.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_planner_plugin.py
Due: none

exception handling for valid confidence score (#11127)
  tools/issue-labeler/src/IssueLabelerService/Labelers/OpenAiLabeler.cs
Due: none

Create `cli apiview get-comments` command.
  packages/python-packages/apiview-copilot/cli.py
Due: none

Update packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/cli.py
Due: none

[APIView Copilot] Add `cli apiview get-comments` command (#11131)
  packages/python-packages/apiview-copilot/cli.py
Due: none

Update src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Create APIView Script should obey UseDevVersion
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
