Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

Add pylint rule C4753 to catch 'kwargs' keyword arg in docstring (#16321)
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/code_examples.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_kwargs_test.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

ccr-improvement-loop: re-run dotnet/runtime Jan & Mar 2026 with judged CCR outcomes
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-01-31_dotnet_runtime.json
  .github/aw/ccr-improvement-loop/dashboard/data/run-2026-03-31_dotnet_runtime.json
Due: none

Add durable Copilot auth via GitHub App refresh-token flow (Option A)
  eng/common/pipelines/templates/jobs/refresh-copilot-token.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/scripts/eval/Bootstrap-CopilotToken.ps1
  eng/common/scripts/eval/Refresh-CopilotToken.ps1
Due: eng/pipelines/eng-common-sync.yml

ccr-improvement-loop: add one-shot GitHub Pages deploy for dashboard
  .github/workflows/ccr-dashboard-pages.yml
Due: none

[pylint] Update CHANGELOG for version 0.5.8 release
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
Due: none

Simplified pipeline variables for auto-release (#16334)
  eng/common-tests/scripts/Resolve-AutoReleasePackages.Tests.ps1
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix release readiness for Patch releases; derive beta/stable from package version
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkReleaseTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

add License-CLA-check doc
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/config/knowledge-config.json
Due: none

refine intension prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/intention_classify.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/intention_service_test.py
Due: none

fix config
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/config/knowledge-config.json
Due: none

fix image vulnerable issue
  tools/sdk-ai-bots/azure-sdk-qa-bot-function/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-function/package.json
Due: none

fix url
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
Due: none

refine knowledge sync logic
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/intention_classify.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/package-lock.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/package.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/SearchService.ts
Due: none

add test
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/intention_classify.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/intention_service_test.py
Due: none

Tighten unknown rules in conversation eval prompt to fix accuracy regression
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/prompts/conversation_evaluation.md
Due: none

sdk-ai-bots: fix azd deploy for agent and backend, and postprovision output casing
  tools/sdk-ai-bots/azure.yaml
  tools/sdk-ai-bots/deployment/hooks/backend-postdeploy.ts
  tools/sdk-ai-bots/deployment/hooks/postprovision.ts
  tools/sdk-ai-bots/deployment/infra/main.bicep
  tools/sdk-ai-bots/deployment/infra/modules/qaBotAgent/component.bicep
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
Due: none

make prefix check optional
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/pipelines/live-test-cleanup.yml
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

Update CLI command to add release pipeline URL in release plan (#16332)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleaseStatusUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Updated failure patterns to use "az account show"
  .github/skills/azsdk-common-pipeline-analysis/references/failure-patterns.md
Due: none

ccr-improvement-loop: add example drill-down + theme cards to dashboard
  .github/aw/ccr-improvement-loop/dashboard/index.html
  .github/aw/ccr-improvement-loop/dashboard/js/app.mjs
  .github/aw/ccr-improvement-loop/dashboard/styles.css
Due: none

Prettier formatting.
  .github/skills/azsdk-common-pipeline-analysis/references/failure-patterns.md
Due: none

Potential fix for pull request finding
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Added presteps support to auto-release template
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
Due: eng/pipelines/eng-common-sync.yml

fix(pylint-checker): C4776 false-positives on relative imports
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/no_cross_package_private_import.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

fix(pylint-checker): C4739 vararg bugs in check-docstrings
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_overload_args_kwargs.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_parameters.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/no_cross_package_private_import.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Add github skills sync checking
  eng/scripts/Approve-Sync-PRs.ps1
Due: none

fix(pylint-checker): revert vararg policy change, keep C4739 bug fixes
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_parameters.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Update MCP tools documentation
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

fix(pylint-checker): handle __init__.py in C4776 relative import resolution
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Add github skills sync checking (#16354)
  eng/scripts/Approve-Sync-PRs.ps1
Due: none

Added presteps support to auto-release template (#16352)
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
Due: eng/pipelines/eng-common-sync.yml

Convert Vally eval CI glue to TypeScript and reuse specs exec primitives (#16330)
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/jobs/eval-summarize.yml
  eng/common/pipelines/templates/jobs/generate-eval-matrix.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/scripts/eval/.gitignore
  eng/common/scripts/eval/README.md
  eng/common/scripts/eval/build-eval-summary.ts
  eng/common/scripts/eval/collect-stimuli.ts
  eng/common/scripts/eval/init-eval-git-fixtures.ts
  eng/common/scripts/eval/invoke-eval-shard.ts
  eng/common/scripts/eval/lib/exec.ts
  eng/common/scripts/eval/lib/glob.ts
  eng/common/scripts/eval/lib/verdict.ts
  eng/common/scripts/eval/package.json
  eng/common/scripts/eval/sync-eval-git-repo.ts
  eng/common/scripts/eval/test/build-eval-summary.test.ts
  eng/common/scripts/eval/test/collect-stimuli.test.ts
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
  eng/common/scripts/eval/test/verdict.test.ts
Due: eng/pipelines/eng-common-sync.yml

Update release pending status and pipeline URL in release plan
  eng/common-tests/scripts/Resolve-AutoReleasePackages.Tests.ps1
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: eng/pipelines/eng-common-sync.yml

test(pylint-checker): drop undocumented *args characterization test
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_parameters.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

fix(pylint-checker): correct relative-import escape bounds check; use context managers in tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Update release pending status and pipeline URL in release plan (#16335)
  eng/common-tests/scripts/Resolve-AutoReleasePackages.Tests.ps1
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
Due: eng/pipelines/eng-common-sync.yml

minor wording updates
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/docstring_parameters.py
Due: none
