Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

specify SDK breaking change
  tools/azsdk-cli/docs/specs/sdk-breaking-change-detect.spec.md
Due: none

Support test release plan dashboard using ADO items with test tag (#15668)
  tools/release-plan-dashboard/package-lock.json
  tools/release-plan-dashboard/routes/api.js
Due: none

Split github workflow and github skills sync into two pipelines (#15625)
  .github/skills/README.md
  doc/engsys_workflows_and_skills.md
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/scripts/Delete-RemoteBranches.ps1
  eng/pipelines/branch-cleanup.yml
  eng/pipelines/sync-.github-skills.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
  tools/azsdk-cli/docs/skills-guidelines.md
Due: eng/pipelines/eng-common-sync.yml

Apply suggestion from @praveenkuttappan
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: eng/pipelines/eng-common-sync.yml, eng/pipelines/validate-instructions-azsdk-references.yml

[tsp authoring] Fix benchmark readme (#15592)
  .github/skills/azure-typespec-author/evaluate/README.md
Due: none

Add CONTRIBUTING.md for azsdk-cli MCP server
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CONTRIBUTING.md
Due: none

Use DevOps feed for sync_knowledge.yml (#15643)
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/sync_knowledge.yml
Due: none

Switch to User Assigned Managed Identity
  .github/workflows/kusto-query.yml
Due: none

Install Pytest
  .github/workflows/kusto-query.yml
Due: none

Fixed analyzer errors
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkGenerationTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Fix Services table in CONTRIBUTING.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CONTRIBUTING.md
Due: none

Fix non-generic ObjectCommandResponse in CONTRIBUTING.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CONTRIBUTING.md
Due: none

Audit-driven corrections to CONTRIBUTING.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CONTRIBUTING.md
Due: none

prepare-release-plan skill updates (#15566)
  .github/skills/azsdk-common-prepare-release-plan/SKILL.md
  .github/skills/azsdk-common-sdk-release/SKILL.md
  plugins/azure-sdk-tools/skills/prepare-release-plan/SKILL.md
  plugins/azure-sdk-tools/skills/sdk-release/SKILL.md
Due: none

Temporaily disable python tests
  .github/workflows/kusto-query.yml
  eng/scripts/python/kusto-query-executor/kusto-query-executor-tests.py
  eng/scripts/python/kusto-query-executor/kusto-query-executor.py
Due: none

Add eval system handoff doc
  tools/ai-evals/HANDOFF.md
Due: none

Add step to read and resolve pieline entry points
  .github/workflows/execute-kusto-query.yml
  .github/workflows/network-isolation-resolver-agent.yml
  eng/scripts/python/kusto-query-executor/kusto-query-executor.py
Due: none

update instruction
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/chat_agent/instruction.md
Due: none

Use gh_coding_agent_to_devops_identity managed identity
  .github/workflows/network-isolation-resolver-agent.yml
Due: none

Refactor to keep kusto in the same job
  .github/workflows/network-isolation-resolver-agent.yml
Due: none

Polish handoff doc: concrete eval locations and domain-specific MCP/Skills primer
  tools/ai-evals/HANDOFF.md
Due: none

Copy package.json and package-lock.json from azure-rest-api-specs to Microsoft.Widget fixture
  .github/skills/azure-typespec-author/evaluate/fixtures/Microsoft.Widget/package-lock.json
  .github/skills/azure-typespec-author/evaluate/fixtures/Microsoft.Widget/package.json
Due: none

update error report
  eng/pipelines/azure-typespec-author-benchmark.yml
Due: none

Bump @azure-tools/js-sdk-release-tools to 2.16.8 (#15621)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
Due: none

update error report 2
  eng/pipelines/azure-typespec-author-benchmark.yml
Due: none

two jobs run
  eng/pipelines/azure-typespec-author-benchmark.yml
Due: none

Fixes #15599.
  src/dotnet/APIView/APIView/CodeFileHtmlRenderer.cs
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHtmlRendererXssTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHtmlRendererXssTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix for pull request finding
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  src/dotnet/APIView/APIView/CodeFileHtmlRenderer.cs
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHtmlRendererXssTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Attribute encode certain flat-token fields at render time (#15682)
  src/dotnet/APIView/APIView/CodeFileHtmlRenderer.cs
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHtmlRendererXssTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add sort-by-Release-Plan-ID option to Release Plan Dashboard (#15527)
  tools/release-plan-dashboard/public/app.js
  tools/release-plan-dashboard/public/index.html
  tools/release-plan-dashboard/public/style.css
Due: none

Apply suggestion from @praveenkuttappan
  tools/release-plan-dashboard/ci.yml
Due: none

Remove old KeyAuth policy. Add TokenAuth requirement to UpdateApiReview. Change endpoint from GET to POST.
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Filters/ApiKeyAuthorizeAsyncFilter.cs
  src/dotnet/APIView/docs/sandboxing.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml
