Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

Remove need for APIView URL.
  eng/pipelines/apiview-review-gen-javascript.yml
  eng/pipelines/apiview-review-gen-python.yml
  eng/pipelines/apiview-review-gen-swagger.yml
  eng/pipelines/apiview-review-gen-typespec.yml
  eng/pipelines/templates/steps/apiview-review-gen.yml
  eng/scripts/Apiview-Update-Generated-Review.ps1
Due: none

Update pipelines.
  eng/pipelines/apiview-review-gen-javascript.yml
  eng/pipelines/apiview-review-gen-python.yml
  eng/pipelines/apiview-review-gen-swagger.yml
  eng/pipelines/apiview-review-gen-typespec.yml
  eng/pipelines/templates/steps/apiview-review-gen.yml
  eng/scripts/Apiview-Update-Generated-Review.ps1
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding Discovery
  tools/github/data/common-labels.csv
Due: none

Add review/revision match validation.
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add agentic workflow for network resolver
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/network-isolation-resolver-agent.lock.yml
  .github/workflows/network-isolation-resolver-agent.md
Due: none

Add push trigger
  .github/workflows/network-isolation-resolver-agent.lock.yml
  .github/workflows/network-isolation-resolver-agent.md
Due: none

Switch skill-eval pipeline to 1ES managed pool (azsdk-pool)
  eng/pipelines/skill-eval.yml
Due: none

only compatibility
  plugins/azure-sdk-tools/skills/apiview-feedback-resolution/SKILL.md
  plugins/azure-sdk-tools/skills/azure-typespec-author/SKILL.md
  plugins/azure-sdk-tools/skills/generate-sdk-locally/SKILL.md
  plugins/azure-sdk-tools/skills/live-and-recorded-tests/SKILL.md
  plugins/azure-sdk-tools/skills/markdown-token-optimizer/SKILL.md
  plugins/azure-sdk-tools/skills/pipeline-troubleshooting/SKILL.md
  plugins/azure-sdk-tools/skills/prepare-release-plan/SKILL.md
  plugins/azure-sdk-tools/skills/sdk-release/SKILL.md
  plugins/azure-sdk-tools/skills/skill-authoring/SKILL.md
Due: none

Use proper github token
  .github/workflows/network-isolation-resolver-agent.lock.yml
  .github/workflows/network-isolation-resolver-agent.md
Due: none

Issue 368 solution 1
  .github/skills/azure-typespec-author/evaluate/evals/001001.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001002.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001003.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001004.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001005.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001006.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001007.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001008.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001009.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001010.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001011.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001012.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/001013.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002001.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002002.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002003.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002004.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002005.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002006.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002007.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002008.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002009.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/002010.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/003001.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/003002.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/004001.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/004002.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/004003.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/005001.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/eval.yaml
  eng/pipelines/azure-typespec-author-benchmark.yml
  eng/pipelines/templates/steps/typespec-author-eval-setup.yml
Due: none

Remove benchmark package.json files and add script to download latest code from repo
  .github/skills/azure-typespec-author/evaluate/README.md
  .github/skills/azure-typespec-author/evaluate/fixtures/001-share-version-new-feature/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/001002-version-default-value/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/001005-version-add-preview-after-preview/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/001006-version-add-preview-after-stable/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/001007-version-add-stable-after-preview/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/001008-version-add-stable-after-stable/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/002003-ARM-define-full-update-operation/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/002004-ARM-define-extension-resource/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/002005-ARM-define-the-resource/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/002009-arm-add-patch-operation-to-resource/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/002010-arm-action-sync-operation/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/003-long-running-operation-share/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/004002-decorate-length-constrains-on-array-item/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/004003-delete-and-restore-operationId-decorator/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/005001-warning-suppress-warning/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/Microsoft.Widget/Widget/package-lock.json
  .github/skills/azure-typespec-author/evaluate/fixtures/Microsoft.Widget/Widget/package.json
  .github/skills/azure-typespec-author/evaluate/fixtures/setup-package-files.js
Due: none

Update setup-package-files.js
  .github/skills/azure-typespec-author/evaluate/fixtures/setup-package-files.js
Due: none

Apply suggestion from @praveenkuttappan
  tools/release-plan-dashboard/ci.yml
Due: none

[apiview] Update Python Semver handling in VersionNormalization (#15663)
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewUnitTests/VersionNormalizationTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/VersionNormalizationHelper.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIVersionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/AutoReviewService.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIVersionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove old KeyAuth policy. Add TokenAuth requirement to UpdateApiReview. Change endpoint from GET to POST.
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Filters/ApiKeyAuthorizeAsyncFilter.cs
  src/dotnet/APIView/docs/sandboxing.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  eng/scripts/Apiview-Update-Generated-Review.ps1
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Change artifactPath to artifactName
  eng/scripts/Apiview-Update-Generated-Review.ps1
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Apply suggestions from code review
  tools/release-plan-dashboard/ci.yml
Due: none

only compatibility (#15689)
  plugins/azure-sdk-tools/skills/apiview-feedback-resolution/SKILL.md
  plugins/azure-sdk-tools/skills/azure-typespec-author/SKILL.md
  plugins/azure-sdk-tools/skills/generate-sdk-locally/SKILL.md
  plugins/azure-sdk-tools/skills/live-and-recorded-tests/SKILL.md
  plugins/azure-sdk-tools/skills/markdown-token-optimizer/SKILL.md
  plugins/azure-sdk-tools/skills/pipeline-troubleshooting/SKILL.md
  plugins/azure-sdk-tools/skills/prepare-release-plan/SKILL.md
  plugins/azure-sdk-tools/skills/sdk-release/SKILL.md
  plugins/azure-sdk-tools/skills/skill-authoring/SKILL.md
Due: none

Revert pipeline changes. Continue to support legacy unauthenticated, temporarily.
  eng/pipelines/apiview-review-gen-typespec.yml
  eng/pipelines/templates/steps/apiview-review-gen.yml
  eng/scripts/Apiview-Update-Generated-Review.ps1
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update prettier update
  tools/release-plan-dashboard/ci.yml
Due: none

Code review feedback.
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove unused endpoint.
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Show test environment details
  tools/release-plan-dashboard/public/app.js
  tools/release-plan-dashboard/public/index.html
  tools/release-plan-dashboard/public/style.css
  tools/release-plan-dashboard/routes/api.js
  tools/release-plan-dashboard/tests/api-routes.test.js
Due: none

Upddated change log
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Add CONTRIBUTING.md for azsdk-cli MCP server (#15678)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CONTRIBUTING.md
Due: none

Feedback
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView SPA] Show prominent 'Approved' status pill for non-architect viewers (#14724) (#15595)
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Added a pre-generate step to build plugin projects for .NET (#15670)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/SdkGenerationToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotnetLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkGenerationTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/CustomizedCodeUpdateTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Update tools/release-plan-dashboard/public/index.html
  tools/release-plan-dashboard/public/index.html
Due: none
