Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  eng/pipelines/eng-common-sync.yml: any of: eng/common

Update eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/pipelines/templates/steps/verify-links.yml
Due: eng/pipelines/eng-common-sync.yml

address feedback
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Add TestResources changes from JS smoke test re-architecture
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/remove-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Rebase and update documentation
  eng/common/TestResources/New-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
Due: eng/pipelines/eng-common-sync.yml

Update Remove-TestResources.ps1.md
  eng/common/TestResources/Remove-TestResources.ps1.md
Due: eng/pipelines/eng-common-sync.yml

Review feedback
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

Update eng/common/scripts/Verify-Links.ps1
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Update Eng/Common Workflow
  eng/common/README.md
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Due: eng/pipelines/eng-common-sync.yml

Adjustments to eng/common README.md
  eng/common/README.md
  eng/common/scripts/Submit-PullRequest.ps1
Due: eng/pipelines/eng-common-sync.yml

Update Eng/Common Workflow (#899)
  eng/common/README.md
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Due: eng/pipelines/eng-common-sync.yml

Adding initial work for API view tool
  src/go/api_view.go
  src/go/api_view_test.go
  src/go/content.go
  src/go/go.mod
  src/go/models.go
  src/go/output/testconst.json
  src/go/output/testfuncdecl.json
  src/go/output/testinterface.json
  src/go/output/teststruct.json
  src/go/testdata/test_const/go.mod
  src/go/testdata/test_const/test.go
  src/go/testdata/test_funcDecl/go.mod
  src/go/testdata/test_funcDecl/test.go
  src/go/testdata/test_interface/go.mod
  src/go/testdata/test_interface/test.go
  src/go/testdata/test_struct/go.mod
  src/go/testdata/test_struct/test.go
  src/go/token_builders.go
Due: none

renaming package to apiview
  src/go/api_view.go
  src/go/api_view_test.go
  src/go/content.go
  src/go/go.mod
  src/go/models.go
  src/go/output/testconst.json
  src/go/output/testinterface.json
  src/go/token_builders.go
Due: none

Add license header, remove output folder
  src/go/api_view.go
  src/go/api_view_test.go
  src/go/content.go
  src/go/models.go
  src/go/output/testconst.json
  src/go/output/testfuncdecl.json
  src/go/output/testinterface.json
  src/go/output/teststruct.json
  src/go/testdata/test_const/test.go
  src/go/testdata/test_funcDecl/test.go
  src/go/testdata/test_interface/test.go
  src/go/testdata/test_struct/test.go
  src/go/token_builders.go
Due: none

Update Verify Resource Ref
  eng/common/scripts/Verify-Resource-Ref.ps1
Due: eng/pipelines/eng-common-sync.yml

Fixed the log messages.
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Log error on error summary
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Add new diagnostic to encourage users to make classes final whenever possible.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/FluentSetterReturnTypeDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

Add versionString to model output so that APIView doesn't feel compelled to 'update' the model. Disabling the 'Language' feature for now.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Due: .azure-pipelines/apiview.yml

Updating color scheme and removing func tabs
  src/go/api_view.go
  src/go/content.go
  src/go/output/testconst.json
  src/go/output/testfuncdecl.json
  src/go/output/testinterface.json
  src/go/output/teststruct.json
  src/go/token_builders.go
Due: none

Update Verify Resource Ref (#902)
  eng/common/scripts/Verify-Resource-Ref.ps1
Due: eng/pipelines/eng-common-sync.yml

address comments
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

[APIView] Java improvements (#889)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/FluentSetterReturnTypeDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Due: .azure-pipelines/apiview.yml

Check links against the SHA commit (#870)
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Fixed the log messages
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

minor fix
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

formating
  eng/common/pipelines/templates/steps/verify-links.yml
Due: eng/pipelines/eng-common-sync.yml

Refining some of the diagnostics
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

Upgrading version
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Due: .azure-pipelines/apiview.yml

Adding main with command-line args
  src/go/api_view.go
  src/go/api_view_test.go
  src/go/content.go
  src/go/main.go
  src/go/models.go
  src/go/token_builders.go
Due: none

Fix consts navigation, left pane symbols, add func navigation, delete unexported/test funcs
  src/go/content.go
  src/go/token_builders.go
Due: none

Adding color fixes
  src/go/token_builders.go
Due: none

output package definition tokens
  src/go/api_view.go
  src/go/token_builders.go
Due: none

[APIView] Small Java processor improvements (#904)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ConsiderFinalClassDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

Add support for module-info display, and fix up a small diagnostic issue
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Due: .azure-pipelines/apiview.yml

Begin Extending Eng Common Syncer
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Due: eng/pipelines/eng-common-sync.yml

Make it possible to comment on module-info directives.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

[APIView] module-info support (#906)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/RequiredBuilderMethodsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Due: .azure-pipelines/apiview.yml

change the map to array
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Update eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/Submit-PullRequest.ps1
Due: eng/pipelines/eng-common-sync.yml
