Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Reverted changes to verify-changelog.yml and script
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Verify-ChangeLog.ps1
Due: eng/pipelines/eng-common-sync.yml

Expose APIView functionality to tools/mcp agents (#12111)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ApiViewReviewToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedCommandGroups.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/APIViewConfiguration.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/APIView/AuthenticationModels.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/APIViewResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIView/APIViewAuthenticationService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIView/APIViewHttpService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/APIView/APIViewService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/APIView/APIViewReviewTool.cs
Due: none

Added 'forRelease' to template
  eng/common/pipelines/templates/steps/verify-changelogs.yml
Due: eng/pipelines/eng-common-sync.yml

[Python APIView] update pinned version 0.3.25
  eng/pipelines/apiview-review-gen-python.yml
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Changed flag from --use-cache to --use-recording
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/evals/_runner.py
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

Apply suggestions from code review
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

[Python APIView] update pinned version 0.3.25 (#13103)
  eng/pipelines/apiview-review-gen-python.yml
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Added more to help text in flags
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

[AVC] Changed evals run flag from --use-cache to --use-recording (#13104)
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/evals/_runner.py
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

Review feedback
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Review feedback
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

remove 5 buffer
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/MultipartUtilities.cs
Due: none

script to list tools
  tools/azsdk-cli/update-mcp-tools-docs.ps1
Due: none

custom job for auto documentation
  tools/azsdk-cli/auto-documentation.yml
Due: none

custom release job
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  tools/azsdk-cli/ci.yml
Due: none

auto generated doc
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

Update README.md
  packages/python-packages/apiview-copilot/evals/README.md
Due: none

Apply suggestions from code review
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlanManualTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: none

Update ReleasePlanListResponse property name
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleasePlanListResponse.cs
Due: none

Sort original recordings
  eng/common-tests/matrix-generator/pr-matrix-samples/go_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/java_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/js_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/net_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

fix up go_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/go_scenarios.json
Due: none

Update Java scenarios
  eng/common-tests/matrix-generator/pr-matrix-samples/java_scenarios.json
Due: none

[APIView] Add autoreview endpoint accesible with MI
  src/dotnet/APIView/APIViewUnitTests/AutoReviewControllerTests.cs
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Managers/AutoReviewService.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAutoReviewService.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Reset python_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

Apply suggestions from code review
  packages/python-packages/apiview-copilot/evals/README.md
Due: none

Copilot suggestion
  packages/python-packages/apiview-copilot/evals/README.md
Due: none

Update all cache references to recordings in documentation
  packages/python-packages/apiview-copilot/evals/README.md
Due: none

Add Parse-ChangelogContent and Set-ChangeLogEntryContent to common scripts (#13097)
  eng/common-tests/ChangeLog-Operations.Tests.ps1
  eng/common/scripts/ChangeLog-Operations.ps1
Due: eng/pipelines/eng-common-sync.yml

Changed all cache wording to recording in helper functions
  packages/python-packages/apiview-copilot/.gitignore
  packages/python-packages/apiview-copilot/evals/_runner.py
  packages/python-packages/apiview-copilot/evals/_util.py
Due: none

faster!
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/AssemblyInfo.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenario.cs
Due: none

Address test feedback
  src/dotnet/APIView/APIViewUnitTests/AutoReviewServiceTests.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/AutoReviewController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix APIView pagination not working when searching (#13106)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Added migration script for Java package name update
  eng/scripts/Migrate-DevOps-Release-WorkItems.ps1
Due: none

Re-used the workitem data
  eng/scripts/Migrate-DevOps-Release-WorkItems.ps1
Due: none

first pass
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/MatcherTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordedTestSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/ContentDispositionFilePathSanitizer.cs
Due: none

resolve comments
  tools/azsdk-cli/docs/specs/typespec-authoring.spec.md
Due: none

Update error message in DifferenceDetector to include FAQ link for SDK type preprocessing
  tools/js-sdk-release-tools/src/changelog/v2/DifferenceDetector.ts
Due: none

Update typespec-authoring.spec.md
  tools/azsdk-cli/docs/specs/typespec-authoring.spec.md
Due: none

authoring instruction
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/azure_typespec_authoring_intention.md
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
