Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

typo
  .github/workflows/eng-common-tsp-client-tests.yml
Due: none

node 20
  .github/workflows/eng-common-tsp-client-tests.yml
Due: none

revert to default node for less updates
  .github/workflows/eng-common-tsp-client-tests.yml
Due: none

cache both lockfiles
  .github/workflows/eng-common-tsp-client-tests.yml
Due: none

merge install and list
  .github/workflows/eng-common-tsp-client-tests.yml
Due: none

rename wf
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

rename lower
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

cleanup
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

checkout JS before tests
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

unit test calling "tsp-client -v"
  eng/common-tests/tsp-client/package-lock.json
  eng/common-tests/tsp-client/package.json
  eng/common-tests/tsp-client/src/exec.js
  eng/common-tests/tsp-client/src/logger.js
  eng/common-tests/tsp-client/test/tsp-client.test.js
Due: none

test summary
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

print tests
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

heading
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

add helper to get JS dir
  eng/common-tests/tsp-client/test/tsp-client.test.js
Due: none

comment
  eng/common-tests/tsp-client/test/tsp-client.test.js
Due: none

add update test, increase timeout to 30s
  eng/common-tests/tsp-client/test/tsp-client.test.js
  eng/common-tests/tsp-client/vitest.config.js
Due: none

comments
  eng/common-tests/tsp-client/test/tsp-client.test.js
Due: none

checkout JS
  .github/workflows/eng-common-tsp-client-test.yml
Due: none

chore: temporary security validation marker (auto-close PR)
  README.md
Due: none

add dep zod
  eng/common-tests/tsp-client/package-lock.json
  eng/common-tests/tsp-client/package.json
Due: none

move shared code
  eng/common-tests/tsp-client/shared/src/exec.js
  eng/common-tests/tsp-client/shared/src/logger.js
  eng/common-tests/tsp-client/shared/src/sdk-types.js
Due: none

move shared again
  eng/common-tests/tsp-client/shared/exec.js
  eng/common-tests/tsp-client/shared/logger.js
  eng/common-tests/tsp-client/shared/sdk-types.js
  eng/common-tests/tsp-client/test/tsp-client.test.js
Due: none

remove special handling for azure-resourcemanager samples
  tools/azure-rest-api-specs-examples-automation/automation/configuration.json
  tools/azure-rest-api-specs-examples-automation/java/main.py
  tools/azure-rest-api-specs-examples-automation/java/test_process.py
Due: none

Apply suggestions from code review
  tools/azure-rest-api-specs-examples-automation/automation/configuration.json
Due: none

revert unnecessary change to test
  tools/azure-rest-api-specs-examples-automation/java/test_process.py
Due: none

fix
  tools/azure-rest-api-specs-examples-automation/java/test_process.py
Due: none

[APIView] Link existing reviews to projects at creation time
  src/dotnet/APIView/APIViewUnitTests/ProjectsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/TypeSpecMetadataIntegrationTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/ProjectsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Feedback
  src/dotnet/APIView/APIViewUnitTests/ProjectsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/TypeSpecMetadataIntegrationTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/ProjectsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

clean log and error response logic
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.VersionUpdate.cs
Due: none

benchmark template
  eng/common/pipelines/templates/jobs/benchmark-job.yml
  tools/azsdk-cli/ci.yml
Due: eng/pipelines/eng-common-sync.yml

add overload of createfailure
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/PackageOperationResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.VersionUpdate.cs
Due: none

cli args instead of args
  eng/common/pipelines/templates/jobs/benchmark-job.yml
Due: eng/pipelines/eng-common-sync.yml

target path
  eng/common/pipelines/templates/jobs/benchmark-job.yml
Due: eng/pipelines/eng-common-sync.yml

.net 9
  eng/common/pipelines/templates/jobs/benchmark-job.yml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Azure.Sdk.Tools.Cli.Benchmarks.csproj
Due: eng/pipelines/eng-common-sync.yml

fix
  eng/common/pipelines/templates/jobs/benchmark-job.yml
Due: eng/pipelines/eng-common-sync.yml

improve fixable condition
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/VerifySetupResponse.cs
Due: none

blank defaults
  eng/common/pipelines/templates/jobs/benchmark-job.yml
Due: eng/pipelines/eng-common-sync.yml
