Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

library to fix analyzer, general errors (#11340)
  src/dotnet/ErrorAnalyzers/Azure.Tools.ErrorAnalyzers.sln
  src/dotnet/ErrorAnalyzers/Client/src/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers.csproj
  src/dotnet/ErrorAnalyzers/Client/src/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers/ClientRuleAnalyzerRegistry.cs
  src/dotnet/ErrorAnalyzers/Client/src/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers/ErrorAnalyzers/AZC0012RuleAnalyzer.cs
  src/dotnet/ErrorAnalyzers/Client/src/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers/Properties/AssemblyInfo.cs
  src/dotnet/ErrorAnalyzers/Client/tests/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers.Tests/AZC0012RuleAnalyzerTests.cs
  src/dotnet/ErrorAnalyzers/Client/tests/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers.Tests/Azure.Tools.ErrorAnalyzers.ClientRuleAnalyzers.Tests.csproj
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/AgentPromptFix.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/AgentRuleAnalyzer.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/AnalyzerProviderBase.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/Azure.Tools.ErrorAnalyzers.csproj
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/DiscoverableAnalyzerAttribute.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/ErrorAnalyzerService.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/Fix.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/FixAction.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/IAnalyzerProvider.cs
  src/dotnet/ErrorAnalyzers/Core/src/Azure.Tools.ErrorAnalyzers/RuleError.cs
  src/dotnet/ErrorAnalyzers/Core/tests/Azure.Tools.ErrorAnalyzers.Tests/Azure.Tools.ErrorAnalyzers.Tests.csproj
  src/dotnet/ErrorAnalyzers/Core/tests/Azure.Tools.ErrorAnalyzers.Tests/ErrorAnalyzerServiceTests.cs
  src/dotnet/ErrorAnalyzers/Core/tests/Azure.Tools.ErrorAnalyzers.Tests/RuleErrorTests.cs
  src/dotnet/ErrorAnalyzers/General/src/Azure.Tools.ErrorAnalyzers.GeneralRuleAnalyzers/Azure.Tools.ErrorAnalyzers.GeneralRuleAnalyzers.csproj
  src/dotnet/ErrorAnalyzers/General/src/Azure.Tools.ErrorAnalyzers.GeneralRuleAnalyzers/GeneralRuleAnalyzerRegistry.cs
  src/dotnet/ErrorAnalyzers/General/src/Azure.Tools.ErrorAnalyzers.GeneralRuleAnalyzers/Properties/AssemblyInfo.cs
  src/dotnet/ErrorAnalyzers/General/tests/Azure.Tools.ErrorAnalyzers.GeneralRuleAnalyzers.Tests/Azure.Tools.ErrorAnalyzers.GeneralRuleAnalyzers.Tests.csproj
  src/dotnet/ErrorAnalyzers/Management/src/Azure.Tools.ErrorAnalyzers.ManagementRuleAnalyzers/Azure.Tools.ErrorAnalyzers.ManagementRuleAnalyzers.csproj
  src/dotnet/ErrorAnalyzers/Management/src/Azure.Tools.ErrorAnalyzers.ManagementRuleAnalyzers/ManagementRuleAnalyzerRegistry.cs
  src/dotnet/ErrorAnalyzers/Management/src/Azure.Tools.ErrorAnalyzers.ManagementRuleAnalyzers/Properties/AssemblyInfo.cs
  src/dotnet/ErrorAnalyzers/Management/tests/Azure.Tools.ErrorAnalyzers.ManagementRuleAnalyzers.Tests/Azure.Tools.ErrorAnalyzers.ManagementRuleAnalyzers.Tests.csproj
  src/dotnet/ErrorAnalyzers/samples/basic-usage/BasicUsage.csproj
  src/dotnet/ErrorAnalyzers/samples/basic-usage/Program.cs
Due: .azure-pipelines/dotnet.yml

wip
  tools/tsp-client/src/fs.ts
Due: none

Adding Contoso WidgetManager
  tools/github/data/common-labels.csv
Due: none

Adding TESTLABEL
  tools/github/data/common-labels.csv
Due: none

Adding Contoso Widget Manager
  tools/github/data/common-labels.csv
Due: none

logs
  tools/tsp-client/src/fs.ts
Due: none

Don't split/join you fool!
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Generators/ReadMeGeneratorTool.cs
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Generators/ReadMeGeneratorTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Generators/ReadMeGeneratorTool.cs
Due: none

Removed information
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

Created new service response for label tools
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ServiceLabelResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

Changed return type of CheckServiceLabel
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

Add logs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/MiddleWare/RequestLoggingMiddleware.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add logs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

githelper
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ChangelogValidationTool.cs
Due: none

changelog cookbook -- needs work
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/CommandFactory.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ChangelogValidationFixTool.cs
Due: none

Make sure we print env vars for JSON ARM templates
  eng/common/TestResources/TestResources-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

readme
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ReadmeValidationFixTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ReadmeValidationTool.cs
Due: none

naming
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ReadmeValidationTool.cs
Due: none

Add Champion Scenarios input for Activity Issue template (#11476)
  .github/ISSUE_TEMPLATE/dev-inner-loop-activity.yml
Due: none

naming
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/LinkValidationTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/ReadmeValidationTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CheckAllTool/SnippetUpdateTool.cs
Due: none

Undo credential changes on python to use defaultcredential
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_credential.py
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Cleaned up validation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/CodeownerTools/CodeownerTools.cs
Due: none

update mbc inherited module to include model_base
  packages/python-packages/apiview-stub-generator/apistub/nodes/_class_node.py
Due: none

clean up code
  src/dotnet/APIView/APIViewWeb/Account/AuthenticationValidator.cs
  src/dotnet/APIView/APIViewWeb/Account/ConfigureOrganizationOrManagedIdentityPolicy.cs
  src/dotnet/APIView/APIViewWeb/Account/CookieFirstAuthenticationHandler.cs
  src/dotnet/APIView/APIViewWeb/Account/OrganizationRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/MiddleWare/RequestLoggingMiddleware.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

More code cleanup
  src/dotnet/APIView/APIViewWeb/Account/AuthenticationValidator.cs
  src/dotnet/APIView/APIViewWeb/Account/ConfigureOrganizationOrManagedIdentityPolicy.cs
  src/dotnet/APIView/APIViewWeb/Account/OrganizationRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Controllers/AuthTestController.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml
