Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

[azsdk-cli] Fix TOC link in specs template
  tools/azsdk-cli/docs/specs/spec-template.md
Due: none

Update src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[azsdkcli] update spec for validation (#12615)
  tools/azsdk-cli/docs/specs/0-scenario-1.spec.md
Due: none

fix comment via combineLatest
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Specify fail or no-op for not implemented
  tools/azsdk-cli/docs/specs/7-repo-tooling-contract.md
Due: none

[azsdk-cli] Fix TOC link in specs template (#12700)
  tools/azsdk-cli/docs/specs/spec-template.md
Due: none

update DB
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[API View] Compare package version also for pre-release (#12658)
  src/dotnet/APIView/APIViewUnitTests/AutoReviewControllerTests.cs
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Move packageInfo to models
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/DotNetPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/GoPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/IPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/JavaScriptPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/PythonPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/PackageInfo.cs
Due: none

Add SDK type in model and fix issue in pull request tool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/PackageInfo.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/SdkLanguage.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TypeSpecProject.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHub/PullRequestTools.cs
Due: none

Update src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TypeSpecProject.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TypeSpecProject.cs
Due: none

Move package Info to models (#12704)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/DotNetPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/GoPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/IPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/JavaScriptPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/PackageInfo/PythonPackageInfoHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/PackageInfo.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/SdkLanguage.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TypeSpecProject.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHub/PullRequestTools.cs
Due: none

Update tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/cd.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/cd.yml
Due: none

update template name
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/CHANGELOG.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/cd.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/templates/get-image-tag.yml
Due: none

use preview version
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/CHANGELOG.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/version.go
Due: none

Updated spec to use hybrid approach
  tools/azsdk-cli/docs/specs/6-package-updater.spec.md
Due: none

refactor deploy pipeline
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/cd.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/templates/get-image-tag.yml
Due: none

fix pipeline
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/pipeline/cd.yml
Due: none

readme update
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/README.md
Due: none

record and show result with dynamic metrics
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/_evals_result.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/_evals_runner.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evals_run.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/requirements.txt
Due: none

adjust tool names for better results, single tool calling
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/ChatCompletion.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/example.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/example2.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/example3.json
Due: none

test was flaky remove
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenarios/Evaluate_SDKGeneration.cs
Due: none

Update tools/azsdk-cli/docs/specs/6-package-updater.spec.md
  tools/azsdk-cli/docs/specs/6-package-updater.spec.md
Due: none

fix showing righ logo color
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Linked to the repo-tooling-contract spec
  tools/azsdk-cli/docs/specs/6-package-updater.spec.md
Due: none

Upgrade cspell (#12569)
  eng/common-tests/spelling/Invoke-Cspell.Tests.ps1
  eng/common-tests/spelling/fixtures/file1.txt
  eng/common-tests/spelling/fixtures/file2.txt
  eng/common/scripts/check-spelling-in-changed-files.ps1
  eng/common/spelling/Invoke-Cspell.ps1
  eng/common/spelling/package-lock.json
  eng/common/spelling/package.json
Due: eng/pipelines/eng-common-sync.yml

clean up
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Rust to GitHub issue creation menu and sort languages alphabetically (#12706)
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Checkpoint from VS Code for coding agent session
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

use cache
  src/dotnet/APIView/APIViewWeb/Services/GitHubClientFactory.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update code owners
  .github/CODEOWNERS
Due: none

Update changelog
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

refactor review page file
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Publish eval reports to CosmosDB. Closes #11806. (#12688)
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/evals/_runner.py
  packages/python-packages/apiview-copilot/scripts/infra/create_resources.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
Due: none
