Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

Update progress status
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Language
  eng/common/scripts/Test-CodeownersForArtifacts.ps1
Due: eng/pipelines/eng-common-sync.yml

fix(apiview-copilot): bump PyJWT to 2.13.0 and aiohttp to 3.14.1 (#16212)
  packages/python-packages/apiview-copilot/dev_requirements.txt
  packages/python-packages/apiview-copilot/requirements.txt
Due: none

Fix ProgressReporter overflow: remove 4th NextStep call in else branch
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Make release plan submitter email optional
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

fix(ai-evals/azure-mcp): bump python-dotenv to 1.2.2 (#16214)
  tools/ai-evals/azure-mcp/requirements.txt
Due: none

Parse TypeSpec project when path contains tspconfig.yaml (#16078)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/TypeSpecHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TypeSpecHelper.cs
Due: none

Eval CI: make eng/common templates MCP- and auth-agnostic
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/templates/steps/eval-build-mcp.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/pipelines/templates/steps/eval-mcp-setup.yml
  eng/common/pipelines/templates/steps/eval-run-shard.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/eval/sync-eval-git-repo.js
  eng/pipelines/eval/eval-invoke-live.yml
  eng/pipelines/eval/mcp-live.yml
  eng/pipelines/eval/mcp-mock.yml
Due: eng/pipelines/eng-common-sync.yml

Update package name only for non private preview
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Add pipelines and refactor code.
  eng/pipelines/handle-apireview-hub-request.yml
  eng/pipelines/templates/jobs/apireview-hub-job-python.yml
  eng/pipelines/templates/steps/create-apireview-hub-artifacts-python.yml
  tools/api-review-hub/AGENTS.md
  tools/api-review-hub/main.tsp
  tools/api-review-hub/package-lock.json
  tools/api-review-hub/package.json
  tools/api-review-hub/plans/api-review-pipeline-architecture-recommendation.md
  tools/api-review-hub/proposal-api-review-hub-webapp.md
  tools/api-review-hub/scripts/create-test-issue.ts
  tools/api-review-hub/scripts/deploy-app.ts
  tools/api-review-hub/scripts/infra/create-resources.ts
  tools/api-review-hub/scripts/infra/variables.yaml
  tools/api-review-hub/scripts/request-review-pr.ts
  tools/api-review-hub/src/models/models.ts
  tools/api-review-hub/src/routes/review-prs.ts
  tools/api-review-hub/src/routes/router.ts
  tools/api-review-hub/src/routes/test.ts
  tools/api-review-hub/src/services/review-pr-service.ts
  tools/api-review-hub/src/services/test-issue-service.ts
Due: none

cleanup
  .plan.md
  gao.md
  thinnerplan.plan.md
  tools/agentic-workflow/.gitignore
  tools/agentic-workflow/.prettierignore
  tools/agentic-workflow/README.md
  tools/agentic-workflow/spike/FINDINGS.md
  tools/agentic-workflow/spike/package.json
  tools/agentic-workflow/spike/spike.mjs
Due: none

minor
  tools/agentic-workflow/package-lock.json
  tools/agentic-workflow/package.json
Due: none

prompt update and stream
  tools/agentic-workflow/EXECUTION-LOG.md
  tools/agentic-workflow/README.md
  tools/agentic-workflow/prompts/02-assumptions.md
  tools/agentic-workflow/prompts/03-classify.md
  tools/agentic-workflow/prompts/06-implement.md
  tools/agentic-workflow/prompts/critique.md
  tools/agentic-workflow/src/cli.ts
  tools/agentic-workflow/src/harness.ts
Due: none

Look up webhook secrets in KeyVault.
  tools/api-review-hub/main.tsp
  tools/api-review-hub/package-lock.json
  tools/api-review-hub/package.json
  tools/api-review-hub/scripts/infra/bootstrap.ts
  tools/api-review-hub/scripts/infra/variables.ts
  tools/api-review-hub/src/models/models.ts
  tools/api-review-hub/src/routes/github.ts
Due: none

Add auth.
  tools/api-review-hub/package-lock.json
  tools/api-review-hub/package.json
  tools/api-review-hub/scripts/infra/variables.ts
  tools/api-review-hub/scripts/infra/variables.yaml
  tools/api-review-hub/src/routes/auth.ts
  tools/api-review-hub/src/routes/releases.ts
  tools/api-review-hub/src/routes/review-prs.ts
  tools/api-review-hub/src/routes/router.ts
Due: none

Update verify-lnk trigger for cpp
  .github/workflows/verify-links.yml
Due: none

Changelog generation for JSON output without modifying CHANGELOG.md (#16165)
  tools/js-sdk-release-tools/src/changelogToolCli.ts
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/test/changelog/automaticGenerateChangeLogAndBumpVersion.test.ts
Due: none

fix url
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
Due: none

Update verify-lnk trigger for cpp (#16222)
  .github/workflows/verify-links.yml
Due: none

[Teams Chatbot] Add knowledge source: TypeSpec Azure Samples (#16189)
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/config/knowledge-config.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/SampleProcessor.ts
Due: none

Simplify eval pipeline templates: inline non-varying parameters
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/jobs/generate-eval-matrix.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/templates/steps/eval-collect-stimuli.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/pipelines/templates/steps/eval-mcp-setup.yml
  eng/common/pipelines/templates/steps/eval-run-shard.yml
  eng/common/pipelines/templates/steps/eval-summarize.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/eval/collect-stimuli.js
  eng/common/scripts/eval/test/collect-stimuli.test.js
  eng/pipelines/eval/eval-invoke-live.yml
  eng/pipelines/eval/mcp-live.yml
  eng/pipelines/eval/mcp-mock.yml
Due: eng/pipelines/eng-common-sync.yml

Bump @azure-tools/js-sdk-release-tools 2.16.10 → 2.16.11 (#16224)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
Due: none

Flatten eval pipeline to stages -> jobs (steps inline)
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/jobs/build-mcp.yml
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/jobs/eval-summarize.yml
  eng/common/pipelines/templates/jobs/generate-eval-matrix.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/templates/steps/eval-collect-stimuli.yml
  eng/common/pipelines/templates/steps/eval-run-shard.yml
  eng/common/pipelines/templates/steps/eval-summarize.yml
  eng/common/pipelines/workflow-eval.yml
Due: eng/pipelines/eng-common-sync.yml

Trim verbose comments across eval pipeline and scripts
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/jobs/eval-summarize.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/pipelines/templates/steps/eval-mcp-setup.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/eval/build-eval-summary.js
  eng/common/scripts/eval/collect-stimuli.js
  eng/common/scripts/eval/init-eval-git-fixtures.js
  eng/common/scripts/eval/invoke-eval-shard.js
  eng/common/scripts/eval/lib/glob.js
  eng/common/scripts/eval/lib/verdict.js
  eng/common/scripts/eval/sync-eval-git-repo.js
  eng/pipelines/eval/eval-invoke-live.yml
  eng/pipelines/eval/mcp-live.yml
  eng/pipelines/eval/mcp-mock.yml
Due: eng/pipelines/eng-common-sync.yml

update dataset
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation_datasets/_staging/apispec.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation_datasets/_staging/python.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation_datasets/_staging/typespec.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation_datasets/perf/apispec.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation_datasets/perf/onboarding.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation_datasets/perf/python.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evaluation_datasets/perf/typespec.jsonl
Due: none

sync copilot instruction
  .github/skills/azure-typespec-author/evaluate/.vally.yaml
  .github/skills/azure-typespec-author/evaluate/scripts/setup-fixture-files.js
  eng/pipelines/templates/steps/typespec-author-eval-setup.yml
Due: none

Reject eval paths with whitespace; note JUnit parse coupling
  eng/common/scripts/eval/build-eval-summary.js
  eng/common/scripts/eval/collect-stimuli.js
Due: eng/pipelines/eng-common-sync.yml

Make shard timeout a compile-time parameter
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/jobs/eval-shard.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/pipelines/workflow-eval.yml
Due: eng/pipelines/eng-common-sync.yml

Map copilot PAT into GITHUB_TOKEN env for eval invoke steps
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/templates/steps/eval-invoke.yml
  eng/common/pipelines/workflow-eval.yml
  eng/pipelines/eval/eval-invoke-live.yml
Due: eng/pipelines/eng-common-sync.yml

Attach eval variable group to entrypoint pipelines so copilot PAT resolves
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/skill-eval.yml
  eng/common/pipelines/workflow-eval.yml
Due: eng/pipelines/eng-common-sync.yml

Land eval cache on a local branch so worktree fixtures resolve the ref
  eng/common/scripts/eval/sync-eval-git-repo.js
Due: eng/pipelines/eng-common-sync.yml

Updated to add progress hartbeat and also to reduce progress steps
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

fix(azure-sdk-qa-bot-evaluation): bump aiohttp to 3.14.1 and python-dotenv to 1.2.2 (#16213)
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/requirements.txt
Due: none

Test
  tools/apiview/OUTDATED-serverless-option.md
Due: none

Update AuthToken fir eng/common pipelines (#16038)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/create-tags-and-git-release.yml
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/eng-common-sync.yml

Adding support for pipeline result parsing (#16183)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/JUnitTestHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/TestResultParserResolverTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/TrxTestHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/JUnitTestHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TestHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TestResultParserResolver.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TrxTestHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/XmlSafeLoader.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/EngSys/TestAnalysisTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Pipeline/PipelineAnalysisTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Use git ignored relative path for TypeSpec metadata emitter output
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TypeSpecHelper.cs
Due: none
