Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

update config
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
Due: none

remove unreliable test case
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/tests/typespec_core.jsonl
Due: none

[js-api-parser] add interface generator (#13453)
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/helpers.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/index.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/interfaces.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/interface.spec.ts
Due: .azure-pipelines/apiview.yml

Upgrade MCP library to 0.5.0 (#13468)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Azure.Sdk.Tools.Cli.Evaluations.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/ChatCompletion.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/TestSetup.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/InstrumentedTool.cs
Due: none

small fix
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/ToolMocks/CreateReleasePlan.cs
Due: none

Update to org/user specific tokens
  eng/common/scripts/LoginToGH.ps1
  eng/pipelines/mirror-repos.yml
  eng/pipelines/templates/steps/sync-repo-branch.yml
  eng/pipelines/templates/steps/sync-repo-merge-branch.yml
  eng/scripts/Git-Repo-Sync.ps1
Due: eng/pipelines/eng-common-sync.yml

[APIView] Remove API Key Auth (#13477)
  eng/pipelines/templates/steps/apiview-ui-tests.yml
  src/dotnet/APIView/APIViewUnitTests/AutoReviewControllerTests.cs
  src/dotnet/APIView/APIViewWeb/Client/tests/end-to-end/pages/review.spec.ts
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/typespec/README.md
  src/dotnet/APIView/APIViewWeb/typespec/autoreview.tsp
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

case insensitivity
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
Due: none

small fix (#13504)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/ToolMocks/CreateReleasePlan.cs
Due: none

scan paths
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
Due: none

Map env variables
  eng/pipelines/mirror-repos.yml
  eng/pipelines/templates/steps/sync-repo-branch.yml
  eng/scripts/Git-Repo-Sync.ps1
Due: none

this
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

this
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
Due: none

windows casae insensitive
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
Due: none

Use custom purgePath for CognativeServices
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

fix
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
Due: none

output?
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
Due: none

[azsdk-cli] Log to MCP clients over json-rpc instead of stdout
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Extensions/McpLoggingExtensions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/McpLogging.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/McpLoggingHostedService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/InstrumentedTool.cs
Due: none

Changes for Angular 20
  src/dotnet/APIView/ClientSPA/src/app/_components/admin-permissions-page/admin-permissions-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update Scenario 2 spec to rename customization tool from `azsdk_customized_code_update` to `azsdk_package_customize_code`
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

Updated telemetry data for generation tool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/PackageOperationResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkGenerationTool.cs
Due: none

Move button to main page and remove it from reviews as it doens't make sense there
  src/dotnet/APIView/APIViewWeb/Client/src/shared/layout.ts
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
  src/dotnet/APIView/ClientSPA/src/app/_components/admin-permissions-page/admin-permissions-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add checkpointing and stretch goals for AI-powered features in Scenario 2 spec
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

update prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/common/tenant_routing.md
Due: none

update prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/typespec/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/tests/typespec_core.jsonl
Due: none

examples-automation, run samples publish on js
  tools/azure-rest-api-specs-examples-automation/js/main.py
  tools/azure-rest-api-specs-examples-automation/js/tools.py
  tools/azure-rest-api-specs-examples-automation/js/tools_test.py
Due: none

change the tool name
  eng/common/instructions/azsdk-tools/typespec-authoring.instructions.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TypeSpecAuthoringTool.cs
Due: eng/pipelines/eng-common-sync.yml

Handled edge case
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkGenerationTool.cs
Due: none

Updated telemetry data for the generation tool (#13511)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/PackageOperationResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkGenerationTool.cs
Due: none

Added customCondition
  eng/common/pipelines/templates/steps/git-push-changes.yml
Due: eng/pipelines/eng-common-sync.yml

Fix comment edit.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Code review feedback.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Fix comment edit bug in Ang 20 (#13513)
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Copilot feedback & fix tests after migration to angular 20
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/ui-tests/README.md
  src/dotnet/APIView/ClientSPA/ui-tests/fixtures/index.ts
  src/dotnet/APIView/ClientSPA/ui-tests/helpers/comment-helpers.ts
  src/dotnet/APIView/ClientSPA/ui-tests/mocks/api-handlers.ts
  src/dotnet/APIView/ClientSPA/ui-tests/page-objects/review.page.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/code-panel-interaction.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/code-panel.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/comments-interaction.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/navigation-interaction.spec.ts
  src/dotnet/APIView/ClientSPA/ui-tests/tests/review-page/related-comments.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Try to run on yaml
  .gitignore
  src/dotnet/APIView/ClientSPA/ui-tests/playwright.config.ts
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Change label Latest Main to Latest Auto (#13499)
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add index and class
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/class.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/index.ts
Due: .azure-pipelines/apiview.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
