Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

just try api key
  packages/python-packages/apiview-copilot/evals/run.py
  packages/python-packages/apiview-copilot/prompts/code_to_text.prompty
  packages/python-packages/apiview-copilot/prompts/final_comments_filter.prompty
  packages/python-packages/apiview-copilot/prompts/generic_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/generic_review.prompty
  packages/python-packages/apiview-copilot/prompts/guidelines_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/guidelines_review.prompty
  packages/python-packages/apiview-copilot/prompts/merge_comments.prompty
  packages/python-packages/apiview-copilot/prompts/summarize_api.prompty
  packages/python-packages/apiview-copilot/prompts/summarize_diff.prompty
Due: none

try again
  packages/python-packages/apiview-copilot/tests.yml
Due: none

Include TCGC core
  tools/apiview/emitters/typespec-apiview/package-lock.json
  tools/apiview/emitters/typespec-apiview/package.json
  tools/apiview/emitters/typespec-apiview/src/emitter.ts
Due: none

print endpoint
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

oops
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

missing one
  packages/python-packages/apiview-copilot/prompts/final_comment_filter_single.prompty
Due: none

working now
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CLITests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/CommandFactory.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/AzurePipelinesTool/AzurePipelinesTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HelloWorldTool/HelloWorld.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/HostServerTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
Due: none

removing the addlogging
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/HostServerTool.cs
Due: none

Re-work profiles page
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update profiles page
  src/dotnet/APIView/APIViewWeb/Client/css/shared/bootstraps-overrides.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/common-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/router-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/app-routing.module.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Control scroll bar size in user preference
  src/dotnet/APIView/APIViewWeb/Helpers/AutoMapperProfiles.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Models/UserPreferenceModel.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/userPreferenceModel.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/user-profile/user-profile.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Refactor to use TCGC for resolving namespace.
  tools/apiview/emitters/typespec-apiview/package-lock.json
  tools/apiview/emitters/typespec-apiview/src/apiview.ts
  tools/apiview/emitters/typespec-apiview/src/emitter.ts
Due: none

Assigned language value while constructing packageData obj
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/types/PackageData.ts
Due: none

Succeeded
  eng/common/pipelines/templates/steps/check-spelling.yml
Due: eng/pipelines/eng-common-sync.yml

Get SDK generation warnings if SDK pull request is not available
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Services/DevOpsService.cs
Due: none

try az login
  packages/python-packages/apiview-copilot/tests.yml
Due: none

try w/o key
  packages/python-packages/apiview-copilot/prompts/code_to_text.prompty
  packages/python-packages/apiview-copilot/prompts/final_comment_filter_single.prompty
  packages/python-packages/apiview-copilot/prompts/final_comments_filter.prompty
  packages/python-packages/apiview-copilot/prompts/generic_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/generic_review.prompty
  packages/python-packages/apiview-copilot/prompts/guidelines_diff_review.prompty
  packages/python-packages/apiview-copilot/prompts/guidelines_review.prompty
  packages/python-packages/apiview-copilot/prompts/merge_comments.prompty
  packages/python-packages/apiview-copilot/prompts/summarize_api.prompty
  packages/python-packages/apiview-copilot/prompts/summarize_diff.prompty
Due: none

Added changes to fetch API review links and other code restructing to… (#10475)
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Helpers/GitHelper.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Helpers/SpecPullRequestHelper.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Helpers/TypeSpecHelper.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Models/ApiviewData.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Models/GenericResponse.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Models/PullRequestDetails.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Models/ReleasePlan.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Models/TypeSpecProject.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Program.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Services/DevOpsService.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Services/GitHubService.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/ReleasePlanTool.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SDKWorkFlowTool.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SpecCommonTools.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SpecPullRequestTool.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SpecPullRequestTools.cs
  tools/mcp/dotnet/AzureSDKDevToolsMCP/Tools/SpecValidationTool.cs
  tools/mcp/dotnet/AzureSDKSpecToolTests/ReleasePlanTest.cs
  tools/mcp/dotnet/AzureSDKSpecToolTests/SpecPullRequestTest.cs
Due: none

try
  packages/python-packages/apiview-copilot/tests.yml
Due: none

updates to display names and icons
  tools/apiview/parsers/rust-api-parser/src/process-items/processAssocConst.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processAssocType.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processConstant.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processFunction.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processImpl.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStatic.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStruct.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStructField.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTrait.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTraitAlias.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processTypeAlias.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processUnion.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processUse.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/utils/externalReexports.ts
Due: none

remove IServiceProvider where possible. I am leaving it (even if its an antipattern apparently) for CreateRootCommand so that we can populate the services we actually need
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/ServicesTest.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/CommandFactory.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/CommandResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HelloWorldTool/HelloWorld.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/HostServerTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
Due: none

add CI job
  tools/azsdk-cli/ci.yml
Due: none

revert
  packages/python-packages/apiview-copilot/tests.yml
Due: none

debug more
  packages/python-packages/apiview-copilot/src/_retry.py
Due: none

Retire UserPreferenceCache
  src/dotnet/APIView/APIViewWeb/Controllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Helpers/AutoMapperProfiles.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IUserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/UserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Models/UserPreferenceModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Delete.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Delete.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/LegacyReview.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/LegacyReview.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Profile.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Profile.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUserProfileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/ICosmosUserProfileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserPreferenceCache.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UserProfileCache.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update readme
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/README.md
Due: none

Retire Langauge field from User Profile Model
  src/dotnet/APIView/APIViewWeb/LeanControllers/UserProfileController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IUserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/UserProfileManager.cs
  src/dotnet/APIView/APIViewWeb/Models/UserProfileModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Profile.cshtml
  src/dotnet/APIView/ClientSPA/src/app/app.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

adding a basic test that exercises some CLI args. uses a TestLogger<T> so that we have complete access to the log messages to assert on
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/ServicesTest.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/TestHelpers/TestLogger.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HelloWorldTool/HelloWorldTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/HostServerTool.cs
Due: none

remove useless comment
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/HostServerTool.cs
Due: none

Rework profile page
  src/dotnet/APIView/APIViewWeb/Client/css/shared/mixins.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/userPreferenceModel.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.html
  src/dotnet/APIView/ClientSPA/src/app/app.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

transfer a bunch of the latest code from Praveen's latest PR. Still need to figure out why JsonPatchDocument is just straight up broken
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/CommandFactory.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TypeSpecHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlan.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/TypeSpecProject.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Azure/AzureService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Azure/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Azure/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/HostServer/HostServerTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlanTool/ReleasePlanTool.cs
Due: none

deploy the proxy with human-readable multipart output (#10518)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

WIP link support
  tools/sdk-ai-bots/azure-sdk-qa-bot/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/app.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/backend/rag.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/GithubClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/ImageInputProcessor.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/github.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/image.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/FakeModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/turn/LinkPromptGenerator.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/turn/ThinkingHandler.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/e2e/github.e2e.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/github.test.ts
Due: none

update README
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/run.sh
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/auth/middleware.go
Due: none

add test; update README; using keyvault
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/.gitignore
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/azure.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.mod
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/go.sum
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/main.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/run.sh
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/scripts/daily_sync_knowledge/setup_knowledge.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/auth/middleware.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/feedback/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/storage/storage_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/ai_search_endpoint_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/keyvalut_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/openai_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/storage_endpoint_test.go
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
