Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  .azure-pipelines/dotnet.yml: any of: src/dotnet/Azure.ClientSdk.Analyzers
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common

Update packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

making pr fixes
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

Krista fix on optional
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

removing pass
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

optional
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

remove unsued param
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

removing unsude return
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

making request builder a part of operation class
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

updated code
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/code_model.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation_group.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/paging_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/parameter.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/rest.py
Due: none

updating commit
  packages/python-packages/protocol-stub-generator/README.md
Due: none

fixing code_model call
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
Due: none

fixing link
  packages/python-packages/protocol-stub-generator/README.md
Due: none

Add basic ga tag w/ settable campaignid (#1848)
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/docgeneration/templates/matthews/partials/head.tmpl.partial
Due: eng/pipelines/eng-common-sync.yml

Update FilterPoliCheckResults.ps1
  eng/common/scripts/FilterPoliCheckResults.ps1
Due: eng/pipelines/eng-common-sync.yml

Update FilterPoliCheckResults.psq
  eng/common/scripts/FilterPoliCheckResults.ps1
Due: eng/pipelines/eng-common-sync.yml

ADL Formatting (#1822)
  packages/python-packages/protocol-stub-generator/README.md
  packages/python-packages/protocol-stub-generator/autorest_vendor/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/_version.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/__init__.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/base_builder.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/base_model.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/base_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/client.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/code_model.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/constant_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/credential_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/credential_schema_policy.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/dictionary_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/enum_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/imports.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/list_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/lro_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/lro_paging_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/object_schema.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/operation_group.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/paging_operation.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/parameter.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/parameter_list.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/primitive_schemas.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/property.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder_parameter.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/request_builder_parameter_list.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/rest.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/schema_request.py
  packages/python-packages/protocol-stub-generator/autorest_vendor/autorest/codegen/models/schema_response.py
  packages/python-packages/protocol-stub-generator/protocol/protocol_models.py
  packages/python-packages/protocol-stub-generator/setup.py
Due: none

Update help text for go API review
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Due: .azure-pipelines/apiview.yml

Generalize CacheChunkOrderingFailureClassifier to handle failures of the cache task observed in C++ build pipelines (#1842)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheChunkOrderingFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/FailureAnalysis/CacheFailureClassifier.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
Due: none

Update help text for go API review (#1850)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
Due: .azure-pipelines/apiview.yml

Add ability to leave SourceBranch empty when queueing a build (builds using the default branch)
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Queue-Pipeline.ps1
Due: eng/pipelines/eng-common-sync.yml

Initial scripts and pipeline for stress test discovery/build/push
  eng/pipelines/stress-test-release.yml
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/Dockerfile
  tools/stress-cluster/chaos/examples/network-stress-example/install.sh
  tools/stress-cluster/chaos/examples/network-stress-example/poll.sh
  tools/stress-cluster/chaos/examples/network-stress-example/templates/network_loss.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/chaos/examples/network_stress_example/Dockerfile
  tools/stress-cluster/chaos/examples/stress-deployment-example/.gitignore
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/install.sh
  tools/stress-cluster/chaos/examples/stress-deployment-example/parameters.json
  tools/stress-cluster/chaos/examples/stress-deployment-example/templates/deploy-job.yaml
  tools/stress-cluster/chaos/examples/stress-deployment-example/test-resources.bicep
  tools/stress-cluster/cluster/azure/parameters/prod.json
  tools/stress-cluster/scripts/deploy_stress_tests.ps1
  tools/stress-cluster/scripts/find_all_stress_packages.ps1
Due: none

Switch all publishing to archetypr-sdk-too-dotnet.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

Switch to single pipeline for publishing to azure-sdk-for-net feed
  .azure-pipelines/dotnet.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  src/dotnet/Azure.ClientSdk.Analyzers/ci.yml
  tools/CreateRuleFabricBot/ci.yml
  tools/notification-configuration/ci.yml
  tools/pipeline-generator/ci.yml
  tools/test-proxy/ci.yml
  tools/version-guard/ci.yml
Due: .azure-pipelines/dotnet.yml

Refactor params rendering. Remove internal labels.
  src/swift/Sources/Models/TokenFile.swift
  src/swift/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/Tests/TestSwiftFile.swift
Due: none

Fix Any type unsupported.
  src/swift/Sources/Models/TypeModel.swift
  src/swift/Tests/TestSwiftFile.swift
Due: none

SwiftAPIView: Fix `Any` type not supported and remove internal labels from parameter rendering (#1854)
  src/swift/Sources/Models/TokenFile.swift
  src/swift/Sources/Models/TypeModel.swift
  src/swift/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/Tests/TestSwiftFile.swift
Due: none

Verify API surface level against all approved revisions for GA releases (#1847)
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix display bug.
  src/swift/Sources/Models/TokenFile.swift
Due: none

Fix display bug. (#1855)
  src/swift/Sources/Models/TokenFile.swift
Due: none

Improve stress test deploy script command line flags and execution model
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/scripts/deploy_stress_tests.ps1
  tools/stress-cluster/scripts/find_all_stress_packages.ps1
Due: none

Update stress test release pipeline arguments
  eng/pipelines/stress-test-release.yml
Due: none

Fix two Java APIView issues: 1) duplicate maven output 2) inclusion of comments into the APIView when the comment was in a certain format, notably:
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

Update version
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
Due: .azure-pipelines/apiview.yml

Fix two Java APIView issues (#1856)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/ASTAnalyser.java
Due: .azure-pipelines/apiview.yml

Fixes to get everything working
  eng/pipelines/stress-test-release.yml
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.yaml
  tools/stress-cluster/chaos/examples/network-stress-example/templates/testjob.yaml
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/.gitignore
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.sh
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/values.yaml
  tools/stress-cluster/scripts/deploy_stress_tests.ps1
Due: none

Check in stress deployment example compiled test-resources.json
  tools/stress-cluster/chaos/examples/stress-deployment-example/.gitignore
  tools/stress-cluster/chaos/examples/stress-deployment-example/test-resources.json
Due: none

Change stress test script filename convention
  eng/pipelines/stress-test-release.yml
  tools/stress-cluster/scripts/deploy-stress-tests.ps1
  tools/stress-cluster/scripts/find-all-stress-packages.ps1
Due: none

Function naming and output improvements
  tools/stress-cluster/scripts/deploy-stress-tests.ps1
Due: none
