Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - task: DotNetCoreInstaller@2
        displayName: Use .NET Core sdk $(DotNetCoreVersion)
        inputs:
          version: $(DotNetCoreVersion)
      - task: DotNetCoreInstaller@2
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

Contributing guide for APIView (#2577)
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Generate token for aad app.
  eng/common/scripts/Generate-AddToken.ps1
Due: eng/pipelines/eng-common-sync.yml

Remove testing mode
  eng/common/scripts/Generate-AddToken.ps1
Due: eng/pipelines/eng-common-sync.yml

Update Generate-AddToken.ps1
  eng/common/scripts/Generate-AddToken.ps1
Due: eng/pipelines/eng-common-sync.yml

Get ms alias from github identity
  eng/common/scripts/Get-MsAlias-FromGithub.ps1
Due: eng/pipelines/eng-common-sync.yml

Printing more message
  eng/common/scripts/Get-MsAlias-FromGithub.ps1
Due: eng/pipelines/eng-common-sync.yml

Printing more messages
  eng/common/scripts/Get-MsAlias-FromGithub.ps1
Due: eng/pipelines/eng-common-sync.yml

ignore this header
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordSessionTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
Due: none

fix test
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordSessionTests.cs
Due: none

[Test-Proxy] Ignore `x-ms-client-id` (#2584)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordSessionTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordMatcher.cs
Due: none

removes SwiftAPI build warning and error on non-debug and Azure Pipelines machine (#2580)
  src/swift/SwiftAPIView/Sources/main.swift
  src/swift/SwiftAPIView/SwiftAPIView.xcodeproj/project.pbxproj
Due: none

updating to target test-proxy that only gets filename from body of /start request
  eng/common/testproxy/docker-start-proxy.ps1
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

Fix #2579
  src/swift/SwiftAPIView.xcworkspace/contents.xcworkspacedata
  src/swift/SwiftAPIViewCore/Sources/Extensions/DeclarationModifier+Extensions.swift
  src/swift/SwiftAPIViewCore/TestFiles/TestFile2.swifttxt
Due: none

progress on understanding this. need to pivot the appropriate data elements and then style the output
  scripts/node/oav-report-generation/general_error_example.PNG
  scripts/node/oav-report-generation/generate_report.ts
  scripts/node/oav-report-generation/report.html
  scripts/node/oav-report-generation/runtime_exception_example.png
  scripts/node/oav-report-generation/template/layout-base.mustache
  scripts/node/oav-report-generation/template/row-item.html
Due: none

Fix #2579 (#2586)
  src/swift/SwiftAPIView.xcworkspace/contents.xcworkspacedata
  src/swift/SwiftAPIViewCore/Sources/Extensions/DeclarationModifier+Extensions.swift
  src/swift/SwiftAPIViewCore/TestFiles/TestFile2.swifttxt
Due: none

small update
  tools/apiview/parsers/swagger-api-parser/swagger-api-parser/Program.cs
  tools/apiview/parsers/swagger-api-parser/swagger-api-parser/swagger-api-parser.sln
Due: none

Changed temp path for python api parsing
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Added process exit code for python parser
  packages/python-packages/api-stub-generator/apistubgen.py
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[stress tests] Add acr login to quick getting started steps (#2561)
  tools/stress-cluster/chaos/README.md
Due: none

Fix #2588
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
Due: .azure-pipelines/apiview.yml

No blank line between properties, ivars, etc.
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
Due: .azure-pipelines/apiview.yml

Additional debug changes
  packages/python-packages/api-stub-generator/apistub/__init__.py
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update codesnippet-maven-plugin to Handle Indented README Code Tags and Support Additional Snippet and README Paths
  packages/java-packages/codesnippet-maven-plugin/pom.xml
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/RootAndGlob.java
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/SnippetBaseMojo.java
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/implementation/SnippetReplacer.java
Due: none

Only fetch provision application oid via API if not supplied
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

Use AbsoluteUri rather than ToString
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Greoup reviews table and improvement to revie page
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/reviews.ts
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/ReviewLayout.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_Layout.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix: compatible with any/anyObject codegen change
  tools/sdk-testgen/packages/autorest.gotest/src/generator/mockTestGenerator.ts
Due: none

feat: upgrade to latest codegen and refine some deprecated function call
  tools/sdk-testgen/common/config/rush/pnpm-lock.yaml
  tools/sdk-testgen/packages/autorest.gotest/README.md
  tools/sdk-testgen/packages/autorest.gotest/package.json
  tools/sdk-testgen/packages/autorest.gotest/src/index.ts
  tools/sdk-testgen/packages/autorest.gotest/test/integrationtest/testAutorest.ts
  tools/sdk-testgen/packages/autorest.testmodeler/src/index.ts
Due: none

Reverted temp directory changes
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove check for root being a directory to support targeting individual files
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/RootAndGlob.java
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/implementation/SnippetReplacer.java
Due: none

Cleanup checked exceptions
  packages/java-packages/codesnippet-maven-plugin/src/main/java/com/azure/tools/codesnippetplugin/implementation/SnippetReplacer.java
Due: none

Update our retention time to 2 years
  eng/common/pipelines/templates/steps/retain-run.yml
Due: eng/pipelines/eng-common-sync.yml

Fix charset normalizer issue.
  packages/python-packages/api-stub-generator/setup.py
Due: .azure-pipelines/apiview.yml

Remove unused kwarg.
  packages/python-packages/api-stub-generator/apistub/_apiview.py
Due: .azure-pipelines/apiview.yml

Add unit tests for add_newline and set_blank_lines
  packages/python-packages/api-stub-generator/tests/apiview_test.py
Due: .azure-pipelines/apiview.yml

Generate token inside of opensource API call scripts
  eng/common/scripts/Generate-AddToken.ps1
Due: eng/pipelines/eng-common-sync.yml

Add resource
  eng/common/scripts/Get-MsAliasFromGithub.ps1
Due: eng/pipelines/eng-common-sync.yml

Remove unnecessary add_newline calls
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/tests/apiview_test.py
Due: .azure-pipelines/apiview.yml

Address feedback
  eng/common/scripts/Get-AADIdentityFromGithubUser.ps1
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
