Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2019-general
        vmImage: MMS2019
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

ci test
  tools/sdk-generation-pipeline/ci.yml
Due: none

doc fix
  tools/sdk-generation-pipeline/documents/docker/README.md
Due: none

﻿[Python APIView] Support `--source-url` (#2887)
  packages/python-packages/api-stub-generator/apistub/_apiview.py
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

﻿Implement dataclass and add tests. Document limitations.
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/nodes/__init__.py
  packages/python-packages/api-stub-generator/apistub/nodes/_annotation_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_astroid_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_data_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_module_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_pylint_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_variable_node.py
  packages/python-packages/api-stub-generator/apistubgen.py
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/api-stub-generator/tests/dataclass_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_dataclasses.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Removed Service name sync up background task
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix up tests.
  packages/python-packages/api-stub-generator/apistub/_apiview.py
  packages/python-packages/api-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_data_class_node.py
  packages/python-packages/api-stub-generator/ci.yml
  packages/python-packages/api-stub-generator/tests/class_parsing_test.py
  packages/python-packages/api-stub-generator/tests/dataclass_parsing_test.py
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

go mod tidy with Go 1.18
  src/go/go.sum
Due: none

Fixes #3257.
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/tests/function_parsing_test.py
  packages/python-packages/apistubgentest/apistubgentest/_client.py
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

go mod tidy with Go 1.18 (#3260)
  src/go/go.sum
Due: none

correct wonky pshell syntax
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Due: none

correct bad string that was throwing parser error during compilation in build stage
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Due: none

massively simplify the script uploading packages to the feed
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Due: none

update how the package is installed
  packages/python-packages/api-stub-generator/tox.ini
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

[Python Dev Feed] Create Pipeline Definition for uploading packages from PyPI (#3252)
  eng/pipelines/mirror-pypi-to-dev-feed.yml
  eng/scripts/download_targeted_packages.py
  eng/scripts/download_targeted_packages_requirements.txt
Due: none

Reduce APIView startup time (#3104)
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix issue of code-line hiding under the naigation bar
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Handle startup exceptions and add it to telemetry
  src/dotnet/APIView/APIViewWeb/HostedServices/PullRequestBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update regex to handle windows style path
  tools/asset-sync/assets.ps1
Due: none

Update tools/asset-sync/assets.ps1
  tools/asset-sync/assets.ps1
Due: none

Short circuit out of msdocs publish if no package locations are specified
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Due: eng/pipelines/eng-common-sync.yml

Update http-fault-injector README - Add "--prerelease" to install command - Update path to .NET sample
  tools/http-fault-injector/README.md
Due: none

rework the Evaluate-Target-Dir function. swap away from binary curl to specific call.
  tools/asset-sync/assets.ps1
Due: none

Short circuit msdocs publish if no package locations are specified (#3261)
  eng/common/pipelines/templates/steps/update-docsms-metadata.yml
Due: eng/pipelines/eng-common-sync.yml

cleaning up a ton of parameters and their docstrings.
  tools/asset-sync/assets.Tests.Helpers.ps1
  tools/asset-sync/assets.Tests.ps1
  tools/asset-sync/assets.ps1
Due: none

bulk rename within assets.ps1. all functionality have been renamed to PascalCase naming
  tools/asset-sync/assets.Tests.ps1
  tools/asset-sync/assets.ps1
Due: none

Fix issue when language name is incorrect in json file
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update the version tool to the latest
  eng/common/scripts/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

[http-fault-injector] Update README (#3268)
  tools/http-fault-injector/README.md
Due: none

Remove REST calls that are rejected on new PAT
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
Due: none

allowing the test-proxy to update the directory from which recordings are retrieved without restarting the proxy
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

APIView improvements for Java libraries (#2565)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/JavaLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/XmlLanguageService.cs
  src/java/apiview-java-processor/pom.xml
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/BadAnnotationDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/BuilderTraitsDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update the get-codeowner tool to the latest (#3269)
  eng/common/scripts/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

updating an expected failed scenario to check for a cross-platform invalid path
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
Due: none

get rid of test that isn't throwing on linux
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
Due: none

[Asset Sync][Test-Proxy] Enable proxy's ability to change `Context` directory without restart (#3272)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Testing on pipeline changes
  NuGet.Config
  tools/stress-cluster/chaos/examples/network-stress-example/Dockerfile
Due: none

Remove REST calls that are rejected on new PAT (#3271)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
Due: none

Update pipeline-generator version
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: eng/pipelines/eng-common-sync.yml

Update tools/asset-sync/README.md
  tools/asset-sync/README.md
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi, packages/python-packages/api-stub-generator, packages/python-packages/protocol-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
