Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

eng/pipelines/validate-instructions-azsdk-references.yml:
  pool:
    name: $(LINUXPOOL)
    demands: ImageOverride -equals $(LINUXVMIMAGE)
  jobs:
  - job: VerifyMcpToolReferences
    displayName: Verify MCP Tool References
    steps:
    - checkout: self
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        version: 8.0.x
    - task: UseDotNet@2
  ...

Added readme
  eng/common-tests/tsp-client/README.md
Due: none

added comment for using flag only in local init command
  eng/common-tests/tsp-client/test/tsp-client.test.js
Due: none

fixed format issue
  eng/common-tests/tsp-client/README.md
Due: none

minor fix
  eng/common-tests/tsp-client/README.md
Due: none

Minor changes to the readme
  eng/common-tests/tsp-client/README.md
Due: none

Add NextSteps guidance to all .NET validation checks
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/DotNetLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotNetLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Revert changes that auto-approve sync PR pipeline stages
  eng/scripts/Approve-Sync-PRs.ps1
Due: none

Revert changes that auto-approve sync PR pipeline stages (#14500)
  eng/scripts/Approve-Sync-PRs.ps1
Due: none

[tsp-client test] Updated the command to validate aligned with SDK automations (#14489)
  eng/common-tests/tsp-client/README.md
  eng/common-tests/tsp-client/test/tsp-client.test.js
Due: none

Added instructions to enable progress reporting for long running oper… (#14448)
  tools/azsdk-cli/docs/new-tool.md
Due: none

chore: remove instruction file references from skills
  .github/skills/INSTRUCTION-TO-SKILL-MAPPING.md
  .github/skills/README.md
Due: none

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Update MCP tools documentation
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

add python language service tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/PythonLanguageServiceTests.cs
Due: none

Increment version for tools/azsdk-cli/Azure.Sdk.Tools.Cli releases (#14501)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

authoring benchmark
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/BenchmarkRunner.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/SessionExecutor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/WorkspaceManager.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/Typespec/AuthoringScenario.cs
Due: none

remove debug
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/BenchmarkRunner.cs
Due: none

Enhance DifferenceDetector to handle name collisions and update tests for modular client conversion (#14394)
  tools/js-sdk-release-tools/src/changelog/v2/DifferenceDetector.ts
  tools/js-sdk-release-tools/src/test/changelog/changelogGenerator.test.ts
  tools/js-sdk-release-tools/src/test/changelog/testCases/operationGroups.5.new.modular.api.md
  tools/js-sdk-release-tools/src/test/changelog/testCases/operationGroups.5.old.hlc.api.md
  tools/js-sdk-release-tools/src/test/changelog/testCases/operationGroups.6.new.modular.api.md
  tools/js-sdk-release-tools/src/test/changelog/testCases/operationGroups.6.old.hlc.api.md
Due: none

[APIView/ClientSPA] Sync package-lock.json with package.json
  src/dotnet/APIView/ClientSPA/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[src/dotnet/APIView] Change "npm install" to "npm ci"
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[package.json] bump minimum node version to 20.19.0
  src/dotnet/APIView/ClientSPA/package.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

npm i
  src/dotnet/APIView/ClientSPA/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[tsp-client] Bump test matrix to node 24
  .github/workflows/tsp-client-tests.yml
Due: none

Potential fix for pull request finding
  .github/workflows/tsp-client-tests.yml
Due: none

refine guidance on x-ms-long-running-operation-options and final-state-schema in TypeSpec LRO documentation
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/lro.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/management-plane/arm-templates.md
Due: none

typespec_2025_06_26.md typespec_2025_07_03.md typespec_2025_09_26.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/api-spec-review/spec-validation.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/decorators.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/lro.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/management-plane/arm-templates.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/migration.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/operations.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/validation.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/versioning.md
Due: none

update new knowledge for Typespec
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/management-plane/arm-templates.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/operations.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/validation.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/knowledge/typespec/versioning.md
Due: none

[src/dotnet/APIView] Change "npm install" to "npm ci" (#14503)
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add changelog pester tests
  eng/common-tests/ChangeLog-Operations.Tests.ps1
Due: none

first iteration of migration
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/McpConfigLoader.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/SessionExecutor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/Workspace.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Infrastructure/WorkspaceManager.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Models/BenchmarkResult.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Models/ExecutionResult.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Models/ExpectedToolCall.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Models/ToolCallRecord.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Models/ValidationContext.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/CheckPublicRepoScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/CheckPublicRepoThenValidateScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/CheckSdkGenerationStatusScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/CreateReleasePlanScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/GetModifiedTypespecProjectsScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/GetPrLinkCurrentBranchScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/LinkNamespaceApprovalIssueScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/TypespecGenerationStep02Scenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ToolInvocation/ValidateTypespecScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/Typespec/AddArmResourceScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/ToolCallValidator.cs
Due: none

updates
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Program.cs
Due: none

simplify
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Validation/Validators/ToolCallValidator.cs
Due: none

Rename commands
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/APIView/ApiViewReviewToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/APIView/APIViewReviewTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

structure based off tools
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/GitHub/GetPrLinkCurrentBranchScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/Pipeline/CheckSdkGenerationStatusScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ReleasePlan/CreateReleasePlanScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/ReleasePlan/LinkNamespaceApprovalIssueScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/TypeSpec/AddArmResourceScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/TypeSpec/CheckPublicRepoScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/TypeSpec/CheckPublicRepoThenValidateScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/TypeSpec/GetModifiedTypespecProjectsScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/TypeSpec/RenameClientPropertyScenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/TypeSpec/TypespecGenerationStep02Scenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Benchmarks/Scenarios/TypeSpec/ValidateTypespecScenario.cs
Due: none

Apply suggestions from code review
  .github/skills/azsdk-common-generate-sdk-locally/SKILL.md
  .github/skills/azsdk-common-generate-sdk-locally/eval.yaml
Due: none

Move collapse tabs close to code panel
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml
