Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePattern: ${{ parameters.FilePattern }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

add more debug logs to pytest run
  packages/python-packages/apiview-stub-generator/tox.ini
Due: none

add aio eh ckpt blob
  packages/python-packages/apiview-stub-generator/tests/azure_tests/azure_test.py
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-eventhub-checkpointstoreblob-aio_python.json
Due: none

ignore corehttp tests until next release
  packages/python-packages/apiview-stub-generator/apiview_reqs.txt
  packages/python-packages/apiview-stub-generator/tests/azure_tests/azure_test.py
Due: none

Update shared ruleset (#10120)
  eng/branch-rulesets/required-pullrequest-checks.json
Due: none

[Python APIView] vendor necessary azure-core files (#10032)
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/_model_base.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/_serialization.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/_enums.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/_patch.py
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/_enum_meta.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/_version.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/exceptions.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/pipeline/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/pipeline/transport/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/pipeline/transport/_base.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/pipeline/transport/_base_async.py
  packages/python-packages/apiview-stub-generator/apistub/_vendor/core/serialization.py
  packages/python-packages/apiview-stub-generator/apiview_reqs.txt
  packages/python-packages/apiview-stub-generator/dev_requirements.txt
  packages/python-packages/apiview-stub-generator/setup.py
  packages/python-packages/apiview-stub-generator/tests/azure_tests/azure_test.py
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-core_python.json
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-eventhub-checkpointstoreblob-aio_python.json
  packages/python-packages/apiview-stub-generator/tox.ini
Due: none

Refine error messages and specConfigPath (#10118)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/logging.ts
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/cli/cli.ts
  tools/spec-gen-sdk/src/types/Message.ts
  tools/spec-gen-sdk/src/types/validator.ts
  tools/spec-gen-sdk/src/utils/fsUtils.ts
  tools/spec-gen-sdk/src/utils/runScript.ts
Due: none

update changelog date
  tools/tsp-client/CHANGELOG.md
Due: none

clean up
  tools/tsp-client/src/commands.ts
Due: none

populating our scenarios fully. preparing to make the go changes
  eng/common-tests/ci.yml
  eng/common-tests/matrix-generator/pr-matrix-samples/go_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/java_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/js_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/net_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.helpers.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

Cross Language Selection
  src/dotnet/APIView/APIViewWeb/DTOs/CrossLanguageDto.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CodePanelModels.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosAPIRevisionsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/ICosmosAPIRevisionsRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update Rust Parser Version
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update Rust Parser Version (#10121)
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add logic for retirving cross language content
  src/dotnet/APIView/APIViewWeb/DTOs/CrossLanguageDto.cs
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add tests
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/class/baseline-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/class/current-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/function-overloads/baseline-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/function-overloads/current-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/function/baseline-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/function/current-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/routes/baseline-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/routes/current-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/union-type/baseline-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/union-type/current-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/package.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/diff/declaration-diff.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection.test.ts
Due: none

up
  tools/js-sdk-release-tools/package-lock.json
Due: none

update
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/common/utils.ts
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/utils/version.ts
Due: none

up
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
Due: none

mark the tests with the appropriate tag so that the eng-common tests pick them up
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
Due: none

[Python APIView] Update CHANGELOG.md
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
Due: none

[Python APIView] Update CHANGELOG.md (#10128)
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
Due: none

[Python APIView] update version after release
  eng/pipelines/apiview-review-gen-python.yml
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use 1es redirect and release job for partner release (#10116)
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
Due: none

[Python APIView] update version after release (#10130)
  eng/pipelines/apiview-review-gen-python.yml
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Identify and Fix issue with non-pr-batched matrixResults in `Create-PRJobMatrix` (#10129)
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/eng-common-sync.yml

[tsp-client] Improvements for batch install (#10075)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/README.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/commands.ts
  tools/tsp-client/src/index.ts
Due: none

Add option to create self contained test resources post script
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Add option to create self contained test resources post script (#10099)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/deploy-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Cross language view prototype
  src/dotnet/APIView/APIViewWeb/DTOs/CrossLanguageDto.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_helpers/common-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/codePanelModels.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Bugfix in Associated API Revisions (#10110)
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use graphql for status lookups in eng/common sync script. Resolve AI review threads.
  eng/scripts/Verify-And-Merge-PRs.ps1
Due: none

prdiff file's presence in the output directory is breaking the dump of package props
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.helpers.ps1
Due: none

local files + config repo
  tools/issue-labeler/src/IssueLabelerService/AzureSdkIssueLabelerService.cs
  tools/issue-labeler/src/SearchIndexCreator/DocumentRetrieval.cs
  tools/issue-labeler/src/SearchIndexCreator/Program.cs
Due: none

Use single file processing and using statements in GetCodeFileAsync
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update Approval Button tooltip
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
