Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  eng/pipelines/eng-common-sync.yml: any of: eng/common

Scan all duplicate artifacts which set hide to true (#1366)
  eng/common/docgeneration/Generate-DocIndex.ps1
Due: eng/pipelines/eng-common-sync.yml

Do not add certain const types to token list (#1367)
  src/go/cmd/api_view_test.go
  src/go/cmd/content.go
  src/go/cmd/output/testconst.json
  src/go/cmd/token_builders.go
Due: none

Sort navigation items, remove test packages from list
  src/go/cmd/api_view.go
  src/go/cmd/content.go
  src/go/cmd/token_builders.go
Due: none

Rework verify agent OS step.
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/Verify-AgentOS.ps1
Due: eng/pipelines/eng-common-sync.yml

skip test files
  src/go/cmd/api_view.go
Due: none

Go APIView: Sort output (#1370)
  src/go/cmd/api_view.go
  src/go/cmd/content.go
  src/go/cmd/token_builders.go
Due: none

Update eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
  eng/common/pipelines/templates/steps/eng-common-workflow-enforcer.yml
Due: eng/pipelines/eng-common-sync.yml

Update repo parameter for eng/common sync
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/templates/steps/sync-directory.yml
Due: none

initalize variable before using it.
  eng/common/scripts/logging.ps1
Due: eng/pipelines/eng-common-sync.yml

Update devops helper script based on changes in azure-sdk repo
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
Due: eng/pipelines/eng-common-sync.yml

Address feedback
  eng/common/scripts/Verify-AgentOS.ps1
Due: eng/pipelines/eng-common-sync.yml

Add diagnostic rules for module-info
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ModuleInfoDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

Update devops helper script based on changes in azure-sdk repo (#1376)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/SemVer.ps1
Due: eng/pipelines/eng-common-sync.yml

Justing string matching instead.
  eng/common/pipelines/templates/steps/verify-agent-os.yml
  eng/common/scripts/Verify-AgentOS.ps1
Due: eng/pipelines/eng-common-sync.yml

Add diagnostic rules for module-info (#1377)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/ModuleInfoDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

! instead of -not
  eng/common/scripts/Verify-AgentOS.ps1
Due: eng/pipelines/eng-common-sync.yml

return write file error
  src/go/cmd/api_view.go
Due: none

return write file error (#1380)
  src/go/cmd/api_view.go
Due: none

Move clients up
  src/go/cmd/content.go
Due: none

Bug fix in typehint tyoe comparison
  packages/python-packages/api-stub-generator/CHANGELOG.md
  packages/python-packages/api-stub-generator/apistub/_version.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
Due: .azure-pipelines/apiview.yml

Parse Py3 typehint forreturn type
  packages/python-packages/api-stub-generator/apistub/nodes/_docstring_parser.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
Due: .azure-pipelines/apiview.yml

Update python parser version in apiview
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
Due: .azure-pipelines/apiview.yml

Support Go in APIView
  src/dotnet/APIView/APIViewWeb/Languages/GoLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml

Go Support in APIView
  src/dotnet/APIView/APIViewWeb/Languages/GoLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_CommentThreadPartial.cshtml
  src/go/cmd/api_view.go
Due: .azure-pipelines/apiview.yml

Enable passing devops pat for work item scripts
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
Due: eng/pipelines/eng-common-sync.yml

Move clients up (#1382)
  src/go/cmd/content.go
Due: none

Build and package go tool in APIView deployment
  .azure-pipelines/apiview.yml
Due: none

Include go binary in package
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml

Include go parser in package
  .azure-pipelines/apiview.yml
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml

Hide SHA info from review list for automatic reviews
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
Due: .azure-pipelines/apiview.yml

Update CI step name
  .azure-pipelines/apiview.yml
Due: none

Hide the package which set to true instead of putting to Other page
  eng/common/docgeneration/Generate-DocIndex.ps1
Due: eng/pipelines/eng-common-sync.yml

Hide the package not showing in csv
  eng/common/docgeneration/Generate-DocIndex.ps1
Due: eng/pipelines/eng-common-sync.yml

Added logging message
  eng/common/docgeneration/Generate-DocIndex.ps1
Due: eng/pipelines/eng-common-sync.yml

fix the variable
  eng/common/docgeneration/Generate-DocIndex.ps1
Due: eng/pipelines/eng-common-sync.yml

leave an extra space
  eng/common/docgeneration/Generate-DocIndex.ps1
Due: eng/pipelines/eng-common-sync.yml
