Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

fix missing build step
  tools/code-owners-parser/ci.yml
Due: none

Add CodeownersFileLocation to Get-Codeowners and use $null for default param values
  eng/common/scripts/get-codeowners/get-codeowners-functions.ps1
  eng/common/scripts/get-codeowners/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

revert ci.yml deletion
  eng/scripts/ci.yml
Due: none

add todos on needed changes in cpp repo
  eng/common/scripts/get-codeowners/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

Delete definition for the redundant, internal `tools - eng-script-tests` pipeline
  eng/scripts/ci.yml
Due: none

move get-codeowners back to scripts/ and rename -functions to .lib
  eng/common-tests/get-codeowners/get-codeowners.tests.ps1
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
  eng/common/scripts/get-codeowners/get-codeowners.ps1
  tools/code-owners-parser/CodeOwnersParser.sln
Due: eng/pipelines/eng-common-sync.yml

Fix CodeOwnerFileLocation path, fix casing, and dedup param defaults
  eng/common-tests/get-codeowners/get-codeowners.tests.ps1
  eng/common/scripts/get-codeowners/get-codeowners-functions.ps1
  eng/common/scripts/get-codeowners/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

fix param names
  eng/common/scripts/get-codeowners/get-codeowners-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

fix path iin Metadata-Helpers.ps1
  eng/common/scripts/Helpers/Metadata-Helpers.ps1
  eng/common/scripts/get-codeowners.lib.ps1
Due: eng/pipelines/eng-common-sync.yml

fix: use empty string as defaults instead of $nulls, to fix invocation
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

fix bug with invocation of Get-Codeowners + add support for passing IncludeNonUserAliases as switch
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

fix typo
  eng/common/scripts/get-codeowners.lib.ps1
Due: eng/pipelines/eng-common-sync.yml

/eng/python/ -> /eng/scripts/python/
  eng/pipelines/templates/steps/use-python-version.yml
  eng/scripts/python/apiview-syncdb/requirements.txt
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
  eng/scripts/python/assets-automation/.gitignore
  eng/scripts/python/assets-automation/README.md
  eng/scripts/python/assets-automation/generate_assets_report.py
  eng/scripts/python/assets-automation/requirements.txt
  eng/scripts/python/docs-automation/README.md
  eng/scripts/python/docs-automation/example_toc.png
  eng/scripts/python/docs-automation/requirements.txt
  eng/scripts/python/docs-automation/sync_tocs.py
  eng/scripts/python/readme_tracking/readme.md
  eng/scripts/python/readme_tracking/update_readmes_for_tracking.py
  eng/scripts/python/repo_labels/README.md
  eng/scripts/python/util/install_python_version.py
  eng/scripts/python/util/reupload_python_packages.py
  src/dotnet/APIView/apiview-sync-staging.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

UpdatE
  eng/common/scripts/Helpers/Lock-Helpers.ps1
  eng/common/scripts/TypeSpec-Project-Generate.ps1
  eng/common/scripts/common.ps1
Due: eng/pipelines/eng-common-sync.yml

Move `get-codeowners.ps1` test mode to `common-tests` + related improvements & cleanup (#5608)
  eng/common-tests/README.md
  eng/common-tests/ci.yml
  eng/common-tests/get-codeowners/get-codeowners.tests.ps1
  eng/common/pipelines/templates/stages/archetype-sdk-tool-pwsh.yml
  eng/common/pipelines/templates/steps/run-pester-tests.yml
  eng/common/scripts/get-codeowners.lib.ps1
  eng/common/scripts/get-codeowners.ps1
  tools/code-owners-parser/CodeOwnersParser.sln
  tools/code-owners-parser/ci.yml
Due: eng/pipelines/eng-common-sync.yml

rename pylint-guidelines-checker to azure-pylint-guidelines-checker (#5875)
  tools/pylint-extensions/azure-pylint-guidelines-checker/MANIFEST.in
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/__init__.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/ci.yml
  tools/pylint-extensions/azure-pylint-guidelines-checker/contribution.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/dev_requirements.txt
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/__init__.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/__init__.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/api_version_checker_acceptable_class.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/api_version_checker_acceptable_init.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/api_version_checker_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/copyright_header_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/copyright_header_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/core_paging_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/core_paging_acceptable_and_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/core_paging_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/enum_checker_acceptable.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/enum_checker_violation.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

rename the targeted directory from pylint-guidelines-checker to azure-pylint-guidelines-checker
  tools/pylint-extensions/azure-pylint-guidelines-checker/ci.yml
Due: none

rename the targeted directory from pylint-guidelines-checker to azure-pylint-guidelines-checker (#5880)
  tools/pylint-extensions/azure-pylint-guidelines-checker/ci.yml
Due: none

/eng/python/ -> /eng/scripts/python/ (#5877)
  eng/pipelines/templates/steps/use-python-version.yml
  eng/scripts/python/apiview-syncdb/requirements.txt
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
  eng/scripts/python/assets-automation/.gitignore
  eng/scripts/python/assets-automation/README.md
  eng/scripts/python/assets-automation/generate_assets_report.py
  eng/scripts/python/assets-automation/requirements.txt
  eng/scripts/python/docs-automation/README.md
  eng/scripts/python/docs-automation/example_toc.png
  eng/scripts/python/docs-automation/requirements.txt
  eng/scripts/python/docs-automation/sync_tocs.py
  eng/scripts/python/readme_tracking/readme.md
  eng/scripts/python/readme_tracking/update_readmes_for_tracking.py
  eng/scripts/python/repo_labels/README.md
  eng/scripts/python/util/install_python_version.py
  eng/scripts/python/util/reupload_python_packages.py
  src/dotnet/APIView/apiview-sync-staging.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove project-to-label action
  .github/workflows/label-to-project.yml
  eng/label-to-project.config
  eng/scripts/Add-IssueToProject.ps1
  eng/scripts/Add-IssuesWithLabelToProject.ps1
Due: none

Remove project-to-label action (#5884)
  .github/workflows/label-to-project.yml
  eng/label-to-project.config
  eng/scripts/Add-IssueToProject.ps1
  eng/scripts/Add-IssuesWithLabelToProject.ps1
Due: none

Fixed md style (#5855)
  tools/sdk-generation-pipeline/documents/docker/README.md
Due: none

Update Typespec-Project-Scripts.md
  doc/common/Typespec-Project-Scripts.md
Due: none

Bug fix/type spec upload (#5858)
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
  src/dotnet/APIView/APIViewUnitTests/LanguageServiceTests.cs
  src/dotnet/APIView/APIViewWeb/Client/src/pages/index.ts
  src/dotnet/APIView/APIViewWeb/Helpers/LanguageServiceHelpers.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewUploadHelp.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

rename api-stub-generator to apiview-stub-generator. no updates to build yml yet
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
  eng/scripts/python_sdk_report.py
  eng/scripts/python_version_check.py
  packages/python-packages/api-stub-generator/ci.yml
  packages/python-packages/apiview-stub-generator/README.md
  packages/python-packages/apiview-stub-generator/apistub/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_apiview.py
  packages/python-packages/apiview-stub-generator/setup.py
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

clean up CI
  packages/python-packages/api-stub-generator/ci.yml
Due: eng/pipelines/templates/stages/apiview-python-ci.yml

Updated ApiView to use clang-15 to work around MSVC STL changes; fixed warning in keyvault-admin ApiView
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstNode.cpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/CMakeLists.txt
  tools/apiview/parsers/cpp-api-parser/ports/llvm/0001-Fix-install-paths.patch
  tools/apiview/parsers/cpp-api-parser/ports/llvm/0002-Fix-DR-1734.patch
  tools/apiview/parsers/cpp-api-parser/ports/llvm/0003-Fix-tools-path.patch
  tools/apiview/parsers/cpp-api-parser/ports/llvm/0004-Fix-compiler-rt-install-path.patch
  tools/apiview/parsers/cpp-api-parser/ports/llvm/0005-Fix-tools-install-path.patch
  tools/apiview/parsers/cpp-api-parser/ports/llvm/0006-Fix-libffi.patch
  tools/apiview/parsers/cpp-api-parser/ports/llvm/0007-Fix-install-bolt.patch
  tools/apiview/parsers/cpp-api-parser/ports/llvm/clang_usage.txt
  tools/apiview/parsers/cpp-api-parser/ports/llvm/flang_usage.txt
  tools/apiview/parsers/cpp-api-parser/ports/llvm/lld_usage.txt
  tools/apiview/parsers/cpp-api-parser/ports/llvm/llvm_usage.txt
  tools/apiview/parsers/cpp-api-parser/ports/llvm/mlir_usage.txt
  tools/apiview/parsers/cpp-api-parser/ports/llvm/portfile.cmake
  tools/apiview/parsers/cpp-api-parser/ports/llvm/vcpkg.json
  tools/apiview/parsers/cpp-api-parser/vcpkg.json
Due: none

updating usage
  eng/pipelines/apiview-review-gen-python.yml
Due: none

Move to latest clang 15; added error diagnostic for using namespace in public header
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/ApiViewMessage.cpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/ApiViewMessage.hpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstNode.cpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/ProcessorImpl.cpp
  tools/apiview/parsers/cpp-api-parser/ParseTests/CMakeLists.txt
  tools/apiview/parsers/cpp-api-parser/ParseTests/TestCases/UsingNamespace.cpp
  tools/apiview/parsers/cpp-api-parser/ParseTests/tests.cpp
  tools/apiview/parsers/cpp-api-parser/ports/llvm/portfile.cmake
Due: none

Ensure ApiPath does not get a NullReferenceExcepton when copying common parameters to operation method parameters.
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerSpec/ApiPath.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParserTest/fixtures/azureopenai.json
Due: none

stress test warning against breaking helm versions
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/eng-common-sync.yml

Add identity access config tool
  NuGet.Config
  tools/access-manager/access-manager.sln
  tools/access-manager/src/Azure.Sdk.Tools.AccessManager.csproj
  tools/access-manager/src/Config/AccessConfig.cs
  tools/access-manager/src/Config/ApplicationAccessConfig.cs
  tools/access-manager/src/Config/FederatedIdentityCredentialsConfig.cs
  tools/access-manager/src/Config/RoleBasedAccessControls.cs
  tools/access-manager/src/GraphClient.cs
  tools/access-manager/src/Program.cs
  tools/access-manager/src/RbacClient.cs
  tools/access-manager/src/Reconciler.cs
  tools/access-manager/tests/Azure.Sdk.Tools.AccessManager.Tests.csproj
  tools/access-manager/tests/ReconcilerTest.cs
  tools/access-manager/tests/test-configs/access-config.json
  tools/access-manager/tests/test-configs/federated-credentials-only-config.json
  tools/access-manager/tests/test-configs/rbac-only-config.json
Due: none

Update tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstNode.cpp
  tools/apiview/parsers/cpp-api-parser/ApiViewProcessor/AstNode.cpp
Due: none

Added a note about the vcpkg port
  tools/apiview/parsers/cpp-api-parser/ParseTests/CMakeLists.txt
  tools/apiview/parsers/cpp-api-parser/ParseTests/TestCases/SimpleTest.cpp
  tools/apiview/parsers/cpp-api-parser/README.md
Due: none

Bump credscan to 2.3.12.23
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/eng-common-sync.yml

Bump credscan to 2.3.12.23 (#5918)
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/eng-common-sync.yml

Update CodeFileRenderer
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Make inline table on per row basis
  src/dotnet/APIView/APIView/CodeFileRenderer.cs
  src/dotnet/APIView/APIViewWeb/Client/css/shared/codeline.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
