Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Update tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/go_channel.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/go_channel.md
Due: none

typo
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/go_channel.md
Due: none

update tenant config
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
Due: none

refactor: enhance command execution with retry logic and streamline git command checks
  tools/js-sdk-release-tools/src/common/npmUtils.ts
Due: none

revert
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/GoLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/JavaLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/JavaScriptLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/ClientUpdateLanguageServiceBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/ILanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: none

more fix
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/ILanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: none

update
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Apply suggestion from @richardpark-msft
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/ILanguageSpecificChecks.cs
Due: none

Apply suggestions from code review
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: eng/pipelines/eng-common-sync.yml

prompt improvements
  src/dotnet/ErrorAnalyzers/src/Azure.Tools.ErrorAnalyzers/AnalyzerPrompts.Client.cs
  src/dotnet/ErrorAnalyzers/src/Azure.Tools.ErrorAnalyzers/AnalyzerPrompts.General.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Agent/ConversationManager.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Agent/ToolBasedAgent.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/FormatPromptService.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Tools/TypeSpecToolHandler.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/TypeSpecFileVersionManager.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/TypeSpecPatchApplicator.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/FormatPromptServiceTests.cs
Due: .azure-pipelines/dotnet.yml

Do not expose Swagger. (#12438)
  packages/python-packages/apiview-copilot/app.py
Due: none

Update error message for language exclusion justification tool (#12436)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: none

Include disambiguation for branch name using EmitterPackagePath (#12224)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

lint/format python
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageSpecificChecks.cs
Due: none

Support v2 Rust performance tests (#12432)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Rust.cs
Due: none

Removed getter style attrs
  packages/python-packages/apiview-copilot/evals/_runner.py
Due: none

Change note to a todo
  packages/python-packages/apiview-copilot/evals/_runner.py
Due: none

Add script/pipeline for manual cpex attestation (#12444)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/pipelines/cpex-attestation-automation.yml
  eng/pipelines/cpex-attestation-manual.yml
  eng/pipelines/cpex-attestation.yml
  eng/scripts/Add-CPEX-Attestation-Entry.ps1
  eng/scripts/Invoke-CPEX-Attestation-Automation.ps1
Due: eng/pipelines/eng-common-sync.yml

ensure that apichangedetected properly resolves
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Due: eng/pipelines/eng-common-sync.yml

Add total operation count and some rounding
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/AdvancedStatistics.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Result.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Due: none

Github flow progress.
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/evals/tests/mention_action/open_parser_issue.json
  packages/python-packages/apiview-copilot/evals/tests/mention_action/test-config.yaml
  packages/python-packages/apiview-copilot/prompts/mention/github_issue_result_schema.json
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_action.prompty
  packages/python-packages/apiview-copilot/prompts/mention/parser_conversation_to_github_issue.prompty
  packages/python-packages/apiview-copilot/scripts/decode_qr_code.py
  packages/python-packages/apiview-copilot/scripts/infra/_variables.py
  packages/python-packages/apiview-copilot/scripts/qrcode.png
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/_github_manager.py
  packages/python-packages/apiview-copilot/src/_mention.py
  packages/python-packages/apiview-copilot/src/_search_manager.py
  packages/python-packages/apiview-copilot/src/_thread_resolution.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
Due: none

Progress on workflow.
  packages/python-packages/apiview-copilot/prompts/mention/parse_conversation_to_github_issue.prompty
  packages/python-packages/apiview-copilot/src/_mention.py
Due: none

Progress on persisting metrics.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/_metrics.py
  packages/python-packages/apiview-copilot/src/_models.py
Due: none

make discover_targets a pure function; add _merge_targets_by_config
  packages/python-packages/apiview-copilot/evals/_discovery.py
  packages/python-packages/apiview-copilot/evals/run.py
Due: none

Updated cli.py to new discovery usage
  packages/python-packages/apiview-copilot/cli.py
Due: none

[PerfAutomation] Add total operation count and some rounding (#12452)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/AdvancedStatistics.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Models/Result.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/Program.cs
Due: none

fix invalid parameter type
  eng/pipelines/cpex-attestation-manual.yml
Due: none

Revise tsp-client usage instructions in README
  eng/common/tsp-client/README.md
Due: eng/pipelines/eng-common-sync.yml

Update README.md to use brace expansion for variables
  eng/common/tsp-client/README.md
Due: eng/pipelines/eng-common-sync.yml

Ensure that apichangedetected properly resolves (#12451)
  eng/common/pipelines/templates/steps/detect-api-changes.yml
Due: eng/pipelines/eng-common-sync.yml

fix manual pipeline parameters
  eng/pipelines/cpex-attestation-manual.yml
Due: none

add initial prompt
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/TspClientUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ClientUpdateDetailModels.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/ClientUpdateLanguageServiceBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/IClientUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
Due: none

add prompt template
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/TspClientUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Microagents/Tools/ClientCustomizationCodePatchTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/JavaPatchGenerationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/ClientUpdateLanguageServiceBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/IClientUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
Due: none

update tests and constants
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/TypeSpec/TspClientUpdateToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/FileHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/ClientUpdateLanguageServiceBase.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/IClientUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
Due: none

update review comments
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/FileHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ClientUpdateDetailModels.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/JavaPatchGenerationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaUpdateLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TspClientUpdateTool.cs
Due: none

Update README.md
  eng/common/tsp-client/README.md
Due: eng/pipelines/eng-common-sync.yml

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/JavaLanguageSpecificChecksTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/JavaLanguageSpecificChecksTests.cs
Due: none

Fixed type error
  eng/common/pipelines/templates/steps/set-test-pipeline-version.yml
  eng/common/scripts/SetTestPipelineVersion.ps1
Due: eng/pipelines/eng-common-sync.yml
