Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

review copilot
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/channel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/utils.ts
Due: none

udpate test case for logs message & add command for update test snapshot
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/test/automation/__snapshots__/reportStatus.test.ts.snap
  tools/spec-gen-sdk/test/automation/reportStatus.test.ts
Due: none

add logging & sdkAutomationState test case
  tools/spec-gen-sdk/src/automation/logging.ts
  tools/spec-gen-sdk/test/automation/logging.test.ts
  tools/spec-gen-sdk/test/automation/sdkAutomationState.test.ts
  tools/spec-gen-sdk/test/automation/workflowPackage.test.ts
Due: none

remove unused test
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
Due: none

change import nodejs core module from import moduleName to import node:moduleName
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowHelpers.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/types/PackageData.ts
  tools/spec-gen-sdk/src/utils/requireJsonc.ts
  tools/spec-gen-sdk/test/automation/entrypoint.test.ts
  tools/spec-gen-sdk/test/automation/reportStatus.test.ts
  tools/spec-gen-sdk/test/automation/workflow.test.ts
  tools/spec-gen-sdk/test/automation/workflowHelpers.test.ts
  tools/spec-gen-sdk/test/automation/workflowPackage.test.ts
  tools/spec-gen-sdk/test/utils.test.ts
  tools/spec-gen-sdk/test/workflow.test.ts
Due: none

add worlflowPackage.test.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/test/automation/workflowPackage.test.ts
Due: none

add reportStatus test case
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/utils/reportStatusUtils.ts
  tools/spec-gen-sdk/test/automation/__snapshots__/reportStatus.test.ts.snap
  tools/spec-gen-sdk/test/automation/reportStatus.test.ts
Due: none

update snapshot
  tools/spec-gen-sdk/test/automation/__snapshots__/reportStatus.test.ts.snap
Due: none

initial
  tools/js-sdk-release-tools/src/changelog/v2/DifferenceDetector.ts
  tools/js-sdk-release-tools/src/test/changelog/changelogGenerator.test.ts
Due: none

update test
  packages/python-packages/apiview-stub-generator/tests/apiview_test.py
Due: none

Ignore failures when new package isn't indexed yet.
  eng/common/pipelines/templates/jobs/npm-publish.yml
Due: eng/pipelines/eng-common-sync.yml

update common-labels.csv
  tools/github/data/common-labels.csv
Due: none

sorted common-labels.csv (#11350)
  tools/github/data/common-labels.csv
Due: none

Adding SMR
  tools/github/data/common-labels.csv
Due: none

Clarify wording on copilot setup steps and testing
  tools/azsdk-cli/README.md
Due: none

[azsdk-cli] Add release, coding agent testing to docs (#11355)
  .vscode/mcp.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/README.md
  tools/azsdk-cli/README.md
Due: none

Adding AAAtest1
  tools/github/data/common-labels.csv
Due: none

update release date
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
Due: none

fix approve btn got diabled issue
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/package.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding AAAtest2
  tools/github/data/common-labels.csv
Due: none

Adding AAAtest3
  tools/github/data/common-labels.csv
Due: none

[Python APIView] distinguish between handwritten and generated code (#11324)
  packages/python-packages/apistubgentest/apistubgentest/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/_patch.py
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/_patch.py
  packages/python-packages/apiview-stub-generator/apistub/_parsing_helpers.py
  packages/python-packages/apiview-stub-generator/apistub/_version.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_data_class_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_enum_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_key_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_property_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_variable_node.py
  packages/python-packages/apiview-stub-generator/tests/apiview_test.py
  packages/python-packages/apiview-stub-generator/tests/azure_tests/token_files/azure-ai-documentintelligence_python.json
  packages/python-packages/apiview-stub-generator/tests/handwritten_test.py
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Restructed CheckServiceLabel to include more information about color code checks
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/LabelHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LabelHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

add test for new flag
  tools/tsp-client/test/commands.spec.ts
Due: none

check update tsp-location util
  tools/tsp-client/test/utils.spec.ts
Due: none

Added some changes to CodeownersEntry classes to support the look up of the start and end line for an entry.
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersEntry.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersEntryPathComparer.cs
  tools/codeowners-utils/Azure.Sdk.Tools.CodeownersUtils/Parsing/CodeownersParser.cs
Due: none

simplify
  tools/tsp-client/src/utils.ts
Due: none

updated labels tools and helpers
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/LabelHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/MockServices/MockGitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/SpecWorkFlowToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LabelHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/GitHubLabelsTool/GitHubLabelsTool.cs
Due: none

Add fetch fallback
  eng/common/scripts/git-branch-push.ps1
Due: eng/pipelines/eng-common-sync.yml

Use full checkout for regen stage
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

disable sparse checkout
  eng/common/scripts/git-branch-push.ps1
Due: eng/pipelines/eng-common-sync.yml

remove fetchdepth
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

update both
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

checkout branch
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

autorest
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
Due: none

indent
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
Due: none

fix
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
Due: none

compile
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
Due: none
