Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

testing out MessagePack
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adjust Json Serialization properties
  src/dotnet/APIView/APIView/Model/CodeDiagnostic.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ChangeHistory.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CommentItemModel.cs
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/service-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Switch to System.Text.Json
  src/dotnet/APIView/APIView/APIView.csproj
  src/dotnet/APIView/APIView/Model/CodeDiagnostic.cs
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IBlobCodeFileRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tools/assets-automation/assets-task-scripts/find-assets-files/locate-involved-assets.ps1
  tools/assets-automation/assets-task-scripts/find-assets-files/locate-involved-assets.ps1
Due: none

Resolve Digest Round Trip Issues (#8325)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordSessionTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/response_with_content_digest.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/TestHelpers.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ContentTypeUtilities.cs
Due: none

bump proxy version
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

Discover Affected Recordings (#8391)
  .gitignore
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Model/RepoConfiguration.cs
  tools/assets-automation/assets-maintenance-tool/Azure.Sdk.Tools.Assets.MaintenanceTool/Scan/AssetsScanner.cs
  tools/assets-automation/assets-task-scripts/find-assets-files/locate-involved-assets.ps1
  tools/assets-automation/assets-task-scripts/find-assets-files/sample-query-config.json
  tools/assets-automation/assets-task-scripts/utilities.ps1
Due: none

Update some docs on codeowners linter
  tools/codeowners-utils/README.md
Due: none

Left nav and Line Number switches created
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update Redirect to SPA and APIRevision Selection
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Models/APICodeFileModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosAPIRevisionsRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

rework the release yml to conform to offline discussion with Praveen
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

make the staging deployment run on all internal builds, but make the Publish Test UI and Production Publish stages manual approval
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Merge subscription configuration file values with the supplied subscription config
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/sub-config/AzurePublicMsft.json
Due: eng/pipelines/eng-common-sync.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Made changes to line number and left nav handlers
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updates to Comments
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update language param name to avoid collision with common eng variable (#8410)
  eng/pipelines/devops-create-package-workitem.yml
  eng/scripts/Create-Package-WorkItem.ps1
Due: none

Removal of the devops release PAT
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
  eng/pipelines/devops-create-package-workitem.yml
  eng/scripts/Create-Package-WorkItem.ps1
Due: eng/pipelines/eng-common-sync.yml

Don't pass in the access token, just use the AzureCLI task and do everything in the scripts
  eng/common/pipelines/templates/steps/validate-all-packages.yml
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Update-DevOps-Release-WorkItem.ps1
  eng/common/scripts/Validate-All-Packages.ps1
  eng/common/scripts/Validate-Package.ps1
  eng/pipelines/devops-create-package-workitem.yml
  eng/scripts/Create-Package-WorkItem.ps1
Due: eng/pipelines/eng-common-sync.yml

Updates for feedback
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/common/scripts/Validate-Package.ps1
Due: eng/pipelines/eng-common-sync.yml

fix the environment args for the publishing
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

make the pre prod display a job that just always runs
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add diagnostic for models that are missing equals / hashCode implementations.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/general/MissingEqualsAndHashCodeDiagnosticRule.java
Due: .azure-pipelines/apiview.yml

More cleanups, optimisations, features (e.g. extracting constants, gzip output, grouping javadoc lines to reduce verbosity, more types (e.g. RenderClass), model validation before output)
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/models/Constants.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/APIListingValidator.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/MiscUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/rules/general/ModuleInfoDiagnosticRule.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/RenderClass.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/Token.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/TokenKind.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/TreeNode.java
Due: .azure-pipelines/apiview.yml

Support for fatal diagnostics.
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/DiagnosticKind.java
Due: .azure-pipelines/apiview.yml

Testing support (with no tests enabled right now)
  src/java/apiview-java-processor/src/test/java/com/azure/tools/apiview/TestExpectedOutputs.java
Due: .azure-pipelines/apiview.yml

Quick cleanup of unused code
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/util/ASTUtils.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/APIListing.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/model/Token.java
Due: .azure-pipelines/apiview.yml

Disable unit test for now
  src/java/apiview-java-processor/src/test/java/com/azure/tools/apiview/TestExpectedOutputs.java
Due: .azure-pipelines/apiview.yml

make it version agnostic
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ContentTypeUtilities.cs
Due: none

Comment API Calls
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

we need the docker stuff to NOT encode as json. doing so will destroy the specific formatting
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ContentTypeUtilities.cs
Due: none

remove spa configuration update
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Set ParserStyle
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Modify nodeIdHashed algorithm
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add common branch rulesets we use
  eng/branch-rulesets/require-codeowner-approval.json
  eng/branch-rulesets/required-pullrequest-checks.json
Due: none

Update Json Property Names
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IBlobCodeFileRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix prepare-pipelines line wrapping
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Fix prepare-pipelines line wrapping (#8434)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Deserialize using gzip
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Languages/JsonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix sort ordering and type alias resolution
  src/go/cmd/api_view.go
  src/go/cmd/models.go
  src/go/cmd/module.go
  src/go/cmd/pkg.go
  src/go/go.mod
  src/go/go.sum
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
