Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

properly get the content of the left and ride side versions of the file
  eng/common/scripts/Helpers/git-helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Filter packages at verify step (#7536)
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/create-tags-and-git-release.ps1
Due: eng/pipelines/eng-common-sync.yml

basic resolution should be working now
  eng/common/testproxy/scripts/resolve-asset-conflict/README.md
  eng/common/testproxy/scripts/resolve-asset-conflict/resolve-asset-conflict.ps1
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Due: eng/pipelines/eng-common-sync.yml

basic auto-merge resolution is definitely working
  eng/common/testproxy/scripts/resolve-asset-conflict/resolve-asset-conflict.ps1
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Due: eng/pipelines/eng-common-sync.yml

updating the error resolution side
  eng/common/testproxy/scripts/resolve-asset-conflict/README.md
Due: eng/pipelines/eng-common-sync.yml

Add script which generates a changeset for pipelinev3 (#7512)
  eng/common/scripts/Generate-PR-Diff.ps1
Due: eng/pipelines/eng-common-sync.yml

update conversion command
  tools/tsp-client/src/index.ts
Due: none

Update eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Always pull chaos images (#7535)
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/values.yaml
Due: none

Use apk update for chaos mesh image (#7533)
  eng/pipelines/mirror-container-images.yml
Due: none

auto-merge conflicted assets.json (#7537)
  .gitignore
  eng/common/scripts/Helpers/git-helpers.ps1
  eng/common/scripts/Helpers/git-helpers.tests.ps1
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/scripts/resolve-asset-conflict/README.md
  eng/common/testproxy/scripts/resolve-asset-conflict/resolve-asset-conflict.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Due: eng/pipelines/eng-common-sync.yml

Update tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
Due: none

use Telemetry Client Via DI
  src/dotnet/APIView/APIViewIntegrationTests/APIViewIntegrationTests.csproj
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
  src/dotnet/APIView/APIViewUITests/APIViewUITests.csproj
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
  src/dotnet/APIView/APIViewUnitTests/LanguageServiceTests.cs
  src/dotnet/APIView/APIViewUnitTests/ProgramTests.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/PullRequestBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageProcessor.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/TypeSpecLanguageService.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/AICommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/OpenSourceRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PackageNameManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add git commit details to stress environment
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.lock
  tools/stress-cluster/chaos/examples/parallel-pod-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/CHANGELOG.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_container_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_stress_test.tpl
Due: eng/pipelines/eng-common-sync.yml

Condition automaticRevision in AutoReviewController to prevent Exception
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add git commit details to stress environment (#7543)
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/README.md
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.lock
  tools/stress-cluster/chaos/examples/parallel-pod-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/CHANGELOG.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_container_env.tpl
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/templates/_stress_test.tpl
Due: eng/pipelines/eng-common-sync.yml

resolve most of the comments, just need to adjust the schema of TestResult
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/BuildCompleteQueueWorker.cs
  tools/pipeline-witness/infrastructure/kusto/tables/TestRunResult.kql
Due: none

Avoid null error in Review Page due to ReviewContent.APIRevisionsGrouped
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

remove comment
  tools/tsp-client/src/index.ts
Due: none

unify TestRunResult definition + blob writer
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
  tools/pipeline-witness/infrastructure/kusto/tables/TestRunResult.kql
Due: none

use npx
  tools/tsp-client/src/index.ts
Due: none

update APIView Error Page
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Pages/Error.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Error.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/JavaScript.cs
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/JavaScript.cs
Due: none

Fix Language value for JS
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix Language value for JS (#7548)
  eng/common/scripts/Verify-RestApiSpecLocation.ps1
Due: eng/pipelines/eng-common-sync.yml

Add SnapSHot Debugger to allow debugging of Live site
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update call to APIRevisionApproval handler
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[JS] Fix perf pipelines - "fix build cache error" (#7511)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/JavaScript.cs
Due: none

Fix typos in ps1 scripts (#7270)
  eng/common/scripts/ChangeLog-Operations.ps1
  eng/common/scripts/Invoke-DevOpsAPI.ps1
  eng/common/scripts/Package-Properties.ps1
  eng/common/scripts/Update-ChangeLog.ps1
  eng/common/scripts/artifact-metadata-parsing.ps1
  eng/common/scripts/git-branch-push.ps1
Due: eng/pipelines/eng-common-sync.yml

Feature/app insights monitoring (#7547)
  src/dotnet/APIView/APIViewIntegrationTests/APIViewIntegrationTests.csproj
  src/dotnet/APIView/APIViewIntegrationTests/TestsBaseFixture.cs
  src/dotnet/APIView/APIViewUITests/APIViewUITests.csproj
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
  src/dotnet/APIView/APIViewUnitTests/LanguageServiceTests.cs
  src/dotnet/APIView/APIViewUnitTests/ProgramTests.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/ReviewController.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/PullRequestBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Hubs/SignalRHub.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageProcessor.cs
  src/dotnet/APIView/APIViewWeb/Languages/LanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/PythonLanguageService.cs
  src/dotnet/APIView/APIViewWeb/Languages/TypeSpecLanguageService.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/AICommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/OpenSourceRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PackageNameManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Error.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Error.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix Bug in Conversation Page (#7527)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Resolve Error in CSharpLanguageService
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

handle case where apiRevision codeFile is empty
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Resolve Error in CSharpLanguageService (#7519)
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Azure.Developer to allowed namespace prefixes
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Fix test
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
Due: .azure-pipelines/dotnet.yml

use merge instead of cherry-pick
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
