Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

[GitHub] Update common labels
  tools/github/data/common-labels.csv
Due: none

Add mac test
  eng/pipelines/netiso/ci.yml
Due: none

try install separate
  eng/pipelines/netiso/ci.yml
Due: none

Add empty pool condition
  eng/common/TestResources/build-test-resource-config.yml
Due: eng/pipelines/eng-common-sync.yml

Write delete failures as warnings
  eng/scripts/live-test-resource-cleanup.ps1
Due: none

commit the file changes so that we can see them running
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Due: eng/pipelines/eng-common-sync.yml

try 1 min timeout
  eng/pipelines/netiso/ci.yml
Due: none

No debug trace
  eng/pipelines/netiso/ci.yml
Due: none

10
  eng/pipelines/netiso/ci.yml
Due: none

single mac
  eng/pipelines/netiso/ci.yml
Due: none

Add the ability to manage Auto-Close on issues
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/TriageLabelConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
Due: none

Add the label to the common labels Move the change to the MaxLife
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
  tools/github-event-processor/RULES.md
  tools/github/data/common-labels.csv
Due: none

nit fix changelog wording
  tools/tsp-client/CHANGELOG.md
Due: none

[tsp-client] Fix tsp compile diagnostics logging (#8529)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/typespec.ts
  tools/tsp-client/test/examples/specification/diagnostics/main.tsp
  tools/tsp-client/test/examples/specification/diagnostics/tspconfig.yaml
  tools/tsp-client/test/typespec.spec.ts
Due: none

fix compiler diagnostic reporting
  tools/tsp-client/src/index.ts
  tools/tsp-client/src/typespec.ts
Due: none

use formatDiagnostic
  tools/tsp-client/src/typespec.ts
Due: none

use standalone tool
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Due: eng/pipelines/eng-common-sync.yml

fix exit
  tools/tsp-client/src/index.ts
Due: none

[tsp-client] Fix compiler diagnostic reporting (#8547)
  tools/tsp-client/src/index.ts
  tools/tsp-client/src/typespec.ts
Due: none

[GitHub] Update common labels (#8545)
  tools/github/data/common-labels.csv
Due: none

[CODEOWNERS] Update GH script owners
  .github/CODEOWNERS
Due: none

Match the grey color
  tools/github/data/common-labels.csv
Due: none

Skip instances where $file is an empty string
  eng/common/TestResources/build-test-resource-config.yml
Due: eng/pipelines/eng-common-sync.yml

[CODEOWNERS] Update GH script owners (#8554)
  .github/CODEOWNERS
Due: none

Fix default value for env vars in build-test-resource-config template (#8528)
  eng/common/TestResources/build-test-resource-config.yml
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

revert exit(1) after compile
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/index.ts
Due: none

Update azure-sdk-build-tools Repository Resource Refs in Yaml files
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Support storage network access and worm removal in remove test resources script
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/TestResources/remove-test-resources.yml
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/scripts/Remove-WormStorageAccounts.ps1
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

Ensure subConfigFiles is not an empty string (#8516)
  eng/common/TestResources/build-test-resource-config.yml
Due: eng/pipelines/eng-common-sync.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#8557)
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Add `test-proxy-standalone.yml` (#8549)
  eng/common/testproxy/install-test-proxy.ps1
  eng/common/testproxy/test-proxy-standalone-tool.yml
  eng/common/testproxy/test-proxy.ps1
Due: eng/pipelines/eng-common-sync.yml

Move storage network access script to common resource helpers file
  eng/common/TestResources/TestResources-Helpers.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

Improve storage container deletion resilience
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

Plumb through pool variable to live test cleanup template
  eng/common/TestResources/remove-test-resources.yml
  eng/pipelines/live-test-cleanup-template.yml
  eng/pipelines/live-test-cleanup.yml
Due: eng/pipelines/eng-common-sync.yml

Add sleep for network rule application
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/Remove-TestResources.ps1
  eng/common/scripts/Helpers/Resource-Helpers.ps1
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

update changelog date
  tools/tsp-client/CHANGELOG.md
Due: none

[tsp-client] Revert exit after compile (#8556)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/index.ts
Due: none

Delete eng/common/InterdependencyGraph.html which is unused. (#8543)
  eng/common/InterdependencyGraph.html
Due: eng/pipelines/eng-common-sync.yml

Light up System.ClientModel interface decorations on public API surface (#8386)
  src/dotnet/APIView/APIView/Languages/CompilationFactory.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
