Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

changelog
  tools/tsp-client/CHANGELOG.md
Due: none

Add Proxy Tag Combination Script (#7385)
  eng/common/testproxy/onboarding/common-asset-functions.ps1
  eng/common/testproxy/onboarding/generate-assets-json.ps1
  eng/common/testproxy/scripts/override-proxy-version.ps1
  eng/common/testproxy/scripts/tag-merge/README.md
  eng/common/testproxy/scripts/tag-merge/merge-proxy-tags.ps1
  eng/common/testproxy/test-proxy-docker.yml
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

update package.json
  tools/tsp-client/package.json
Due: none

[tsp-client] Resolve typespec/compiler module (#7403)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package.json
  tools/tsp-client/src/typespec.ts
Due: none

Various fixes needed for release
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
  src/dotnet/APIView/APIViewUnitTests/CodeFileTests.cs
  src/dotnet/APIView/APIViewUnitTests/SampleTestFiles/TokenFileWithSectionsRevision3.json
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ChangeHistory.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Various fixes needed for release (#7404)
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
  src/dotnet/APIView/APIViewUnitTests/CodeFileTests.cs
  src/dotnet/APIView/APIViewUnitTests/SampleTestFiles/TokenFileWithSectionsRevision3.json
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ChangeHistory.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Prefer PackageName in Code file to find existing PR reviews
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Prefer PackageName in Code file to find existing PR reviews (#7405)
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Enable LineNumber with Diff
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Enable LineNumber with Diff (#7406)
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Move git computation inside method where APIRevision is Created
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Copute Linjes of Sections with Diff both ways
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosAPIRevisionsRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Re architect/review revision restructure (#7410)
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosAPIRevisionsRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Resolve PR feedback
  eng/pipelines/agent-software-inventory.yml
Due: none

Fix null error
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix null error (#7412)
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

skip reviews only if created date is 2 years or more old
  src/dotnet/APIView/CloneAPIViewDB/CloneAPIView/Program.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Always reprocess manual reviews
  src/dotnet/APIView/CloneAPIViewDB/CloneAPIView/Program.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

skip reviews only if created date is 2 years or more old (#7413)
  src/dotnet/APIView/CloneAPIViewDB/CloneAPIView/Program.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Optimize swagger diff calculation and avoid cleanup of approved PR reviews
  src/dotnet/APIView/APIViewWeb/Client/package-lock.json
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

the correct way to create the client
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/BlobUploadProcessorIntegrationTests.cs
Due: none

Add inventory pipeline to inventory software on machines we use for builds (#7395)
  eng/pipelines/agent-software-inventory.yml
Due: none

update date
  tools/tsp-client/CHANGELOG.md
Due: none

ensure all the headers get applied to
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/multipart_header.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderStringSanitizer.cs
Due: none

Delete src/dotnet/APIView/APIViewWeb/Client/package-lock.json
  src/dotnet/APIView/APIViewWeb/Client/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Optimize swagger diff calculation and avoid cleanup of approved PR re… (#7415)
  src/dotnet/APIView/APIViewWeb/HostedServices/LinesWithDiffBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

ensure all the headers get applied to (#7417)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/multipart_header.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderRegexSanitizer.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Sanitizers/HeaderStringSanitizer.cs
Due: none

update date (#7416)
  tools/tsp-client/CHANGELOG.md
Due: none

Update SampleRevision to match DB
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CommentItemModel.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/SamplesRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Collect and combine inventory across agents
  eng/pipelines/agent-software-inventory.yml
Due: none

Relocate strategy
  eng/pipelines/agent-software-inventory.yml
Due: none

Fix az-inventory
  eng/pipelines/agent-software-inventory.yml
Due: none

Do appropriate checkouts
  eng/pipelines/agent-software-inventory.yml
Due: none

Use explicit BUILD_SOURCESDIRECTORY
  eng/pipelines/agent-software-inventory.yml
Due: none

Use runtime expressions instead of compile-time expressions
  eng/pipelines/agent-software-inventory.yml
Due: none

Remove runtime expressions
  eng/pipelines/agent-software-inventory.yml
Due: none

Use matrix variables simply
  eng/pipelines/agent-software-inventory.yml
Due: none

Fix Windows ARP filter
  eng/pipelines/agent-software-inventory.yml
Due: none

Update SampleRevision to match DB (#7423)
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CommentItemModel.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/SamplesRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Avoid caching code file when running background task
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
