Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePattern: ${{ parameters.FilePattern }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

update
  tools/js-sdk-release-tools/src/llc/generateRLCInPipeline/generateRLCInPipeline.ts
Due: none

bump
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

bump (#9863)
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

comments - sections
  tools/apiview/parsers/rust-api-parser/rustdoc-types/post-processing.ts
Due: none

honor the triggeringPaths argument
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

ensure that packages added by the additional trigger paths are noted as only included for validation
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

[sdk-gen] add new state & format script line code (#9858)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/sdkAutomationState.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/utils/runScript.ts
  tools/spec-gen-sdk/src/utils/utils.ts
  tools/spec-gen-sdk/test/utils.test.ts
Due: none

handle possible 500 when no sanitizers are passed to removal
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
Due: none

update triggering paths
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

handling includedForValidation properly
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

properly bind case insensitively
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/HttpRequestInteractions.cs
Due: none

Unify the SDK generation calls
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
Due: none

handle the casing better
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
Due: none

update changelog
  tools/spec-gen-sdk/CHANGELOG.md
Due: none

add condition before transport end
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/src/automation/logging.ts
Due: none

fix
  tools/js-sdk-release-tools/src/llc/generateRLCInPipeline/generateRLCInPipeline.ts
Due: none

bump version
  tools/js-sdk-release-tools/package.json
Due: none

Unify the SDK generation process (#9874)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
Due: none

Ensure that invalid variable argument doesn't silently crash (#9760)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/HttpRequestInteractions.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Playback.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Update Published artifacts structure to match language repositories
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
Due: none

add union support
  tools/apiview/parsers/rust-api-parser/src/process-items/processImpl.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processItem.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processStruct.ts
  tools/apiview/parsers/rust-api-parser/src/process-items/processUnion.ts
Due: none

Disable delete and restore button for revisions that are not manual and created by loggedIn user
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

remove population of CITriggers
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Move stress helm charts to azuresdkartifacts. Add publish pipeline
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/azure/parameters/pg.json
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/publish.yml
Due: none

[stress] Updating helm chart index.yaml file for new stress-test-addons release
  index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
Due: none

add new integration test scenario + update how we replace content of an assets.json when Tag isn't a member at rest
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationPushTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Bump version
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/cli/cli.ts
Due: none

Update Published artifacts structure to match language repositories (#9875)
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
Due: none

Bump version (#9887)
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/cli/cli.ts
Due: none

Uninstall then install Csharp parser (#9856)
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix the integration test
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationPushTests.cs
Due: none

Add example update script/pipeline step
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.lock
  tools/stress-cluster/chaos/examples/parallel-pod-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/publish.yml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/update-charts.ps1
Due: eng/pipelines/eng-common-sync.yml

try index update
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
Due: none

debug
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.ps1
Due: none

path fixes for deploy
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
Due: none

Move stress helm charts to azuresdkartifacts. Add publish pipeline
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/examples/network-stress-example/Chart.lock
  tools/stress-cluster/chaos/examples/network-stress-scenarios-example/Chart.lock
  tools/stress-cluster/chaos/examples/parallel-pod-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-debug-share-example/Chart.lock
  tools/stress-cluster/chaos/examples/stress-deployment-example/Chart.lock
  tools/stress-cluster/cluster/README.md
  tools/stress-cluster/cluster/azure/parameters/pg.json
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/deploy.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/index.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/publish.yml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/update-charts.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix support for crates.io links
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Relying on `CIParameters` for storage of trigger information (#9862)
  eng/common-tests/helpers/Package-Helpers.tests.ps1
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Use strict-mode $Matches property accessor
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Fixed some warnings output and handling
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/utils/utils.ts
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
