Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

update feedback file column
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/feedback/service.go
Due: none

Add tests for generateChangelogAndBumpVersion API review path selection
  tools/js-sdk-release-tools/src/test/changelog/automaticGenerateChangeLogAndBumpVersion.test.ts
  tools/js-sdk-release-tools/src/test/common/utils.test.ts
Due: none

append messages
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/app/app.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/feedback.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reply.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/input/ConversationHandler.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/conversation.test.ts
Due: none

.
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/e2e/conversation.e2e.test.ts
Due: none

fix (#11191)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/changelog/v2/ChangelogGenerator.ts
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/changelog/modifyChangelogFileAndBumpVersion.ts
Due: none

WIP
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/reply.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/turn/ThinkingHandler.ts
Due: none

.
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/models/RAGModel.ts
Due: none

Don't use date for notification Id (#11103)
  src/dotnet/APIView/ClientSPA/src/app/_models/notificationsModel.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update package dependencies (#11104)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Azure.Sdk.Tools.PipelineGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/Azure.Sdk.Tools.SnippetGenerator.csproj
  tools/snippet-generator/Azure.Sdk.Tools.SnippetGenerator/DirectoryProcessor.cs
Due: none

[JS] Migration Breaking Change Detection Tool to V2 (#10976)
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/package-lock.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/package.json
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/pnpm-lock.yaml
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/common/types.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/detect-breaking-changes.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/diff/DeclarationDifferenceDetector.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/diff/declaration-diff.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/patch/patch-detection.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/index.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-class.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-function.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-interface.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-routes.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection-type.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/rest-level-client-rule.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/utils.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/utils/ast-utils.ts
  tools/js-sdk-release-tools/pnpm-lock.yaml
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
  tools/js-sdk-release-tools/src/changelog/extractMetaData.ts
  tools/js-sdk-release-tools/src/changelog/v2/.prettierrc
  tools/js-sdk-release-tools/src/changelog/v2/ChangelogGenerator.ts
  tools/js-sdk-release-tools/src/changelog/v2/DifferenceDetector.ts
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/changelog/modifyChangelogFileAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/npmUtils.ts
  tools/js-sdk-release-tools/src/common/packageResultUtils.ts
  tools/js-sdk-release-tools/src/hlc/generateMgmt.ts
  tools/js-sdk-release-tools/src/llc/generateRLCInPipeline/generateRLCInPipeline.ts
  tools/js-sdk-release-tools/src/test/changelog/changelogGenerator.test.ts
  tools/js-sdk-release-tools/src/test/changelog/testCases/operationGroups.4.new.hlc.api.md
Due: none

Support new beta tag in npm package (#11109)
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/common/changelog/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/common/interfaces.ts
  tools/js-sdk-release-tools/src/common/npmUtils.ts
  tools/js-sdk-release-tools/src/hlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/llc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/llc/utils/generateChangelog.ts
  tools/js-sdk-release-tools/src/llc/utils/utils.ts
  tools/js-sdk-release-tools/src/mlc/apiVersion/apiVersionTypeExtractor.ts
  tools/js-sdk-release-tools/src/test/apiVersion/apiVersionExtractor.test.ts
  tools/js-sdk-release-tools/src/test/utils/utils.ts
  tools/js-sdk-release-tools/src/test/version/version.test.ts
  tools/js-sdk-release-tools/src/utils/version.ts
  tools/js-sdk-release-tools/src/xlc/apiVersion/utils.ts
Due: none

[APIView Copilot] Add `cli apiview get-comments` command (#11131)
  packages/python-packages/apiview-copilot/cli.py
Due: none

[Devex Agent] Create spec pull request as draft (#11086)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecPullRequestTools/SpecPullRequestTools.cs
Due: none

Add "@mention" capability to APIView (#11057)
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/DTOs/SiteNotificationDto.cs
  src/dotnet/APIView/APIViewWeb/Helpers/AgentHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Models/AIReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/AgentModels.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_dtos/siteNotificationDto.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/signal-r/signal-r.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView Copilot] Add @mention chat endpoint (#11053)
  packages/python-packages/apiview-copilot/agent.bat
  packages/python-packages/apiview-copilot/agent.py
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/local_agent.bat
  packages/python-packages/apiview-copilot/local_agent.py
  packages/python-packages/apiview-copilot/prompts/existing_comment_filter.prompty
  packages/python-packages/apiview-copilot/scratch/diffs/python/keyvault_secrets_4.10.0b1_4.2.0.txt
  packages/python-packages/apiview-copilot/scratch/diffs/python/keyvault_secrets_4.10.0b1_4.2.0_git.txt
  packages/python-packages/apiview-copilot/scratch/expected/python/clinical_matching.json
  packages/python-packages/apiview-copilot/scratch/expected/python/image_analysis.json
  packages/python-packages/apiview-copilot/scratch/expected/python/image_analysis_multiple_same_violations.json
  packages/python-packages/apiview-copilot/scratch/mention/test.txt
  packages/python-packages/apiview-copilot/src/_models.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

tsp-client, bug fix, allow empty value in emitter options (#11108)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/typespec.ts
Due: none

[APIView Copilot] Refactor DatabasePlugin to use DatabaseManager (#11121)
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/agent/_agent.py
  packages/python-packages/apiview-copilot/src/agent/plugins/__init__.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_planner_plugin.py
Due: none

Clean-up unnecessary 1ES warnings (#11145)
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

Refactor nuget publishing (#11141)
  eng/pipelines/azuresdkpartnerdrops-to-devops.yml
  eng/pipelines/azuresdkpartnerdrops-to-nuget.yml
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
  eng/pipelines/templates/jobs/nuget-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

Fix do-not-use-logging-exception checker to avoid false positives on non-logger .exception() calls (#10930)
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_use_logging_exception.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

[APIView Copilot] Add APIView CosmosDB permissions script (#11140)
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/cspell.json
  packages/python-packages/apiview-copilot/dev_requirements.txt
  packages/python-packages/apiview-copilot/scripts/apiview_permissions.py
Due: none

[tsp-client] Extend dependency retention to include regular dependencies (#11123)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/commands.ts
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/utils/emitter-package-manual-deps.json
Due: none

[APIView Copilot] Fix mention endpoint (#11122)
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/tsp/main.tsp
Due: none

Deployment to production documentation (#11120)
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix display of multiple guidelines (#11105)
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

exception handling for valid confidence score (#11127)
  tools/issue-labeler/src/IssueLabelerService/Labelers/OpenAiLabeler.cs
Due: none

Move @mention to background service (#11180)
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/QueuedHostedService.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Services/BackgroundTaskQueue.cs
  src/dotnet/APIView/APIViewWeb/Services/IBackgroundTaskQueue.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove outputs and logs and add those folders to gitignore (#11182)
  packages/python-packages/apiview-copilot/.gitignore
  packages/python-packages/apiview-copilot/scratch/output/android/ui_chat.json
  packages/python-packages/apiview-copilot/scratch/output/dotnet/ai_onedp.json
  packages/python-packages/apiview-copilot/scratch/output/golang/cosmos.json
  packages/python-packages/apiview-copilot/scratch/output/ios/AzureCommunicationCalling.json
  packages/python-packages/apiview-copilot/scratch/output/ios/AzureCommunicationUICalling.json
  packages/python-packages/apiview-copilot/scratch/output/ios/calling.json
  packages/python-packages/apiview-copilot/scratch/output/ios/ui_calling.json
  packages/python-packages/apiview-copilot/scratch/output/java/search_documents.json
  packages/python-packages/apiview-copilot/scratch/output/python/ai_onedp.json
  packages/python-packages/apiview-copilot/scratch/output/python/calling.json
  packages/python-packages/apiview-copilot/scratch/output/python/clinical_matching.json
  packages/python-packages/apiview-copilot/scratch/output/python/content_understanding.json
  packages/python-packages/apiview-copilot/scratch/output/python/cosmos.json
  packages/python-packages/apiview-copilot/scratch/output/python/evaluation_general.json
  packages/python-packages/apiview-copilot/scratch/output/python/image_analysis.json
  packages/python-packages/apiview-copilot/scratch/output/python/image_analysis_multiple_same_violations.json
  packages/python-packages/apiview-copilot/scratch/output/python/keyvault_secrets_4.10.0b1.json
  packages/python-packages/apiview-copilot/scratch/output/python/keyvault_secrets_4.11.0b1.json
  packages/python-packages/apiview-copilot/scratch/output/python/keyvault_secrets_4._2.0_10.0b1.json
  packages/python-packages/apiview-copilot/scratch/output/python/ui_chat.json
  packages/python-packages/apiview-copilot/scratch/output/rust/storage_blob.json
  packages/python-packages/apiview-copilot/scratch/output/typescript/search_documents.json
Due: none

Fix scenario where elemendId, for comments, is null (#11169)
  src/dotnet/APIView/APIViewWeb/Helpers/AgentHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/NotificationManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add label for Communication - Call Automation (#11164)
  tools/github/data/common-labels.csv
Due: none

Disable codeql for linter pipeline (#11152)
  eng/common/pipelines/codeowners-linter.yml
Due: eng/pipelines/eng-common-sync.yml

[Analyzers] Fix ACZ0012 and ACZ0036 (#11111)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0034Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AzureAnalyzerTest.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/AZC0030Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/AZC0033Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/AZC0036Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/SuffixAnalyzerBaseTests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/NamingSuggestionHelperTests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/DuplicateTypeNameAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/DataSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/DefinitionSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/GeneralSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/OperationSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/OptionsSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/SuffixAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/NamingSuggestionHelper.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/TypeNameAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Allow authless pipeline analysis for github coding agent and other flows (#11165)
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  eng/pipelines/templates/steps/upload-llm-artifacts.yml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/EnforceToolsExceptionHandling.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/MockServices/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.sln
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/Constants.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/LogAnalysisHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TestHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/TokenUsageHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/AnalyzePipelineResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/FailedTestRunResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/LogAnalysisResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ObjectCommandResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/PackageResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/OutputService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/AzurePipelines/AnalyzePipelineTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/AzurePipelines/PipelineAnalysisTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/AzurePipelines/PipelineDetailsTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/AzurePipelines/PipelineTestsTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Test/TestAnalysisTool.cs
  tools/azsdk-cli/CONTRIBUTING.md
Due: none

[APIView Copilot] Updates for SearchManager and DatabaseManagers (#11184)
  packages/python-packages/apiview-copilot/.gitignore
  packages/python-packages/apiview-copilot/app.py
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/scripts/search_kb.py
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_database_manager.py
  packages/python-packages/apiview-copilot/src/_models.py
  packages/python-packages/apiview-copilot/src/_search_manager.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_database_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_search_plugin.py
  packages/python-packages/apiview-copilot/src/agent/plugins/_utility_plugin.py
Due: none

Add namespace approval validation
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/SpecWorkFlowToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ReleasePlan.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/SpecWorkflowTool/SpecWorkFlowTool.cs
Due: none

Improve PR controller feedback (#11173)
  src/dotnet/APIView/APIViewWeb/LeanControllers/PullRequestsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Create Issue Template for Release Plan Creation
  .github/ISSUE_TEMPLATE/release_plan.yml
Due: none

bypass comment element rule id for summary
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotPollingBackgroundHostedService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix CliIntegration Tests bugs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/CliIntegrationTests.cs
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
