Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

update unit tests with hardcode timestamp and test seperately
  src/dotnet/APIView/APIViewUnitTests/CosmosAPIRevisionsRepositoryTests.cs
  src/dotnet/APIView/APIViewUnitTests/CosmosReviewRepositoryTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update workflow for CustomCodeUpdateTool
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

minor formatting
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

fix pipeline
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/AppConfig.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/AppSecret.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/SearchService.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/StorageService.ts
Due: none

Update page height calculations
  src/dotnet/APIView/ClientSPA/src/app/app.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

upgrade go version
  tools/sdk-ai-bots/offline-evaluation.yml
Due: none

update go proxy
  tools/sdk-ai-bots/offline-evaluation.yml
Due: none

fix env
  tools/sdk-ai-bots/offline-evaluation.yml
Due: none

Fix dependencies.
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add attestation entry tests
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

remove duplicated test
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
Due: none

Fix build errors.
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/ai-comment-feedback-dialog/ai-comment-feedback-dialog.component.html
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/review-page-layout.module.ts
  src/dotnet/APIView/ClientSPA/src/styles.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[azsdkcli] Report failure + test output when running tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/TestRunResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotnetLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/TestTool.cs
Due: none

Update to use Ang18 Lara theme.
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/tsconfig.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

changelog
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Always add response error if non-zero exit code
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/TestRunResponse.cs
Due: none

Add verify setup instruction in local SDK generation workflow
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/eng-common-sync.yml

[azsdkcli] Report failure + test output when running tests (#13300)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Package/TestRunResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotnetLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/TestTool.cs
Due: none

Fix CI?
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Improve VerifySetup Output Clarity (#13100)
  eng/common/instructions/azsdk-tools/verify-setup.instructions.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Configuration/RequirementsV1.json
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/VerifySetupResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/SetupRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Verify/VerifySetupTool.cs
Due: eng/pipelines/eng-common-sync.yml

update spec title
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

less specific to client.tsp
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

Make mocked invoke-RestMethod empty
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

Fix tests.
  src/dotnet/APIView/ClientSPA/src/app/_components/conversation-page/conversation-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-page/revision-page.component.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix GroupId property access
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Fixes issue where copilot review didn't "count" unless a comment was found.
  src/dotnet/APIView/APIViewUnitTests/CopilotPollingBackgroundHostedServiceTests.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotJobProcessor.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update page height calculations (#13316)
  src/dotnet/APIView/ClientSPA/src/app/app.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Check analyzer
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: none

patch matching http links
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/LLMSystemInstructions.cs
Due: none

Add script for local tool description eval workflow (#13218)
  eng/common/scripts/Invoke-ToolDescriptionEvaluator.ps1
Due: eng/pipelines/eng-common-sync.yml

Update copilot instructions to support both local and pipeline based SDK gen (#13304)
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
  eng/common/instructions/azsdk-tools/typespec-to-sdk.instructions.md
Due: eng/pipelines/eng-common-sync.yml

Fix GroupId property access (#13321)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix mcp tool naming convention analyzer to handle variable references
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/EnforceMcpServerToolNamingConvention.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Analyzer/README.md
Due: none

[APIView] Remove ApiKey usage (#13235)
  eng/common/pipelines/templates/steps/create-apireview.yml
  eng/common/scripts/Create-APIReview.ps1
Due: eng/pipelines/eng-common-sync.yml

Add tests for CPEX Attestation Automation (#13196)
  eng/scripts/tests/CPEX-Attestation.tests.ps1
Due: none

Replaced Default Credentials with Token Credential (#13258)
  tools/issue-labeler/src/IssueLabelerService/Answers/AnswerFactory.cs
  tools/issue-labeler/src/IssueLabelerService/Answers/OpenAiAnswerService.cs
  tools/issue-labeler/src/IssueLabelerService/Program.cs
  tools/issue-labeler/src/SearchIndexCreator/Program.cs
Due: none

Fix side menu
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Refactor API Review task conditions in YAML
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/eng-common-sync.yml

update package version
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Apply suggestion from @Copilot
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
