Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Commit before major refactoring
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
Due: .azure-pipelines/apiview.yml

raise error if automation cannot find tsp-location for typespec
  tools/azure-rest-api-specs-examples-automation/directory/examples_dir.py
  tools/azure-rest-api-specs-examples-automation/directory/test_examples_dir.py
Due: none

bug fix, picked example in wrong api-version folder
  tools/azure-rest-api-specs-examples-automation/directory/examples_dir.py
Due: none

test case for the fix
  tools/azure-rest-api-specs-examples-automation/directory/test_examples_dir.py
Due: none

format
  tools/azure-rest-api-specs-examples-automation/directory/examples_dir.py
  tools/azure-rest-api-specs-examples-automation/directory/test_examples_dir.py
Due: none

sample-automation, bug fix on wrong api version folder (#9151)
  tools/azure-rest-api-specs-examples-automation/directory/examples_dir.py
  tools/azure-rest-api-specs-examples-automation/directory/test_examples_dir.py
Due: none

Add purge script
  tools/apiview/emitters/typespec-apiview/main.tsp
  tools/apiview/emitters/typespec-apiview/package-lock.json
  tools/apiview/emitters/typespec-apiview/package.json
  tools/apiview/emitters/typespec-apiview/src/emitter.ts
Due: none

Add redirect URL to login requests (#9141)
  src/dotnet/APIView/APIViewWeb/Controllers/AccountController.cs
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/URlHelpers.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/ClientSPA/src/app/_guards/auth.guard.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Switch from mocha to vitest.
  tools/apiview/emitters/typespec-apiview/.editorconfig
  tools/apiview/emitters/typespec-apiview/.mocharc.yaml
  tools/apiview/emitters/typespec-apiview/package-lock.json
  tools/apiview/emitters/typespec-apiview/package.json
  tools/apiview/emitters/typespec-apiview/src/apiview.ts
  tools/apiview/emitters/typespec-apiview/src/schemas.ts
  tools/apiview/emitters/typespec-apiview/src/util.ts
  tools/apiview/emitters/typespec-apiview/test/apiview-options.test.ts
  tools/apiview/emitters/typespec-apiview/test/apiview.test.ts
  tools/apiview/emitters/typespec-apiview/tsconfig.json
  tools/apiview/emitters/typespec-apiview/vitest.config.ts
Due: none

add usage decorator
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/package-lock.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/package.json
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Due: none

Handle empty/null alias in function
  eng/scripts/live-test-resource-cleanup.ps1
Due: none

Handle empty/null alias in function (#9155)
  eng/scripts/live-test-resource-cleanup.ps1
Due: none

Fix test library configuration.
  tools/apiview/emitters/typespec-apiview/src/testing/index.ts
Due: none

Revert Icon Url Change
  src/dotnet/APIView/APIViewWeb/Client/css/shared/language-customizations.scss
  src/dotnet/APIView/ClientSPA/workbox-config.js
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Version Service Worker Cache
  src/dotnet/APIView/ClientSPA/workbox-config.js
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Bug fix/api view cache (#9158)
  src/dotnet/APIView/APIViewWeb/Client/css/shared/language-customizations.scss
  src/dotnet/APIView/ClientSPA/workbox-config.js
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add service decorator temporarily for codegen
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
Due: none

Enhance logging and string representation in RecordEntry
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntry.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
Due: none

simplification
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
Due: none

log message improve
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
Due: none

unneeded pkg
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntry.cs
Due: none

update tspconfig
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
  tools/apiview/parsers/apiview-treestyle-parser-schema/tspconfig.yaml
Due: none

initial generated code
  packages/python-packages/apiview-stub-generator/apistub/_generated/apiview_mapping_python.json
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/_model_base.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/_patch.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/_serialization.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/_version.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/__init__.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/_enums.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/_models.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/_patch.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/py.typed
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

Upgrade the revisions on the fly
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

return upgraded results
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Refactored with just Import type checker
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Refactored with just Import type checker
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Upgrade the revisions on the fly (#9171)
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update Call to Action Cases
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

clean up remaining TODOs
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Rename template
  eng/common/pipelines/templates/stages/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

clean up remaining TODOs (#9178)
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Use $GITHUB_EVENT_PATH variable instead of inline file writing (#9134)
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml

[apiview-js-parser] add missing `type` keyword
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/package.json
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
