Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Ingestor and CLI command.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_guideline_ingestor.py
Due: none

Revert "remove test let"
  packages/python-packages/doc-warden/ci.yml
Due: none

bump default doc-warden version
  eng/common/scripts/Verify-Readme.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix `archetype-python-tool` pypi deployment step (#13704)
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
Due: none

Add support for System.ClientModel.ClientSettings in AZC0007 and new AZC0021 analyzer
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0007Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0021Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientConstructorAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/SymbolAnalyzerBase.cs
Due: .azure-pipelines/dotnet.yml

Update ingestion command.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/requirements.txt
  packages/python-packages/apiview-copilot/src/_guideline_ingestor.py
Due: none

Fix build again
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/package-lock.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add support for System.ClientModel.ClientSettings in AZC0007 and new AZC0021 analyzer (#13707)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0007Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0021Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientConstructorAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/SymbolAnalyzerBase.cs
Due: .azure-pipelines/dotnet.yml

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Update MCP tools documentation
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

Increment version for tools/azsdk-cli/Azure.Sdk.Tools.Cli releases (#13708)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

CLI command to mark package as released in release plan
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedCommandGroups.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleaseStatusUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: none

add apiview feedback thread consolidation helper + tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/APIViewFeedbackCustomizationsHelpersTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/APIViewFeedbackCustomizationsHelpers.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
Due: none

Add PromptToToolMatchEvaluator for deterministic tool discoverability testing.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Evaluators/PromptToToolMatchEvaluator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/EvaluationHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/TestPromptRegistry.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Models/PromptToToolMatchEvaluatorContext.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenario.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenarios/General/Evaluate_PromptToToolMatch.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/TestPrompts.md
Due: none

Travis feedback & more tiny details
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-toolbar/review-toolbar.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

keep failures for test data
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Evaluators/PromptToToolMatchEvaluator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/TestPromptRegistry.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Models/PromptToToolMatchEvaluatorContext.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenarios/General/Evaluate_PromptToToolMatch.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/TestData/TestPrompts.md
Due: none

add coverage gap test
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Evaluators/PromptToToolMatchEvaluator.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenarios/General/Evaluate_PromptToToolMatch.cs
Due: none

property and property signature types
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/index.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/property.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/property.spec.ts
Due: .azure-pipelines/apiview.yml

Resolved merge conflict
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/DotNetPackageInfoHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Verify/VerifySetupTool.cs
Due: none

fixed spacing for optional properties
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/property.ts
Due: .azure-pipelines/apiview.yml

review comment resolution- 5
  .github/workflows/event-processor.yml
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueCommentProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/McpIssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestCommentProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/PullRequestProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/ScheduledEventProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Azure.Sdk.Tools.GitHubEventProcessor.csproj
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Configuration/McpConfiguration.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/ConfigConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Constants/McpConstants.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueCommentProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/McpIssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestCommentProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/PullRequestProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/ScheduledEventProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Program.cs
  tools/issue-labeler/Directory.Build.props
  tools/issue-labeler/IssueLabeler.sln
  tools/issue-labeler/src/IssueLabeler.Shared/IssueTriageContent.cs
  tools/issue-labeler/src/IssueLabelerService/IssueLabelerService.csproj
  tools/issue-labeler/src/IssueLabelerService/Labelers/Mcp/McpOpenAiLabeler.cs
  tools/issue-labeler/src/IssueLabelerService/Labelers/Mcp/McpToolDescription.cs
  tools/issue-labeler/src/IssueLabelerService/Labelers/OpenAiLabeler.cs
  tools/issue-labeler/src/IssueLabelerService/Program.cs
  tools/issue-labeler/src/IssueLabelerService/TraigeRag.cs
  tools/issue-labeler/src/Mcp.Evaluator/Evaluation/McpEvaluationMetrics.cs
  tools/issue-labeler/src/Mcp.Evaluator/Evaluation/McpLabelerEvaluator.cs
  tools/issue-labeler/src/Mcp.Evaluator/Evaluation/McpPredictionResult.cs
  tools/issue-labeler/src/Mcp.Evaluator/Evaluation/McpTestCase.cs
  tools/issue-labeler/src/Mcp.Evaluator/Mcp.Evaluator.csproj
  tools/issue-labeler/src/Mcp.Evaluator/McpLabelerTool.cs
  tools/issue-labeler/src/SearchIndexCreator/IssueTriageContentIndex.cs
  tools/issue-labeler/src/SearchIndexCreator/IssueTriageContentRetrieval.cs
  tools/issue-labeler/src/SearchIndexCreator/LabelRetrieval.cs
  tools/issue-labeler/src/SearchIndexCreator/Program.cs
  tools/issue-labeler/src/SearchIndexCreator/RepositoryIndexConfigs/McpRepositoryIndexConfig.cs
  tools/issue-labeler/src/SearchIndexCreator/SearchIndexCreator.csproj
Due: eng/pipelines/eng-workflows-sync.yml

Update and resolve comments
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.preprod
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.prod
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.testtool
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.bicep
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.parameters.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/contact.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/blobClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/channel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/tenant.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/turn/ThinkingHandler.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/blobClientManager.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/channelConfigManager.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/e2e/conversation.e2e.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/tenantConfigManager.test.ts
Due: none

refine chunk completion logic
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
Due: none

add comments
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureSdkKnowledgeAICompletion/AdditionalInfo.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureSdkKnowledgeAICompletion/CompletionRequest.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureSdkKnowledgeAICompletion/CompletionResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureSdkKnowledgeAICompletion/DocumentReference.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureSdkKnowledgeAICompletion/Message.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureSdkKnowledgeAICompletion/QueryIntention.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/TypeSpec/TypeSpecAuthoringResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TypeSpecAuthoringTool.cs
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/prompt.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/templates/qa/output_requirements.md
Due: none

Update comments to clarify cleanup behavior for HighLevelClient in Release/Local mode
  tools/js-sdk-release-tools/src/common/utils.ts
  tools/js-sdk-release-tools/src/test/common/utils.test.ts
Due: none

add logic for fixing markdown parser issues
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/tests/preprocessContentForAzureAISearch.test.ts
Due: none

resolve comments
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
Due: none

fix test
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/tests/preprocessContentForAzureAISearch.test.ts
Due: none

resolve comments
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
Due: none

fix knowledge sync
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
Due: none

fix
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/DailySyncKnowledge.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/tests/preprocessContent.test.ts
Due: none

fix
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/tests/preprocessContent.test.ts
Due: none

Resolve comments
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.dev
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.preprod
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.prod
  tools/sdk-ai-bots/azure-sdk-qa-bot/env/.env.testtool
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.bicep
  tools/sdk-ai-bots/azure-sdk-qa-bot/infra/azure.parameters.json
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/cards/components/contact.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/blobClient.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/channel.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/config.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/src/config/tenant.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/blobClientManager.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/channelConfigManager.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/e2e/conversation.e2e.test.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot/test/tenantConfigManager.test.ts
Due: none

CLI command to mark package as released in release plan (#13697)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedCommandGroups.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Commands/SharedOptions.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleaseStatusUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: none

move req classes
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/AllRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/CoreRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/DotNetRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/GoRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/JavaRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/JavaScriptRequirements.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/SetupRequirements/PythonRequirements.cs
Due: none

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
Due: none

Throw exception in the GetMergeBaseCommitSha method
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/GitHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/GitHelper.cs
Due: none
