Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

add PR link
  tools/github-labels/README.md
  tools/github-labels/deploy-labels.ps1
  tools/github-labels/diff-repo-labels.ps1
  tools/github-labels/refresh-snapshots.ps1
  tools/github-labels/scan-new-labels.ps1
Due: none

remove GHCreator gitignore rule
  tools/github-labels/.gitignore
Due: none

Migrate eng/common (except job-matrix) to Ubuntu 22.04 (#5005)
  eng/common/pipelines/templates/jobs/archetype-sdk-tests-generate.yml
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

grammar fix
  tools/github-labels/deploy-labels.ps1
  tools/github-labels/diff-repo-labels.ps1
  tools/github-labels/refresh-snapshots.ps1
  tools/github-labels/scan-new-labels.ps1
Due: none

Update global.json Microsoft.Build.Traversal from 1.0.45 to 3.2.0
  global.json
Due: none

add global.json to CODEOWNERS
  .github/CODEOWNERS
Due: none

Support uploading API review token file for CADL review (#5037)
  src/dotnet/APIView/APIViewIntegrationTests/ReviewManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Client/src/revisions.ts
  src/dotnet/APIView/APIViewWeb/Managers/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

small adjustment to address Pauls issue with the auto signing
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

additional debugging output, linux is doing something very specific
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Due: none

Tweaks and removing defaulted cases.
  src/swift/SwiftAPIView/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/SwiftAPIViewCore/Sources/Models/ExtensionModel.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/TokenKind+Extensions.swift
Due: .azure-pipelines/apiview.yml

add output of the tar command
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Due: none

amend the tar statement to include changedir
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Due: none

-C argument doesn't seem to work consistently, just changing directory
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Due: none

Make `Azure.ClientSdk.Analyzers` target `netstandard2.0`
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.csproj
Due: .azure-pipelines/dotnet.yml

make code owners parser lib target netstandard2.0
  tools/code-owners-parser/CodeOwnersParser/Azure.Sdk.Tools.CodeOwnersParser.csproj
Due: none

cover repo contents in CODEOWNERS
  .github/CODEOWNERS
Due: none

revert command to original, add additional logic for linux because passing -C does not actually work
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Due: none

more extensive comment
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Due: none

Extension fixes
  src/swift/SwiftAPIView/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/SwiftAPIViewCore/Sources/Models/APIViewModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/ExtensionModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/Token.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/TokenKind+Extensions.swift
Due: .azure-pipelines/apiview.yml

Disable auto gpg signing (#5047)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitStore.cs
Due: none

Resolve Paths within Linux Executable (#5050)
  eng/pipelines/templates/steps/produce-net-standalone-packs.yml
Due: none

Delete GHCreator and its usages (#5042)
  tools/github-labels/.gitignore
  tools/github-labels/README.md
  tools/github-labels/deploy-labels.ps1
  tools/github-labels/diff-repo-labels.ps1
  tools/github-labels/ghcreator/CommandLine.dll
  tools/github-labels/ghcreator/ComposableAsync.Core.dll
  tools/github-labels/ghcreator/CsvHelper.dll
  tools/github-labels/ghcreator/GHCreator.deps.json
  tools/github-labels/ghcreator/GHCreator.dll
  tools/github-labels/ghcreator/GHCreator.runtimeconfig.dev.json
  tools/github-labels/ghcreator/GHCreator.runtimeconfig.json
  tools/github-labels/ghcreator/Octokit.dll
  tools/github-labels/ghcreator/OutputColorizer.dll
  tools/github-labels/ghcreator/RateLimiter.dll
  tools/github-labels/refresh-snapshots.ps1
  tools/github-labels/scan-new-labels.ps1
Due: none

Group extensions with the same definitionIds together.
  src/swift/SwiftAPIViewCore/Sources/Models/ExtensionModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/PackageModel.swift
Due: .azure-pipelines/apiview.yml

XOR to or
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

fix paths to pass CI/CD link verification
  doc/common/matrix_generator.md
Due: none

Move supporting matrix generator assets out of `eng/common` (#5027)
  doc/common/matrix_generator.md
  eng/common-tests/matrix-generator/samples/matrix-job-sample.yml
  eng/common-tests/matrix-generator/samples/matrix-test.yml
  eng/common-tests/matrix-generator/samples/matrix.json
  eng/common-tests/matrix-generator/tests/job-matrix-functions.filter.tests.ps1
  eng/common-tests/matrix-generator/tests/job-matrix-functions.modification.tests.ps1
  eng/common-tests/matrix-generator/tests/job-matrix-functions.tests.ps1
  eng/common-tests/matrix-generator/tests/test-import-matrix.json
  eng/common/scripts/job-matrix/README.md
Due: eng/pipelines/eng-common-sync.yml

Update tools/js-sdk-release-tools/ci.yml
  tools/js-sdk-release-tools/ci.yml
Due: none

remove /artifacts/ from CODEOWNERS, as it is local-only dir + add comment
  .github/CODEOWNERS
Due: none

fix typo
  .github/CODEOWNERS
Due: none

Add `global.json` and other missing paths to `CODEOWNERS` (#5044)
  .github/CODEOWNERS
Due: none

re-add
  doc/common/matrix_generator.md
Due: none

Update `doc/common/matrix_generator.md`: review and rewrite for clarity
  doc/common/matrix_generator.md
Due: none

Fix navigation for outside extensions.
  src/swift/SwiftAPIView/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/SwiftAPIViewCore/Sources/Models/APIViewModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/DeclarationModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/ExtensionModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/NavigationToken.swift
  src/swift/SwiftAPIViewCore/Sources/Models/PackageModel.swift
  src/swift/SwiftAPIViewCore/Sources/Protocols/Linkable.swift
Due: .azure-pipelines/apiview.yml

kv-secrets
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Duplicate definition fix.
  src/swift/SwiftAPIView/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/SwiftAPIViewCore/Sources/Models/DeclarationModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/PackageModel.swift
Due: .azure-pipelines/apiview.yml

Fix issue with navigation.
  src/swift/SwiftAPIViewCore/Sources/Models/APIViewModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/PackageModel.swift
Due: .azure-pipelines/apiview.yml

Revert "Migrate eng/common (except job-matrix) to Ubuntu 22.04 (#5005)" for perf.yml
  eng/common/pipelines/templates/jobs/perf.yml
Due: eng/pipelines/eng-common-sync.yml

Revert "Migrate eng/common to Ubuntu 22.04" for perf.yml (#5054)
  eng/common/pipelines/templates/jobs/perf.yml
Due: eng/pipelines/eng-common-sync.yml
