Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Remove default sub config sub-config-azure-cloud-test-resources (#9229)
  doc/common/matrix_generator.md
  eng/common-tests/matrix-generator/samples/matrix-test.yml
  eng/common/TestResources/build-test-resource-config.yml
  eng/common/TestResources/deploy-test-resources.yml
  eng/common/TestResources/remove-test-resources.yml
  eng/pipelines/live-test-cleanup.yml
Due: eng/pipelines/eng-common-sync.yml

remove
  tools/js-sdk-release-tools/src/common/types.ts
Due: none

remove
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
Due: none

Update APIView token schema to include hasPrefixSpace property and process this when rendering API view
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIView/Model/V2/ReviewToken.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  tools/apiview/parsers/apiview-treestyle-parser-schema/main.tsp
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update generated APIvIew json schema
  tools/apiview/parsers/apiview-treestyle-parser-schema/CodeFile.json
Due: none

- `is` keyword also needs leading whitespace
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

fix bug causing monaco editor not to load
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/code-editor/code-editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/samples-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix spelling of Regenerate in yaml
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

Disable auto-baseline on non default branch (#9225)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Support branch name with space in create review step
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/eng-common-sync.yml

Refactor PackageProps to make the Yaml loading and processing methods common
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix spelling of Regenerate in yaml (#9234)
  eng/common/pipelines/templates/archetype-typespec-emitter.yml
Due: eng/pipelines/eng-common-sync.yml

Fix yaml
  eng/pipelines/azuresdkpartnerdrops-to-nuget.yml
Due: none

check directory content
  eng/pipelines/azuresdkpartnerdrops-to-nuget.yml
Due: none

Use correct packages path
  eng/pipelines/azuresdkpartnerdrops-to-nuget.yml
Due: none

- fix contextual keyword in proeprty/method signature
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/package.json
  tools/apiview/parsers/js-api-parser/src/generate.ts
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

- Refactor to pass `item` to `splitAndBuild` so that we can use more information in the api item
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/src/generate.ts
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

fix build and if-check indentation
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntry.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RequestOrResponse.cs
Due: none

- hide enum members from navigation list
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

Updates for feedback
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

- create a TypeName token for type parameter
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

fix bug causing monaco editor not to load (#9228)
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/code-editor/code-editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/samples-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

- replace `export declare enum` with `export enum`
  tools/apiview/parsers/js-api-parser/CHANGELOG.md
  tools/apiview/parsers/js-api-parser/src/jstokens.ts
Due: .azure-pipelines/apiview.yml

ignore generic types
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
  tools/js-sdk-release-tools/src/test/changelog/changelogGenerator.test.ts
  tools/js-sdk-release-tools/src/test/changelog/testCases/patch.1.new.rlc.api.md
  tools/js-sdk-release-tools/src/test/changelog/testCases/patch.1.old.rlc.api.md
Due: none

Expose fullyCompatible parameter of converter
  tools/tsp-client/src/commands.ts
  tools/tsp-client/src/index.ts
Due: none

update
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
Due: none

Squash repeated space between tokens if both prefix and suffix is set
  src/dotnet/APIView/APIView/Model/V2/ReviewLine.cs
  src/dotnet/APIView/APIViewUnitTests/SampleTestFiles/azure.data.tables.12.9.0.json
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Support branch name with space in create review step (#9235)
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/eng-common-sync.yml

last attempt
  tools/test-proxy/tests.yml
Due: none

last last attempt
  tools/test-proxy/tests.yml
Due: none

re-enable the rest of the stages
  tools/test-proxy/tests.yml
Due: none

update spacing
  tools/test-proxy/tests.yml
Due: none

I somehow added the condition: false back when fixing spacing in the previou scommit
  tools/test-proxy/tests.yml
Due: none

Update eng-workflows-sync.yml
  eng/pipelines/eng-workflows-sync.yml
Due: none

Add azure-sdk-for-rust to utility pipelines (#8737)
  eng/pipelines/agent-pool-migration.yml
  eng/pipelines/branch-cleanup.yml
  eng/pipelines/eng-common-sync.yml
  eng/pipelines/eng-workflows-sync.yml
  eng/pipelines/git-tasks.yml
  eng/pipelines/tools-repo-versioning.yml
Due: none

Address feedback
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntry.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordSession.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RequestOrResponse.cs
Due: none

fix logging test
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/LoggingTests.cs
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Refactor PackageProps to make the Yaml loading and processing methods common (#9236)
  eng/common/scripts/Helpers/Package-Helpers.ps1
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

fix function node
  packages/python-packages/apiview-stub-generator/apistub/_apiview.py
  packages/python-packages/apiview-stub-generator/apistub/_generated/treestyle/parser/models/_patch.py
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_argtype.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_class_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_key_node.py
  packages/python-packages/apiview-stub-generator/apistub/nodes/_module_node.py
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
