Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

use streaming mode
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/pipelines/server-ci.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/chat_service.py
Due: none

add debug log
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/chat_service.py
Due: none

fix ci pipeline
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/pipelines/server-ci.yml
Due: none

Add user_prompt event type to telemetry ingestion and make skill_name optional
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/UserPromptProcessorTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Core/TelemetryIngestionToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/TelemetryIngestionResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/UserPromptClassificationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/UserPromptProcessor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Telemetry/TelemetryConstants.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/TelemetryIngestionTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Skip prompt telemetry fields when prompt analysis fails
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/UserPromptProcessorTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Core/TelemetryIngestionToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/UserPromptProcessor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/TelemetryIngestionTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Fixed format issue
  .github/workflows/post-apiview.yml
Due: eng/pipelines/eng-workflows-sync.yml

add changelog
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

[Python APIView] move to pyproject.toml + catch runtime version mismatch error
  packages/python-packages/apistubgentest/pyproject.toml
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/pyproject.toml
  packages/python-packages/apiview-stub-generator/setup.py
  packages/python-packages/apiview-stub-generator/tests/_setup.py
  packages/python-packages/apiview-stub-generator/tests/apiview_test.py
Due: none

use build instead of bdist_wheel
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
  packages/python-packages/apistubgentest/pyproject.toml
Due: none

Simplify output, clean up some TODO comments
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeownersManagementHelperTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersManagementHelper.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/Codeowners/CheckPackageOwnersResponse.cs
Due: none

Fix 10 failing CheckPackageOwners tests for exception-based failures
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Helpers/CodeownersManagementHelperTests.cs
Due: none

Update packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

[APIView] WI-1: APIVersion Entity & Repository Layer
  src/dotnet/APIView/APIViewUnitTests/APIVersionsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/VersionNormalizationTests.cs
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
  src/dotnet/APIView/APIViewWeb/Helpers/AzureEngSemanticVersion.cs
  src/dotnet/APIView/APIViewWeb/Helpers/VersionNormalizationHelper.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/APIVersionModel.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIVersionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIVersionsManager.cs
  src/dotnet/APIView/APIViewWeb/MiddleWare/UITestsMiddleWare.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosVersionsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/ICosmosVersionsRepository.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/docs/overview.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add SDK breaking change patterns knowledge base
  eng/common/knowledge/sdk-breaking-patterns.md
Due: eng/pipelines/eng-common-sync.yml

Apply suggestions from code review
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/UserPromptProcessor.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Core/TelemetryIngestionTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Temporarily disable 'Block Approval on MUST FIX Diagnostics' and add warning
  src/dotnet/APIView/APIViewUnitTests/APIRevisionsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewQualityScoreModel.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/reviewQualityScore.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

copilot comments
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/tests/apiview_test.py
Due: none

Extend azsdk_typespec_generate_authoring_plan with SDK breaking change detection
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/TypeSpec/TypeSpecAuthoringTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Fix enum split pattern with 'make room' step from Storage dogfood
  eng/common/knowledge/sdk-breaking-patterns.md
Due: eng/pipelines/eng-common-sync.yml

Feedbacl
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/APIView/ApiViewReviewToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/APIView/APIViewReviewTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

respond to copilot
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/reviewQualityScore.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Style: split long function params onto separate lines
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersManagementHelper.cs
Due: none

Manual commit: correct style
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CodeownersManagementHelper.cs
Due: none

Support Rust in azsdk-cli package build tool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/RustLanguageServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/SdkBuildToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/RustLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ServiceRegistrations.cs
Due: none

Feedback
  src/dotnet/APIView/APIViewUnitTests/APIVersionsManagerTests.cs
  src/dotnet/APIView/APIViewUnitTests/CosmosVersionsRepositoryTests.cs
  src/dotnet/APIView/APIViewUnitTests/VersionNormalizationTests.cs
  src/dotnet/APIView/APIViewWeb/Helpers/AzureEngSemanticVersion.cs
  src/dotnet/APIView/APIViewWeb/Helpers/VersionNormalizationHelper.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIVersionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIVersionsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosVersionsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/ICosmosVersionsRepository.cs
  src/dotnet/APIView/docs/overview.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Sanitize text tokens of newlines on ingestion
  src/dotnet/APIView/APIViewUnitTests/CodeFileManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add change log
  tools/azsdk-cli/CHANGELOG.md
Due: none

fix tests
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/APIView/APIViewReviewTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

respond to copilot
  src/dotnet/APIView/APIViewUnitTests/CodeFileManagerTests.cs
  src/dotnet/APIView/APIViewWeb/Managers/CodeFileManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Implement GetPackageInfo for RustLanguageService
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/RustLanguageServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/RustLanguageService.cs
Due: none

Update prompt category
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.sln
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Prompts/Templates/UserPromptClassificationTemplate.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/UserPromptProcessor.cs
Due: none

nit remove Swagger and cadl
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/APIView/APIViewReviewTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Removed redundant code from language service
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/RustLanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkBuildTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Used cargo cmd to parse toml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/RustLanguageServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/RustLanguageService.cs
Due: none

[APIView] Fix: Duplicate left panel navigation entries in diff view
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Feedback &tests
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Feedback &tests
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Feedack for tests, create helper to have logic
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/nav-node-helpers.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Resolved comments
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/Languages/RustLanguageServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/RustLanguageService.cs
Due: none
