Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml

Cover exact numeric enum naming across TCGC capabilities
  .github/skills/azsdk-common-typespec-naming/evals/README.md
  .github/skills/azsdk-common-typespec-naming/evals/eval.yaml
  .github/skills/azsdk-common-typespec-naming/references/csharp-naming.md
Due: none

Fix as per comments
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/NotificationServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/ReleasePlanSdkGenerationEmailTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/NotificationService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Code review feedback.
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/SdkReleaseToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkReleaseTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Use plan IDs and SDK PR links for release status
  eng/common-tests/scripts/AutoRelease-Operations.Tests.ps1
  eng/common-tests/scripts/Mark-ReleasePlanCompletion.Tests.ps1
  eng/common-tests/scripts/Resolve-AutoReleasePackages.Tests.ps1
  eng/common/pipelines/templates/stages/archetype-auto-release-prepare.yml
  eng/common/pipelines/templates/steps/mark-release-completion.yml
  eng/common/scripts/AutoRelease-Operations.ps1
  eng/common/scripts/Mark-ReleasePlanCompletion.ps1
  eng/common/scripts/Resolve-AutoReleasePackages.ps1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleaseStatusUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
Due: eng/pipelines/eng-common-sync.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Fix exact PR matching and retry release-plan completion
  eng/common-tests/scripts/AutoRelease-Operations.Tests.ps1
  eng/common/scripts/AutoRelease-Operations.ps1
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/README.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
Due: eng/pipelines/eng-common-sync.yml, eng/pipelines/validate-instructions-azsdk-references.yml

Evaluate scripted diagnostic conversations without requiring cloud grading
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/decision_study.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/unit_tests/test_decision_study.py
Due: none

Adopt existing SDK bot resource state
  tools/sdk-ai-bots/deployment/docs/environment-contract.md
  tools/sdk-ai-bots/deployment/docs/identity-and-access.md
  tools/sdk-ai-bots/deployment/docs/maintainer-guide.md
  tools/sdk-ai-bots/deployment/infra/environments/environment-suite.yaml
  tools/sdk-ai-bots/deployment/infra/layers/agent-server/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/agent-server/main.bicepparam
  tools/sdk-ai-bots/deployment/infra/layers/agent/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/agent/main.bicepparam
  tools/sdk-ai-bots/deployment/infra/layers/frontend/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/frontend/main.bicepparam
  tools/sdk-ai-bots/deployment/infra/layers/function-app/main.bicepparam
  tools/sdk-ai-bots/deployment/infra/layers/shared-resources/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/shared-resources/main.bicepparam
  tools/sdk-ai-bots/deployment/test/env-suite.test.ts
  tools/sdk-ai-bots/deployment/test/recent-feature-contract.test.ts
Due: none

Add evidence-linked independent turn grading for local studies
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/decision_grading.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/unit_tests/test_decision_grading.py
Due: none

Add request-gated evidence acquisition studies
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evidence_acquisition.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/unit_tests/test_evidence_acquisition.py
Due: none

Complete dev deployment adoption
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/scripts/deploy_hosted_agent.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/deploy_hosted_agent_test.py
  tools/sdk-ai-bots/azure.yaml
  tools/sdk-ai-bots/deployment/docs/environment-contract.md
  tools/sdk-ai-bots/deployment/docs/identity-and-access.md
  tools/sdk-ai-bots/deployment/docs/maintainer-guide.md
  tools/sdk-ai-bots/deployment/docs/operational-readiness-checklist.md
  tools/sdk-ai-bots/deployment/docs/runbook-deploy.md
  tools/sdk-ai-bots/deployment/hooks/lib/env-suite.ts
  tools/sdk-ai-bots/deployment/infra/environments/environment-suite.yaml
  tools/sdk-ai-bots/deployment/infra/layers/agent/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/frontend/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/logic-app/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/logic-app/main.bicepparam
  tools/sdk-ai-bots/deployment/infra/layers/shared-resources/main.bicep
  tools/sdk-ai-bots/deployment/infra/layers/shared-resources/main.bicepparam
  tools/sdk-ai-bots/deployment/pipelines/templates/load-environment-suite.yml
  tools/sdk-ai-bots/deployment/scripts/grant-agent-data-access.sh
  tools/sdk-ai-bots/deployment/test/env-suite.test.ts
  tools/sdk-ai-bots/deployment/test/recent-feature-contract.test.ts
Due: none

Add experimental next-action controller for local bot studies
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/decision_planner.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/evidence_acquisition.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/unit_tests/test_decision_planner.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/unit_tests/test_evidence_acquisition.py
Due: none

Automatic SDK generation after release plan completion (#17111)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/NotificationServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/ReleasePlanSdkGenerationEmailTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/PackageReleaseStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleaseStatusUpdateResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/EmailPayload.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/NotificationService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/Templates/NewReleasePlanEmail.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/Templates/ReleasePlanSdkGenerationEmail.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/PackageReleaseStatusTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

[AzSDK CLI] Make SDK Release tool query Package Approval tool and accept language aliases (#17118)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/PackageApprovalStatusToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/Package/SdkReleaseToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ApiReviewHub/ApiReviewHubTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageApprovalStatusTool.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkReleaseTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Fix changelog
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Fix changelog (#17151)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Increment package version after release of tools/azsdk-cli/Azure.Sdk.Tools.Cli
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Update MCP tools documentation
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

Add monthly cleanup for past-due release plans (#16969)
  eng/pipelines/report-unreleased-sdks.yml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockDevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Mocks/Services/MockGitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Models/ApiReleaseTypeTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Models/ReleasePlanListResponseTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/DevOpsServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/GitHubServiceApprovalTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/NotificationServiceTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/ApiReleaseType.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/AzureDevOps/ReleasePlanWorkItem.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleasePlanListResponse.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Models/Responses/ReleasePlan/ReleasePlanPreviewSummary.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/GitHubService.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/Templates/OverdueReleasePlanEmail.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/Templates/PastDueReleasePlanEmail.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Notification/Templates/ReleasePlanEmailContent.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
  tools/azsdk-cli/docs/mcp-tools.md
  tools/azsdk-cli/docs/overdue-release-plans.md
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Update MCP tools documentation (#17154)
  tools/azsdk-cli/docs/mcp-tools.md
Due: none

New-TestResources: Resolve deployment state instead of blindly retrying on failure
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/TestResources-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Use PR branch for onboarding Rust to ARH
  eng/pipelines/handle-apireview-hub-request.yml
Due: none

Use PR branch for onboarding Rust to ARH (#17157)
  eng/pipelines/handle-apireview-hub-request.yml
Due: none

Add detailed cleanup metrics for resource cleanup dashboard
  eng/scripts/live-test-resource-cleanup.ps1
  tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/LiveTestResourceGroupSnapshot.kql
Due: none

Add detailed cleanup metrics for resource cleanup dashboard (#17158)
  eng/scripts/live-test-resource-cleanup.ps1
  tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/LiveTestResourceGroupSnapshot.kql
Due: none

Add materialized view for live test resource dashboard
  eng/scripts/live-test-resource-cleanup.ps1
  tools/pipeline-witness/infrastructure/kusto/views/LiveTestResourceGroupSnapshot.kql
Due: none

Add materialized view for live test resource dashboard (#17159)
  eng/scripts/live-test-resource-cleanup.ps1
  tools/pipeline-witness/infrastructure/kusto/views/LiveTestResourceGroupSnapshot.kql
Due: none

Delete tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/LiveTestResourceGroupSnapshot.kql
  tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/LiveTestResourceGroupSnapshot.kql
Due: none

Delete tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/LiveTestResourceGroupSnapshot.kql (#17160)
  tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/LiveTestResourceGroupSnapshot.kql
Due: none

Final fixes
  eng/pipelines/templates/scripts/post-files-to-azuresdkartifacts.ps1
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
Due: none

Keep release-plan revisions current after approval
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/ReleasePlan/ReleasePlanToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Prepare azsdk 0.6.51 release changelog
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Use one linked spec PR across release-plan mock lookups
  tools/azsdk-cli/Azure.Sdk.Tools.Mock/Handlers/ReleasePlan/GetReleasePlanHandler.cs
Due: none

Align release-plan mock fixture indentation
  tools/azsdk-cli/Azure.Sdk.Tools.Mock/Handlers/ReleasePlan/GetReleasePlanHandler.cs
Due: none

Prepare azsdk 0.6.51 release changelog (#17163)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Clarify TypeSpec naming integration and consolidate authoring evaluations
  .github/skills/.vally.yaml
  .github/skills/azure-typespec-assessment/references/workflow/finalization.md
  .github/skills/azure-typespec-author/SKILL.md
  .github/skills/azure-typespec-author/evals/README.md
  .github/skills/azure-typespec-author/evaluate/.vally.yaml
  .github/skills/azure-typespec-author/evaluate/README.md
  .github/skills/azure-typespec-author/evaluate/evals/naming/007001.eval.yaml
  .github/skills/azure-typespec-author/evaluate/evals/naming/routing.eval.yaml
  .github/skills/azure-typespec-author/references/authoring-plan.md
  .github/skills/azure-typespec-author/references/intake.md
  eng/common/pipelines/skill-eval.yml
  eng/pipelines/azure-typespec-author-benchmark.yml
  evals/workflows/mock/typespec-naming-handoffs.eval.yaml
Due: eng/pipelines/eng-common-sync.yml

Keep unassessed SDK naming reports evidence-only
  .github/skills/azure-typespec-assessment/references/workflow/finalization.md
  .github/skills/azure-typespec-author/evaluate/README.md
  evals/workflows/mock/typespec-naming-handoffs.eval.yaml
Due: none
