Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

Request Reviewers
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

CSharp Parser Re-Write
  src/dotnet/APIView/APIView/Model/StructuredTokenModel.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  tools/apiview/parsers/CONTRIBUTING.md
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add an additional test to verify the wonky json normalization that we DONT want to see
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordSessionTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/response_with_content_digest.json
Due: none

Adjustment to breaking docker manifest change (#8430)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordSessionTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/response_with_content_digest.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ContentTypeUtilities.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/RecordEntry.cs
Due: none

Convert Magic strings to static properties
  src/dotnet/APIView/APIView/Model/StructuredTokenModel.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  tools/apiview/parsers/csharp-api-parser/Program.cs
  tools/apiview/parsers/csharp-api-parser/TreeToken/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update the target version of the proxy
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

fix ci.yml for mock service host
  tools/mock-service-host/ci.yml
Due: none

fix js-sdk-release-tools
  tools/js-sdk-release-tools/ci.yml
Due: none

fix mockservicehost
  tools/mock-service-host/ci.yml
Due: none

remove owner
  .github/CODEOWNERS
Due: none

Fix high sev security issue (#8471)
  .gitmodules
  package-lock.json
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/hlc/utils/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/llc/utils/generateChangelog.ts
  tools/js-sdk-release-tools/src/llc/utils/utils.ts
  tools/js-sdk-release-tools/src/utils/version.ts
  tools/js-sdk-release-tools/tsconfig.json
Due: none

Fix AZC0006 and AZC0007 to accept endpoint as an exception
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0006Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0007Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientConstructorAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

fix typespec-emitter ci.yml
  tools/apiview/emitters/typespec-apiview/ci.yml
Due: none

fix mockservice host mappings
  tools/mock-service-host/ci.yml
Due: none

correct origin of publish 1es artifact
  tools/apiview/emitters/typespec-apiview/ci.yml
Due: none

align typespec apiview stage name with buildstage name depends on argument passed to the publish stage
  tools/apiview/emitters/typespec-apiview/ci.yml
Due: none

add the file back, it should exist
  tools/sdk-testgen/common/config/rush/.pnpmfile.cjs
Due: none

Revert "Fix high sev security issue (#8471)"
  .gitmodules
  package-lock.json
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/hlc/utils/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/llc/utils/generateChangelog.ts
  tools/js-sdk-release-tools/src/llc/utils/utils.ts
  tools/js-sdk-release-tools/src/utils/version.ts
  tools/js-sdk-release-tools/tsconfig.json
Due: none

Convert remaining packages which necessitate 1es-templates/esrp release (#8460)
  eng/pipelines/templates/stages/archetype-sdk-publish-js.yml
  eng/scripts/determine-js-release-tag.ps1
  tools/apiview/emitters/typespec-apiview/ci.yml
  tools/js-sdk-release-tools/ci.yml
  tools/mock-service-host/build-steps.yml
  tools/mock-service-host/ci.yml
  tools/oav-traffic-converter/ci.yml
  tools/tsp-client/ci.yml
Due: none

Revert "Fix high sev security issue (#8471)" (#8480)
  .gitmodules
  package-lock.json
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/hlc/utils/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/llc/utils/generateChangelog.ts
  tools/js-sdk-release-tools/src/llc/utils/utils.ts
  tools/js-sdk-release-tools/src/utils/version.ts
  tools/js-sdk-release-tools/tsconfig.json
Due: none

Add storage blob data owner to stress workload app role list
  tools/stress-cluster/cluster/azure/cluster/workloadapproles.bicep
Due: none

Force amd64 as the build platform - it has to match what the AKS cluster is running on.
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Due: eng/pipelines/eng-common-sync.yml

Add support for token based github auth
  tools/pipeline-witness/.gitignore
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Configuration/PipelineWitnessSettings.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Controllers/GitHubEventsController.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/GitHubActions/GitHubActionProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/GitHubActions/GitHubChainedCredentialStore.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/GitHubActions/GitHubCliCredentialStore.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/GitHubActions/GitHubCredentialStore.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Startup.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.development.json
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.json
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/appsettings.staging.json
Due: none

Work on Approval Buttons
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IAPIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/service-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/approval.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add test
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/test/changelogGenerator.test.ts
  tools/js-sdk-release-tools/test/testCases/operationGroups.new.api.md
  tools/js-sdk-release-tools/test/testCases/operationGroups.old.api.md
Due: none

fix
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
Due: none

add more tests to make robust, and consider different sdk type.
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
  tools/js-sdk-release-tools/src/changelog/extractMetaData.ts
  tools/js-sdk-release-tools/src/hlc/utils/automaticGenerateChangeLogAndBumpVersion.ts
  tools/js-sdk-release-tools/src/llc/utils/generateChangelog.ts
  tools/js-sdk-release-tools/test/changelogGenerator.test.ts
  tools/js-sdk-release-tools/test/testCases/operationGroups.1.new.modular.api.md
  tools/js-sdk-release-tools/test/testCases/operationGroups.1.old.hlc.api.md
  tools/js-sdk-release-tools/test/testCases/operationGroups.2.new.hlc.api.md
  tools/js-sdk-release-tools/test/testCases/operationGroups.2.old.hlc.api.md
  tools/js-sdk-release-tools/test/testCases/operationGroups.3.new.modular.api.md
  tools/js-sdk-release-tools/test/testCases/operationGroups.3.old.modular.api.md
Due: none

fix test data
  tools/js-sdk-release-tools/test/testCases/operationGroups.old.api.md
Due: none

fix
  tools/js-sdk-release-tools/src/hlc/utils/automaticGenerateChangeLogAndBumpVersion.ts
Due: none

save fix
  tools/js-sdk-release-tools/src/test/changelogGenerator.test.ts
Due: none

fix build issue
  tools/js-sdk-release-tools/package-lock.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/test/changelogGenerator.test.ts
  tools/js-sdk-release-tools/src/test/testCases/operationGroups.1.new.modular.api.md
  tools/js-sdk-release-tools/src/test/testCases/operationGroups.1.old.hlc.api.md
  tools/js-sdk-release-tools/src/test/testCases/operationGroups.2.new.hlc.api.md
  tools/js-sdk-release-tools/src/test/testCases/operationGroups.2.old.hlc.api.md
  tools/js-sdk-release-tools/src/test/testCases/operationGroups.3.new.modular.api.md
  tools/js-sdk-release-tools/src/test/testCases/operationGroups.3.old.modular.api.md
Due: none

fix working dir
  .github/workflows/js-sdk-release-tool-pull-request-check.yml
Due: eng/pipelines/eng-workflows-sync.yml

add github action
  .github/workflows/js-sdk-release-tool-pull-request-check.yml
Due: eng/pipelines/eng-workflows-sync.yml

add to workflow
  .github/workflows/js-sdk-release-tool-pull-request-check.yml
Due: eng/pipelines/eng-workflows-sync.yml

fix
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
Due: none

a bit fix
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
  tools/js-sdk-release-tools/tsconfig.json
Due: none

fix
  tools/js-sdk-release-tools/src/changelog/changelogGenerator.ts
  tools/js-sdk-release-tools/tsconfig.json
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
