Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

initial commit with connection to azure foundary
  src/dotnet/GeneratorAgent/GeneratorAgent.sln
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Azure.Tools.GeneratorAgent.csproj
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Composition/DependencyInjection.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Configuration/AppSettings.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Interfaces/IGeneratorAgentService.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Program.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Services/GeneratorAgentService.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/Azure.Tools.GeneratorAgent.Tests.csproj
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/DependencyInjectionTests.cs
Due: .azure-pipelines/dotnet.yml

added appsetting.json
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Azure.Tools.GeneratorAgent.csproj
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Composition/DependencyInjection.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Configuration/AppSettings.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Services/GeneratorAgentService.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/DependencyInjectionTests.cs
Due: .azure-pipelines/dotnet.yml

Feedback
  src/dotnet/APIView/APIViewWeb/DTOs/SiteNotificationDto.cs
  src/dotnet/APIView/APIViewWeb/Models/AIReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/AgentChatResponse.cs
  src/dotnet/APIView/APIViewWeb/Models/AgentModels.cs
  src/dotnet/APIView/APIViewWeb/Models/MentionRequest.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

rename model
  src/dotnet/APIView/APIViewWeb/Helpers/AgentHelpers.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Models/AgentModels.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

tsp-client, bug fix, allow empty value in emitter options (#11108)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/typespec.ts
Due: none

update prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/typespec.md
Due: none

refine prompt
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/typespec.md
Due: none

fix context limit
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/azure.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt_template/typespec.md
Due: none

improve logs and write troble shooting document
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/TROUBLESHOOTING_GUIDE.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/handler/completion_handler.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/logs.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/logstream.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/main.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/scripts/daily_sync_knowledge/setup_docs.sh
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/deploy.sh
Due: none

update tsp & update troubleshooting guide
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/TROUBLE_SHOOTING.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/AppServiceConsoleLogs.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/logstream.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/search_in_table.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/search_in_table_result.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/images/search_initial_request.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/tsp/main.tsp
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/tsp/model.tsp
Due: none

Add permissions script.
  packages/python-packages/apiview-copilot/cspell.json
  packages/python-packages/apiview-copilot/dev_requirements.txt
  packages/python-packages/apiview-copilot/scripts/apiview_permissions.py
Due: none

Update error message.
  packages/python-packages/apiview-copilot/cli.py
Due: none

Fix do-not-use-logging-exception checker to avoid false positives on non-logger .exception() calls (#10930)
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/do_not_use_logging_exception.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

revert
  tools/tsp-client/.gitignore
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/package.json
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/clientDefinitions.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/index.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/isUnexpected.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/logger.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/models.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/outputModels.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/paginateHelper.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/parameters.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/pollingHelper.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/responses.ts
  tools/tsp-client/test/examples/sdk/alternate-entrypoint/src/widgetManagerClient.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/package.json
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/clientDefinitions.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/index.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/isUnexpected.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/logger.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/models.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/outputModels.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/paginateHelper.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/parameters.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/pollingHelper.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/responses.ts
  tools/tsp-client/test/examples/sdk/contosowidgetmanager/contosowidgetmanager-rest/src/widgetManagerClient.ts
  tools/tsp-client/test/utils/alternate-emitter-package-lock.json
  tools/tsp-client/test/utils/alternate-emitter-package.json
Due: none

revert
  tools/tsp-client/cmd/tsp-client.js
Due: none

prepare for release
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
Due: none

Updates
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/scripts/apiview_permissions.py
Due: none

[APIView Copilot] Add APIView CosmosDB permissions script (#11140)
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/cspell.json
  packages/python-packages/apiview-copilot/dev_requirements.txt
  packages/python-packages/apiview-copilot/scripts/apiview_permissions.py
Due: none

Update tools/tsp-client/CHANGELOG.md
  tools/tsp-client/CHANGELOG.md
Due: none

unused file
  tools/tsp-client/test/utils/emitter-package-no-deps.json
Due: none

[tsp-client] Extend dependency retention to include regular dependencies (#11123)
  tools/tsp-client/CHANGELOG.md
  tools/tsp-client/package-lock.json
  tools/tsp-client/package.json
  tools/tsp-client/src/commands.ts
  tools/tsp-client/test/commands.spec.ts
  tools/tsp-client/test/utils/emitter-package-manual-deps.json
Due: none

Update script to download version inside of azsdk_Latest tag.
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
Due: eng/pipelines/eng-common-sync.yml

rename to version for clarity
  eng/common/mcp/README.md
  eng/common/mcp/azure-sdk-mcp.ps1
Due: eng/pipelines/eng-common-sync.yml

added logger
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Composition/DependencyInjection.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Configuration/AppSettings.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Interfaces/IAppSettings.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Interfaces/ILoggerService.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Logger/ConsoleLoggerService.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Program.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Services/GeneratorAgentService.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/Azure.Tools.GeneratorAgent.Tests.csproj
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/DependencyInjectionTests.cs
Due: .azure-pipelines/dotnet.yml

Refactor nuget publishing
  eng/pipelines/azuresdkpartnerdrops-to-devops.yml
  eng/pipelines/azuresdkpartnerdrops-to-nuget.yml
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
  eng/pipelines/templates/jobs/nuget-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

Clean-up unecessary warnings
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

added IAsyncDisposable
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Azure.Tools.GeneratorAgent.csproj
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Composition/DependencyInjection.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Program.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Services/GeneratorAgentService.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/DependencyInjectionTests.cs
Due: .azure-pipelines/dotnet.yml

move logic to installation helper tool
  eng/common/mcp/azure-sdk-mcp.ps1
  eng/common/scripts/Helpers/AzSdkTool-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Update globals.yml
  eng/pipelines/templates/variables/globals.yml
Due: none

Update eng/pipelines/templates/variables/globals.yml
  eng/pipelines/templates/variables/globals.yml
Due: none

[Analyzers] Fix ACZ0012 and ACZ0036
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0034Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AzureAnalyzerTest.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/AZC0030Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/AZC0033Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/AZC0036Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/ModelName/SuffixAnalyzerBaseTests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/NamingSuggestionHelperTests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/Descriptors.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/DuplicateTypeNameAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/DataSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/DefinitionSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/GeneralSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/OperationSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/OptionsSuffixAnalyzer.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ModelName/SuffixAnalyzerBase.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/NamingSuggestionHelper.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/TypeNameAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Update 1es-redirect.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Update eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

added Cancellation token
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Composition/DependencyInjection.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Configuration/AppSettings.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Interfaces/IGeneratorAgentService.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Program.cs
Due: .azure-pipelines/dotnet.yml

Refactor nuget publishing (#11141)
  eng/pipelines/azuresdkpartnerdrops-to-devops.yml
  eng/pipelines/azuresdkpartnerdrops-to-nuget.yml
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
  eng/pipelines/templates/jobs/nuget-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

Update archetype-sdk-tool-dotnet.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

Add "@mention" capability to APIView (#11057)
  src/dotnet/APIView/APIViewUnitTests/CommentsManagerTests.cs
  src/dotnet/APIView/APIViewWeb/DTOs/SiteNotificationDto.cs
  src/dotnet/APIView/APIViewWeb/Helpers/AgentHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/ICommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/ReviewManager.cs
  src/dotnet/APIView/APIViewWeb/Models/AIReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/AgentModels.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/RequestedReviews.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_ReviewsPartial.cshtml
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_dtos/siteNotificationDto.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/signal-r/signal-r.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Clean-up unnecessary 1ES warnings (#11145)
  eng/pipelines/templates/stages/1es-redirect.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
Due: none

fixed logger
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Azure.Tools.GeneratorAgent.csproj
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Composition/DependencyInjection.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Interfaces/ILoggerService.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Logger/ConsoleLoggerService.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Program.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Services/GeneratorAgentService.cs
Due: .azure-pipelines/dotnet.yml
