Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2019-general
        vmImage: MMS2019
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

tests breaking, but present. working through body not being handled properly
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Info.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

move files, repair tests
  tools/asset-sync/DealingWithLargeFilesBeyondLFS.docx
  tools/asset-sync/README.md
  tools/asset-sync/assets.Tests.Helpers.ps1
  tools/asset-sync/assets.Tests.ps1
  tools/asset-sync/assets.json
  tools/asset-sync/assets.ps1
  tools/asset-sync/meta.md
Due: none

update .gitignore
  .gitignore
Due: none

Sort by service name first (#3160)
  eng/common/docgeneration/Generate-DocIndex.ps1
Due: eng/pipelines/eng-common-sync.yml

updating contributing. updating some test naming and spacing
  tools/asset-sync/assets.Tests.ps1
  tools/asset-sync/contributing.md
  tools/asset-sync/meta.md
Due: none

Add tsdoc.json for JS Api tokenizer
  src/ts/ts-genapi/tsdoc.json
Due: .azure-pipelines/apiview.yml

oav@2.12.0
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

0.1.14
  tools/mock-service-host/CHANGELOG.md
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

2.12.0-beta.4
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

repairing tests invoking functionality. need to grab the js livetests and finish implementation side
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/AdminTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

separate parsing from output file writing
  src/go/cmd/api_view.go
Due: none

implementation
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

disable redirects by default
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

additional cleanup, removing unused variables, formatting code consistently.
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Use proper pipelining for GetPackageInfoJson function
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/eng-common-sync.yml

updating a test comparison because we updated the message that we are checking for
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordTests.cs
Due: none

Sanitize table foldableClass to be valid css
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/_CodeLine.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

ensuring host is set on redirected upstream request
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Add helm file plugin and local dependency chart usage readme
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/bin/file.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/plugin.yaml
Due: none

Initial code move from Azure/azure-sdk-for-python
  tools/pylint-extensions/pylint-guidelines-checker/__init__.py
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/pylint-guidelines-checker/setup.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Adding necessary files to enable CI
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
  packages/python-packages/api-stub-generator/ci.yml
  tools/pylint-extensions/pylint-guidelines-checker/README.md
  tools/pylint-extensions/pylint-guidelines-checker/ci.yml
  tools/pylint-extensions/pylint-guidelines-checker/dev_requirements.txt
Due: .azure-pipelines/apiview.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Use 'git root' as placeholder path name
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/README.md
Due: none

Revert stress infrastructure to use http repository reference
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/Chart.yaml
Due: none

Moving pylint checker updates from sdk-for-python into sdk-tools.
  tools/pylint-extensions/pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/pylint-guidelines-checker/setup.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/__init__.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/__init__.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/api_version_checker_acceptable_class.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/api_version_checker_acceptable_init.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/api_version_checker_violation.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/copyright_header_acceptable.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/copyright_header_violation.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/enum_checker_acceptable.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_files/enum_checker_violation.py
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Update tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/README.md
Due: none

Update pylint-guidelines-plugin tests to properly join test path with targeted files. Update targeted folder in guidelines checker ci.yml.
  tools/pylint-extensions/pylint-guidelines-checker/ci.yml
  tools/pylint-extensions/pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Add helm file plugin and local dependency chart usage readme (#3178)
  tools/stress-cluster/cluster/kubernetes/stress-infrastructure/Chart.yaml
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/README.md
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/bin/file.ps1
  tools/stress-cluster/cluster/kubernetes/stress-test-addons/file-plugin/plugin.yaml
Due: none

Sanitize table foldableClass to be valid css (#3176)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/_CodeLine.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use the batch version of ValidateDocsMsPackagesFn (#3169)
  eng/common/scripts/Update-DocsMsMetadata.ps1
Due: eng/pipelines/eng-common-sync.yml

bump version to reflect updates copied over updates from libba
  tools/pylint-extensions/pylint-guidelines-checker/setup.py
Due: none

Bump version of pylint-guidelines-checker (#3179)
  tools/pylint-extensions/pylint-guidelines-checker/setup.py
Due: none

refactor where the clients are initialized, dont want to tackle rewriting how these are mocked during testing as well
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Record.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

remove unreferenced code
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Handle multiple dlls in nupkg
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Don't do name check if only 1 dll
  src/dotnet/APIView/APIViewWeb/HostedServices/ReviewBackgroundHostedService.cs
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

oav@2.12.1
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

Fallback to first dll
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix
  src/dotnet/APIView/APIViewWeb/Languages/CSharpLanguageService.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[mock-service-host] latest oav (#3117)
  tools/mock-service-host/CHANGELOG.md
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

winston-and-async
  tools/mock-service-host/package-lock.json
  tools/mock-service-host/package.json
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi, packages/python-packages/api-stub-generator, packages/python-packages/protocol-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
