Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

apiviewgo: print help instead of panicking when given no args (#8333)
  src/go/cmd/root.go
Due: none

Reuse same branch name for previews of a PR (#8324)
  eng/common/scripts/Submit-PullRequest.ps1
  eng/pipelines/branch-cleanup.yml
  eng/pipelines/templates/stages/archetype-autorest-preview.yml
Due: eng/pipelines/eng-common-sync.yml

Add netiso test pipeline
  eng/pipelines/netiso/ci.yml
Due: none

Test open/iso account calls
  eng/pipelines/netiso/ci.yml
Due: none

use custom
  eng/pipelines/netiso/ci.yml
Due: none

2
  eng/pipelines/netiso/ci.yml
Due: none

3
  eng/pipelines/netiso/ci.yml
Due: none

SUb
  eng/pipelines/netiso/ci.yml
Due: none

4
  eng/pipelines/netiso/ci.yml
Due: none

Implement Release time Config Update
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/Managers/APIRevisionsManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/APIViewWeb/web.config
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_guards/auth.guard.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/auth/auth.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/config/config.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/config/config.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/assets/config.json
  src/dotnet/APIView/ClientSPA/src/environments/environment.development.ts
  src/dotnet/APIView/ClientSPA/src/environments/environment.ts
  src/dotnet/APIView/ClientSPA/src/proxy.conf.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Store filters in cookies
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/index-page/index-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_guards/auth.guard.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

First Release Approval Filters
  src/dotnet/APIView/ClientSPA/src/app/_components/index-page/index-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update to TokenTree CodeFile
  src/dotnet/APIView/APIView/APIView.csproj
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Tokens Displayed in UI Like trees
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Implement CodeLines
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/last-updated-on.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app-routing.module.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
  src/dotnet/APIView/ClientSPA/tsconfig.worker.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Retrieve APITree from LeanControllers
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Comments
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment/comment.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment/comment.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment/comment.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment/comment.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.scss
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/styles.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

implement Diffing
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app-routing.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Comments Partially Implemented
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Comment Threads
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment/comment.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment/comment.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment/comment.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Token Diff COmputation
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Logic for Diffing APITree
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Compute Diff on Client Side
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/APIViewWeb/web.config
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/worker-helpers.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/worker-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Work on CodeLines
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/auth/auth.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/auth/auth.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/config/config.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/config/config.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/revisions/revisions.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/review-page.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Move workers into services
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Lazy Load Modules
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/comments/comments.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/app-routing.module.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Lazy Loading Implemented
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Start Implementing Lazy Loading
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Split workers into separate files
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Configure MIME type
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/index.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Upgrade APP to PWA
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/ngsw-config.json
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app-routing.module.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-128x128.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-144x144.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-152x152.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-192x192.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-384x384.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-512x512.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-72x72.png
  src/dotnet/APIView/ClientSPA/src/assets/icons/icon-96x96.png
  src/dotnet/APIView/ClientSPA/src/index.html
  src/dotnet/APIView/ClientSPA/src/manifest.webmanifest
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add ShowDocumentation Button
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Pseudo Lazy Loading
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Pseudo Lazy Loading
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Lazy Loading CodeLines Partially working
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/worker/worker.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/token-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Show Review Page Navigation
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/review-page/review-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
  src/dotnet/APIView/ClientSPA/src/styles.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix API for Swagger
  src/dotnet/APIView/APIViewWeb/LeanControllers/AICommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/APIRevisionsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/AuthController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Diagnostics Comment
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Show / Hide Documentation
  src/dotnet/APIView/APIViewWeb/Helpers/PageModelHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
