Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Build tree on Server
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/reviews/reviews.service.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Build Tree On the Server
  src/dotnet/APIView/APIView/Model/CodeDiagnostic.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Build Tree Nodes in Parallel
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Move Diff to Server Side
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Retrieve MessagePack
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IBlobCodeFileRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Working on diff style
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Diff Styles Partially Working
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Retrieve Message Pack Object
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewUnitTests/CodeFileHelpersTest.cs
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobCodeFileRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/IBlobCodeFileRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add Diff Style Dropdown
  src/dotnet/APIView/ClientSPA/src/app/_components/api-revision-options/api-revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use enhanced build client to avoid exceptions on 302 redirects on artifact download
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
Due: none

Use enhanced build client to avoid exceptions on 302 redirects on artifact download (#8366)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
Due: none

Handle API Errors
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/service-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_services/auth/auth.service.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

test int download
  eng/pipelines/netiso/ci.yml
Due: none

Render Space Tokens Properly
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Set oidc variables for use in pre/post scripts and elsewhere
  eng/common/TestResources/deploy-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Check Redirect
  src/dotnet/APIView/APIView/Model/CodeFile.cs
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/service-helpers.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Attempt to Improve Serialized JSON Size
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Eliminate empty collections from serialization
  src/dotnet/APIView/APIView/Model/TokenTreeModel.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Get Angular UI working
  package-lock.json
  package.json
  src/dotnet/APIView/APIView/Model/CodeDiagnostic.cs
  src/dotnet/APIView/APIViewWeb/Helpers/APIHelpers.cs
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ChangeHistory.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CommentItemModel.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
  src/dotnet/APIView/ClientSPA/src/main.ts
  src/dotnet/APIView/ClientSPA/tsconfig.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adjust Json Serialization properties
  src/dotnet/APIView/APIView/Model/CodeDiagnostic.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ChangeHistory.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/CommentItemModel.cs
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/service-helpers.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/review.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Support paralleism only for multicore processors, and avoid thread starvation
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanControllers/ReviewsController.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Jump to Navigation
  src/dotnet/APIView/APIViewWeb/Helpers/CodeFileHelpers.cs
  src/dotnet/APIView/APIViewWeb/LeanModels/ReviewRevisionPageModels.cs
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_models/revision.ts
  src/dotnet/APIView/ClientSPA/src/app/_workers/apitree-builder.worker.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove PATVAR from PipelineGenerator
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/CommandParserOptions/DefaultOptions.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Due: none

PAT Removal from pipeline generation yml
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/pipelines/pipeline-generation-single.yml
  eng/pipelines/pipeline-generation.yml
Due: eng/pipelines/eng-common-sync.yml

install dotnet 8
  tools/test-proxy/tests.yml
Due: none

Use DOTNET_ROLL_FORWARD: 'Major' for test-proxy
  eng/common/testproxy/test-proxy-tool.yml
Due: eng/pipelines/eng-common-sync.yml

repair these livestests properly
  tools/test-proxy/tests.yml
Due: none

add sv to the general SAS URI sanitizer
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
Due: none

Remove extra backtick on final argument and remove commented out, dead, task
  eng/pipelines/pipeline-generation.yml
Due: none

Add temporarily hacked up yml to test and add output before/after connection auth
  eng/pipelines/pipeline-generation.yml
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
Due: none

indent working directory
  eng/pipelines/pipeline-generation.yml
Due: none

add / to beginning of the working directory
  eng/pipelines/pipeline-generation.yml
Due: none

change working directory again
  eng/pipelines/pipeline-generation.yml
Due: none

trying full path for working directory
  eng/pipelines/pipeline-generation.yml
Due: none

try packing/installing separately
  eng/pipelines/pipeline-generation.yml
Due: none

Install .NET 8 (#8372)
  tools/test-proxy/tests.yml
Due: none

Use Azure.Identity and setup a ChainedTokenCred using AzureCLI and AzurePowerShell credentials
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Azure.Sdk.Tools.PipelineGenerator.csproj
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
Due: none

add sv to the general SAS URI sanitizer (#8374)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/SanitizerDictionary.cs
Due: none
