Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common

Update src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix version in package.json
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/utils/changeConfigOfTestAndSample.ts
Due: none

fix version in package.json (#2894)
  tools/js-sdk-release-tools/package.json
  tools/js-sdk-release-tools/src/utils/changeConfigOfTestAndSample.ts
Due: none

Whitelist bot user account
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update CHANGELOG.md
  packages/python-packages/api-stub-generator/CHANGELOG.md
Due: .azure-pipelines/apiview.yml

Fixed no baseline issue.
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/eng-common-sync.yml

Add publish step as the error do not pop the line number
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/eng-common-sync.yml

Remove the publish step
  eng/common/pipelines/templates/steps/credscan.yml
Due: eng/pipelines/eng-common-sync.yml

[Python APIView] Add release date for APIView 0.2.10. (#2888)
  packages/python-packages/api-stub-generator/CHANGELOG.md
Due: .azure-pipelines/apiview.yml

Fix __members__ has no object items()
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
Due: .azure-pipelines/apiview.yml

Add AZURE_SERVICE_DIRECTORY environment variable in test deployment script (#2810)
  eng/common/TestResources/New-TestResources.ps1
  eng/common/TestResources/SubConfig-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Support local test resources behavior with provisioner config (#2889)
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

Support namespace override for local stress test deployments (#2892)
  eng/common/scripts/stress-testing/deploy-stress-tests.ps1
  eng/common/scripts/stress-testing/find-all-stress-packages.ps1
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
  tools/stress-cluster/chaos/README.md
Due: eng/pipelines/eng-common-sync.yml

Fix __members__ has no object items() (#2897)
  packages/python-packages/api-stub-generator/apistub/nodes/_class_node.py
Due: .azure-pipelines/apiview.yml

[Test-Proxy] Add OAuthResponseSanitizer to set of default sanitizers (#2643)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/RecordingHandlerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/RecordingHandler.cs
Due: none

Verify ChangeLog as ForRelease (#2836)
  eng/common/scripts/ChangeLog-Operations.ps1
Due: eng/pipelines/eng-common-sync.yml

Revert "Verify ChangeLog as ForRelease (#2836)"
  eng/common/scripts/ChangeLog-Operations.ps1
Due: eng/pipelines/eng-common-sync.yml

Revert "Verify ChangeLog as ForRelease (#2836)" (#2899)
  eng/common/scripts/ChangeLog-Operations.ps1
Due: eng/pipelines/eng-common-sync.yml

handlemultipart requests as text
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/multipart_request.json
Due: none

Updated as per comments
  src/dotnet/APIView/APIViewWeb/Repositories/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix artifact download issue
  src/dotnet/APIView/APIViewWeb/Repositories/DevopsArtifactRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

test using dotnet run
  eng/pipelines/notifications.yml
Due: none

Add enum test.
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
  packages/python-packages/apistubgentest/requirements.txt
  packages/python-packages/apistubgentest/setup.py
Due: .azure-pipelines/apiview.yml

[Test-Proxy] Treat multipart/mixed as text (#2863)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/Test.RecordEntries/multipart_request.json
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Admin.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/ContentTypeUtilities.cs
Due: none

update trust cert instructions
  tools/test-proxy/documentation/trusting-cert-per-language.md
Due: none

Add enum test. (#2904)
  packages/python-packages/api-stub-generator/apistub/nodes/_base_node.py
  packages/python-packages/api-stub-generator/apistub/nodes/_function_node.py
  packages/python-packages/apistubgentest/apistubgentest/models/__init__.py
  packages/python-packages/apistubgentest/apistubgentest/models/_models.py
  packages/python-packages/apistubgentest/requirements.txt
  packages/python-packages/apistubgentest/setup.py
Due: .azure-pipelines/apiview.yml

update trust cert instructions (#2905)
  tools/test-proxy/documentation/trusting-cert-per-language.md
Due: none

try all
  eng/pipelines/notifications.yml
Due: none

fix para
  eng/pipelines/notifications.yml
Due: none

use script
  eng/pipelines/notifications.yml
Due: none

newer version
  eng/pipelines/notifications.yml
Due: none

hardcode version
  eng/pipelines/notifications.yml
Due: none

install dotnet
  eng/pipelines/notifications.yml
Due: none

new version
  eng/pipelines/notifications.yml
Due: none
