Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2019-general
        vmImage: MMS2019
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/eng-common-sync.yml:
  pool:
    vmImage: windows-2019
  stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    - stage: CreateSync
      jobs:
      - job: SyncEngCommon
        displayName: Sync ${{ parameters.DirectoryToSync }} Directory
        steps:
  ...

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

pull in the support for relative assets.json from main. swap have our LogDebug console.writeline when a logging system isn't present. As it stands, logDebug doens't output for the proxy commands
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/IntegrationTests/GitStoreIntegrationPushTests.cs
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/DebugLogger.cs
Due: none

Add ability to generate randomly sparse matrix
  eng/common/scripts/job-matrix/Create-JobMatrix.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

Update cpp refs to main
  tools/perf-automation/tests.yml
Due: none

Revert "Update tests.yml (#4219)" (#4222)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Revert "Adding usage samples feature into APIView" (#4223)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Account/UsageSampleOwnerRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/UsageSampleOwnerRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/css/usageSample.scss
  src/dotnet/APIView/APIViewWeb/Client/webpack.config.js
  src/dotnet/APIView/APIViewWeb/CommentMarkdownExtensions.cs
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleUploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/ReviewLayout.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_SampleCommentFormPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/BlobUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css.map
  tools/pipeline-witness/infra/kusto/tables/Build.kql
  tools/pipeline-witness/infra/kusto/tables/BuildDefinition.kql
  tools/pipeline-witness/infra/kusto/tables/BuildFailure.kql
  tools/pipeline-witness/infra/kusto/tables/BuildLogLine.kql
  tools/pipeline-witness/infra/kusto/tables/BuildTimelineRecord.kql
  tools/pipeline-witness/infra/kusto/tables/TestRun.kql
  tools/pipeline-witness/infra/kusto/views/ManagedDefinition.kql
  tools/pipeline-witness/infra/kusto/views/Metrics.kql
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Store/GitProcessHandler.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding Usage Sample page and Models for #285
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/ReviewLayout.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Continued advancements on adding usage samples.
  src/dotnet/APIView/APIViewWeb/Controllers/UsageSampleController.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Milestone step for #285: Capability to upload via file or text input, and remove samples.
  src/dotnet/APIView/APIViewWeb/Controllers/UsageSampleController.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleFileModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleUploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding Markdown to HTML parsing for display
  src/dotnet/APIView/APIViewWeb/Account/UsageSampleOwnerRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/UsageSampleOwnerRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Minor refactor and tidy of backend code.
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Comments in bugged state. Going to experiment with new method of construction that may make them easier to manage.
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleUploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Inline comments semi-working
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_SampleCommentFormPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Syntax highlighting added for #285
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Client/css/usageSample.scss
  src/dotnet/APIView/APIViewWeb/CommentMarkdownExtensions.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_SampleCommentFormPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Added revisions to samples
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleUploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/ReviewLayout.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updated CONTRIBUTING.md and altered styling minimally.
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/css/usageSample.scss
  src/dotnet/APIView/APIViewWeb/Client/webpack.config.js
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Added editable samples
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleUploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revert "Remvoing suggested inputs from revision labels"
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Minor finalizing changes
  src/dotnet/APIView/APIViewWeb/Client/css/usageSample.scss
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remvoing suggested inputs from revision labels
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Requested changes
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding comment note for suppression reasoning. Suppressing warnings for dependencies in #285
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Hiding warning for ColorCode inclusion
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Removes excess newlines
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Removing unused variable causing build failure
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updating page to work with other changes (Azure #285)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Changing "sample" to "revision" to account for new revision system
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding accomodation for new features
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding authorization, Modifying to soft deletes, Tidying unused code, and refactoring backend systems for revisions
  src/dotnet/APIView/APIViewWeb/Account/UsageSampleOwnerRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleFileModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleUploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_SampleCommentFormPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove a few extra properties
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Bugfixing deleting last revision not properly deleting, updating styles
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Updating for feedback. (Remove excess check and fix indentation)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding usage samples comments to conversation page
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Adding icons to usage sample buttons
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Cleaner error handling for blob/container misconfiguration
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/BlobUsageSampleRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[Perf] Add Cpp to test pipeline (#4217)
  tools/perf-automation/tests.yml
Due: none

Removing old code and implementing feedback
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update cpp
  tools/perf-automation/tests.yml
Due: none

Revert "Adding usage samples feature into APIView "
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Adding Usage Samples to API Reviews (#4225)
  src/dotnet/APIView/APIViewWeb/APIViewWeb.csproj
  src/dotnet/APIView/APIViewWeb/Account/UsageSampleOwnerRequirement.cs
  src/dotnet/APIView/APIViewWeb/Account/UsageSampleOwnerRequirementHandler.cs
  src/dotnet/APIView/APIViewWeb/CONTRIBUTING.md
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/css/usageSample.scss
  src/dotnet/APIView/APIViewWeb/Client/webpack.config.js
  src/dotnet/APIView/APIViewWeb/CommentMarkdownExtensions.cs
  src/dotnet/APIView/APIViewWeb/Controllers/CommentsController.cs
  src/dotnet/APIView/APIViewWeb/Models/CommentModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Models/UsageSampleUploadModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Conversation.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/ReviewLayout.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Samples.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Shared/_SampleCommentFormPartial.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/BlobUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CommentsManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosUsageSampleRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/UsageSampleManager.cs
  src/dotnet/APIView/APIViewWeb/Startup.cs
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js
  src/dotnet/APIView/APIViewWeb/wwwroot/reviews.js.map
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css
  src/dotnet/APIView/APIViewWeb/wwwroot/usagesample.css.map
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revert "Adding usage samples feature into APIView " (#4226)
  tools/perf-automation/Azure.Sdk.Tools.PerfAutomation/tests.yml
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, src/ts/ts-genapi
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
