Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

remove extra spaces
  tools/test-proxy/typespec/main.tsp
Due: none

fix removesanitizers return type
  tools/test-proxy/typespec/main.tsp
Due: none

install the tooling properly
  tools/test-proxy/ci.yml
Due: none

Make testProtocols pass.
  src/swift/SwiftAPIViewCore/Sources/Models/APIViewModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/DeclarationModel.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/ProtocolExpectFile.txt
Due: .azure-pipelines/apiview.yml

PR feedback
  doc/common/common_engsys.md
  eng/scripts/Approve-Eng-Common-Sync-PRs.ps1
Due: none

Support new interfaces
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/logging.ts
  tools/spec-gen-sdk/src/automation/updateBreakingChangesLabels.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/cli/cli.ts
  tools/spec-gen-sdk/src/cli/config/schema.ts
  tools/spec-gen-sdk/src/types/Message.ts
  tools/spec-gen-sdk/src/types/PackageData.ts
  tools/spec-gen-sdk/src/utils/gitUtils.ts
  tools/spec-gen-sdk/src/utils/githubUtils.ts
Due: none

Improve common flow docs (#9437)
  doc/common/common_engsys.md
  eng/scripts/Approve-Eng-Common-Sync-PRs.ps1
Due: none

Add service connection permissions for generated pipelines
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/CommandParserOptions/GenerateOptions.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Due: none

Add service connection permissions for generated pipelines (#9462)
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/CommandParserOptions/GenerateOptions.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Conventions/PipelineConvention.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/PipelineGenerationContext.cs
  tools/pipeline-generator/Azure.Sdk.Tools.PipelineGenerator/Program.cs
Due: none

Update expect files.
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/AttributesExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/EnumerationsExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/ExtensionExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/FunctionsExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/GenericsExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/OperatorExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/PrivateInternalExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/PropertiesExpectFile.txt
Due: .azure-pipelines/apiview.yml

Create tsp, migrate test-proxy swagger to tsp (#9451)
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/Common/HttpExceptionMiddleware.cs
  tools/test-proxy/ci.yml
  tools/test-proxy/swagger/testproxy.json
  tools/test-proxy/typespec/.gitignore
  tools/test-proxy/typespec/main.tsp
  tools/test-proxy/typespec/package-lock.json
  tools/test-proxy/typespec/package.json
  tools/test-proxy/typespec/tspconfig.yaml
Due: none

add a reference to x-recording-assets-file in the documentation
  tools/test-proxy/Azure.Sdk.Tools.TestProxy/README.md
Due: none

Use new generation tool that supports service connections
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: eng/pipelines/eng-common-sync.yml

Check for parameters too
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Revert "Check for parameters too"
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Check for parameters in both methods
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientMethodsAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Address CR feedback
  src/dotnet/APIView/infra/app/storage.bicep
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

initial
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/baseline-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/current-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/common/types.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/diff/declaration-diff.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/patch/patch-detection.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection.test.ts
Due: none

add Constructor
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/baseline-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/misc/test-cases/patch-detection/current-package/patch.api.md
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/common/types.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/diff/declaration-diff.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/azure/patch/patch-detection.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/tests/patch-detection.test.ts
  tools/js-sdk-release-tools/packages/typescript-codegen-breaking-change-detector/src/utils/ast-utils.ts
Due: none

Make more tests pass.
  src/swift/SwiftAPIViewCore/Sources/Models/DeclarationModel.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/TokenKind+Extensions.swift
Due: .azure-pipelines/apiview.yml

nevermind the newline
  src/go/cmd/api_view_test.go
  src/go/cmd/testdata/test_output/output.json
Due: none

Clean-up some noisy logging
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix condition for generating weekly test pipelines
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Add Line Menu, Copy Review Text Button
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_helpers/common-helpers.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Clean-up some noisy logging (#9471)
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

actually we can have the newline; we must normalize line endings anyway
  src/go/cmd/api_view_test.go
  src/go/cmd/testdata/test_output/output.json
Due: none

Supported output contract and added file logger
  tools/spec-gen-sdk/src/automation/entrypoint.ts
  tools/spec-gen-sdk/src/automation/logging.ts
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/automation/workflow.ts
  tools/spec-gen-sdk/src/automation/workflowPackage.ts
  tools/spec-gen-sdk/src/cli/cli.ts
  tools/spec-gen-sdk/src/types/ExecutionReport.ts
  tools/spec-gen-sdk/src/types/ExecutionReportSchema.json
  tools/spec-gen-sdk/src/types/PackageData.ts
Due: none

Progress on passing tests.
  src/swift/SwiftAPIViewCore/Sources/Models/DeclarationModel.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
  src/swift/SwiftAPIViewCore/SwiftAPIViewCore.xcodeproj/project.pbxproj
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/ExtensionExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/SwiftUIExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/SwiftAPIViewCoreTests.swift
  src/swift/SwiftAPIViewCore/Tests/TestFiles/SwiftUITestFile.swifttxt
Due: .azure-pipelines/apiview.yml

Add test pipeline
  eng/pipelines/pahallis-token-test.yml
Due: none

Progress.
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/TokenKind+Extensions.swift
Due: .azure-pipelines/apiview.yml

Use new generation tool that supports service connections (#9466)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
  eng/common/pipelines/templates/steps/install-pipeline-generation.yml
Due: eng/pipelines/eng-common-sync.yml

Make all tests pass.
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
Due: .azure-pipelines/apiview.yml

[Swift APIView] Add automated tests (#9487)
  src/swift/SwiftAPIView/SwiftAPIView.xcodeproj/xcshareddata/xcschemes/SwiftAPIView.xcscheme
  src/swift/SwiftAPIViewCore/Sources/Models/APIViewModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/DeclarationModel.swift
  src/swift/SwiftAPIViewCore/Sources/SwiftSyntax+Extensions/SyntaxProtocol+Extensions.swift
  src/swift/SwiftAPIViewCore/SwiftAPIViewCore.xcodeproj/project.pbxproj
  src/swift/SwiftAPIViewCore/SwiftAPIViewCore.xcodeproj/xcshareddata/xcschemes/SwiftAPIViewCore.xcscheme
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/AttributesExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/EnumerationsExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/ExtensionExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/FunctionsExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/GenericsExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/InitializersExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/OperatorExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/PrivateInternalExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/PropertiesExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/ProtocolExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/ExpectFiles/SwiftUIExpectFile.txt
  src/swift/SwiftAPIViewCore/Tests/SwiftAPIViewCoreTests.swift
  src/swift/SwiftAPIViewCore/Tests/TestFiles/AttributesTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/EnumerationsTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/ExtensionTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/FunctionsTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/GenericsTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/InitializersTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/OperatorTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/PrivateInternalTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/PropertiesTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/ProtocolTestFile.swifttxt
  src/swift/SwiftAPIViewCore/Tests/TestFiles/SwiftUITestFile.swifttxt
Due: .azure-pipelines/apiview.yml

Update the AI Label Service URL
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
Due: none

Update the AI Label Service URL (#9489)
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
Due: none

Update GitHubEventProcessor version to 1.0.0-dev.20241206.2
  .github/workflows/event-processor.yml
  .github/workflows/scheduled-event-processor.yml
Due: eng/pipelines/eng-workflows-sync.yml

Initial work.
  src/swift/SwiftAPIViewCore/Sources/Models/APIViewModel.swift
  src/swift/SwiftAPIViewCore/Sources/Models/CodeDiagnostic.swift
  src/swift/SwiftAPIViewCore/Sources/Models/ReviewLine.swift
  src/swift/SwiftAPIViewCore/Sources/Models/ReviewToken.swift
  src/swift/SwiftAPIViewCore/Sources/Models/Token.swift
  src/swift/SwiftAPIViewCore/SwiftAPIViewCore.xcodeproj/project.pbxproj
Due: .azure-pipelines/apiview.yml

Don't try and sync .github/workflows to Rust yet
  eng/pipelines/eng-workflows-sync.yml
Due: none

commentary
  src/go/cmd/content.go
Due: none

delete unneeded helper
  src/go/cmd/content.go
Due: none
