Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
          Pool: Azure Pipelines
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePattern: ${{ parameters.FilePattern }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

update reqs with pip freeze
  packages/python-packages/apiview-stub-generator/apiview_reqs.txt
Due: none

Update js sdk release tool version to release
  tools/js-sdk-release-tools/package.json
Due: none

Update js sdk release tool version to release (#10033)
  tools/js-sdk-release-tools/package.json
Due: none

replace serviceDir with emitter Options
  tools/js-sdk-release-tools/src/common/utils.ts
Due: none

function headers
  tools/apiview/parsers/rust-api-parser/src/process-items/processFunction.ts
Due: none

Update output structure and minor fixes
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/MockGitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/GitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/IssueTriageOutput.cs
  tools/github-event-processor/RULES.md
Due: none

need to get this fix through pretty urgently. this is messing with java and python
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

Add Secret Store Extension Label to common label file.
  tools/github/data/common-labels.csv
Due: none

Fixing an issue with `ExcludePaths`, Adding initial acceptance Tests for PRMatrix Generation (#10028)
  eng/common-tests/matrix-generator/pr-matrix-samples/net_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.helpers.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
  eng/common/scripts/Package-Properties.ps1
Due: eng/pipelines/eng-common-sync.yml

More changes required for rust apiview (#9808)
  src/dotnet/APIView/APIViewWeb/Client/css/shared/language-customizations.scss
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/rust-light-original.svg
  src/dotnet/APIView/APIViewWeb/wwwroot/icons/rust-original.svg
  src/dotnet/APIView/ClientSPA/src/app/_components/index-page/index-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

update python scenarios to include artifact details. resolve feedback from @benbp
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.helpers.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

left a merge conflict behind
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
Due: none

same issues on python_scenarios
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

save eng
  eng/common-tests/ci.yml
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

getting everything organized
  eng/common-tests/matrix-generator/pr-matrix-samples/java_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/js_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/net_scenarios.json
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

saving progress for the evening
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.helpers.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/pr-matrix-generation-acceptance.tests.ps1
  eng/common-tests/matrix-generator/pr-matrix-samples/python_scenarios.json
Due: none

add isMgmtPackage function
  tools/js-sdk-release-tools/src/common/utils.ts
  tools/js-sdk-release-tools/src/utils/generateInputUtils.ts
Due: none

add test case
  tools/js-sdk-release-tools/src/common/utils.ts
  tools/js-sdk-release-tools/src/test/pipeline/sdkGeneration.test.ts
Due: none

update
  tools/js-sdk-release-tools/src/common/utils.ts
Due: none

fix ci
  tools/js-sdk-release-tools/src/common/utils.ts
  tools/js-sdk-release-tools/src/test/pipeline/sdkGeneration.test.ts
  tools/js-sdk-release-tools/src/utils/generateInputUtils.ts
Due: none

PR Fixes
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/MockGitHubEventClient.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor.Tests/Static/IssueProcessingTests.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/EventProcessing/IssueProcessing.cs
  tools/github-event-processor/Azure.Sdk.Tools.GitHubEventProcessor/Utils/IssueTriageOutput.cs
  tools/github-event-processor/RULES.md
Due: none

Also adding Recovery Services Data-Replication label
  tools/github/data/common-labels.csv
Due: none

Pass APIView host as a parameter
  eng/common/scripts/Helpers/ApiView-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Add Secret Store Extension Label to common label file. (#10036)
  tools/github/data/common-labels.csv
Due: none

Add resource prefix for safe secret standard alerts (#10027)
  eng/common/TestResources/New-TestResources.ps1
  eng/scripts/live-test-resource-cleanup.ps1
Due: eng/pipelines/eng-common-sync.yml

download
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

jobs
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

host pool
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update azure-sdk-build-tools Repository Resource Refs in Yaml files (#10010)
  eng/pipelines/templates/jobs/azuresdkpartnerdrops-to-nugetfeed.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  tools/apiview/parsers/cpp-api-parser/ci.yml
Due: none

add owner for js release tool (#10018)
  .github/CODEOWNERS
Due: none

Fix group prefix conditional in test resource removal
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

Ensure that direct batches have an underscore before the batchnumber (#10039)
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/eng-common-sync.yml

Use unified pipeline convention for rust
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Fix group prefix conditional in test resource removal (#10041)
  eng/common/scripts/Helpers/Resource-Helpers.ps1
Due: eng/pipelines/eng-common-sync.yml

gracefully handle when we return no matrix results
  eng/common/scripts/job-matrix/Create-PrJobMatrix.ps1
Due: eng/pipelines/eng-common-sync.yml

update
  tools/js-sdk-release-tools/src/utils/generateInputUtils.ts
Due: none

[Part 1] Add kebab case style option 'is-modular-library' (#10023)
  tools/js-sdk-release-tools/src/common/utils.ts
  tools/js-sdk-release-tools/src/test/pipeline/sdkGeneration.test.ts
  tools/js-sdk-release-tools/src/utils/generateInputUtils.ts
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
