Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, eng/pipelines/eng-common-sync.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: src/dotnet/APIView, src/java/apiview-java-processor, packages/python-packages/api-stub-generator
  eng/pipelines/eng-common-sync.yml: any of: eng/common

Address comments
  src/dotnet/APIView/APIViewWeb/Client/src/revisions.ts
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml

Quick fix to typo in test provisioner.
  eng/common/TestResources/deploy-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Quick fix to typo in test provisioner. (#787)
  eng/common/TestResources/deploy-test-resources.yml
Due: eng/pipelines/eng-common-sync.yml

Address comments
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/revisions.ts
  src/dotnet/APIView/APIViewWeb/Models/ReviewCodeFileModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml

Clean up comments
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
Due: .azure-pipelines/apiview.yml

new minor version.
  packages/python-packages/api-stub-generator/setup.py
  packages/python-packages/doc-warden/README.md
  packages/python-packages/doc-warden/changelog.md
  packages/python-packages/doc-warden/warden/version.py
Due: .azure-pipelines/apiview.yml

Treat any import error during stubgen as hard error
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
Due: .azure-pipelines/apiview.yml

Fix alignment
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
Due: .azure-pipelines/apiview.yml

Handle BoM in Doc-Warden (#785)
  packages/python-packages/api-stub-generator/setup.py
  packages/python-packages/doc-warden/README.md
  packages/python-packages/doc-warden/changelog.md
  packages/python-packages/doc-warden/warden/enforce_readme_content.py
  packages/python-packages/doc-warden/warden/version.py
Due: .azure-pipelines/apiview.yml

Split label from name on ReviewModel
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Delete.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Repositories/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml

Add assembly version and label (#786)
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIViewWeb/Client/css/site.scss
  src/dotnet/APIView/APIViewWeb/Client/src/main.ts
  src/dotnet/APIView/APIViewWeb/Client/src/revisions.ts
  src/dotnet/APIView/APIViewWeb/Models/ReviewModel.cs
  src/dotnet/APIView/APIViewWeb/Models/ReviewRevisionModel.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Delete.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Index.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Revisions.cshtml.cs
  src/dotnet/APIView/APIViewWeb/Repositories/NotificationManager.cs
  src/dotnet/APIView/APIViewWeb/Repositories/ReviewManager.cs
Due: .azure-pipelines/apiview.yml

Fix label in diff
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml

Fix
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml

Fix label in diff (#789)
  src/dotnet/APIView/APIViewWeb/Pages/Assemblies/Review.cshtml
Due: .azure-pipelines/apiview.yml

better handling for code fences
  packages/python-packages/doc-warden/changelog.md
  packages/python-packages/doc-warden/warden/enforce_readme_content.py
  packages/python-packages/doc-warden/warden/version.py
Due: none

Better Handling of Code Fences (#790)
  packages/python-packages/doc-warden/changelog.md
  packages/python-packages/doc-warden/warden/enforce_readme_content.py
  packages/python-packages/doc-warden/warden/version.py
Due: none

don't need to grab last one anymore, we only get codeowners from a single location
  eng/common/scripts/get-codeowners.ps1
Due: eng/pipelines/eng-common-sync.yml

removing wonky condition
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: eng/pipelines/eng-common-sync.yml

Enable Docs.MS PR Tagging (#747)
  eng/common/pipelines/templates/steps/create-pull-request.yml
  eng/common/pipelines/templates/steps/docs-metadata-release.yml
  eng/common/pipelines/templates/steps/get-pr-owners.yml
  eng/common/scripts/Submit-PullRequest.ps1
  eng/common/scripts/add-pullrequest-reviewers.ps1
  eng/common/scripts/get-codeowners.ps1
  tools/notification-configuration/github-codeowner-subscriber/GitHubNameResolver.cs
Due: eng/pipelines/eng-common-sync.yml

Ensure that the milestone is not null before using.
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
Due: none

Ensure that the milestone is not null before using. (#791)
  tools/github-issues/Azure.Sdk.Tools.GitHubIssues/Reports/CustomerReportedInvalidState/FindCustomerRelatedIssuesInvalidState.cs
Due: none

Treat any import error during stubgen as hard error (#788)
  packages/python-packages/api-stub-generator/apistub/_stub_generator.py
Due: .azure-pipelines/apiview.yml

Include EditorBrowsable in API Listing
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
Due: .azure-pipelines/apiview.yml

Update Attributes.cs
  src/dotnet/APIView/APIViewTest/ExactFormatting/Attributes.cs
Due: .azure-pipelines/apiview.yml

Include EditorBrowsable in API Listing (#793)
  src/dotnet/APIView/APIView/Languages/CodeFileBuilder.cs
  src/dotnet/APIView/APIViewTest/ExactFormatting/Attributes.cs
Due: .azure-pipelines/apiview.yml

deleting a few variables
  eng/common/scripts/update-docsms-ci.ps1
Due: eng/pipelines/eng-common-sync.yml

handle no changes
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: eng/pipelines/eng-common-sync.yml

handle no changes (#794)
  eng/common/pipelines/templates/steps/create-pull-request.yml
Due: eng/pipelines/eng-common-sync.yml

Scope module Installation to only the function where it is used
  eng/common/scripts/modules/Package-Properties.psm1
Due: eng/pipelines/eng-common-sync.yml

Scope module Installation to only the function where it is used (#796)
  eng/common/scripts/modules/Package-Properties.psm1
Due: eng/pipelines/eng-common-sync.yml

Make ChangeLog Logic More Robust
  eng/common/pipelines/templates/steps/run-specific-variables.yml
  eng/common/pipelines/templates/steps/verify-changelog.yml
  eng/common/scripts/Verify-ChangeLog.ps1
Due: eng/pipelines/eng-common-sync.yml

python almost working. node absolutely working.
  eng/common/pipelines/templates/steps/update-docs-ci.yml
  eng/common/scripts/update-docsms-ci.ps1
Due: eng/pipelines/eng-common-sync.yml

progress on python update
  eng/common/scripts/update-docsms-ci.ps1
Due: eng/pipelines/eng-common-sync.yml

Handle benchmarking assemblies
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0011Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyAttributesAnalyzer.cs
Due: none

Handle benchmarking assemblies (#799)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0011Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyAttributesAnalyzer.cs
Due: none

python CI updating properly
  eng/common/scripts/update-docsms-ci.ps1
Due: eng/pipelines/eng-common-sync.yml

csv almost working the way we expect
  eng/common/scripts/update-docsms-ci.ps1
Due: eng/pipelines/eng-common-sync.yml

handle CSV based CI
  eng/common/scripts/update-docsms-ci.ps1
Due: eng/pipelines/eng-common-sync.yml

Change iOS pipeline generation configuration.
  eng/pipelines/pipeline-generation.yml
Due: none

Change iOS pipeline generation configuration. (#800)
  eng/pipelines/pipeline-generation.yml
Due: none
