Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

fix types
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/function.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/interfaces.ts
Due: .azure-pipelines/apiview.yml

Respond to copilot suggestions
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

﻿Initial conversion
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversation-page/conversation-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/index-page/index-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/profile-page/profile-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-page/revision-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/ai-comment-delete-dialog/ai-comment-delete-dialog.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/ai-comment-feedback-dialog/ai-comment-feedback-dialog.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/code-editor/code-editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-severity/comment-severity.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/related-comments-dialog/related-comments-dialog.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/approval.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/html-to-markdown.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/language-names.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/last-updated-on.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/markdown-to-html.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/app.component.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/tsconfig.json
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Next step.
  src/dotnet/APIView/APIViewWeb/Client/css/main.scss
  src/dotnet/APIView/APIViewWeb/Client/css/pages/conversation.scss
  src/dotnet/APIView/APIViewWeb/Client/css/pages/index.scss
  src/dotnet/APIView/APIViewWeb/Client/css/pages/review.scss
  src/dotnet/APIView/APIViewWeb/Client/css/pages/revisions.scss
  src/dotnet/APIView/APIViewWeb/Client/css/pages/samples.scss
  src/dotnet/APIView/APIViewWeb/Client/css/shared/layout.scss
  src/dotnet/APIView/APIViewWeb/Client/css/shared/off-canvas.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/index-page/index-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.scss
  src/dotnet/APIView/ClientSPA/src/app/app.component.scss
  src/dotnet/APIView/ClientSPA/src/styles.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

﻿Fix revision selection.
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update dependencies.
  src/dotnet/APIView/APIViewWeb/Client/css/shared/bootstrap-defs.scss
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/APIViewWeb/Client/package-lock.json
  src/dotnet/APIView/APIViewWeb/Client/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update components.
  src/dotnet/APIView/ClientSPA/src/app/_components/conversation-page/conversation-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-page/revision-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/ai-comment-delete-dialog/ai-comment-delete-dialog.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/ai-comment-feedback-dialog/ai-comment-feedback-dialog.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-severity/comment-severity.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/related-comments-dialog/related-comments-dialog.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/conversation-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/revision-page.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/review-page-layout.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/approval.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/html-to-markdown.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/language-names.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/last-updated-on.pipe.ts
  src/dotnet/APIView/ClientSPA/src/app/_pipes/markdown-to-html.pipe.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix CI
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/conversation-page/conversation-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/conversations/conversations.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/cross-lang-view/cross-lang-view.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-page/revision-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/ai-comment-delete-dialog/ai-comment-delete-dialog.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/ai-comment-feedback-dialog/ai-comment-feedback-dialog.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/related-comments-dialog/related-comments-dialog.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.spec.ts
  src/dotnet/APIView/ClientSPA/workbox-config.js
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add tests
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/function.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/inteface.spec.ts
Due: .azure-pipelines/apiview.yml

﻿Convert Angular 19 to 20.
  src/dotnet/APIView/ClientSPA/angular.json
  src/dotnet/APIView/ClientSPA/package-lock.json
  src/dotnet/APIView/ClientSPA/package.json
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/conversation-page/conversation-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/reviews-list/reviews-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-page/revision-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revisions-list/revisions-list.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/samples-page/samples-page.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/nav-bar/nav-bar.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.ts
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.spec.ts
  src/dotnet/APIView/ClientSPA/src/app/_modules/shared/shared-app.module.ts
  src/dotnet/APIView/ClientSPA/src/app/app.module.ts
  src/dotnet/APIView/ClientSPA/src/environments/environment.development.ts
  src/dotnet/APIView/ClientSPA/src/environments/environment.ts
  src/dotnet/APIView/ClientSPA/src/index.html
  src/dotnet/APIView/ClientSPA/src/main.ts
  src/dotnet/APIView/ClientSPA/workbox-config.js
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add an optional tool
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Scenarios/AzureRestApiSpecs/Evaluate_ValidateTypespec.cs
Due: none

ordering fix (#13473)
  tools/azsdk-cli/auto-documentation.yml
Due: none

update
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/test_do_not_store_secrets_in_test_variables.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

this
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

imports
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/__init__.py
Due: none

Refine rationale for Phase B automation
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

tests
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_files/test_do_not_store_secrets_in_test_variables.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/tests/test_pylint_custom_plugins.py
Due: none

Code review comments.
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
  src/dotnet/APIView/apiview.yml
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

[APIView] Remove API Key Auth
  eng/pipelines/templates/steps/apiview-ui-tests.yml
  src/dotnet/APIView/APIViewUnitTests/AutoReviewControllerTests.cs
  src/dotnet/APIView/APIViewWeb/Client/tests/end-to-end/pages/review.spec.ts
  src/dotnet/APIView/APIViewWeb/Controllers/AutoReviewController.cs
  src/dotnet/APIView/APIViewWeb/typespec/README.md
  src/dotnet/APIView/APIViewWeb/typespec/autoreview.tsp
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Style tweaks.
  src/dotnet/APIView/APIViewWeb/Client/css/shared/theme-colors.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-severity/comment-severity.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/editor/editor.component.scss
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Apply suggestions from code review
  src/dotnet/APIView/APIViewWeb/typespec/README.md
  src/dotnet/APIView/APIViewWeb/typespec/autoreview.tsp
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

small typo
  src/dotnet/APIView/APIViewWeb/Client/tests/end-to-end/pages/review.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Revise two-phase customization workflow
  tools/azsdk-cli/docs/specs/3-customizing-client-tsp.spec.md
Due: none

Enhance Scenario 2 spec with AI-powered sample generation and translation features
  tools/azsdk-cli/docs/specs/0-scenario-2.spec.md
Due: none

Add instruction to authenticate with Github CLI
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Due: eng/pipelines/eng-common-sync.yml

Add one comment in review comment
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/code_review/sdk_code_review.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/api_test.rest
Due: none

add tests
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/interface.spec.ts
Due: .azure-pipelines/apiview.yml

Update tools/apiview/parsers/js-api-parser/src/tokenGenerators/interfaces.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/interfaces.ts
Due: .azure-pipelines/apiview.yml

update
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/completion.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/api_spec_review/agentic_search.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/api_spec_review/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/api_spec_review/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_sdk_onboarding/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/common/tenant_routing.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/general/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_channel/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/routing_tenant_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/apispec_2025_12_18-eval-results.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/env-variables
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/general_2025_12_18-eval-results.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/general_2025_12_22-eval-results.json
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/testcases/api-spec-review_channel_testcase.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/testcases/general_channel_testcase.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/tests/apispec_channel_testcase.jsonl
  tools/sdk-ai-bots/azure-sdk-qa-bot-evaluation/tests/general_channel_testcase.jsonl
Due: none

update
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/tenant.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/common/tenant_routing.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/search/ai_search_endpoint.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/routing_tenant_test.go
Due: none

update tokenGenerators
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/function.ts
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/interfaces.ts
Due: .azure-pipelines/apiview.yml

bumps
  tools/pylint-extensions/azure-pylint-guidelines-checker/CHANGELOG.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/README.md
  tools/pylint-extensions/azure-pylint-guidelines-checker/dev_requirements.txt
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
  tools/pylint-extensions/azure-pylint-guidelines-checker/setup.py
Due: none

Use GH app to get token for syncing
  eng/pipelines/mirror-repos.yml
  eng/pipelines/templates/steps/sync-repo-branch.yml
Due: none

add logging
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

remove
  tools/pylint-extensions/azure-pylint-guidelines-checker/pylint_guidelines_checker.py
Due: none

Update Changelog (#13474)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

token generator for default types fpr type parameter fixed
  tools/apiview/parsers/js-api-parser/src/tokenGenerators/interfaces.ts
  tools/apiview/parsers/js-api-parser/test/tokenGenerators/interface.spec.ts
Due: .azure-pipelines/apiview.yml

Update emitter logic.
  tools/apiview/emitters/typespec-metadata/package-lock.json
  tools/apiview/emitters/typespec-metadata/package.json
  tools/apiview/emitters/typespec-metadata/src/collector.ts
  tools/apiview/emitters/typespec-metadata/src/emitter.ts
  tools/apiview/emitters/typespec-metadata/src/metadata.ts
  tools/apiview/emitters/typespec-metadata/src/options.ts
  tools/apiview/emitters/typespec-metadata/tsp-output/@azure-tools/typespec-metadata/typespec-metadata.yaml
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
