Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Apply suggestions from code review
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
Due: none

Update kusto schema from prod database
  tools/pipeline-witness/infrastructure/bicep/pipelinelogs.production.json
  tools/pipeline-witness/infrastructure/bicep/resources.bicep
  tools/pipeline-witness/infrastructure/kusto/functions/DashboardQuery.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestBuild.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestOwners.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedBuild.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedBuild2.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionBuild.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionBuildX.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionFn.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionFunc.kql
  tools/pipeline-witness/infrastructure/kusto/functions/SuccessRateCalc.kql
  tools/pipeline-witness/infrastructure/kusto/functions/WeightedAverageCalc.kql
  tools/pipeline-witness/infrastructure/kusto/functions/users/kojamroz/SpecsPipelinesBuildsJobLogs.kql
  tools/pipeline-witness/infrastructure/kusto/tables/Build.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildFailure.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildLogLine.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildTimelineRecord.kql
  tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/PackageReleaseData.kql
  tools/pipeline-witness/infrastructure/kusto/tables/PipelineOwner.kql
  tools/pipeline-witness/infrastructure/kusto/tables/TestRun.kql
  tools/pipeline-witness/infrastructure/kusto/views/ManagedDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/views/Metrics.kql
Due: none

Add Detailed TestResults to pipeline witness (#7349)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/BlobUploadProcessorIntegrationTests.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/EnvironmentConditionalSkipFact.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/PassThroughFailureAnalyzer.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/SamplePayloads/build-completed-event.json
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/TestLogger.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/UnitTest1.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/Services/BuildCompleteQueueWorker.cs
  tools/pipeline-witness/README.md
  tools/pipeline-witness/imgs/arch.png
  tools/pipeline-witness/infrastructure/kusto/tables/TestRunResult.kql
Due: none

add common publish task
  eng/common/pipelines/templates/steps/publish-artifact.yml
Due: eng/pipelines/eng-common-sync.yml

snap
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter/Program.cs
Due: none

Update kusto ingestion deployment tempaltes
  tools/pipeline-witness/infrastructure/bicep/pipelinelogs.production.json
  tools/pipeline-witness/infrastructure/bicep/pipelinelogs.staging.json
  tools/pipeline-witness/infrastructure/bicep/resources.bicep
  tools/pipeline-witness/infrastructure/deploy.ps1
  tools/pipeline-witness/infrastructure/kusto/tables/TestRunResult.kql
Due: none

uniquely name kusto connections
  tools/pipeline-witness/infrastructure/bicep/resources.bicep
Due: none

snap
  eng/common/pipelines/templates/steps/publish-artifact.yml
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter.Tests/PipelineConverterTests.cs
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter.Tests/assets/js.archetype-sdk-client.after.yml
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter.Tests/assets/net.archetype-sdk-client.after.yml
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter/Program.cs
Due: eng/pipelines/eng-common-sync.yml

Exclude any API reviews no longer affected by PR
  src/dotnet/APIView/APIViewWeb/Controllers/PullRequestController.cs
  src/dotnet/APIView/APIViewWeb/Managers/Interfaces/IPullRequestManager.cs
  src/dotnet/APIView/APIViewWeb/Managers/PullRequestManager.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Remove verbose output from az deployment call
  tools/pipeline-witness/infrastructure/deploy.ps1
Due: none

support bicep deployment from other folders
  tools/pipeline-witness/infrastructure/deploy.ps1
Due: none

Prepare-Release.ps1: Make dateTime.ToString("MM/dd/yyyy") to work on exotic set-ups
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/eng-common-sync.yml

More fixups for publish task conversion
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter.Tests/PipelineConverterTests.cs
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter.Tests/assets/js.archetype-sdk-client.after.yml
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter.Tests/assets/net.archetype-sdk-client.after.yml
  tools/pipeline-template/Azure.Sdk.PipelineTemplateConverter/Program.cs
Due: none

Handle Ident types for StarExpr operand
  src/go/cmd/api_view_test.go
  src/go/cmd/testdata/test_vars/go.mod
  src/go/cmd/testdata/test_vars/test.go
  src/go/cmd/token_makers.go
  src/go/go.mod
  src/go/go.sum
Due: none

commit batching for the TestResults
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/BlobUploadProcessorIntegrationTests.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
Due: none

Batch retrieval of TestRunResults (#7617)
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness.Tests/BlobUploadProcessorIntegrationTests.cs
  tools/pipeline-witness/Azure.Sdk.Tools.PipelineWitness/BlobUploadProcessor.cs
Due: none

Handle Ident types for StarExpr operand (#7616)
  src/go/cmd/api_view_test.go
  src/go/cmd/testdata/test_vars/go.mod
  src/go/cmd/testdata/test_vars/test.go
  src/go/cmd/token_makers.go
  src/go/go.mod
  src/go/go.sum
Due: none

Update APIView Sync Pipeline
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
Due: none

Use [CultureInfo]::InvarialtCulture
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/eng-common-sync.yml

Update eng/common/scripts/Prepare-Release.ps1
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix issue in Verify-Link.ps1 after PS 7.4 update
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Prepare-Release.ps1: Make dateTime.ToString("MM/dd/yyyy") to work on exotic setups (#7615)
  eng/common/scripts/Prepare-Release.ps1
Due: eng/pipelines/eng-common-sync.yml

Update schema from kusto
  tools/pipeline-witness/infrastructure/Extract-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/Merge-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/build.ps1
  tools/pipeline-witness/infrastructure/deploy.ps1
  tools/pipeline-witness/infrastructure/kusto/functions/LatestBuild.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestOwners.kql
  tools/pipeline-witness/infrastructure/kusto/functions/WeightedAverageCalc.kql
  tools/pipeline-witness/infrastructure/kusto/functions/users/kojamroz/SpecsPipelinesBuildsJobLogs.kql
  tools/pipeline-witness/infrastructure/kusto/tables/TestRun.kql
  tools/pipeline-witness/infrastructure/kusto/tables/TestRunResult.kql
Due: none

Fix issue in Verify-Link.ps1 after PS 7.4 update (#7623)
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

Add comments to powershell scripts
  tools/pipeline-witness/infrastructure/Extract-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/Merge-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/build.ps1
  tools/pipeline-witness/infrastructure/deploy.ps1
Due: none

Fix BOM issue Generate-DocIndex.ps1
  eng/common/docgeneration/Generate-DocIndex.ps1
  eng/common/pipelines/templates/jobs/docindex.yml
Due: eng/pipelines/eng-common-sync.yml

Add rust to the mirroring list
  eng/pipelines/mirror-repos.yml
Due: none

Update mirror-repos.yml
  eng/pipelines/mirror-repos.yml
Due: none

Add rust to the mirroring list (#7626)
  eng/pipelines/mirror-repos.yml
Due: none

fix default kestrel ports
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/appsettings.json
Due: none

fix default kestrel ports (#7627)
  tools/http-fault-injector/Azure.Sdk.Tools.HttpFaultInjector/appsettings.json
Due: none

Update APIView Sync Pipeline (#7618)
  eng/scripts/python/apiview-syncdb/sync_cosmosdb.py
Due: none

Add ContentType header to Update-GitHubIssue
  eng/common/scripts/Invoke-GitHubAPI.ps1
Due: eng/pipelines/eng-common-sync.yml

replaced application/json
  eng/common/scripts/Invoke-GitHubAPI.ps1
Due: eng/pipelines/eng-common-sync.yml

chore(tox-monorepo): update supported tox versions
  packages/python-packages/tox-monorepo/setup.py
Due: none

doc(tox-monorepo): mention tox4 incompatibility
  packages/python-packages/tox-monorepo/README.md
Due: none

chore: make mention more obvious
  packages/python-packages/tox-monorepo/README.md
Due: none

Fix sparse-checkout git command line behavior
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Due: eng/pipelines/eng-common-sync.yml

fix url spec init
  tools/tsp-client/src/index.ts
Due: none
