Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml, eng/pipelines/validate-instructions-azsdk-references.yml

.azure-pipelines/apiview.yml:
  stages:
  - stage: Main
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-win-2022-general
        vmImage: MMS2022
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: $(NodeVersion)
        displayName: Use NodeJS $(NodeVersion)
      - task: GoTool@0
        inputs:
  ...

.azure-pipelines/dotnet.yml:
  stages:
  - stage: Build_and_Test
    jobs:
    - job: Build
      pool:
        vmImage: vs2017-win2016
      steps:
      - script: dotnet pack $(ProjectFile) -o $(Build.ArtifactStagingDirectory) -warnaserror $(VersioningProps)
        displayName: Build and Package
        env:
  ...

.azure-pipelines/warden.yml:
  jobs:
  - job: Build
    pool:
      vmImage: ubuntu-20.04
    steps:
    - task: UsePythonVersion@0
      displayName: Use Python 3.6
      inputs:
        versionSpec: 3.6
    - script: "pip install setuptools \npip install wheel twine readme-renderer[md]\n"
      displayName: Prep Environment
  ...

eng/pipelines/agent-software-inventory.yml:
  jobs:
  - job: inventory_azure_pipelines
    strategy:
      matrix:
        Linux:
          Pool: Azure Pipelines
          OSVmImage: ubuntu-latest
          Host: Ubuntu
        Windows:
          Pool: Azure Pipelines
          OSVmImage: windows-latest
          Host: Windows
        MacOS:
  ...

eng/pipelines/eng-common-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/eng-workflows-sync.yml:
  extends:
    template: /eng/pipelines/templates/stages/archetype-sdk-tool-repo-sync.yml
    parameters:
      DirectoryToSync: ${{ parameters.DirectoryToSync }}
      FilePatterns: ${{ parameters.FilePatterns }}
      Repos: ${{ parameters.Repos }}

eng/pipelines/templates/stages/apiview-python-ci.yml:
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        name: azsdk-pool-mms-ubuntu-2004-general
        vmImage: MMSUbuntu20.04
      steps:
      - template: /eng/pipelines/templates/steps/use-python-version.yml
        parameters:
          versionSpec: $(PythonVersion)
  ...

eng/pipelines/validate-instructions-azsdk-references.yml:
  pool:
    name: $(LINUXPOOL)
    demands: ImageOverride -equals $(LINUXVMIMAGE)
  jobs:
  - job: VerifyMcpToolReferences
    displayName: Verify MCP Tool References
    steps:
    - checkout: self
    - task: UseDotNet@2
      displayName: Use .NET 8.0
      inputs:
        version: 8.0.x
    - task: UseDotNet@2
  ...

[Spec] TypeSpec to SDK Release Workflow - Updated Design (#16176)
  tools/azsdk-cli/docs/specs/typespec-to-sdk-release-workflow.spec.md
Due: none

Add CFSClean enforcement (#16356)
  eng/common/pipelines/templates/steps/auth-dev-feed.yml
  eng/pipelines/templates/stages/1es-redirect.yml
  packages/python-packages/apiview-copilot/tests.yml
Due: eng/pipelines/eng-common-sync.yml

Add Check Enforcer validation note
  documentation/security-test-check-enforcer-validation.md
Due: none

Temporarily validate protected files check behavior
  .github/workflows/protected-files.yml
Due: none

Make release plan dahboard filters sticky (#16369)
  tools/release-plan-dashboard/CHANGELOG.md
  tools/release-plan-dashboard/lib/github-api.js
  tools/release-plan-dashboard/package-lock.json
  tools/release-plan-dashboard/package.json
  tools/release-plan-dashboard/public/app.js
  tools/release-plan-dashboard/public/style.css
  tools/release-plan-dashboard/routes/api.js
  tools/release-plan-dashboard/tests/api-routes.test.js
  tools/release-plan-dashboard/tests/github-api-mocked.test.js
Due: none

Update release plan submitted user email using GitHub author
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Move Vally eval suite to repo-root azsdk-evals (#16367)
  azsdk-evals/.gitignore
  azsdk-evals/.vally.yaml
  azsdk-evals/README.md
  azsdk-evals/evals/tools/add-arm-resource.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-apiview.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-config.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-engsys.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-github.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-package.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-pipeline.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-releaseplan.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-typespec.eval.yaml
  azsdk-evals/evals/tools/prompt-to-tool-verify.eval.yaml
  azsdk-evals/evals/workflow-scenarios/live/release-planner.eval.yaml
  azsdk-evals/evals/workflow-scenarios/mock/analyze-failed-pipeline.eval.yaml
  azsdk-evals/evals/workflow-scenarios/mock/check-public-repo-then-validate.eval.yaml
  azsdk-evals/evals/workflow-scenarios/mock/fix-pipeline.eval.yaml
  azsdk-evals/evals/workflow-scenarios/mock/multi-turn-release-workflows.eval.yaml
  azsdk-evals/evals/workflow-scenarios/mock/release-planner-workflows.eval.yaml
  azsdk-evals/evals/workflow-scenarios/mock/rename-client-property.eval.yaml
  azsdk-evals/evals/workflow-scenarios/mock/typespec-generation-step02.eval.yaml
  azsdk-evals/fixtures/Microsoft.Widget/Widget/employee.tsp
  azsdk-evals/fixtures/Microsoft.Widget/Widget/main.tsp
  azsdk-evals/fixtures/Microsoft.Widget/Widget/tspconfig.yaml
  azsdk-evals/fixtures/README.md
  azsdk-evals/fixtures/analyze-pipeline/QueueClientOptionsTests/code/QueueClientOptions.cs
  azsdk-evals/fixtures/analyze-pipeline/QueueClientOptionsTests/code/QueueClientOptionsTests.cs
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/allow-relative-links.txt
  eng/common/scripts/eval/package-lock.json
  eng/common/scripts/eval/package.json
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
Due: eng/pipelines/eng-common-sync.yml

Exempt net - partner-release from CFSClean enforcement
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Exempt net - partner-release from CFSClean enforcement (#16401)
  eng/pipelines/templates/stages/1es-redirect.yml
Due: none

Rename azsdk-evals directory to evals
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/workflow-eval.yml
  eng/common/scripts/allow-relative-links.txt
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
  evals/.gitignore
  evals/.vally.yaml
  evals/README.md
  evals/evals/tools/add-arm-resource.eval.yaml
  evals/evals/tools/prompt-to-tool-apiview.eval.yaml
  evals/evals/tools/prompt-to-tool-config.eval.yaml
  evals/evals/tools/prompt-to-tool-engsys.eval.yaml
  evals/evals/tools/prompt-to-tool-github.eval.yaml
  evals/evals/tools/prompt-to-tool-package.eval.yaml
  evals/evals/tools/prompt-to-tool-pipeline.eval.yaml
  evals/evals/tools/prompt-to-tool-releaseplan.eval.yaml
  evals/evals/tools/prompt-to-tool-typespec.eval.yaml
  evals/evals/tools/prompt-to-tool-verify.eval.yaml
  evals/evals/workflow-scenarios/live/release-planner.eval.yaml
  evals/evals/workflow-scenarios/mock/analyze-failed-pipeline.eval.yaml
  evals/evals/workflow-scenarios/mock/check-public-repo-then-validate.eval.yaml
  evals/evals/workflow-scenarios/mock/fix-pipeline.eval.yaml
  evals/evals/workflow-scenarios/mock/multi-turn-release-workflows.eval.yaml
  evals/evals/workflow-scenarios/mock/release-planner-workflows.eval.yaml
  evals/evals/workflow-scenarios/mock/rename-client-property.eval.yaml
  evals/evals/workflow-scenarios/mock/typespec-generation-step02.eval.yaml
  evals/fixtures/Microsoft.Widget/Widget/employee.tsp
  evals/fixtures/Microsoft.Widget/Widget/main.tsp
  evals/fixtures/Microsoft.Widget/Widget/tspconfig.yaml
  evals/fixtures/README.md
  evals/fixtures/analyze-pipeline/QueueClientOptionsTests/code/QueueClientOptions.cs
  evals/fixtures/analyze-pipeline/QueueClientOptionsTests/code/QueueClientOptionsTests.cs
Due: eng/pipelines/eng-common-sync.yml

Pass through direct APIView tokens (#16379)
  tools/apiview/parsers/rust-api-parser/CHANGELOG.md
  tools/apiview/parsers/rust-api-parser/README.md
  tools/apiview/parsers/rust-api-parser/package-lock.json
  tools/apiview/parsers/rust-api-parser/package.json
  tools/apiview/parsers/rust-api-parser/src/main.ts
  tools/apiview/parsers/rust-api-parser/test/main.spec.ts
  tools/apiview/parsers/rust-api-parser/vitest.config.ts
Due: none

update parameter description
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/SdkBreakingChangeDetectTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Add azd deployment journey slides for SDK Q&A bot
  tools/sdk-ai-bots/deployment/docs/azd-deployment-journey.slides.md
Due: none

rename feedback agent to self evolving knowledge agent
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/self_evolving_knowledge_agent/Dockerfile
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/self_evolving_knowledge_agent/agent.yaml
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/self_evolving_knowledge_agent/init.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/agents/self_evolving_knowledge_agent/instruction.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/docs/feedback_agent_architecture.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/docs/self_envolving_knowledge_agent_architecture.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/docs/self_envolving_knowledge_agent_design.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/docs/self_envolving_workflow.png
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/models/feedback.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/models/qa_record.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/pipelines/agent-cd.yml
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/scripts/run_feedback_jobs.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/conversation_service.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/qa_record_service.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/services/self_evolving_knowledge_agent_service.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tests/qa_record_service_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/conversation_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/github_mcp_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/monitor_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/knowledge_config.py
Due: none

Add foundry-agent-hackathon self-evolving skill agent and feedback
  .github/skills/azure-typespec-author/SKILL.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/.dockerignore
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/.env.example
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/.gitignore
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/Dockerfile
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/README.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/agent.yaml
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/deploy.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/e2e_invoke.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/e2e_probe.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/init.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/instruction.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/requirements.txt
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/tools/__init__.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/tools/ado_pipeline_tools.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/tools/foundry_toolbox_tools.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/tools/github_mcp_tools.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/tools/github_tools.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/tools/skill_evolution_tools.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/validate_github_access.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/workflow.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/workflow_prompts/01-update-skill.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/agent/workflow_prompts/04-analyze-results.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/ai-foundry-feedback.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/Dockerfile
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/README.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/agent.yaml
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/deploy.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/init.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/instruction.md
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/requirements.txt
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/send_feedback.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/tools/__init__.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/feedback-agent/tools/feedback_tools.py
  .github/skills/azure-typespec-author/foundry-agent-hackathon/foundry-agent-design.md
Due: none

fix testing job layer
  eng/pipelines/azure-typespec-author-benchmark-no-skill.yml
Due: none

Keep default install timeout at 120s; only make it overridable
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

azsdk CLI dependency update
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
Due: none

Bump apistub package-install timeout 120s -> 300s
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

Flatten eval suite directory layout
  eng/common/pipelines/live-eval.yml
  eng/common/pipelines/templates/stages/archetype-eval.yml
  eng/common/scripts/eval/collect-stimuli.ts
  eng/common/scripts/eval/init-eval-git-fixtures.ts
  eng/common/scripts/eval/lib/glob.ts
  eng/common/scripts/eval/test/collect-stimuli.test.ts
  eng/common/scripts/eval/test/init-eval-git-fixtures.test.ts
  evals/.vally.yaml
  evals/README.md
  evals/fixtures/README.md
  evals/tools/add-arm-resource.eval.yaml
  evals/tools/prompt-to-tool-apiview.eval.yaml
  evals/tools/prompt-to-tool-config.eval.yaml
  evals/tools/prompt-to-tool-engsys.eval.yaml
  evals/tools/prompt-to-tool-github.eval.yaml
  evals/tools/prompt-to-tool-package.eval.yaml
  evals/tools/prompt-to-tool-pipeline.eval.yaml
  evals/tools/prompt-to-tool-releaseplan.eval.yaml
  evals/tools/prompt-to-tool-typespec.eval.yaml
  evals/tools/prompt-to-tool-verify.eval.yaml
  evals/workflows/live/release-planner.eval.yaml
  evals/workflows/mock/analyze-failed-pipeline.eval.yaml
  evals/workflows/mock/check-public-repo-then-validate.eval.yaml
  evals/workflows/mock/fix-pipeline.eval.yaml
  evals/workflows/mock/multi-turn-release-workflows.eval.yaml
  evals/workflows/mock/release-planner-workflows.eval.yaml
  evals/workflows/mock/rename-client-property.eval.yaml
  evals/workflows/mock/typespec-generation-step02.eval.yaml
  tools/azsdk-cli/Azure.Sdk.Tools.Mock/Handlers/Pipeline/AnalyzeAndArtifactsHandlers.cs
Due: eng/pipelines/eng-common-sync.yml

ci: authenticate pip to dev feed before installing tox
  packages/python-packages/apiview-stub-generator/ci.yml
Due: none

azsdk CLI dependency update (#16406)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
Due: none

ci: bump lazy-object-proxy 1.10.0 -> 1.12.0 for Python 3.13/3.14 wheels
  packages/python-packages/apiview-stub-generator/apiview_reqs.txt
Due: none

ci: fix python-tool Build stage for network-restricted agents
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
  eng/pipelines/templates/steps/use-python-version.yml
Due: none

Use auth-sev-feed.yml
  eng/common/pipelines/templates/steps/auth-dev-feed.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
  packages/python-packages/apiview-stub-generator/ci.yml
Due: eng/pipelines/eng-common-sync.yml

Add multi-turn pipeline diagnose-then-fix conversation coverage
  evals/README.md
  evals/workflows/mock/multi-turn-pipeline-workflows.eval.yaml
Due: none

update azure_test.ynl to download packages from devOps feed rather that public pypi
  packages/python-packages/apiview-stub-generator/tests/azure_tests/azure_test.py
Due: none

Correct turn-scoping guidance per vally#481 (per-turn grading design)
  evals/README.md
  evals/workflows/mock/multi-turn-pipeline-workflows.eval.yaml
Due: none

Retrofit compound single-turn workflow prompts into natural multi-turn conversations
  evals/README.md
  evals/workflows/live/release-planner.eval.yaml
  evals/workflows/mock/analyze-failed-pipeline.eval.yaml
  evals/workflows/mock/check-public-repo-then-validate.eval.yaml
  evals/workflows/mock/fix-pipeline.eval.yaml
  evals/workflows/mock/release-planner-workflows.eval.yaml
  evals/workflows/mock/typespec-generation-step02.eval.yaml
Due: none

Update release plan submitted user email using GitHub author (#16400)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/ReleasePlan/ReleasePlanTool.cs
Due: eng/pipelines/validate-instructions-azsdk-references.yml

Split wiki and graph creation into independent pipelines (WeKnora-faithful)
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/azure_ai_search.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/__init__.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/build.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/documents.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/extraction.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/graph.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/graph_extract.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/graph_weights.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/llm.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/main.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/synthesis.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/wiki.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/tests/pipelines_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/tests/wiki_pages_test.py
Due: none

Raise apistub install timeout 300s -> 1000s to diagnose slow core install
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

Revert install timeout back to 300s (1000s was a diagnostic experiment)
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

DIAGNOSTIC: verbose pip install (-v) + 1000s timeout to reveal slow core install cause
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

DIAGNOSTIC: use 'uv pip install' for apistub package install (faster resolution than pip)
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
Due: none

[apiview-stub-generator] Make package-install timeout configurable (120s -> 300s) (#16395)
  eng/common/pipelines/templates/steps/auth-dev-feed.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-python.yml
  eng/pipelines/templates/steps/use-python-version.yml
  packages/python-packages/apiview-stub-generator/CHANGELOG.md
  packages/python-packages/apiview-stub-generator/apistub/_stub_generator.py
  packages/python-packages/apiview-stub-generator/apistub/_version.py
  packages/python-packages/apiview-stub-generator/apiview_reqs.txt
  packages/python-packages/apiview-stub-generator/ci.yml
  packages/python-packages/apiview-stub-generator/tests/azure_tests/azure_test.py
Due: eng/pipelines/eng-common-sync.yml

Phase 0: remove graph layer + purge pushed generated docs
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/config/tenant_config.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/models/knowledge.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/tools/knowledge_tools.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-agent/utils/azure_ai_search.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/documents.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/graph.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/graph_extract.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/graph_weights.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/main.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/wiki.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/tests/pipelines_test.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/tests/wiki_test.py
Due: none

Phase 1: WeKnora-faithful wiki MapReduce (summary + entity/concept + cross-links)
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/__init__.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/main.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/pages.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/wiki.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/wiki_extract.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/wiki_reduce.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/tests/reduce_test.py
Due: none

Phase 2: persist wiki pages to blob (metadata + manifest)
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/main.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/azure_sdk_qa_bot_wiki_index/storage.py
  tools/sdk-ai-bots/azure-sdk-qa-bot-wiki-index/tests/storage_test.py
Due: none

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator
  eng/pipelines/validate-instructions-azsdk-references.yml: any of: eng/common/instructions, tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools, eng/scripts/Verify-McpToolReferences.ps1, eng/pipelines/validate-instructions-azsdk-references.yml
