Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Update ci.yml
  tools/sdk-generation-pipeline/ci.yml
Due: none

Create build-docker-image.md (#5588)
  .github/CODEOWNERS
  tools/sdk-generation-pipeline/ci.yml
  tools/sdk-generation-pipeline/documents/docker/build-docker-image.md
Due: none

docker ci
  tools/sdk-generation-pipeline/build-publish-docker-image.yml
Due: none

docker ci
  tools/sdk-generation-pipeline/documents/docker/build-docker-image.md
Due: none

build docker ci (#5589)
  tools/sdk-generation-pipeline/build-publish-docker-image.yml
  tools/sdk-generation-pipeline/documents/docker/build-docker-image.md
Due: none

Install CADL npm packages using global package.json
  eng/pipelines/apiview-review-gen-cadl.yml
  eng/scripts/Create-Apiview-Token-Cadl.ps1
Due: none

Remove global cadl package installation steps
  eng/pipelines/apiview-review-gen-cadl.yml
Due: none

Add enableWindowsTargeting to secret rotation cli proj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Azure.Sdk.Tools.SecretRotation.Cli.csproj
Due: none

dsds
  tools/perf-automation/tests.yml
Due: none

ewqewq
  tools/perf-automation/tests.yml
Due: none

hghf
  tools/perf-automation/tests.yml
Due: none

trete
  tools/perf-automation/tests.yml
Due: none

rwerww
  tools/perf-automation/tests.yml
Due: none

ffdd
  tools/perf-automation/tests.yml
Due: none

jhhj
  tools/perf-automation/tests.yml
Due: none

fsdss
  tools/perf-automation/tests.yml
Due: none

Fix paths in unit tests
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/RotationConfigurationTests.cs
Due: none

wwwd
  tools/perf-automation/tests.yml
Due: none

kjhhkh
  tools/perf-automation/tests.yml
Due: none

dasadasda
  tools/perf-automation/tests.yml
Due: none

rewrwerew
  tools/perf-automation/tests.yml
Due: none

fsdfsdf
  tools/perf-automation/tests.yml
Due: none

saSa
  tools/perf-automation/tests.yml
Due: none

add parameter to set cadl emitter options (#5540)
  eng/common/scripts/Cadl-Project-Generate.ps1
Due: eng/pipelines/eng-common-sync.yml

Skip any missing swagger file when generating API review file
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
Due: none

Update change log
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/CHANGELOG
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/Program.cs
  tools/apiview/parsers/swagger-api-parser/SwaggerApiParser/SwaggerApiParser.csproj
Due: none

Skip Flaky UI Tests
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/ServiceAccountPersonalAccessTokenStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/ServiceAccountPersonalAccessTokenStore.cs
Due: none

Skip Flaky UI Tests (#5593)
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add devops-pat and az website stores to secret rotation (#5591)
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Azure/Azure.Sdk.Tools.SecretRotation.Azure.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Azure/ISecretProvider.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Azure/SecretProvider.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Azure.Sdk.Tools.SecretRotation.Cli.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotationCommandBase.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/RotationConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/StoreConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Core/RotationPlan.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Core/SecretStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Core/SecretValue.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureAppService/Azure.Sdk.Tools.SecretRotation.Stores.AzureAppService.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureAppService/AzureWebsiteStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps.csproj
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.AzureDevOps/ServiceAccountPersonalAccessTokenStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.KeyVault/KeyVaultCertificateStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Stores.KeyVault/KeyVaultSecretStore.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/RotationConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.sln
Due: none

Add --tags and --name options to secret rotation
  schemas/secret-rotation/1.0.0/schema.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/ListCommand.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotateCommand.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Commands/RotationCommandBase.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Cli/Program.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/PlanConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/RotationConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/StoreConfiguration.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/PlanConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/CoreTests/RotationConfigurationTests.cs
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Invalid/null.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Invalid/wrong-schema.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/four.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-1.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/named-2.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/one.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/three.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/TagMatching/two.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/manual-value.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Tests/TestConfigurations/Valid/random-string.json
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.sln
Due: none

Use .+? instead of .*? in schema url pattern
  tools/secret-rotation/Azure.Sdk.Tools.SecretRotation.Configuration/PlanConfiguration.cs
Due: none

Use "npm ci" to install cspell and respect package-lock.json
  eng/common/spelling/Invoke-Cspell.ps1
Due: eng/pipelines/eng-common-sync.yml

Resolve error in UI Test
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Increase wait time
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Use no sandbox ChromeOptions
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Update ChromeDriver Options
  src/dotnet/APIView/APIViewUITests/SmokeTests.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml
