Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Add DevOps logging support for invoke helper
  eng/common/scripts/Helpers/CommandInvocation-Helpers.ps1
  eng/common/scripts/logging.ps1
Due: eng/pipelines/eng-common-sync.yml

Updated as per suggestions
  tools/azsdk-cli/docs/cli-commands-guidelines.md
Due: none

Partially addressed #11864.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_comment_grouper.py
  packages/python-packages/apiview-copilot/src/_models.py
Due: none

Correlation IDs for generic comments.
  packages/python-packages/apiview-copilot/prompts/api_review/correlation_ids_schema.json
  packages/python-packages/apiview-copilot/prompts/api_review/generate_correlation_ids.prompty
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_comment_grouper.py
Due: none

Do not pass SdkRepoBranch to pipeline trigger when branch name is not available (#12228)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/DevOpsService.cs
Due: none

fix check
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: none

this
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: none

Code review feedback.
  packages/python-packages/apiview-copilot/cli.py
  packages/python-packages/apiview-copilot/src/_apiview_reviewer.py
  packages/python-packages/apiview-copilot/src/_comment_grouper.py
  packages/python-packages/apiview-copilot/src/_prompt_runner.py
Due: none

validate package instr
  eng/common/instructions/azsdk-tools/validate-package.instructions.md
Due: eng/pipelines/eng-common-sync.yml

Update tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
Due: none

reanme
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
Due: none

manually version
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

remove useless properly. align everything
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
Due: none

Remove API Lifecycle prompt from release plan creation instructions
  eng/common/instructions/azsdk-tools/create-release-plan.instructions.md
Due: eng/pipelines/eng-common-sync.yml

integrated custom tools with Agent
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Agent/ConversationManager.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Agent/ToolBasedAgent.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/DependencyInjection/ServiceCollectionExtensions.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/CredentialFactoryTests.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/ProcessExecutionServiceTests.cs
Due: .azure-pipelines/dotnet.yml

prevent auto versioning behavior if static Version is set
  eng/Versioning.targets
Due: none

integrated custom tools with Agent
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/DependencyInjection/ServiceCollectionExtensions.cs
Due: .azure-pipelines/dotnet.yml

integrated custom tools with Agent
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Agent/ToolBasedAgent.cs
  src/dotnet/GeneratorAgent/src/Azure.Tools.GeneratorAgent/Program.cs
  src/dotnet/GeneratorAgent/tests/Azure.Tools.GeneratorAgent.Tests/InputValidatorTests.cs
Due: .azure-pipelines/dotnet.yml

Refactor repeative lines
  eng/scripts/Attest-CPEX-KPIs.ps1
Due: none

Resolve stash conflict
  eng/common/scripts/Helpers/DevOps-WorkItem-Helpers.ps1
  eng/scripts/Attest-CPEX-KPIs.ps1
Due: eng/pipelines/eng-common-sync.yml

flag to fix
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: none

add test
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Services/ClientUpdate/JavaUpdateLanguageServiceDiffIntegrationTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/ClientUpdate/JavaUpdateLanguageService.cs
Due: none

literal string
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
Due: none

isnotempty
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CheckAllToolTests.cs
Due: none

Update pipeline configuration
  eng/pipelines/cpex-attestation.yml
Due: none

remove backcompat
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CheckAllToolTests.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: none

[azsdkcli] Add update snippets check for JS
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageSpecificChecks.cs
Due: none

revert the changes to Versioning.targets. update VersionPrefix and VersionSuffix for the new tool to work with the restrictions of the original Versioning.targets
  eng/Versioning.targets
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Azure.Sdk.Tools.Cli.csproj
Due: none

removed unneeded next step
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Tools/Package/PackageCheckTool.cs
Due: none

update test
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Tests/Tools/CheckAllToolTests.cs
Due: none

adding intcode and formatcode
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotNetLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/ILanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageSpecificChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/LanguageChecks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageSpecificChecks.cs
Due: none

Set different condition for csharp-api-parser-release
  tools/apiview/parsers/csharp-api-parser/ci.yml
Due: none

update for comments
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/Main.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/analysers/JavaASTAnalyser.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diagnostics/Diagnostics.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/DiffEngine.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/collector/DiffSymbolCollector.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/dto/ApiChangeDto.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/dto/ApiDiffResult.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/model/ApiSymbolTable.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/model/ClassSymbol.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/model/FieldSymbol.java
  src/java/apiview-java-processor/src/main/java/com/azure/tools/apiview/processor/diff/model/MethodSymbol.java
  src/java/apiview-java-processor/src/test/java/com/azure/tools/apiview/processor/diff/DiffModeTest.java
Due: .azure-pipelines/apiview.yml

verify changelogs now
  eng/pipelines/templates/jobs/nuget-publish.yml
  eng/pipelines/templates/stages/archetype-sdk-publish-net.yml
  eng/pipelines/templates/stages/archetype-sdk-tool-dotnet.yml
  eng/scripts/Verify-Nuget-Artifact-Changelogs.ps1
Due: none

enable changelog verification for this tool
  tools/azsdk-cli/ci.yml
Due: none

env:TEMP is a hallucination that works locally
  eng/scripts/Verify-Nuget-Artifact-Changelogs.ps1
Due: none

fix copilot requiered for approval - regression
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Tests to avoid future regressions
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page-options/review-page-options.component.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix non existent variable
  eng/scripts/Attest-CPEX-KPIs.ps1
Due: none
