Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

update the two environments for approval to release pipeline-witness to the one recommended by wesh
  tools/pipeline-witness/ci.yml
Due: none

Add stress test arm/bicep template prefix to New-TestResources ResourceType set
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix case-sensitive spelling in scripts that get deployed to C++ repo
  eng/common/spelling/Invoke-Cspell.ps1
  eng/scripts/Set-VcpkgWriteModeCache.ps1
Due: eng/pipelines/eng-common-sync.yml

Removed cspell:ignore per https://github.com/Azure/azure-sdk-for-cpp/pull/5346#discussion_r1486546416
  eng/scripts/Set-VcpkgWriteModeCache.ps1
Due: none

Add stress test arm/bicep template prefix to New-TestResources ResourceType set (#7664)
  eng/common/TestResources/New-TestResources.ps1
Due: eng/pipelines/eng-common-sync.yml

update the two environments for approval to release pipeline-witness to the one recommended by wesh (#7661)
  tools/pipeline-witness/ci.yml
Due: none

Refactor line handling and tests. Handle block chomp indicators.
  tools/pipeline-template-converter/Azure.Sdk.PipelineTemplateConverter.Tests/PipelineConverterTests.cs
  tools/pipeline-template-converter/Azure.Sdk.PipelineTemplateConverter.Tests/assets/js.archetype-sdk-client.after.yml
  tools/pipeline-template-converter/Azure.Sdk.PipelineTemplateConverter.Tests/assets/net.archetype-sdk-client.after.yml
  tools/pipeline-template-converter/Azure.Sdk.PipelineTemplateConverter/Line.cs
  tools/pipeline-template-converter/Azure.Sdk.PipelineTemplateConverter/PipelineTemplateConverter.cs
Due: none

[.NET Analyzers] Add new approved namespace
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

re-enable test
  tools/test-proxy/Azure.Sdk.Tools.TestProxy.Tests/SanitizerTests.cs
Due: none

Script
  eng/pipelines/OpenApiSpecs/GetRepoTree.py
Due: none

Pipeline
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

[.NET Analyzers] Add new approved namespace (#7674)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Change env var names
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

Fix the path of the script in the yml file
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

support package lock files
  tools/tsp-client/src/index.ts
  tools/tsp-client/src/npm.ts
Due: none

Fix script path
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

changelog
  tools/tsp-client/CHANGELOG.md
Due: none

Move script to eng/scripts
  eng/scripts/OpenAPI Hub/GetRepoTree.py
Due: none

Rename script file
  eng/scripts/OpenAPI Hub/sync-repo-structure-cache.py
Due: none

Update script path
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

Update repo-structure-cache-job.yml
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

readme
  tools/tsp-client/README.md
Due: none

fix title
  tools/tsp-client/README.md
Due: none

wording
  tools/tsp-client/README.md
Due: none

Use pat instead of token kv
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

Use correct pat kv var
  eng/pipelines/OpenApiSpecs/repo-structure-cache-job.yml
Due: none

Support resolving environment variable references in matrix config
  doc/common/matrix_generator.md
  eng/common-tests/matrix-generator/tests/job-matrix-functions.modification.tests.ps1
  eng/common-tests/matrix-generator/tests/job-matrix-functions.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

Fix case-sensitive spelling in scripts that get deployed to C++ repo (#7665)
  eng/common/spelling/Invoke-Cspell.ps1
Due: eng/pipelines/eng-common-sync.yml

support force install
  tools/tsp-client/src/npm.ts
Due: none

update readme wording
  tools/tsp-client/README.md
Due: none

remove stat check
  tools/tsp-client/src/index.ts
Due: none

Try to fix CI null test bug
  eng/common-tests/matrix-generator/tests/job-matrix-functions.modification.tests.ps1
  eng/common/scripts/job-matrix/job-matrix-functions.ps1
Due: eng/pipelines/eng-common-sync.yml

Add missing prefixes to list of allowed prefixes (#7597)
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

[.NET Analyzers] Fix Template special case
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Fixing test
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
Due: .azure-pipelines/dotnet.yml

Updating patterns to allow for exact namespace matches and subnamespaces only.
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers/ClientAssemblyNamespaceAnalyzer.cs
Due: .azure-pipelines/dotnet.yml

Move emitter-package.json scripts to eng/common
  eng/common/scripts/typespec/New-EmitterPackageJson.ps1
  eng/common/scripts/typespec/New-EmitterPackageLock.ps1
  eng/scripts/autorest/New-EmitterPackageJson.ps1
  eng/scripts/autorest/New-EmitterPackageLock.ps1
Due: eng/pipelines/eng-common-sync.yml

Additional Azure.Template test
  src/dotnet/Azure.ClientSdk.Analyzers/Azure.ClientSdk.Analyzers.Tests/AZC0001Tests.cs
Due: .azure-pipelines/dotnet.yml

Update bicep and powershell for managing pipeline logs kusto (#7624)
  tools/pipeline-witness/infrastructure/Extract-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/Merge-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/bicep/pipelinelogs.staging.json
  tools/pipeline-witness/infrastructure/bicep/pipelinelogs.test.json
  tools/pipeline-witness/infrastructure/bicep/resourceGroup.bicep
  tools/pipeline-witness/infrastructure/bicep/resources.bicep
  tools/pipeline-witness/infrastructure/build.ps1
  tools/pipeline-witness/infrastructure/deploy.ps1
  tools/pipeline-witness/infrastructure/kusto/Merge-KustoScripts.ps1
  tools/pipeline-witness/infrastructure/kusto/functions/DashboardQuery.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestBuild.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/functions/LatestOwners.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedBuild.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedBuild2.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionBuild.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionBuildX.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionFn.kql
  tools/pipeline-witness/infrastructure/kusto/functions/ManagedDefinitionFunc.kql
  tools/pipeline-witness/infrastructure/kusto/functions/SuccessRateCalc.kql
  tools/pipeline-witness/infrastructure/kusto/functions/WeightedAverageCalc.kql
  tools/pipeline-witness/infrastructure/kusto/functions/users/kojamroz/SpecsPipelinesBuildsJobLogs.kql
  tools/pipeline-witness/infrastructure/kusto/tables/Build.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildFailure.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildLogLine.kql
  tools/pipeline-witness/infrastructure/kusto/tables/BuildTimelineRecord.kql
  tools/pipeline-witness/infrastructure/kusto/tables/Dashboards/PackageReleaseData.kql
  tools/pipeline-witness/infrastructure/kusto/tables/PipelineOwner.kql
  tools/pipeline-witness/infrastructure/kusto/tables/TestRun.kql
  tools/pipeline-witness/infrastructure/kusto/tables/TestRunResult.kql
  tools/pipeline-witness/infrastructure/kusto/views/ManagedDefinition.kql
  tools/pipeline-witness/infrastructure/kusto/views/Metrics.kql
Due: none
