Repository Azure/azure-sdk-tools: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml, .azure-pipelines/warden.yml, eng/pipelines/agent-software-inventory.yml, eng/pipelines/eng-common-sync.yml, eng/pipelines/eng-workflows-sync.yml, eng/pipelines/templates/stages/apiview-python-ci.yml

Path conditions:
  .azure-pipelines/apiview.yml: any of: .azure-pipelines/apiview.yml, src/dotnet/APIView, src/java/apiview-java-processor, src/swift, tools/apiview/parsers/js-api-parser
  .azure-pipelines/dotnet.yml: any of: dotnet.proj, src/dotnet
  .azure-pipelines/warden.yml: any of: eng/packages/python-packages/doc-warden
  eng/pipelines/agent-software-inventory.yml: any of: eng/pipelines/agent-software-inventory.yml
  eng/pipelines/eng-common-sync.yml: any of: eng/common
  eng/pipelines/eng-workflows-sync.yml: any of: .github/workflows/*event*, .github/workflows/post-apiview.yml
  eng/pipelines/templates/stages/apiview-python-ci.yml: any of: eng/pipelines/templates/stages/apiview-python-ci.yml, packages/python-packages/api-stub-generator

Update trigger and PR settings in YAML pipeline (#13315)
  eng/common/pipelines/ai-evals-tests.yml
Due: eng/pipelines/eng-common-sync.yml

patch matching http links (#13326)
  tools/azsdk-cli/Azure.Sdk.Tools.Cli.Evaluations/Helpers/LLMSystemInstructions.cs
Due: none

bump the targeted proxy version (#13283)
  eng/common/testproxy/target_version.txt
Due: eng/pipelines/eng-common-sync.yml

change default python. enable platform override as well (#13277)
  eng/pipelines/mirror-pypi-to-dev-feed.yml
Due: none

Refactor API Review task conditions in YAML (#13325)
  eng/common/pipelines/templates/steps/create-apireview.yml
Due: eng/pipelines/eng-common-sync.yml

Fix npm package URL transformation to handle versioned URLs and edge cases correctly (#13307)
  eng/common-tests/Verify-Links-ProcessNpmLink.Tests.ps1
  eng/common/scripts/Verify-Links.ps1
Due: eng/pipelines/eng-common-sync.yml

fix mode noop
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/DotNetLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/GoLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/JavaScriptLanguageService.Checks.cs
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Services/Languages/PythonLanguageService.Checks.cs
Due: none

changelog
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/CHANGELOG.md
Due: none

Style fixes.
  src/dotnet/APIView/ClientSPA/src/app/_components/code-panel/code-panel.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-nav/review-nav.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/page-options-section/page-options-section.component.scss
  src/dotnet/APIView/ClientSPA/src/ng-prime-overrides.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fixes issue where copilot review didn't "count" unless a comment was found. (#13322)
  src/dotnet/APIView/APIViewUnitTests/CopilotPollingBackgroundHostedServiceTests.cs
  src/dotnet/APIView/APIViewWeb/HostedServices/CopilotJobProcessor.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

here too
  tools/azsdk-cli/Azure.Sdk.Tools.Cli/Helpers/CommonLanguageHelpers.cs
Due: none

Add a step explicitly to verify setup
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/eng-common-sync.yml

refactor prompt parser & constraint LLM references
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_sdk_onboarding/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_python/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/templates/qa/output_requirements.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/typespec/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/utils_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/utils/links.go
Due: none

Add automation to report on non-released SDKs
  eng/pipelines/report-unreleased-sdks.yml
  eng/scripts/Report-Unreleased-Sdks.ps1
  eng/scripts/Send-Email-Notification.ps1
Due: none

Fix: Sync review LastUpdatedOn timestamp with revision updates (#13280)
  src/dotnet/APIView/APIViewUnitTests/APIViewUnitTests.csproj
  src/dotnet/APIView/APIViewUnitTests/CosmosAPIRevisionsRepositoryTests.cs
  src/dotnet/APIView/APIViewUnitTests/CosmosReviewRepositoryTests.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosAPIRevisionsRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/CosmosReviewRepository.cs
  src/dotnet/APIView/APIViewWeb/Repositories/Interfaces/ICosmosReviewRepository.cs
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

fix evaluation pipeline
  tools/sdk-ai-bots/offline-evaluation.yml
Due: none

tune the prompt for typespec authoring
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_typespec_authoring/intention.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_typespec_authoring/qa.md
Due: none

Add a step explicitly to verify setup (#13331)
  eng/common/instructions/azsdk-tools/local-sdk-workflow.instructions.md
Due: eng/pipelines/eng-common-sync.yml

Add 'APIView prod deployment' to internal service connections
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Fix side menu component.
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Fix menu bar layout.
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-page-layout/review-page-layout.component.spec.ts
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Set 'generateFromTypeSpec' flag with the value returned from .net script
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/cli/cli.ts
Due: none

More style fixes.
  src/dotnet/APIView/ClientSPA/src/app/_components/review-page/review-page.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/comment-thread/comment-thread.component.scss
  src/dotnet/APIView/ClientSPA/src/app/_components/shared/review-info/review-info.component.html
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

Add 'APIView prod deployment' to internal service connections (#13334)
  eng/common/pipelines/templates/jobs/prepare-pipelines.yml
Due: eng/pipelines/eng-common-sync.yml

Set 'generateFromTypeSpec' flag with the value returned from .net script (#13337)
  tools/spec-gen-sdk/CHANGELOG.md
  tools/spec-gen-sdk/package-lock.json
  tools/spec-gen-sdk/package.json
  tools/spec-gen-sdk/src/automation/reportStatus.ts
  tools/spec-gen-sdk/src/cli/cli.ts
Due: none

Changes.
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

More fixes.
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

add content disposition sanitizer
  tools/test-proxy/typespec/models.tsp
Due: none

Progress.
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.html
  src/dotnet/APIView/ClientSPA/src/app/_components/revision-options/revision-options.component.scss
Due: .azure-pipelines/apiview.yml, .azure-pipelines/dotnet.yml

update tspconfig
  tools/test-proxy/typespec/tspconfig.yaml
Due: none

update config
  tools/test-proxy/typespec/tspconfig.yaml
Due: none

add more logging during emitter search
  tools/tsp-client/src/commands.ts
  tools/tsp-client/src/utils.ts
Due: none

update wording
  tools/tsp-client/src/fs.ts
Due: none

update error message
  tools/tsp-client/src/commands.ts
Due: none

examples_automation, adopt change of release tag
  tools/azure-rest-api-specs-examples-automation/automation/configuration.json
  tools/azure-rest-api-specs-examples-automation/java/main.py
  tools/azure-rest-api-specs-examples-automation/java/test_main.py
Due: none

update comment
  tools/azure-rest-api-specs-examples-automation/java/main.py
Due: none

Remove DefaultAzureCredential (#13295)
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/README.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/config/env.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/intention_recognition_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/keyvalut_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/AppConfig.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/AppSecret.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/SearchService.ts
  tools/sdk-ai-bots/azure-sdk-qa-bot-knowledge-sync/src/services/StorageService.ts
  tools/sdk-ai-bots/offline-evaluation.yml
Due: none

Filter out invalid reference links in bot responses (#12828)
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/CHANGELOG.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/model/search.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/agent/service.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/azure_sdk_onboarding/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/language_python/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/prompt.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/templates/qa/output_requirements.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/service/prompt/typespec/qa.md
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/test/utils_test.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/utils/links.go
  tools/sdk-ai-bots/azure-sdk-qa-bot-backend/version.go
Due: none
